[2018-02-19 20:39] #425 closed

[2018-02-19 20:40] twhiston commented on #456
closed as there are other tickets on similar lines

[2018-02-19 20:40] #456 closed

[2018-02-19 20:42] twhiston commented on #428
dup of #132 #393

[2018-02-19 20:42] #428 closed

[2018-02-19 20:43] #429 closed

[2018-02-19 20:44] twhiston commented on #430
do you still have this problem? what is the journalctl output for semaphore?

[2018-02-19 20:45] #438 closed

[2018-02-19 20:45] #439 closed

[2018-02-19 20:46] #443 closed

[2018-02-19 20:47] twhiston commented on #444
It would be fantastic if some willing FE developers would take on this task and work out how to bring it to production. Any volunteers?

[2018-02-19 22:04] twhiston commented on #75
we could also consider a pure go solution like https://github.com/src-d/go-git

[2018-02-20 00:24] strangeman commented on #25
We can use "Override semaphore arguments" checkbox for this. If it checked - tags takes from the 'Extra CLI' field, if not - from the form.
Or, we can just pass all tags to Ansible, since 2.4 it will merge all `--tags` options together: https://github.com/ansible/ansible/blob/stable-2.4/CHANGELOG.md#deprecations

If playbook failed, we just get the message to the team Telegram chat and somebody fi

[2018-02-22 12:10] twhiston commented on #451
Hi @strangeman @wmfairuz @Xyon @fiftin , as you probably guessed I was made a maintainer on the project for the moment, so I just wanted to say hi to everyone that offered to help here. Its super cool to have you all on board and I hope we can start to get releases and fixes out faster, and continue to improve on the awesomeness that is Semaphore.

As you may have seen I started to tag issues with

[2018-02-24 17:26] joernott commented on #379
I did some work on this but I need to resolve some merge conflicts resulting from upstream changes first. As I am now working for a different project, I am limited to work on this in my free time. So it may take me a few days to get this done.

[2018-02-27 19:50] #132 closed

[2018-02-28 00:41] strangeman opened #468 "Allow copying from task log"
Currently, copying from task log is not working. This is annoying because there is no way to copy part of log.

![2018-02-28-103936_1366x768_scrot](https://user-images.githubusercontent.com/1083576/36763498-f26c8e0c-1c73-11e8-825c-6e2a8ab48ee0.png)

[2018-02-28 00:53] twhiston commented on #468
What browser are you using? Seems like its only happening in firefox for me (tested chrome, vivaldi, firefox and safari)

[2018-02-28 00:57] strangeman commented on #468
Yeah, I'm using Firefox. I found the problem: need to change `disabled` property of textarea to `readonly`. Testing the fix now.

![2018-02-28-105620_1366x768_scrot](https://user-images.githubusercontent.com/1083576/36763974-1bfdcf40-1c76-11e8-904a-c4503b41269b.png)

[2018-02-28 09:32] #468 closed

[2018-02-28 09:32] #460 closed

[2018-02-28 09:34] twhiston commented on #448
first part of this is merged (creating tmp dir if it does not exist #461)

[2018-02-28 15:53] twhiston opened #472 "Use Dredd to test the API"
It might we worth looking at using https://github.com/yazgazan/bacom to test the semaphore api and ensure breaking changes are caught in ci

Perhaps could be done at the same time as #464

[2018-03-05 16:44] twhiston commented on #452
I've been looking in to this and came to a few conclusions:

- most bundlers are based on a folder structure and don't take lists of files like go-bindata
- maybe we actually want this because it creates a clean separation between be and fe resources. It's also minimal work to implement this change
- I want to move the assets out into their own folder/package
- I dont want an asset generation syst

[2018-03-06 08:35] #452 closed

[2018-03-06 12:33] twhiston opened #476 "Add gometalinter"
We should be linting our work on the CI and ensuring that everything is good and meets the style standards.
This requires some work on the existing codebase so that everything passes.
This task will be implemented as one of the final tasks in 2.5.0

Current list of gometalinter issues:

[code]

[2018-03-10 01:35] strangeman opened #480 "Possible race condition when tasks stores to the queue"
I'm sorry for the possibly improper report, but I cannot reproduce it on the repeatable basis.

Sometimes, when we have many launched tasks in the same project (one running, others waiting in the queue) we experience strange task crashes on `ansible-galaxy install` step.

Log example:
[code]

I thought (but this is only an assumption), that there is the issue somewhere in queue logic: next task tr

[2018-03-10 02:04] strangeman opened #481 "Create pretty-looking page for task log"
Improvement for https://github.com/ansible-semaphore/semaphore/pull/440

Current realization (simple link to the API page with JSON-formatted task log) is ugly (but still better than nothing). Can we create a pretty-looking separate page for it? I'm totally dumb in JS, so maybe @fiftin can take this task? The separate page is very useful to share results among team members.

![2018-03-10-120056_13

[2018-03-10 07:37] fiftin commented on #481
Yes, I can take on this task

[2018-03-10 07:39] strangeman commented on #481
Great, thank you!

[2018-03-10 22:41] twhiston commented on #344
As discussed in #413 we will try to revisit this in a more robust way, implementing some kind of permission system that allows easy extension. We should see what existing libraries exist already that we could use to implement this, and decide on the final scope of the changes

[2018-03-11 02:01] twhiston opened #485 "Fix frontend issues reported in Codacy"
Codacy reports some issues with the FE code that we should tackle to fix some errors and give the codebase a consistent style. @fiftin maybe you could take a look at the results and if any feel like a false positive let me know and I will alter the Codacy configuration.

https://app.codacy.com/app/twhiston/semaphore/issues?bid=6755282&filters=W3siaWQiOiJMYW5ndWFnZSIsInZhbHVlcyI6WyJKYXZhc2NyaXB0Il1

[2018-03-11 07:42] fiftin commented on #485
Where I can see codestyle description?

I see some mismatches with PR codestyle check results.

Here:
[code]

In PR https://github.com/ansible-semaphore/semaphore/pull/479:
[code]

[2018-03-11 18:08] twhiston opened #487 "Change frontend folder structure"
As discussed in #479 we will change the layout of the frontend resources to separate resources and final compiled assets. The agreed folder structure will be:
[code]
In addition to this we should take the opportunity to add a proper package.json, so that we can install everything directly (as we use dep in the frontend), see https://docs.npmjs.com/files/package.json for details. It should include

[2018-03-11 18:08] twhiston commented on #487
@fiftin  let me know if you are up for taking this issue :smile:

[2018-03-11 19:05] fiftin commented on #487
Yes, I'll do it :)

[2018-03-12 09:51] twhiston commented on #487
I like it! The more we get in to the proper package management world the better. I would pick npm over bower I guess as it has such traction in the market. I really like that with a package.json we can get all our dev tools too etc...
If you want to go in this direction for fe dependency management I'm totally on board.

[2018-03-12 09:56] #451 closed

[2018-03-13 08:18] missiletcy opened #491 "Add the name of the project in the URL string"
I want to add the name of the project in the URL string, such as "http://172.13.4.108:3000/semaphore".
How should I configure files?

[2018-03-13 08:19] missiletcy commented on #491
http://172.13.4.108:3000/semaphore/project/11

[2018-03-13 08:48] strangeman commented on #491
I think you should do it on the reverse proxy. Why you need it directly in semaphore?

[2018-03-14 19:47] twhiston opened #493 "Override semaphore arguments is ticked by default"
![screen shot 2018-03-14 at 20 46 25](https://user-images.githubusercontent.com/17698613/37427171-cceedfee-27c8-11e8-9f67-540f3ae88543.png)
looks like by default overriding the semaphore arguments is ticked in the ui, surely this is an error.
Interestingly it also does not seem to respect the value set, if i untick and save and then reload the page it is ticked again
@fiftin maybe this is a quick

[2018-03-14 19:53] twhiston opened #494 "Saving an environment with no name is allowed"
Not sure if we should block this at the ui or the api level, but currently you can create an environment without a name and save it successfully, leading to a weird empty line in the environment list
![screen shot 2018-03-14 at 20 51 55](https://user-images.githubusercontent.com/17698613/37427418-b44a3a28-27c9-11e8-901b-63ff629c0c98.png)

[2018-03-14 20:28] twhiston opened #495 "Better feedback when tasks fail early"
Sometimes jobs fail early, for example at the list host time, and we don't currently log these problems well. Ansible can provide some helpful info (playbook not found, missing plugin, stack trace) but we just state the error code and that is it. It would be more useful to also capture the std.Err from the command and write it to the log in these instances so the problem is more easily diagnosed a

[2018-03-14 20:54] fiftin commented on #493
Very strange bug. This checkbox binded to user.admin field :)

[2018-03-14 21:06] twhiston commented on #493
😱 well that is totally wrong then!

[2018-03-14 21:15] fiftin commented on #493
I'll fix it after merge FE refactoring PR. I have a problem with return to old schema to test solution.

[2018-03-14 21:16] twhiston commented on #493
awesome, thanks so much :)

[2018-03-14 21:46] twhiston opened #496 "Extra arguments are not being saved in task templates"
I'm having an issue whereby Extra CLI Arguments in the task template are not being saved to the database currently. It looks from the .pug that this field is currently tied to `task.Environment`, but actually in the go code it should end up being saved in `db.template Arguments` field (see db/Template.go)
@fiftin - is this something that just needs an fe fix?

[2018-03-14 22:04] #441 closed

[2018-03-14 22:54] strangeman commented on #494
This is actual for Task Templates, Environment, Inventory, Keys, Repositories (for Repo we can make Git URL empty too). Looks like this is the complex problem.

[2018-03-14 22:55] strangeman commented on #495
Yeah, it will be very useful. I can do it.

[2018-03-14 23:27] twhiston commented on #494
html5 validation in the frontend should be a 'low cost' way to stop this happening for most cases i guess, but really we should also stop it in backend too, so that it fails to save, some not null database settings etc....

[2018-03-14 23:32] #487 closed

[2018-03-14 23:32] twhiston commented on #487
closed with #489

[2018-03-15 07:33] fiftin commented on #496
This is my mistake

[2018-03-15 07:49] fiftin opened #498 "github.com/goreleaser/goreleaser not working under Windows"
I have next error when try run ```task deps:tools```:
[code]
I found similar issue: https://github.com/goreleaser/goreleaser/issues/527

[2018-03-15 08:22] twhiston commented on #498
I think we need to switch downloading the binary for goreleaser. Go getting it is clearly too tempremental across systems. But that sucks because of different binaries for different platforms 😞 if anyone has an elegant solution feel free to propose it.

[2018-03-15 09:58] twhiston commented on #498
I guess we can use something similar (or exactly the same) as the script they provide for ci downloads
https://raw.githubusercontent.com/goreleaser/get/master/get

[2018-03-15 10:46] twhiston commented on #498
@strangeman - do you have capacity to take this in the next day or 2? Should be a reasonably quick fix, but i've got really limited time now until the start of next week.

[2018-03-15 11:55] twhiston opened #499 "Environment (extra-vars) could be passed as file instead of inline"
Currently when we pass environment to ansible commands via the extra-vars flag we pass it as inline json. It might be better to write this to a file instead so that we have an audit trail of what data is actually passed to the command when it runs (in the same way that we write the inventory to disk for this reason), so that we can better see the result of command overrides etc..... that we apply.

[2018-03-15 11:57] strangeman commented on #498
Yeah, I'll check it out tomorrow.

[2018-03-15 23:47] strangeman commented on #498
https://raw.githubusercontent.com/goreleaser/get/master/get

That's good for Linux, but not solving the problem with Windows.

[2018-03-15 23:54] strangeman commented on #498
I can't see the way, how we can properly automate `goreleaser` installation in different OSes. My suggestion: remove it from `task deps:tools` and add a note about manual installation to Contributing.md.

[2018-03-16 01:33] strangeman opened #500 "Panic when can't connect to Telegram server"
[code]

Network connection troubles should be handled w/o panic and crash.
Related to https://github.com/ansible-semaphore/semaphore/issues/462

[2018-03-16 01:48] strangeman opened #501 "Allow to set custom playbook repository branch"
Currently, `master` is hardcoded (https://github.com/ansible-semaphore/semaphore/blob/develop/api/tasks/runner.go#L306).

This is not good, especially you have different branches for the different environments. I think we should add a new field "Branch" to "Repository" object.

[2018-03-16 01:52] strangeman commented on #495
I checked this issue and found only one poor feedback - in `listPlaybookHosts()` function. But it's the important step because it usually failing due to syntax errors in playbooks.
Please, tell me, if I missed other poorly feedbacked steps.

[2018-03-16 07:46] twhiston commented on #501
Currently I work around this with seperate repos in semaphore with the 'git@repo.com#branchname' naming scheme which deals with this pretty cleanly.
If we added a way to select the branch I can see a few things we will need to care about....

If the repo has a single folder id 'repository_{id}' then between job runs its possible that the content of the repo will be changed as a new branch could be

[2018-03-16 07:48] twhiston commented on #500
Can we move this to a comment in #462 so we keep all the panic related pain in one place and dont forget about any of them when the work gets done?

[2018-03-16 07:55] strangeman commented on #462
[code]

Network connection troubles should be handled w/o panic and crash.

[2018-03-16 07:56] strangeman commented on #500
merged with https://github.com/ansible-semaphore/semaphore/issues/462

[2018-03-16 07:56] #500 closed

[2018-03-16 07:58] twhiston commented on #498
We can have os specific taskfiles using a suffix.
https://github.com/go-task/task/blob/master/README.md#os-specific-task

I think we would only ever need a windows one as well as Linux and osx can always use the same taskfile in my experience.

I wanted to avoid this but if needs must I'd rather do that than have special case installs that we must do by hand as it is error prone and goes against m

[2018-03-16 08:59] #448 closed

[2018-03-17 00:58] strangeman commented on #501
Good idea, 'git@repo.com#branchname' notation will help us achieve this feature without UI and DB scheme changes.
Yeah, this is a big change. Perhaps, we should do it after https://github.com/ansible-semaphore/semaphore/issues/75
I think, we already did too much for 2.5.0. :) We fixed many old bugs and greatly improved CI/CD process.

[2018-03-17 01:13] strangeman commented on #498
I hate Windows automation. Ugly Powershell syntax, different PS versions on different Windows releases, ugh.

In my team, we solved `Windows problem` radically - all Windows users have WSL installed and got the same automation scripts as Linux/Mac users.

[2018-03-17 03:13] strangeman commented on #498
I tested `godownloader` (https://github.com/goreleaser/godownloader) on Win10 - it creates only bash script :(

[2018-03-19 10:03] nay-kang opened #503 "Pls write a document about how to develop"
Pls write a document about how to develop at local env
I took a long time to find a make.sh which is not include in any branch.
only that file tell me use node and pug.
Pls write a new wiki about develop

[2018-03-19 10:06] strangeman commented on #503
https://github.com/ansible-semaphore/semaphore/blob/develop/CONTRIBUTING.md contains info about development.

[2018-03-19 13:19] nay-kang commented on #503
that's wonderful.
I am sorry for not find that doc.
but there is another problem.
while I run task deps.It call some npm install -g.that as normal user under ubuntu will trigger a permission problem.
if that better add a "sudo" command before the npm install?

[2018-03-19 13:25] twhiston commented on #503
Actually I also run into this problem on my Fedora machine. I'm still not totally convinced that these even need to be global installs, and if not they could be in the `package.json`  as dev dependencies.

[2018-03-19 13:39] nay-kang commented on #503
I think install as dev is an elegant way.
I don't know do you mind use webpack.
some friends of mine had use webpack for some time.
but I also think keep it simple is  important.

[2018-03-19 15:18] twhiston commented on #501
'git@repo.com#branchname' notation already works btw 😀

Agreed that we should do it after #75, i was actually thinking of moving that issue to 2.6.0 as we don't need it right now and it's another big change.

[2018-03-19 23:07] twhiston commented on #138
@strangeman would you be interested in taking this one?

[2018-03-20 00:06] gcavalcante8808 commented on #138
Have you guys created the openapi/swagger specification ?

Maybe I can help with it.

2018-03-19 20:07 GMT-03:00 Tom Whiston <notifications@github.com>:

[2018-03-20 00:09] twhiston commented on #138
@gcavalcante8808 no, but feel free to propose something, this one should be super easy as it just takes a task id and returns the task status

[2018-03-20 01:01] #495 closed

[2018-03-20 08:57] #401 closed

[2018-03-20 09:17] #496 closed

[2018-03-20 09:17] #493 closed

[2018-03-20 22:57] twhiston opened #506 "npm global install permission issues"
As reported in #503

This permission problem is also true in my Fedora development environment.

Do these dependencies really need to be installed globally? Can't they be dev dependencies in the `package.json`?
Needs to be resolved in 2.5.0 as it blocks contribution currently

[2018-03-20 23:03] twhiston commented on #498
I gave it a shot at solving this, though I dont love the windows solution that much, because it blocks the install in circleci v2, which is needed for the dockerfile PR

[2018-03-21 01:18] strangeman commented on #506
I tested npm without global install (just deleted `-g` option from nodemon, less and pug installation command) - all working correctly.

[2018-03-21 01:35] strangeman commented on #444
As I see it was fixed with https://github.com/ansible-semaphore/semaphore/pull/479

[2018-03-21 09:42] twhiston commented on #444
Unfortunately not as #479 is still angular 1. Moving to Angular 2 is more of a total rewrite situation, and actually instead of directly going that way I think we should broaden the task out and talk about if we should stick with angular, go to vue, or react etc...... That JS FE world moves fast, so we should take the opportunity to assess what will be best going forward.

[2018-03-21 09:44] twhiston commented on #506
yeah, it works ok like that for me too. So we should add these to the package.json as dev dependencies and then we can tidy the fe install a lot and avoid these permission issues. I know that @fiftin said before that local installs of some of these things are not usual, but honestly i struggle to find evidence for or against it, but FE is not my thing, so if anyone has any good reason not to make

[2018-03-21 21:21] zarianec opened #507 "SweetAlert popup messages broken"
Alerts are broken after upgrading sweetalert plugin to v2 as there is a lot of BC breaks. So now it's impossible to delete project or to mark used key as removed.
I'm going to fix that if no one is working on it.

[2018-03-21 21:48] slickvoodoo commented on #217
Connecting to windows hosts works as long as you configure the inventory correctly. I tried it out today. It's just not intuitive in the UI (for example you must specify an SSH key - even though it won't be used).

[2018-03-21 22:32] steaksauce- commented on #217
Maybe this can get done by accomplishing the following (keep in mind, I am not a Semaphore user -- at least yet):
- Modify UI to allow creating and maintaining host vars (to set windows hosts up correctly)
- Modify UI to allow creating and maintaining connections to hosts without SSH key

Ansible Tower has this thing called "Machine Credentials" where you can optionally specify the SSH keys. Maybe

[2018-03-22 00:13] strangeman commented on #217
@twhiston we use Semaphore for windows too - and it works correctly. All connection parameters set via group_vars.

[2018-03-26 10:37] twhiston commented on #506
I think the downside of a local install is that they will end up in the web/node_modules/.bin folder, which almost definitely is not going to be in your path, so we would have to change the taskfile to reference the files directly to keep it working.
This is easy to deal with on linux as we can just do `$(pwd)/web/node_modules/.bin/cless` but I guess this will fail on windows :disappointed:

[2018-03-26 12:31] twhiston commented on #75
removing 2.5.0 label as we will implement this in 2.6.0
Plan is probably to use go-git now to remove a system dependency and replace with a pure go solution

[2018-03-27 00:29] strangeman commented on #506
Does taskfile support relative path? Like `./web/node_modules/.bin/cless`

[2018-03-27 13:07] twhiston opened #510 "Proposal to change CI"
I would propose that we move the project from CircleCI to another Continuous Integration solution. CircleCI seems to me to become increasingly weak when testing apps with any level of complexity, and we have seen a build break today that worked fine in testing but broke on merge.

This issue was due to the CircleCI caching approach, which I feel is particularly problematic. Files that are cached i

[2018-03-27 15:02] #325 closed

[2018-03-27 15:06] twhiston opened #512 "Replace Wiki with pages"
It would be nice if the documentation could be version tracked too, and people could not randomly change things without it undergoing a review. I would propose that we use the github pages format with a new repository for this and migrate the current wiki content to it as a starting point.

[2018-03-27 15:08] twhiston commented on #498
closing this as #505 was merged

[2018-03-27 15:09] #491 closed

[2018-03-27 15:11] twhiston commented on #47
closing this as file type of inventory allows for dynamic inventory files to be included in the source repo

[2018-03-27 15:11] #47 closed

[2018-03-27 15:16] twhiston commented on #450
Closing this as docker refactor deals with a lot of this, and debug documentation can be done as part of general documentation improvements in 2.6.0

[2018-03-27 15:16] #450 closed

[2018-03-27 15:17] twhiston commented on #418
closing due to lack of response

[2018-03-27 15:17] #418 closed

[2018-03-27 15:20] twhiston commented on #339
closing as docker deployments have been refactored

[2018-03-27 15:20] #339 closed

[2018-03-27 15:24] twhiston commented on #308
I'm going to close this as ignoring retry files is the easiest approach and i dont see why you would ever commit retry files to vcs.

[2018-03-27 15:24] #308 closed

[2018-03-27 15:28] #198 closed

[2018-03-27 15:29] twhiston commented on #77
ace was added so closing

[2018-03-27 15:29] #77 closed

[2018-03-27 15:30] twhiston commented on #41
@strangeman any objection to me closing this? This is not something I really want to implement

[2018-03-27 21:25] twhiston opened #513 "Refactor CLI to use cobra"
I think it might be beneficial to refactor the cli part of semaphore using Cobra. https://github.com/spf13/cobra
This would allow us to separate the different commands out, making the architecture cleaner, and allowing us to remove some code from the utils package (which i would eventually like to remove, see https://twitter.com/bradfitz/status/975004801288335360 ;) ). Moving the command handling

[2018-03-27 22:13] twhiston commented on #217
@strangeman - so what do we actually need to do here? It seems to me that the inventory should 'just work' if you write it correctly and apart from that we just need to remove selecting an ssh key as a mandatory field in the web interface to make the user experience slightly nicer, anything else?

[2018-03-27 22:14] twhiston commented on #506
yes, it should do

[2018-03-27 22:22] twhiston commented on #510
Another issue I have with circle is that it spams you, tests run on the same branch do not create threads but instead separate emails, so you end up with a lot of noise in your inbox if you are doing lots of testing on your fork

[2018-03-27 22:45] strangeman commented on #512
Totally agree, great idea.

[2018-03-27 22:58] strangeman commented on #506
Yeah, just checked.

[code]

I'll test it on Windows and make a PR.

[2018-03-27 23:07] strangeman commented on #41
I don't need this, I don't think that we will analyze this data. :)

[2018-03-27 23:12] strangeman commented on #513
I worked with `viper` before - this is the really useful library.

[2018-03-27 23:16] strangeman commented on #217
I think there is nothing to do. All these things can be done via Ansible config or vars.
Disabling of ssh key may cause another question, like "I want to use SSH password instead of key" :)

[2018-03-27 23:21] strangeman commented on #510
I have some experience with Travis (on small projects), but mostly I work with Jenkins. Unfortunately, it wants a separate server. I heard much positive feedback about Gitlab CI.

[2018-03-28 08:37] twhiston commented on #510
I'm not a fan of jenkins tbh, feels a bit old school these days. We recently migrated everything at work away from it and on to gitlab. The ci  is really great, another declarative yaml style system with good container support (depending on the runner used) and really easy to do parallel steps etc... to speed up test runs. Once we have 2.5.0 out the door i'll make a PR with gitlabci integration to

[2018-03-28 15:31] twhiston commented on #217
Yeah i agree, and making a lot of changes to the ssh (and especially allowing passwords) is not something I want to do. Closing this

[2018-03-28 15:31] #217 closed

[2018-03-28 15:31] #41 closed

[2018-03-28 15:33] twhiston commented on #506
awesome, please add these as devDependencies in the `package.json` https://github.com/npm/npm/blob/2e3776bf5676bc24fec6239a3420f377fe98acde/doc/files/package.json.md#devdependencies

[2018-03-28 15:38] twhiston commented on #513
yeah, i think it could help a lot. The 'downside' is that it uses the pflags package under the hood so `-setup` will stop working, it would need to be `--setup`.
Actually in that example it would be it's own command and not an option, but I hope you get my point. This is enough of a breaking change that semantic versioning would require we move to 3.x

[2018-03-28 16:47] fiftin commented on #507
@zarianec what do you this about replacing ```swal``` to angular-like wrapper like this https://gist.github.com/pranav7/d075f7cd8263159cf36a?

[2018-03-29 06:04] strangeman commented on #506
Unfortunately, we have another problem: `reflex` not working under Windows. :(
[code]

[2018-03-29 06:10] twhiston commented on #506
That's a known issue which is in the contribution guide so for now we can just ignore it I think

[2018-03-29 09:35] strangeman commented on #138
I checked this out and found that we already can get the task status via `/tasks/{task_id}` endpoint. No need to implement separate endpoint for status, I think.

![2018-03-29-193308_1366x768_scrot](https://user-images.githubusercontent.com/1083576/38081731-13d1b81c-3388-11e8-8e3f-d497d82a98f6.png)

[2018-03-29 10:28] twhiston commented on #138
yeah if it is in there then people can extract the value they need on their side and we don't need a new endpoint. Nice. Closing this

[2018-03-29 10:28] #138 closed

[2018-04-03 08:33] #506 closed

[2018-04-03 22:26] twhiston commented on #344
Looking at the code while i've been going through the linter errors it seems like we could move the logic for this out to middleware, and implement or integrate something at that point to keep things fairly decoupled. We should move existing bits of permissions checking out of the api route functions as well.

[2018-04-09 13:33] twhiston commented on #510
we just had another incident where the ci worked on the PR branch and then failed when merged in to develop (due to npm not being installed, which is very strange as we explicitly install it). When I re-ran the tests from the UI they then passed. This kind of inconsistency around testing is really annoying and makes circle seem really brittle imo.

[2018-04-09 20:55] charlesmims opened #521 "playbook path turns relative paths from homedir into hard links in macos"
When running semaphore -setup in macos, For the Playbook path input, I entered "~/playbooks/".
This created a hardlink to my home directory in ~/playbooks/ that I cannot delete.
[code]

I'm pretty sure `rm -rf ~` would delete everything in my homedir.  I'm open to suggestions on how to fix this, but I'm expecting I'm going to have to backup and re-image this machine.

Relative inputs on the setup

[2018-04-11 21:15] twhiston opened #522 "ping route is not api compatible"
currently the ping route is in the api spec, but it's not actually a valid api route as it returns (output from dredd)
[code]
I would prefer to take the api spec as the source of truth (and thus not make this an api breaking change that requires a major version bump) but if for some reason this would affect you please speak up!

[2018-04-11 21:56] twhiston opened #523 "logged out response headers are 403, should be 401"
Currently if you are logged out and you visit an api path that needs authorization the returned response is a 403, when it should be a 401( see https://tools.ietf.org/html/rfc2616#section-10.4.2 )

[2018-04-11 23:24] twhiston commented on #472
been looking in to this more and dredd is a better choice as it can validate against the swagger schema. I'll implement this.

[2018-04-12 21:48] twhiston commented on #522
closing as found a way around this with testing. I still dont love that it's not json but i'll live :thinking:

[2018-04-12 21:48] #522 closed

[2018-04-14 15:00] thedumbtechguy commented on #291
I apologize. I changed my username.

https://gist.github.com/thedumbtechguy/0fae1ae931042829b73426630f3cd168

[2018-04-17 09:54] twhiston commented on #291
Thanks very much, as soon as we have 2.5.0 out the door we will move the docs to a github pages setup and I will review and include this documentation then. Hope that is ok and thanks very much

[2018-04-18 01:45] yaroot commented on #387
There are several ways to overcome this, here's what I use to run semaphore
[code]

[2018-04-18 20:04] #140 closed

[2018-04-18 20:13] #476 closed

[2018-04-18 20:13] twhiston commented on #476
done in #514

[2018-04-18 20:14] twhiston commented on #472
done in #524

[2018-04-18 20:14] #472 closed

[2018-04-18 20:14] twhiston commented on #464
done with api tests with dredd, will not go to swagger3 until dredd supports it

[2018-04-18 20:14] #464 closed

[2018-04-18 20:16] #393 closed

[2018-04-19 01:23] BoogieManTM opened #525 "--recursive-submodules on runner pull step?"
I've got a patch in my fork of semaphore that I found to be critical for our usage. We're using git submodules for inventory management, and found that while the repository is cloned, --recursive is used. Which is great, but those submodules can quickly get out of date and once the repository is cloned, the pull step to update the repository does not recurse the submodules.

I realize this is a re

[2018-04-19 06:37] twhiston commented on #373
done in current develop, all test artifacts and releases are signed with the new gpg key

[2018-04-19 06:37] #373 closed

[2018-04-19 06:38] twhiston commented on #525
FYI The plan for the next version of semaphore is to move to the pure go git implementation https://github.com/src-d/go-git so we will be a little tied to their feature set but this should be possible. There was also some discussion about this already on #501 as altering a playbook whilst another task is in flight may cause undefined behavior, so we need to think about it a little. Do you have a l

[2018-04-19 17:51] BoogieManTM commented on #525
My change can be found here: https://github.com/BoogieManTM/semaphore/commit/d55817eb95a2b91fa459ea411aab2a4e6eba9746

Looks like go-git already supports recursive submodule pulls, so that implementation should work beautifully without forcing a relatively bleeding-edge git client. It's one of the PullOptions for WorkTree.Pull(). Is there a branch of Semaphore already using go-git I can try for te

[2018-04-19 18:41] twhiston commented on #525
unfortunately nothing to try out yet, it's on the roadmap for 2.6.0 so I'll probably start it soon.

[2018-04-19 20:44] sscheib opened #526 "Missing maintainer Debian package"
Hello,

just installed the latest version using the .deb Package and got the following warning:
dpkg: warning: parsing file '/var/lib/dpkg/tmp.ci/control' near line 13 package 'semaphore':
 missing maintainer

[2018-04-20 08:37] twhiston commented on #526
:grimacing: thanks for reporting this. I'll get it fixed and add some tests to make sure that the packages install correctly. Apologies for the inconvenience.

[2018-04-20 10:38] sscheib opened #527 "nginx sample configuration link broken"
Hello,
I wanted to setup semaphore using nginx as reverse proxy.
However, the link, which should point to the nginx configuration sample is broken.
It points to:
https://github.com/ansible-semaphore/semaphore/blob/master/scripts/proxy/nginx.conf
This site is not accessible anymore

[2018-04-20 10:39] twhiston commented on #527
try `https://github.com/ansible-semaphore/semaphore/blob/develop/deployment/docker/prod/proxy/nginx.conf`
Where did you see that link?

[2018-04-20 12:29] sscheib commented on #527
Thank you.
I found the link following the "Install Instructions" link on the main page, which directs to the wiki page (https://github.com/ansible-semaphore/semaphore/wiki/Installation)

At the bottom within the section **HTTPs and security** the broken link can be found.

[2018-04-20 12:43] twhiston commented on #527
Thanks, I have fixed the link and will close this now

[2018-04-20 12:43] #527 closed

[2018-04-20 16:13] sscheib opened #528 "semaphore -setup unable to ping maria db"
Hello,

I ran semaphore -setup and came up with the following configuration:
` Generated configuration:
 {
        "mysql": {
                "host": "127.0.0.1:3306",
                "user": "semaphore",
                "pass": "removed",
                "name": "semaphore"
        },
        "port": "",
        "tmp_path": "/home/semaphore",
        "cookie_hash": "removed",
        "cookie_encr

[2018-04-21 04:04] strangeman commented on #528
Are you run Semaphore as binary or as Docker image? I have the same config and all working correctly.

[2018-04-23 18:25] slickvoodoo opened #529 "Users page does not work after 2.5.0 upgrade"
We replaced our 2.4.1 binary with 2.5.0 and now users no longer populate on the Users page. Have tried this with Admin user with the same result.

Requests to /api/user are only returning the logged in user. No errors in semaphore log and no console errors in chrome tools when browsing.

I looked at /db/migrations/v2.5.0.sql just to make sure we are not requiring a DB change but that does not seem

[2018-04-23 21:27] slickvoodoo commented on #529
have to correct myself slightly. I see that /api/user**s** is returning a full list. But no display on the page.

[2018-04-24 16:54] Ranzear opened #530 "If Semaphore is served https, external fonts should use https too."
Mixed content warnings in Chrome regarding font links:

http://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9.ttf

Semaphore's pages need to use https protocol if hosted with https protocol.

[2018-04-27 05:52] doicom opened #532 "When I select a playbook file, is there a way to select a local file?"
Hi all,
Someone, please help us.

I chose the Github URL of the Playbook Repository,Can I change this to a local directory?
When changing, where is the document whose details are listed?

 Since this is a git clone, it can not be changed, so does it need to create from source?

Warm Regards,

[2018-04-27 07:57] twhiston commented on #532
There was some discussion around using local folders instead of git in this issue #327 is that what you mean?

[2018-04-27 13:57] Twim4 commented on #168
doesn't work on v2.5.0

[2018-04-27 14:29] twhiston commented on #168
please open a new issue with all details if you have a problem rather than resurrecting a closed issue from 2 years ago

[2018-04-27 19:14] #529 closed

[2018-05-04 09:27] fiftin commented on #530
@twhiston Did you reproduce this bug?

[2018-05-07 09:51] idxsmr commented on #529
I have upgraded to the new version 2.5.0. The main reason I upgraded to this version is for the user management. Could you please let me know when this fix(user page does not work) in 2.5.1 version would be released.

Also I tried to create a new user which throws an error for me. I have uploaded the screenshot.
![user-creation-error](https://user-images.githubusercontent.com/33719300/39695987-f42

[2018-05-07 09:59] twhiston commented on #529
The above is a new one to me, please can you start a separate issue for it.
I'll try to do a 2.5.1 release in the next week or so.

[2018-05-07 10:07] twhiston commented on #530
@fiftin - I havn't had time to try yet tbh as I was at KubeCon last week. I'll try and reproduce it this week

[2018-05-07 10:13] idxsmr opened #535 "New user feature does not work after 2.5.0 upgrade"
Not able to create a new user. Below is the error screenshot.

![user-creation-error](https://user-images.githubusercontent.com/33719300/39697052-3de55070-520d-11e8-9471-e7ac7d07c925.jpg)

[2018-05-07 10:14] idxsmr commented on #529
Created a new issue #535

[2018-05-07 18:42] twhiston commented on #535
I can recreate this.
@fiftin any ideas why this happens? Creating a user via the API still works correctly

[2018-05-08 14:50] Twim4 opened #538 "Bind semaphore on local interface in v2.5.0 does not work"
Hi

I am trying to bind semaphore to loopback interface like it was possible in previous v2.4.1 with config entry like:

<pre>
{
        "mysql": {
                "host": "127.0.0.1:3306",
                "user": "xxxxx",
                "pass": "xxxxx",
                "name": "xxxxx"
        },
        "port": "127.0.0.1:3000",
...
</pre>

After semaphore upgrade from 2.4.1 to 2.5.0 the local i

[2018-05-08 15:14] twhiston commented on #538
Technically the fact you used to be able to put a full IP in there is an abuse of the field and we added validation for the port (because it should only be a port) to ensure it starts with `:` due to error reports where people expected that you could just put the number in the field.

So in your example it is prepending `:` to your string see `util/config.go` L208.
If we want to allow a full ip he

[2018-05-08 16:33] Twim4 commented on #538
totally agree with explanation about the port config line.

But the thing is here, that i want to hide semaphore behind nginx reverse proxy, to not be able to connect to it from elsewhere except proxy. And with this config it is not possible.

[2018-05-08 17:48] twhiston commented on #538
Your use case is totally valid and i'm happy to support it, but we will need to add a new field rather than revert the port field fix.
As a temp workaround you can always compile it without that check as we only do it in one place (config.go L197), but in the long term we need a proper solution. It would actually be really simple as we only use the port in a few places. I would of course be very h

[2018-05-11 16:43] sscheib commented on #528
Hello,

sorry for the late response - I was busy with other things.
However: I identified the issue here. The problem is, that semaphore is not using interface **lo** to connect to 127.0.0.1. I have blocked all requests to 127.0.0.1, which use as interface not lo.
Semaphore in this case is using eth0 to connect to 127.0.0.1 (which is in fact lo) - I would consider this as bug.

[2018-05-13 23:19] #535 closed

[2018-05-14 07:48] doicom commented on #532
Thanks twhiston
I'm sorry to reply late.

In # 327 it seems to solve what I want to do, so I would like to try it.

Thank you for teaching me, it was a great help.

[2018-05-14 07:48] #532 closed

[2018-05-14 16:15] twhiston opened #539 "Instrument with prometheus"
would be cool to instrument semaphore with prometheus as it's easy and would be nice to track runtime issues. Feels like it could be part of #462 as we could instrument errors to increase a prometheus error count as well as logging

[2018-05-15 09:34] twhiston opened #541 "PR's fail to unlock GPG key for build"
Circleci does not let PR's/branches use the GPG key to unlock the keyring before builds, this is problematic as it's currently required to do the build due to the signing config. Previously undetected as I also have the key in my own circleci config. Need to look in to how best to fix this without spilling private key part.

[2018-05-21 12:55] idxsmr commented on #535
Any idea when the new release with these fixes would be out?

[2018-05-22 10:49] twhiston commented on #535
Sorry i've had to travel more than usual this month and it's messed up my planning a bit. I will aim to get a release with this fix out by the end of the week

[2018-05-22 14:29] idxsmr commented on #535
Thank you...

[2018-05-24 04:22] strangeman opened #544 "Prettify changelog section on 'system info' page"
This is minor UI improvement. Currently, changelog in /admin page is a bit ugly (see screenshot).

![2018-05-24-141853_1366x768_scrot](https://user-images.githubusercontent.com/1083576/40464306-d9b8248e-5f5d-11e8-9524-c7deda3c61dd.png)

[2018-05-25 04:59] strangeman commented on #132
I still have this error on massive Ansible log outputs :(

[code]

I think we need to implement deferred write to the database.

[2018-05-28 20:27] twhiston commented on #132
I would really like to abstract all the database logic away from the controllers and do some work on making this better. I've been messing around with some ideas for this over the last couple of weeks and i'll put together a proposal for it as soon as I have a clear plan.

[2018-05-29 10:03] xagaba commented on #351
File it's missing, any location with this info ?

[2018-05-29 10:30] twhiston commented on #351
https://github.com/ansible-semaphore/semaphore/blob/develop/deployment/docker/common/semaphore-wrapper

[2018-06-07 03:24] strangeman opened #545 "Collisions on PrepareRun step"
PrepareRun contains two important steps: runGalaxy (fetching all roles from ansible galaxy) and listPlaybookHosts (getting task hosts to avoid collisions in parallel task run).

Several tasks in the queue can do PrepareRun simultaneously and this can lead to the following collision:

* We launch two tasks (A and B) in the same project
* Task A fetch roles from the galaxy and starting listPlaybookH

[2018-06-07 05:06] strangeman commented on #545
Same thing appearing when task A already running (in the main phase) and task B re-creating roles in the same project by `ansible galaxy install`.

[2018-06-07 07:22] twhiston commented on #545
The two approaches to a fix to this that spring to mind are:
1) Put each task **execution** into it's own folder then we have to check the code out each time, this obviously provides the best level of separation however this could be painful if you have a lot of playbooks and dependencies to pull. It also means that we definitely need to clean up after a task execution or hdd space requirements ar

[2018-06-07 07:35] strangeman commented on #545
@twhiston please, take a look at my solution - https://github.com/ansible-semaphore/semaphore/pull/546
I tested it and cannot reproduce collision.

[2018-06-07 17:08] JontiH opened #547 "Semaphore doesn't create ssh key for template when inventory and playbook repo use different key"
I have a server I have setup that runs semaphore. The playbook repo is local, and the inventory is static.

I initially used my own ssh key to test everything out, and then decided to add an "admin" user to execute my playbooks. So I created a new ssh key, sent it out etc. But even though I could manually ssh to my other servers as this user just fine, semaphore kept saying :

UNREACHABLE! => {"ch

[2018-06-08 11:55] feistus opened #548 "Migration script fails on inserting new field in users table"
Hi folks,

I did a fresh setup (v2.5.1) and when performing the setup, the migration tool stumbles on altering the users table (see error below).

I'm unsing the mysql docker container as recommended in the install instructions.

panic: Error 1064: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'admin BOOLEAN NO

[2018-06-08 11:58] twhiston commented on #548
what mysql version are you using? I've been setting this up regularly in docker without issues, however mysql 8 will not work currently

[2018-06-08 11:59] #526 closed

[2018-06-08 12:55] feistus commented on #548
Oh, ok, I'm using 8.0.11. That's the problem then. I'll try a lower version. Thank you!

[2018-06-09 07:28] strangeman opened #549 "Semaphore crashes when I try to launch task with non existent ID via API"
I launch task with this curl script
[code]

and get following error:

[code]

[2018-06-11 17:10] twhiston commented on #549
looks like this is caused by `tasks/http.go` l77
[code]
and is due to the general problem that we need to make semaphore less panicky. I guess we need to check for the error type, see if we can filter out real errors from no results and if a real error call `util.LogErrorWithFields`. In both cases the user should get some sensible (ie does not allow attackers to probe for failure conditions) respo

[2018-06-14 05:54] srimandarbha opened #550 "New Feature request: ability to add passwords along with keys"
Hello

I am sorry if this feature was already asked, it would be great if we have ability to add passwords along with keys in semaphore.

Thanks
Rup

[2018-06-14 06:24] strangeman commented on #480
Closed by https://github.com/ansible-semaphore/semaphore/pull/546

[2018-06-14 06:25] strangeman commented on #545
Closed by https://github.com/ansible-semaphore/semaphore/pull/546

[2018-06-14 06:25] #545 closed, assigned to nobody

[2018-06-21 17:21] garthvh commented on #550
I would second this request, all of my playbooks use keys, except the initial setup playbook that sets the key which I need to run using username and password

[2018-06-23 16:26] verybigbadboy commented on #350
I have same issue, how can I change base path?

[2018-06-23 18:04] verybigbadboy opened #552 "https proxy and "api/router.go" implementation"
Hi guys, I have issue related to setup nginx (no js/css resources loaded)
I believe it is issue related to string compare in "api/router.go"

Initially I see variable path set to "/". variable path changed to "/html/index.html".
https://github.com/ansible-semaphore/semaphore/blob/9a20b17320df58719a3e409549ed2d6821ba603f/api/router.go#L139

but some lines later code has check for  path == "html/ind

[2018-06-23 18:14] verybigbadboy commented on #552
it was broken by https://github.com/ansible-semaphore/semaphore/commit/b745ec6fa2af29fd012673cc3243530bf84147ce#diff-78db7d6f9aaaa6067b74141a9f9aaa90L129

[2018-06-24 10:26] opnine opened #553 "Cannot connect to database"
Hello,

Executing this for the first time, and getting this error:

Cannot connect to database!
 This authentication plugin is not supported:
docker ps -a
50c2fd6b5f29        mysql               "docker-entrypoint..."   5 minutes ago       Up 5 minutes        127.0.0.1:3306->3306/tcp   mysql

Docker version 1.13.1, build 94f4240/1.13.1

OS: Centos 7

[2018-07-18 15:15] aarisr commented on #553
Check that you have auth_socket plugin loaded
[code]

Also check this out: https://solidfoundationwebdev.com/blog/posts/how-to-fix-mysql-error-1524-hy000-plugin-auth_socket-is-not-loaded-in-mysql-5-7

[2018-07-23 08:05] FadiHaw opened #554 "How to run a database file.sql using ansible without shell commands"
I have created a vagrant file that copies a build with its database scripts inside the VM
i need to run an ansible code to run the database script which will call all other scrips on oracle database but i don't want a shell command to run it.

[2018-07-23 08:29] strangeman commented on #554
I think this is not a Semaphore-related question. Try to ask your question in Ansible Community channels (https://www.ansible.com/community) or something like Stack Overflow.

[2018-07-23 08:29] #554 closed, assigned to nobody

[2018-07-23 08:50] FadiHaw commented on #554
Thank you

[2018-08-07 12:25] ha02148 opened #555 "gpg public key"
Hi,

Where do I get the public key to verify the checksum signature?

Thanks

[2018-08-08 06:02] strangeman commented on #555
Hi! It published in Readme:

[code]

[2018-08-08 19:53] ha02148 commented on #555
Thanks

I was able to get the key with the following.

gpg --recv-keys 20C7845F

[2018-08-09 08:56] #555 closed, assigned to nobody

[2018-08-09 08:58] strangeman commented on #549
Fixed by #551

[2018-08-09 08:58] #549 closed, assigned to nobody

[2018-08-10 13:30] ha02148 opened #556 "Load balancing and HA"
Hi,

I have Semaphore behind our load balancer with the following URL.

https://mycompany.com/semaphore

The web_host is also set to the same.

I got the same issue as https://github.com/ansible-semaphore/semaphore/issues/552.

![image](https://user-images.githubusercontent.com/5472821/43960415-ed33a56a-9c7f-11e8-8603-2e0c3459285d.png)

Anyway to fix this beside using the URL https://semaphore.myc

[2018-08-16 15:39] Serienmorder opened #557 "Export reports"
Is there any interest in a reporting feature to show to upper management/customers, rather than the text output that is currently provided? If you've used Nessus, I imagine something similar to that.

[2018-08-17 07:21] strangeman commented on #557
What kind of reports did you need? Semaphore just launching tasks and shows their status. For a detailed analysis, you can use something like Ara (https://github.com/openstack/ara).

[2018-08-17 16:08] Serienmorder commented on #557
More or less I guess what Ara does. So would I run Ara beside Semaphore?

[2018-08-18 03:09] strangeman commented on #557
Sure. You can add Ara lookup plugin to your playbooks repo and setup server-side part on the same machine that runs Semaphore.

[2018-08-20 17:04] mramirezacr opened #558 "Using local repository"
We'd like to use a local repository for Semaphore.  I created a new directory /etc/ansible/playbooks:

drwxrwxrwx. 2 root root    27 Aug 20 12:57 playbooks

I put a playbook in that directory and set up the template to run a touch_file.yml test playbook inside this directory.  But when I did a dry run of the template, I got this...

12:59:45: Started: 3
12:59:45: Run task with template: Touch File

[2018-08-21 03:37] strangeman commented on #558
Duplicate https://github.com/ansible-semaphore/semaphore/issues/327

[2018-08-21 03:37] strangeman commented on #558
@mramirez-t look at this: https://github.com/ansible-semaphore/semaphore/issues/327#issuecomment-295477387

[2018-08-21 03:37] #558 closed, assigned to nobody

[2018-08-27 13:52] ha02148 commented on #556
I was able to get it to work by getting the source, update the router.go, and build the binary.

diff router.go router.go_orig
36c36
<       api := r.Group("/semaphore/api")
---

128c128
<       if strings.HasPrefix(path, "/semaphore/api") {
---

133c133
<       if !strings.HasPrefix(path, "/semaphore/public") {
---

142c142
<       path = strings.Replace(path, "/semaphore/public/", "", 1)
---

15

[2018-08-28 01:36] strangeman commented on #556
Can you make a pull request, please?

[2018-08-30 18:29] jplandolt opened #559 "semaphore container in docker will not connect to mysql container"
I've confirmed that the mysql container is working. The semaphore container cannot see it

1) MySql docker image created
[code]

And I set up the semaphore database, user, password

2) confirm functionality
[code]
responds with:
--------------------------------------
[code]

With the mysql log confirming the connect:
[code]

3) create ansible semaphor container (with link to mysql container)
[code

[2018-08-30 18:30] jplandolt commented on #559
I'm unsure if the container link (container-name:container-alias) is working. MySql logs show no activity

[2018-09-04 16:09] dahyungKwon opened #560 "The purpose of the ssh key field of the template is unknown."
Hi,
I encountered a problem while running the template.

After registering playbooks repository and inventory, I created new template and run ansible.

At this time, it was not log into the inventory’s servers. The reason is that ssh key registration is wrong.

When I created the template, I registered the ssh key for log into the servers.
However when I run ansible using the template, semaphore d

[2018-09-07 07:09] kaleescts commented on #337
After CLI arguments are updated, if i hit Start Job URL , it is not running the playbook properly. It is working if i manually run the commit.sh file.
Can you tell me what is the issue here?

[2018-09-07 07:19] kaleescts opened #561 "Updating Ansible Semaphore Task template fails to run the YML file properly"
After CLI arguments through Ansible Semaphore Update Template API, are updated, if i hit Start Job URL , it is not running the playbook properly. It is working if i manually run the commit.sh file.
Can you tell me what is the issue here?

[2018-09-07 10:39] kaleescts commented on #561
16:05:03: Started: 783
16:05:03: Run task with template: patch2

16:05:03: access key Key installed
16:05:03: Updating repository /root/ansiblerepo
16:05:04: From /root/ansiblerepo
16:05:04:  * branch            master     -> FETCH_HEAD
16:05:05: Already up-to-date.
16:05:05: access key Key installed
16:05:05: installing static inventory
16:05:11: Usage: ansible-playbook [options] playbook.yml [pl

[2018-09-10 10:44] vantinhuynh opened #562 "How to input environment variables from semaphore UI or replace environment variables of OS"
I use the Semaphore for as a tool to run Ansible Playbook.
I got the problem with our playbook that will initial AWS environment (create VPC, EC2,...).
This playbook needs to call aws credentials, I have tried 2 ways:
- Create playbook task to create credentials file under ~/.aws/
- Input credentials of AWS use Environment of semaphore
But the playbook cannot get the correct credential as I expect

[2018-09-19 05:16] kaleescts commented on #561
Any inputs on this?

[2018-09-26 12:52] Twim4 opened #564 "Feature request: Add central hosts menu"
Hi all,

would it be possible to add a central management menu for hosts, which we could then bind/link into the inventories?

The main thing here is, that if you have multiple inventories and your hostname is changed (moved to another subnet/domain), you have to manually edit all the inventories where the host is specified.

That feature will help alot.

Thank you!

[2018-09-28 07:46] Liaipon commented on #560
If there is only one ssh key, the key will be regenerated every time when the task is running, which takes 5s.

[2018-09-28 11:12] souxls commented on #447
try again.  "web_host": "http://192.168.1.225:8010",

[2018-10-04 13:25] Fuckthesystem1 opened #565 "Can't upgrade"
I have CentOS Linux release 7.3.1611 (Core) , semaphore v2.4.1

Trying to upgrade and see this:
current release is v2.4.1
panic: cannot find binary for your system

goroutine 1 [running]:
main.main()
        /Users/m/p/semaphore/cli/main.go:30 +0x62b

[2018-10-08 13:35] flynn1973 opened #566 "how to build from source.."
cant find instructions how to build binaries from source, so how to do this? i need binaries for ppc64le. run some playbook or script...no clue.

[2018-10-19 07:37] strangeman commented on #566
Hi!
Take a look here: https://github.com/ansible-semaphore/semaphore/blob/develop/CONTRIBUTING.md#installation-in-a-development-environment

[2018-10-19 07:38] #566 closed, assigned to nobody

[2018-10-19 07:40] strangeman commented on #565
Hello! Please, explain how you're trying to upgrade. Via `upgrade` button in the admin section?

[2018-10-19 07:42] strangeman commented on #564
As a workaround, I can suggest storing inventory files in playbook repo and passing them to the `ansible-playbook` via `Extra CLI Arguments` field.

BTW, PRs are welcome! :)

[2018-10-19 07:46] strangeman commented on #562
Can you provide more details? Which module you're using, playbook example etc.

[2018-10-19 07:49] strangeman commented on #561
Looks like you pass wrong arguments, or trying to call not existed playbook. Can you show what arguments you're set?

[2018-10-19 08:02] strangeman commented on #559
As I see, currently Semaphore won't support SSL/TLS connection: https://github.com/ansible-semaphore/semaphore/blob/develop/db/mysql.go#L85
But it looks easy to implement.

[2018-10-19 08:08] #557 closed, assigned to nobody

[2018-10-19 08:10] #553 closed, assigned to nobody

[2018-10-19 08:10] #548 closed, assigned to nobody

[2018-10-19 08:12] #538 closed

[2018-10-19 08:13] strangeman commented on #528
duplicate https://github.com/ansible-semaphore/semaphore/issues/538

[2018-10-19 08:13] #528 closed

[2018-10-22 12:12] strangeman commented on #523
Fixed by https://github.com/ansible-semaphore/semaphore/pull/568

[2018-10-22 12:12] #523 closed

[2018-10-22 13:31] Fuckthesystem1 commented on #565
Hello. Via Linux terminal by semaphore -upgrade

[2018-10-22 13:33] Fuckthesystem1 commented on #565
Hello. Via linux terminal - semaphore -upgrade.

[2018-10-23 02:08] strangeman commented on #565
Did you rename semaphore binary? `-upgrade` flag trying to search binary with the name `semaphore_OS_ARCH`.

https://github.com/ansible-semaphore/semaphore/blob/develop/util/upgrade.go#L93
[code]

[2018-10-23 05:24] Fuckthesystem1 commented on #565
I didn't. What should I do to make it work?

[2018-10-24 05:07] strangeman commented on #556
Fixed in https://github.com/ansible-semaphore/semaphore/pull/569, can you review, please?

[2018-10-24 05:07] strangeman commented on #552
Fixed in https://github.com/ansible-semaphore/semaphore/pull/569, can you review, please?

[2018-10-24 05:10] strangeman commented on #565
Can you provide a bit more information? How you installed Semaphore? How named a Semaphore binary?

[2018-10-24 05:12] slikk66 commented on #309
Just ran into this today, basically it seems if you run ansible inside a docker container you're going to have a bad time. I was using packer 1.3.1 and ansible 2.7.0 on Ubuntu 18.04 container on a mac osx host and it didn't work. My working ansible config now has:

[code]

Could not have been more difficult to debug.

[2018-10-24 05:30] Fuckthesystem1 commented on #565
I installed whith this instruction
https://github.com/ansible-semaphore/semaphore/wiki/Installation
Semaphore binary location: /usr/bin/semaphore
When I invoke semaphore it says:

Semaphore 2.4.1
Port :3000
MySQL root@127.0.0.1:3306 semaphore
Tmp Path (projects home) /tmp/semaphore

 Have you run semaphore -setup?
panic: Error 1045: Access denied for user 'root'@'localhost' (using password: YES)

[2018-10-24 05:47] strangeman commented on #565
Huh, looks like this instruction conflicts with programmed upgrade procedure. I'll take a look at it.

[2018-10-31 12:32] Twim4 commented on #564
If i understood you correct then it will be the same as i described above, you would have to edit the host in all inventory files.

Just an example:

i have something like
[code]

in each inventory i have several hosts, in some of them there are same hosts that are also in another inventory:

[code]

If i want to change the domain from host1.**sub**.example.com to host1.**sub1**.example.com, then

[2018-11-05 13:16] TedWithAHammer opened #570 "init user/pwd"
![image](https://user-images.githubusercontent.com/9396361/48000229-d3f46a80-e13f-11e8-9e8f-12ebd3f1b3f3.png)
i just start semaphore on centos7,everything seems ok,but i can not find any user/pwd info from the console log,even i restart the semaphore

[2018-11-06 00:56] strangeman commented on #570
How you launch it? If you use Docker - default login/password sets in ENV variables `SEMAPHORE_ADMIN_PASSWORD` and `SEMAPHORE_ADMIN_NAME`. If you launch binary - semaphore will ask login/password when you did `semaphore -setup`.

[2018-11-06 01:08] TedWithAHammer commented on #570
![image](https://user-images.githubusercontent.com/9396361/48036427-52362880-e1a3-11e8-91ee-7e4c3a4d39f6.png)
i just launch mysql in docker,but semaphore in rpm,i just run setup again ,but i can not find the user/pwd tip,or anything wrong with my config

[2018-11-06 01:13] TedWithAHammer commented on #570
![image](https://user-images.githubusercontent.com/9396361/48036633-2c5d5380-e1a4-11e8-9b78-6d1094b15753.png)
i just rerun the setup,and it show no step asking for user or pwd

[2018-11-06 01:47] TedWithAHammer commented on #570
tks,i just rerun setup

[2018-11-06 01:48] #570 closed, assigned to nobody

[2018-11-14 15:20] igalvarez opened #571 "LDAP error -1 Request Failed. Try again later."
I'm using version 2.5.1 on red hat linux. I have setup ldap as you can see below:

{
        "mysql": {
                "host": "127.0.0.1:3306",
                "user": "root",
                "pass": "DBpasswd",
                "name": "semaphore"
        },
        "port": "",
        "tmp_path": "/tmp/semaphore",
        "cookie_hash": "EYjMkDCR5e9JXSnPmHc3/34KFt+0K5pEeljnPUjeUus=",
        "c

[2018-11-14 17:02] AndrewFarley commented on #309
@slikk66 Thank you so much  :) . Saves me from tons more debugging time!  Would give 100 thumbs up if I could.  :P

[2018-11-14 19:38] SansGuidon commented on #309
clearing ssh_args value did the trick for me.
at the opposite, trying the suggested `-C -o ControlMaster=auto -o ControlPersist=600s` or anything similar was causing me issues

[2018-11-20 15:38] #309 closed

[2018-11-23 01:07] bugz8unny69 opened #572 "Looking are you current roadmap, has Cron-Jobs been abandon?"
Hello,

Looking at your current roadmap #325, there is no mention about Cron-Jobs from the old roadmap from #72? Is that still under consideration?

[2018-11-26 05:31] liliyongleo opened #573 "env problem"
Please help.
I tried to execute playbook with semaphore, in my playbook,
- include_tasks: "{{ network_type }}.yaml"

which tried to pass variables "network_type" to it.
I add an environment as below,
{
    "network_type": "calico"
}

but still, it runs with error:
-----------------------------------------------------
The offending line appears to be:

- include_tasks: "{{ network_type }}.yaml"
  ^

[2018-11-26 05:33] liliyongleo commented on #573
when I run following command instead of semaphore, it worked.
ansible-playbook -e env.yaml playbook/install.yaml

[2018-12-02 21:09] bugz8unny69 commented on #572
I am assuming, that's a no?

[2018-12-11 15:13] fiftin opened #575 "Support build and deploy stages"
What do you think about feature in subject?

I have already implemented it for a long time in my fork, but not in the best way. My implementation is very simple:
* Added column `type` to `project__template` table. It can be empty (default), `build` or `deploy`.
* Added column `build_template_id` to `project__template` table. It used for templates with type `deploy` to specify "build" template.
* A

[2018-12-11 15:34] fiftin commented on #564
No need to use Extra CLI Arguments. You can do this by use Semaphore Inventory with type "File":

![image](https://user-images.githubusercontent.com/914224/49810888-f4899300-fd83-11e8-8dd5-eea2ee2f0986.png)

[2018-12-14 06:53] Dr13am opened #576 ""Add environment" are not return any thing"
Add environment are different other api interface ， haven't return

[2018-12-18 08:11] Fuckthesystem1 commented on #565
Hello! Any updates?

[2019-02-04 14:03] corystein commented on #56
This is a workaround to use WinRM.

https://www.ansible.com/blog/connecting-to-a-windows-host

[2019-02-06 08:33] ghost opened #577 "2.5.1 running the application gives this error"
When starting version 2.5.1 we see this
Semaphore v2.5.0
Port :3000
MySQL root@127.0.0.1:3306 semaphore
Tmp Path (projects home) /tmp/semaphore
Checking DB migrations
Executing migration v1.1.0 (at 2019-02-06 08:28:09.564530851 +0000 UTC m=+0.060271208)...
 [1/1]WARN[0000]
 ERR! Query: /* update precision of output logs - also prevents confusion when sorting the table to guarantee it is in the sam

[2019-03-01 12:23] divxdigit opened #578 "Inventory static: multiple files inventory_XX"
When running a task using a static inventory, provided with a name, is doesn't create this inventory with this name but will use 'inventory_1'. Moreover, when running the task several times, it will recreate the same file as inventory_*.  Is this a bug?
Wouldn't it be logical to save the file the same as the name provided to it, and not to recreate is every time you run the task?

[2019-03-01 12:27] divxdigit opened #579 "Security issue: SSH keys on projects and not on users"
When sharing a project with multiple users, it would be nice to assign SSH to users in stead of a project.

[2019-03-01 12:39] divxdigit opened #580 "Security issue: SSH private key stays plaintext in Semaphore homedir after runnning task"
A SSH has been inserted in the Key Store. After running a task, the file 'access_key_1' with private key is created in the Semaphore home directory. Permission 'rw' for the semaphore user.
But after the task has finished, this file is not cleaned up.

[2019-03-16 06:42] #572 closed, assigned to nobody

[2019-05-03 22:53] denics commented on #430
Sorry to jump in like this, probably your issue is because of the user "semaphore". For example in Debian that user is not created. Personally I am running the service as www-data. I'll do a PR for discussion.

[2019-06-10 07:04] gowtamk commented on #226
First of all i would like to say this tool very well written.
I was trying to compile this in my setup, i tried to get all the dependencies cloned from different repositories. Except for one package  that is MuleKick.
Mulekick is not found anywhere in the web.  I need help here,  first of all where can i find Mulekick, if it is not available what is the alternative to mulekick package and how do I

[2019-06-11 18:27] scream314 opened #582 "Cannot build for Docker (or maybe at all): unavailable dependency: CastawayLabs/mulekick"
As the images on Docker Hub are pretty old, I tried to build my own version off the `master` branch, using `semaphore/deployment/docker/prod/`.
The first problem was with `go-task/task`, the installation failed the way it is specified in `deployment/docker/prod/bin/install`. The workaround I found was to install it the  "recommended way" (https://github.com/go-task/task/blob/master/docs/installati

[2019-06-12 14:38] megakoresh commented on #349
Yes, I think there is diminishing returns in adding multiple different providers. Better to add one generic notification interface to allow templating any generic http(s) request. Then it can be used to integrate with any external service. We use our own microservice for example. Ansibel Tower has this sort of functionality.

[2019-06-13 13:36] kumy commented on #525
For references, `GIT_SSH_COMMAND` was introduced in git 2.3.0.

We are also relying on submodules and we need to update them manually when they are updated :/ Is it possible as a quick win to have them updated with the current code base (ie; not waiting "[…] the next version of semaphore is to move to the pure go git implementation")?

[2019-07-03 10:21] megakoresh commented on #582
Hey this has been open for almost a month. Following instructions reproduces this 100% of the time. Is this project still maintained or... ?

[code]

@matejkramny Is somehow affiliated with this CastAwayLabs, maybe he can shed some light on this situation

It seems the library is used only for sending responses. Perhaps it would be possible to remove that dependency if the library is no longer ava

[2019-07-05 06:25] megakoresh commented on #582
I think @matejkramny doesn't get notification if I edit it into the post. Someone please get on this, it's a critical issue. It's preventing people from contributing to the project

[2019-07-06 08:09] HardySimpson commented on #582
agree，I also face this problem

[2019-07-06 08:10] HardySimpson commented on #582
It seems that castawaylabs remove mulekick project

[2019-07-07 07:47] megakoresh commented on #582
@strangeman Maybe you can help? I am really interested in this project, but if you don't know what that mulekick library does, it's very hard to reverse-engineer it's functions and remove the dependency.

[2019-07-07 08:20] strangeman commented on #582
@megakoresh I pushed it from my gopath to https://github.com/strangeman/mulekick, but it doesn't have any license so I'm not sure how legal is it.
Maybe @matejkramny can clear its license?

[2019-07-07 09:32] megakoresh commented on #582
I think the safest bet here would be to port those functions directly into semaphore's codebase and remove the dependency (its very few anyway). If the library was under MIT, then it should be perfectly legal. I can do that, though it would be nice to know first the licensing terms.

[2019-07-09 02:01] matejkramny commented on #582
Hi all, let me address these points and the issue at hand.

- @strangeman mulekick is indeed under MIT license
- mulekick was removed from our repository due to other reasons (which I cannot state here); lack of foresight caused issues like this arising

The best path forward is to embed it inside this project as @megakoresh mentioned. I'll do this in a bit.

[2019-07-09 07:05] #582 closed, assigned to nobody

[2019-07-11 01:18] matejkramny commented on #462
hmm agreed. Maybe we could keep the panics and implement a recover at the top of the routing stack.

Re database connection at the start, are we proposing to let it sit and wait until the db can be connected?

[2019-07-11 01:20] matejkramny commented on #530
Seems to be fixed with 01a0ec271fea5e075dc72826137f3dd9fa5f50d1

[2019-07-11 01:20] #530 closed

[2019-07-11 01:29] matejkramny commented on #226
Hi @gowtamk, this issue will be soon fixed once #585 is merged

[2019-07-12 19:52] megakoresh commented on #556
Why is this still open?

[2019-07-13 04:27] #556 closed, assigned to nobody

[2019-07-19 02:00] MikeLing opened #586 "Keep getting 403 from /api/ws"
<img width="972" alt="Screen Shot 2019-07-19 at 9 57 35 AM" src="https://user-images.githubusercontent.com/2166227/61503876-e41d5300-aa0b-11e9-9ba5-189785a324fb.png">

##env:
OS: osx 10.14
lang: golang1.12
semaphore: 2.5.1

[2019-07-19 03:54] MikeLing commented on #586
sorry, I got it

[2019-07-19 03:54] #586 closed, assigned to nobody

[2019-07-31 07:00] aidan-777 opened #587 "404 not found on all delete and put api"
I run semaphore --config config.json,  and service has been started. But there was something wrong with the put and delete api , they all returned 404 , but post and get api is normal.

![image](https://user-images.githubusercontent.com/14037183/62189936-cef8da80-b3a2-11e9-9204-4ba828c789ff.png)

![image](https://user-images.githubusercontent.com/14037183/62189972-df10ba00-b3a2-11e9-8ea3-5ad9be5d8

[2019-07-31 07:34] megakoresh commented on #587
Are you building and running latest source code or latest release?

[2019-07-31 07:40] re1656 commented on #587
I run task watch on develop branch

[2019-07-31 07:40] aidan-777 commented on #587
i 'm running on develop branch

[2019-07-31 08:12] megakoresh commented on #587
I will try to remember to take a look when I have time. I may have messed something up during routing refactor. Have you tried adding trailing `/` to the `PUT` urls and seeing if they work that way?

[2019-07-31 09:23] aidan-777 commented on #587
Thank you !  I just now checkouted  to tag v2.5.1, and the problem was solved.

[2019-09-06 21:25] verybigbadboy commented on #552
yes it is working fine. thank you

[2019-09-06 21:25] #552 closed, assigned to nobody

[2019-09-08 07:29] megakoresh commented on #587
@re1656 Really sorry for the long wait. It was not an easy problem to figure out so I put it off for a day and then things happened and I simply forgot about this. Should now be fixed in #588

[2019-09-10 15:44] Serverfrog commented on #577
Could reproduce that with a fresh installed Debian System with mysql 5.5.62 und semaphore 2.5.1

[code]

[2019-10-16 21:47] markfaine opened #589 "Instructions for Docker image"
There doesn't seem to be much related to docker than this:

## Dependency installation with Docker

[code]

If you could elaborate a little.  I'm not sure that this is meant to indicate.
I understand that mysql is a dependency.  I suppose you are saying that if you are using docker and want to install the dependencies as docker as well, this would be what you should do ?

A working compose file wo

[2019-10-18 03:36] #589 closed, assigned to nobody

[2019-10-18 03:39] markfaine opened #590 "Inventory Download"
We keep our inventory in Gitlab so I was having trouble figuring out how to reference it in semaphore.  Do you think it would work, to create a playbook  for the purpose of downloading our inventory, and then configure an inventory file that points to that inventory?

[2019-10-18 05:01] strangeman commented on #590
Sure, why not. You can download an inventory to the server and then just point to in with `-i` flag of `ansible-playbook`.

[2019-10-25 17:25] markfaine opened #591 "Can't parse inventory"
Semaphore won't parse my yaml inventory.  I'm not sure why, it's valid yaml and a local install of ansible has no trouble with it.

12:22:13:  [WARNING]:  * Failed to parse /home/semaphore/inventory/inventory.yml with
12:22:13: yaml plugin: Invalid hosts entry for all group, requires a dictionary, found
12:22:13: <type 'NoneType'> instead.
....

[2019-10-25 18:14] markfaine commented on #591
It turned out to be that the Ansible on the docker image is too old, or at least I think that's the issue.  I removed it and installed Ansible from pip and it is parsing the inventory now.

[2019-10-25 18:14] #591 closed, assigned to nobody

[2019-11-17 20:09] fiftin commented on #590
@markfaine Are you keep your inventory separate from playbooks?

[2019-11-17 21:07] markfaine commented on #590
Yes, it's in it's own repo for now though are looking for ways to create a dynamic inventory.

[2019-11-18 19:40] deepnum opened #592 "Use go module"

[2019-11-21 13:19] kumy commented on #463
We are also interested in passing dynamically `Extra CLI arguments` to the `post /project/{project_id}/tasks ` endpoint.

[2019-11-21 15:32] kumy commented on #463
As a workaround I've used the `put /project/{project_id}/templates/{template_id}` endpoint to update the `Extra CLI arguments` before launching the task…

[2020-01-19 17:54] manishalankala commented on #383
My grafana also use same  default port 3000

after service start i see the error

How can i change this

[2020-01-19 17:55] manishalankala opened #593 "Port 3000"
My grafana also use same default port 3000

after service start i see the error

How can i change this

[2020-01-20 03:43] matejkramny commented on #593
probably using the PORT environment variable or by configuration

[2020-02-08 07:51] pedroelbanquero commented on #587
here solved more routes DELETE and PUT of @megakoresh version, some mistakes in put and delete actions in route files, no error in the new version but not works if you dont make the changes
#595

[2020-02-08 08:15] pedroelbanquero opened #594 "Develop version not works , put and delete method fails and other issues"
here a working version with the last changes

https://github.com/pedroelbanquero/semaphore

[2020-02-08 08:18] pedroelbanquero commented on #580
this is solved ?? i can't reproduce, can you give me more details ? SO, path ..

[2020-02-08 09:44] pedroelbanquero opened #596 "List playbook tasks"
add select input to choice the task in a playbook file, select from htl option select the playbook file

[2020-02-08 09:44] pedroelbanquero opened #597 "add local playbook repository from pannel"

[2020-02-08 09:46] pedroelbanquero opened #598 "add network mapping from pannel to import provisional inventory"

[2020-02-08 09:48] pedroelbanquero opened #599 "Setting tab in pannel to change logo and colors"

[2020-02-08 09:51] pedroelbanquero opened #600 "add d3 inventory graph"

[2020-02-08 10:05] pedroelbanquero opened #601 "continuous integration not allow npm audit to fix bugs"

[2020-02-12 11:11] manoj-aps commented on #132
is there any progress on this issue... I'm using Ansible-Semaphore 2.5.1(latest release) and still getting issue on Massive playbook log output.

tried increasing mysql_connections but it seems that hack doesn't work when I'm dealing with unpredictable large output...

[2020-02-18 23:11] florisvangeel commented on #115
Experiancing same behaviour under proxmox 6 in buster, running:
`semaphore -config /etc/semaphore/config.json`
as root. next step is to run the program as privileged user so the sim linked cluster root ssh keys of proxmox don't get broken.

[2020-02-18 23:23] florisvangeel commented on #115
Awesome running the semaphore under the ansible user solved my problem.
Hope it helps you as well.

My problem is resolved. However i suspect this software is doing something that breaks out of a unprivileged container when run as root, now it just fiddled with ansibles rsa, so i either run it as a nother user or perhaps easyer adapt to its changes.

[2020-02-25 01:46] jvijay-work commented on #594
Getting the following error with go build

../util/config.go:140:15: undefined: Version

[2020-02-28 19:51] Kikyo-chan commented on #255
################no rsync Resulting problems#####################

which rsync
/usr/bin/which: no rsync in (/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin)

#yum install rsync -y
# which rsync
/usr/bin/rsync

ok!

[2020-03-08 09:06] pedroelbanquero commented on #594
works fine for me , im again building updates if you need something tell me

[2020-03-08 09:28] pedroelbanquero commented on #594
you need to build with task buil, like in the documentation, and check if you are using my develop version

[2020-03-16 15:49] divxdigit commented on #580
As far as I know, the private key is still saved in the playbook path provided at the install of Semaphore at step Playbook path (default /tmp/semaphore) .

[2020-04-13 19:13] ayesha54 commented on #309
@slikk66 Thank you so much :)
It worked

[2020-06-06 02:27] huaapp opened #602 "key name"

[2020-06-29 17:21] alfchee commented on #309
Thanks, this worked for me, I'm running Ansible Playbook from WSL with Ubuntu 18.04, and this error was giving me problems.

[2020-07-05 10:23] spurin commented on #309
@alfchee I've also just encountered this issue.  An alternative way you can fix this whilst running in a container is by editing config/base.yml in your Ansible installation path and changing the default path for the control path dir, i.e.

[code]

Change to

[code]

Standard disclaimers apply, some might prefer the config driven approach and YMMV.  For me, I'm using Ansible in a container for exp

[2020-07-27 19:48] muthusaravanan3186 opened #604 "Please change the Sirupsen path to sirupsen"

[2020-09-21 15:20] detvan opened #605 "Question: Semaphore fork"
Hi all,

since this project is no longer maintained, please do you know about well maintained fork?

Thank you

[2020-09-21 20:40] fiftin commented on #605
@strangeman are you still interested in this project? Is your fork actual?

[2020-09-21 20:47] fiftin commented on #605
May be this https://github.com/CodyGuo/semaphore? @CodyGuo what do you think?

[2020-09-22 00:40] strangeman commented on #605
@fiftin unfortunately, we're dropped support of Semaphore and moved to Rundeck.

[2020-09-22 01:52] CodyGuo commented on #605
@fiftin our department is using this, and I'm only doing partial function maintenance, but I don't have enough ability to make continuous improvement.

[2020-09-22 16:42] detvan commented on #605
@strangeman thanks for good reference for RunDeck with nice community i will try it. AWX, is pretty heavy for me - no single app, just container. Tower is commercial.

[2020-09-24 11:57] fiftin commented on #605
@detvan I'm not going to give up using the Semaphore. We use modified version of Semaphore in conjunction with https://github.com/jorkey/update (our internal development) and it is works fine.

I created fork https://github.com/ansiphore/ansiphore. I want to move the project towards CI. I merged https://github.com/ansible-semaphore/semaphore/pull/595 to it and published release https://github.com/

[2020-09-25 11:03] detvan commented on #605
@fiftin your code is really nice. Ansible is industry standard, so i would prefer it, but RunDeck has big advantage - single war file. Thus you can easily keep it up to date and run it by single command: java -Xmx4g -jar rundeck-3.3.3-20200910.war.

It would be nice to have similar single package of Ansiphore (just boom, one click, it is up and running :) ). I know, it is for your internal usage,

[2020-09-30 10:12] #587 closed, assigned to nobody

[2020-09-30 10:23] fiftin commented on #605
@detvan, @CodyGuo, @strangeman I continue to develop the project in the current repository.

[2020-09-30 10:23] #605 closed, assigned to nobody

[2020-09-30 10:32] fiftin opened #606 "Migrate UI to Vuetify"

[2020-10-03 08:52] fiftin commented on #593
@manishalankala Do you use Semaphore binary or docker image? Is this issue actual for you?

[2020-10-03 13:32] fiftin commented on #594
Fixed

[2020-10-03 13:32] #594 closed, assigned to nobody

[2020-10-03 14:56] #593 closed, assigned to nobody

[2020-10-03 16:03] fiftin commented on #565
@Fuckthesystem1 If it is actual to you, it is a bug. Problem is not in the instruction, I will fix it is the next release.

[2020-10-03 16:12] fiftin commented on #577
https://github.com/ansible-semaphore/semaphore/issues/90

MySQL 5.6.4 or greater or MariaDB 5.3 or greater required.

[2020-10-03 16:12] #577 closed, assigned to nobody

[2020-10-03 16:33] #600 closed, assigned to nobody

[2020-10-03 16:33] #602 closed, assigned to nobody

[2020-10-03 16:48] fiftin commented on #541
Fixed

[2020-10-03 16:48] #541 closed

[2020-10-04 19:11] fiftin opened #613 "Add views like in Jenkins"
Add ability to group templates to views like in Jenkins.

![image](https://user-images.githubusercontent.com/914224/95024871-38f3ca80-069f-11eb-806e-1a1a3fdc8d23.png)

[2020-10-04 19:56] markfaine opened #614 "[feature request] Indicate when everything is done loading and server is running"
See the log message below:

[code]
It's just a little ambiguous. I don't know if it's done and the server is running or it's still checking db migrations.  I guess it usually doesn't matter except for when you are trying to troubleshoot.

[2020-10-04 20:26] markfaine opened #615 "Consistently use relative links to everything loaded by the main page."
I was debating weather this is a bug or a feature request, I'll let you decide that.

I'm running in a docker container behind nginx, so I keep having trouble finding a way to make everything load.  It appears that some resources are loaded relative to the index page:

[code]

Others are relative to the root:
[code]

And yet others use the web_host variable from config.json:

[code]

I've had some

[2020-10-09 12:15] zeug-it opened #616 "Not able to use after container upgrade to 2.5.2"
After container upgrade to 2.5.2 I get a destroyed login page with http://0.0.0.0:8081 in the url for the js files. I tried to fix it with changeing the web_host to my  apache url (Docker -> Apache as ReversProxy). The Login page renders like before, but after successful login, I'm redirected to login page while loading Events.

[2020-10-12 01:52] CodyGuo commented on #605
thanks

[2020-10-12 09:07] hongdingyi commented on #317
thanks

[2020-10-13 16:33] markfaine commented on #615
[semaphore-1602606327321.log](https://github.com/ansible-semaphore/semaphore/files/5372794/semaphore-1602606327321.log)
[semaphore-config.txt](https://github.com/ansible-semaphore/semaphore/files/5372835/semaphore-config.txt)

[2020-10-27 09:33] JustDevZero opened #617 "panic: runtime error: invalid memory address or nil pointer dereference"
I'm trying to run semaphore under docker, but it's giving me some errors... indeed it's not even runing:

Docker Image: ubuntu:20.04
https://github.com/ansible-semaphore/semaphore/releases/download/v2.4.2/semaphore_linux_amd64

semaphore_config.json
{
 	"mysql": {
 		"host": "mariadb:3306",
 		"user": "root",
 		"pass": "ZDcxOTVmMGI3Yjk1OWUwNTU0NmIwNmYz",
 		"name": "semaphore"
 	},
 	"port": "",

[2020-10-27 09:38] JustDevZero commented on #617
Ok, now the templates are being renderer, but it's getting an eternal wait, like a broken semaphore.

No pun intended, I swear.

[2020-10-27 09:50] JustDevZero commented on #617
More updates, if I try with 2.5.1 instead everything works smootly as expected...

[2020-10-27 10:42] JustDevZero opened #618 "Telegram config is being ignored and Email one doesn't work neither"
I've added the telegram config to receive general updates, but I feel Like i'm being ignored.

I receive no updates, no messages, no nothing :(

If i try to send notifications by my seld with a curl, they work without any problem.

What's the cause?

Is there any debug I can enable to help to find a solution?

Thanks!

PS: I analized the code, and the email config will never work either, due to th

[2020-10-31 20:20] fiftin commented on #616
Yes, you are right, problem with `web_host`.

[2020-10-31 21:00] fiftin commented on #618
Did you allow alerts for the project?

![image](https://user-images.githubusercontent.com/914224/97789873-dd592600-1be5-11eb-8cff-e43c55df1fc4.png)

[2020-10-31 21:18] fiftin commented on #616
@zeug-it I removed default web_host from image. Please check version v2.5.3. I tested, it is works.

HTTP port 3000.

[2020-10-31 21:19] fiftin commented on #617
It can be related to https://github.com/ansible-semaphore/semaphore/issues/616.

[2020-10-31 21:41] fiftin commented on #615
I think it is must to work without defining `web_host`. I not sure why `web_host` required at all, because it is not working properly.

`interface` required if you have several notwork interfaces but want to you only one. It should be IP address.

Are you sure problem not at the nginx?

nginx config for location should be like:

[code]

[2020-10-31 23:05] zeug-it commented on #616
Now, after update to 2.5.3 I get an JS error GET https://api/user/ net::ERR_NAME_NOT_RESOLVED bundle.js:115 in JS Console.

[2020-11-01 06:39] fiftin commented on #616
I have no any errors with 2.5.3.

My docker compose file: https://gist.githubusercontent.com/fiftin/7c7e7d605c3f5079490e84393fe7fec6/raw/b0376e1602428ad5db4a3e1a8918d57e95d53d87/docker-compose.yml

[2020-11-01 23:03] zeug-it commented on #616
Found the Problem I had a typo in my apache reverse Proxy config. Works now.

[2020-11-01 23:03] #616 closed, assigned to fiftin

[2020-11-03 22:02] JustDevZero commented on #618
It was done via the config file instead, cuz for some reason the gui wasn't showing this inputs.

[2020-11-04 10:12] fiftin commented on #618
[code]

[code]
Config file is not enough, you should check project settings.

[2020-11-05 09:26] #606 closed, assigned to fiftin

[2020-11-05 09:30] fiftin commented on #95
Not actual for new UI

[2020-11-05 09:30] #95 closed

[2020-11-05 09:31] #175 closed

[2020-11-05 15:32] ottimo opened #620 "ansible-galaxy support broken for collection"
the ansible-galaxy interface changed:
now ansible-galaxy is used for roles and collections and the type should be defined before the install action.

previous:
ansible-galaxy install -r requirements.yml

now:
for role: ansible-galaxy install -r requirements.yml
for collection: ansible-galaxy collection install -r requirements.yml

[2020-11-05 17:55] #176 closed

[2020-11-05 19:10] fiftin commented on #576
It is ok according to RESTful concepts.

[2020-11-05 19:10] #576 closed, assigned to nobody

[2020-11-05 19:17] fiftin commented on #599
UI totally changed, no logo, colors can't be changed.

[2020-11-05 19:17] #599 closed, assigned to nobody

[2020-11-05 19:18] fiftin commented on #598
It is not feature for Semaphore

[2020-11-05 19:18] #598 closed, assigned to nobody

[2020-11-05 19:20] fiftin commented on #597
Not enough information

[2020-11-05 19:20] #597 closed, assigned to nobody

[2020-11-05 19:20] fiftin commented on #601
Not enough information

[2020-11-05 19:20] #601 closed, assigned to nobody

[2020-11-05 19:32] fiftin commented on #510
CircleCI works fine. So far it is not relevant.

[2020-11-05 19:32] #510 closed

[2020-11-05 19:33] #501 closed

[2020-11-05 19:36] #499 closed

[2020-11-05 19:43] fiftin commented on #459
Related to https://github.com/ansible-semaphore/semaphore/issues/392

[2020-11-05 19:43] #459 closed

[2020-11-06 08:05] #618 closed, assigned to nobody

[2020-11-09 09:22] ottimo commented on #620
I tried to build semaphore to test a commit should help for this issue, but when I run it and I try to access to port 3000 I get a 404 not found error.
I do not found any documentation or issue talking about this problem.

[2020-11-09 18:30] fiftin commented on #620
@ottimo What OS?

[2020-11-10 10:02] ottimo commented on #620
ubuntu 18.04

golang
  1.13.4
nodejs
  12.13.1

[2020-11-10 15:18] fiftin commented on #620
I have next environment:

Ubuntu 20.10
Go  1.15.4
Node.js  14.15.0

I made all by instruction https://github.com/ansible-semaphore/semaphore/blob/develop/CONTRIBUTING.md and it is works fine.

[2020-11-11 07:46] #617 closed, assigned to nobody

[2020-11-20 09:59] fiftin opened #621 "Updating task states in real time"
Currently, statuses of tasks loaded ones when you open Tasks page. It is not useful. Tasks statuses must be updated periodically.

[2020-11-20 10:05] fiftin opened #622 "Estimate task running duration like Jenkins"

[2020-11-20 20:38] fiftin commented on #614
Done, will be in 2.6.0 soon.

![image](https://user-images.githubusercontent.com/914224/99847640-34756980-2b9a-11eb-9a40-e0cd99dfc4c7.png)

[2020-11-20 20:38] #614 closed, assigned to fiftin

[2020-11-20 20:50] fiftin commented on #620
Done, will be in 2.6.0.

[2020-11-20 20:50] #620 closed, assigned to fiftin

[2020-11-20 20:51] #615 closed, assigned to fiftin

[2020-11-21 22:01] fiftin opened #623 "Store fonts in repository"
Fonts are being loaded from CDN now. It is not good because server can be on the network without internet access. Font must be moved to repository and must be loaded the server.

[2020-11-21 23:31] fiftin commented on #481
Added URL for running task

![image](https://user-images.githubusercontent.com/914224/99889911-9bb71a80-2c7b-11eb-991c-76938a31ba1c.png)

[2020-11-21 23:31] #481 closed

[2020-11-21 23:47] fiftin opened #624 "Use Ace Editor for environment input"
In new UI, environment input is simple textarea, it will be good to use Ace Editor like in old UI.

[2020-11-22 00:14] fiftin commented on #621
Done

[2020-11-22 00:14] #621 closed, assigned to fiftin

[2020-11-23 12:27] vlitvin opened #625 "Fresh install returns 404"
I'm new to semaphore.

I followed [installation guide](https://github.com/ansible-semaphore/semaphore/wiki/Installation):
- setup mysql, ansible, git, nginx
- copied 2.6.1 binary to /usr/bin (using amd64 deb package)
- run `semaphore -setup`
- configure nginx using [example config](https://github.com/ansible-semaphore/semaphore/blob/develop/deployment/docker/prod/proxy/nginx.conf), slightly modifi

[2020-11-23 22:37] fiftin commented on #625
@vlitvin This is bug in binary. I updated release https://github.com/ansible-semaphore/semaphore/releases/tag/v2.6.1.

If you used deb package you can remove old version by `sudo dpkg -r semaphore`.

[2020-11-24 07:42] vlitvin commented on #625
@fiftin Thanks, it's fixed.

[2020-11-24 07:42] #625 closed, assigned to fiftin

[2020-11-24 08:57] vlitvin opened #627 "public/js/angular-ui-router.js.map missing"
Semaphore v2.6.1, auth page (`auth/login`) uses `public/js/angular-ui-router.js.map`, but binary returns 404.

Steps to reproduce:
- Install semaphore as described in documentation
- Open `<web_host>` URL in browser

Expected behavior:
- No warnings in browser console

Observed behavior:
- In browser console log:
[code]
- Semaphore output:
[code]

[2020-11-24 08:57] vlitvin opened #628 "Wrong URL for api/user after successful auth."
Semaphore v2.6.1 Wrong URL for `api/user` after successful auth.

Steps to reproduce:
- Install Semaphore as described in documentation.
- Open <web_host> URL in browser
- As <web_host>/api/user returns 401 (which is expected, i guess), we are redirected to <web_host>/auth/login
- Submit <user> and <password> from setup step.

Expected behavior:
- Login screen reports successful auth.
- Open main

[2020-11-24 10:01] fiftin commented on #628
I can not reproduce. What OS dot you use? Looks like problem with configuration. Can you please give your config.json?

[2020-11-24 10:02] fiftin commented on #627
New UI does't use Angular.js. Did you set flag `old_frontend` to `true` in config.json?

[2020-11-24 12:40] ymmijgno opened #630 "Make the binary self-contained"
v2.6.1. I tried it in an isolated network without internet, it couldn't load. Some resources like fonts and the material css are loaded from the internet.

Also, able to add a switch to disable the update check?

[2020-11-24 12:57] fiftin commented on #628
I fixed bug with routing, fix available in new release: https://github.com/ansible-semaphore/semaphore/releases/tag/v2.6.2

[2020-11-24 12:57] fiftin commented on #627
I fixed bug with routing, fix available in new release: https://github.com/ansible-semaphore/semaphore/releases/tag/v2.6.3

[2020-11-24 12:58] fiftin commented on #630
@gnoymmij yes, you are right, I already created similar task: https://github.com/ansible-semaphore/semaphore/issues/623. I plan to add this in the next release (v2.6.3).

PS: v2.6.1 has bug with routing when option `web_host` defined in config.js. I fixed it in v2.6.2.

[2020-11-25 22:22] andreadragotta commented on #628
I have the same problem with 2.6.2 version

[2020-11-25 22:26] fiftin commented on #628
@andreadragotta what OS do you use? Could you share your `config.json`?

[2020-11-25 22:34] andreadragotta commented on #628
OS: Centos 7

config.json
[code]

[2020-11-25 22:45] fiftin commented on #628
@andreadragotta If you used v2.6.1 before, It can be browser cache. Unfortunately cache fo "301 Moved Permanently" hard to clear. Cloud you test in Guest mode (if you use Chrome)?

[2020-11-25 22:47] andreadragotta commented on #628
No, i've installed the 2.6.2 for the first time and i've test with different browser with Guest mode.

I use nginx proxy pass with /etc/hosts config line for mapping.

[2020-11-25 23:04] fiftin commented on #628
@andreadragotta Thank you. I can't reproduce the bug on Ubuntu and it is problem.

 But looks like I got where the bug. Could you try https://github.com/ansible-semaphore/semaphore/releases/tag/v2.6.3 ?

[2020-11-25 23:08] andreadragotta commented on #628
Ok! It's work 😄

Thank you

P.S. I've try to updgrade with semaphore -upgrade but the command show this:

[code]

[2020-11-25 23:12] fiftin commented on #628
@andreadragotta Thank you!

Yes, this is known bug: https://github.com/ansible-semaphore/semaphore/issues/565. Fix is planned for version 2.7. Currently I want to fix all UI bugs after migration to Vue.js.

[2020-11-25 23:13] andreadragotta commented on #628
Perfect! 😄

[2020-11-25 23:15] #628 closed, assigned to fiftin

[2020-11-26 13:10] andreadragotta opened #631 "Bug on /api/user/1"
Hello everyone,

Related to this https://github.com/ansible-semaphore/semaphore/issues/628 i've found another bug on the routing.

When click on edit user the dialog in empty and in console i have this error.

http://my-semaphore-url.com/api/users/1 -> 301 to http:///api/users/1

[2020-11-26 19:37] fiftin commented on #631
I installed CentOS to VMWare, I can't reproduce the bug. Semaphore redirects to location without host `/api/users/1/`. In your example location must be `http:///api/users/1/`.

Do you use nginx as proxy? What version of nginx? May it replaces location with this URL. I don't know.

Could you try use Semaphore without nginx?

[2020-11-26 20:09] andreadragotta commented on #631
Without nginx it's work correctly.

The nginx version is: nginx/1.18.0 (CentOS)

This is my conf
[code]

[2020-11-26 23:09] fiftin commented on #631
@andreadragotta thank you. I removed redirects. Now all should works. Cloud you please check version https://github.com/ansible-semaphore/semaphore/releases/tag/v2.6.4 ?

[2020-11-26 23:32] fiftin commented on #627
Hi @vlitvin, I can not reproduce the bug, cloud you please check version https://github.com/ansible-semaphore/semaphore/releases/tag/v2.6.4 ?

[2020-11-26 23:34] #561 closed, assigned to nobody

[2020-11-26 23:35] #544 closed, assigned to nobody

[2020-11-26 23:37] #485 closed

[2020-11-27 08:07] andreadragotta commented on #631
Ok, i've tried on private browser and work properly

[2020-11-27 08:44] fiftin commented on #631
Thank you!

[2020-11-27 08:44] #631 closed, assigned to fiftin

[2020-11-27 11:44] vlitvin commented on #627
@fiftin
Same on v2.6.4.
Looks like it's nothing serious, as it's browser "feature" to debug js, works in chromium and firefox after opening dev console.

And as I can tell `public/js/bundle.js` mentions it like
[code]
And it's maybe related how it's bundled, or upstream bug.

[2020-12-01 03:13] ymmijgno commented on #630
Tested the latest v2.6.4. The UI is now able to load without the fonts and css and still somewhat functional. However, when you change web_host to something else other than "/" then it will break. Seems like some resources are still in /js. Not sure if fixing the CDN resources will fix this.

[2020-12-01 07:10] fiftin opened #633 "Logout required when API call returns 401 (Unauthorized)"

[2020-12-03 20:43] fiftin opened #635 "Add CLI option (-user) for add/change users"
Need option `-user` to create or change users.

[code]

[2020-12-04 14:54] fiftin commented on #238
This feature will not be implemented. SQLite require CGo. We want to keep Ansible Semaphore as "Pure Go" software. We working on BultDB support.

[2020-12-04 14:54] #238 closed

[2020-12-05 11:07] fiftin commented on #565
I think this feature will be removed. Reason: I want to add separate user for Semaphore service with limited permissions. It is a bad idea to run Semaphore as root.

[2020-12-05 16:50] fiftin commented on #630
@gnoymmij Done in version v2.6.6 https://github.com/ansible-semaphore/semaphore/releases/tag/v2.6.6

[2020-12-05 16:51] #630 closed, assigned to fiftin

[2020-12-05 16:51] fiftin commented on #623
Done in https://github.com/ansible-semaphore/semaphore/releases/tag/v2.6.6

[2020-12-05 16:51] #623 closed, assigned to fiftin

[2020-12-05 16:51] #627 closed, assigned to fiftin

[2020-12-05 19:22] fiftin commented on #187
Done

[2020-12-05 19:22] #187 closed

[2020-12-05 19:46] fiftin commented on #573
Works similar in v2.6.6.

[2020-12-05 19:46] #573 closed, assigned to nobody

[2020-12-05 19:50] fiftin commented on #633
Done

[2020-12-05 19:50] #633 closed, assigned to fiftin

[2020-12-05 20:33] #562 closed, assigned to nobody

[2020-12-06 14:48] fiftin commented on #635
Or may be:

[code]

[2020-12-07 20:01] fiftin opened #636 "Fix codacy settings"
Codacy reports about a log of issues.

@twhiston Please give me write permissions for Codacy, I want to fix SQL checking.

[2020-12-10 18:29] fiftin commented on #636
@Echobob, @matejkramny do you have admin permissions for Codacy? Please give me write permissions.

[2020-12-26 13:43] lgwapnitsky opened #637 "web interface not running"
new install on ubuntu 20.04. config'ed web interface, it's not running. going to port 3000 in web browser brings a blank page.

[2020-12-26 20:18] fiftin commented on #637
What version of Semaphore?

[2020-12-26 20:21] fiftin commented on #637
Do you have any errors in browser console?

[2020-12-26 20:33] lgwapnitsky commented on #637
Latest version, and I'll have to check the browser later

On Sat, Dec 26, 2020, 15:21 Denis Gukov <notifications@github.com> wrote:

[2020-12-26 22:48] lgwapnitsky commented on #637
[image: Screenshot at 2020-12-26 17-47-51.png]

*Larry G. Wapnitsky*

*E: Larry@Wapnitsky.com*
*Web: Larry.Wapnitsky.com <http://larry.wapnitsky.com/>Twitter:
@LGWapnitsky*

On Sat, Dec 26, 2020 at 3:32 PM Larry Wapnitsky <larry@wapnitsky.com> wrote:

[2020-12-27 01:48] lgwapnitsky commented on #637
[code]

as for errors, yes.  the web host is not running when i start semaphore. so that causes the issues, apparently

[2020-12-27 01:50] lgwapnitsky commented on #637
[code]

[2020-12-27 10:49] fiftin commented on #637
looks like problem in config option `"web_host": "http://10.150.33.31:8010"`.

Cloud you remove it for test?

[2020-12-27 13:26] lgwapnitsky commented on #637
tried, and it doesn't work. running the ss command shows no open port on
8010. Event tried as localhost with no change

*Larry G. Wapnitsky*

*E: Larry@Wapnitsky.com*
*Web: Larry.Wapnitsky.com <http://larry.wapnitsky.com/>Twitter:
@LGWapnitsky*

On Sun, Dec 27, 2020 at 5:49 AM Denis Gukov <notifications@github.com>
wrote:

[2020-12-31 10:44] air-vision commented on #637
Hi fitin,

i remove the web_host option and the web interface is accessible on port 3000

at ubuntu 1804

[2020-12-31 12:56] fiftin commented on #637
Hi @air-vision,
Does it work fine?

[2020-12-31 14:18] jinyanroot commented on #637
@lgwapnitsky I get the same problem.
When I  delete "web_host": "http://xxx:8010",I can access http://xxx:3000 successfull.

But there is the problem:Why can not use 8010 port？

[2020-12-31 14:55] lgwapnitsky commented on #637
even going in on port 3000 gives me blank pages

*Larry G. Wapnitsky*

*E: Larry@Wapnitsky.com*
*Web: Larry.Wapnitsky.com <http://larry.wapnitsky.com/>Twitter:
@LGWapnitsky*

On Thu, Dec 31, 2020 at 9:18 AM jinyanroot <notifications@github.com> wrote:

[2021-01-01 22:30] air-vision commented on #637
Hi @fiftin

yes it is working fine

[2021-01-19 13:43] decentral1se commented on #465
Keycloak SSO support would be :100:

[2021-01-23 05:19] sololegends commented on #278
The DDLs aren't significantly different from MySQL to PostgreSQL, major differences are only  some data types, different auto increment definition (Serial), index definitions, and a very different definitions of what a schema is.

[2021-02-05 21:58] spotlesscoder opened #638 "Setup fails, install instructions unclear"
The setup fails for me on elementaryOS 5.1.7 (based on Ubuntu 18.04)

semaphore -setup

 Hello! You will now be guided through a setup to:

 1. Set up configuration for a MySQL/MariaDB database
 2. Set up a path for your playbooks (auto-created)
 3. Run database Migrations
 4. Set up initial semaphore user & password

 Generated configuration:
 {
 	"mysql": {
 		"host": "127.0.0.1:3306",
 		"user"

[2021-02-06 11:57] fiftin commented on #638
What MySQL version do you have?

https://stackoverflow.com/questions/52734648/grafana-with-mysql-this-authentication-plugin-is-not-supported

[2021-02-07 13:19] spotlesscoder commented on #638
8.0.23

[2021-02-07 16:32] fiftin commented on #638
@CodingSpiderFox Semaphore don't support the new mysql authorization method named caching_sha2_password. Sinse mysql 8 its default setting. To solve this problem you need just to create new user with mysql_native_password authentication plugin connector.

[2021-02-07 16:43] spotlesscoder commented on #638
so the credentials will then still be:
username:semaphore
password:semaphore
database:semaphore

Right?
Is it enough to change the values in the config in case I want to use more secure credentials?

[2021-02-07 17:29] fiftin commented on #638
You should create new user by command before and use this user:

    CREATE USER 'newuser'@'localhost' IDENTIFIED WITH mysql_native_password;
    GRANT ALL ON *.* TO 'newuser'@'localhost';

[2021-02-22 07:41] 0bb0 opened #639 "Unable to set the password of a new user"
I've installed Semaphore v2.6.7 on Ubuntu 18.04.5 LTS.
When I try to create a new global user account, the dialog does not show any option to set the password. The same thing happens when I try to edit the existing user.
As shown in the screenshot below, no matter if I client New User button or edit an existing account, the label of the dialog says Edit User.
![image](https://user-images.githubuse

[2021-02-22 21:44] fiftin commented on #639
Thank you @0bb0! I working on this bug.

[2021-02-23 18:32] fiftin commented on #639
Fixed in release 2.6.8: https://github.com/ansible-semaphore/semaphore/releases/tag/v2.6.8

Added field "Password":
![image](https://user-images.githubusercontent.com/914224/108890389-5534db80-762f-11eb-8a2a-09a86046e32d.png)

[2021-02-23 18:45] fiftin commented on #638
Hi @CodingSpiderFox. Did you solve the issue?

[2021-02-23 18:54] spotlesscoder commented on #638
Had no time to test it yet

Am Di., 23. Feb. 2021 um 19:46 Uhr schrieb Denis Gukov <
notifications@github.com>:

[2021-02-26 01:11] dikaye opened #640 "error: SSH Secret empty"
![image](https://user-images.githubusercontent.com/4947286/109240447-7c97ce00-7812-11eb-8acc-7c59cc74ef0d.png)

adding new key for the project, error: SSH Secret empty

[2021-02-26 08:26] fiftin commented on #640
Private Key is required.

[2021-02-27 06:52] dikaye commented on #640
ok

[2021-02-27 07:12] #640 closed, assigned to nobody

[2021-03-05 06:54] emad-ramlawi opened #641 "delete a task"
Thanks alot for ur great work.

so im not sure how i did this, but i think i ran task on a host that didnt have the key ready, and i have task
which is number 5 always running even if i reboot the server,
how can i delete the cache of this task so it never runs anymore

![image](https://user-images.githubusercontent.com/42615994/110078393-ac386000-7d55-11eb-8b56-b5d2ee367362.png)

[2021-03-05 06:55] emad-ramlawi commented on #641
note that i fixed that host and future runs work, i just wont to delete this task ID 5

![image](https://user-images.githubusercontent.com/42615994/110078483-cffba600-7d55-11eb-86bb-16f76fd25667.png)

[2021-03-05 07:02] emad-ramlawi commented on #641
played with the DB and saw the tasks table, then i thought to clone that task template make a new one and then delete the one with bad task, and that fixed it. good workaround for me. thanks guys.

[2021-03-05 07:02] #641 closed, assigned to nobody

[2021-03-05 09:15] dobrys opened #642 "When too many output to screen - sometnig goes WRONG"
i have a simple playbook that connects to 3 servers running Centos 8 , get installed rpm's and print it on screen
`
# This playbook is for testing only.
- hosts: virtuals
  become: True
  tasks:
   - name: Gather the rpm package facts
     package_facts:
       manager: auto
   - name: Print the rpm package facts
     debug:
       var: ansible_facts.packages
`

This happens on virtual env (proxmo

[2021-03-05 14:53] TheFlipside opened #643 "link in wiki invalid"
The link "https://estebanmonge.tk/doku.php/semaphore_ansible" in the wiki "HowTo on CentOS 7" is invalid.

[2021-03-05 21:27] c-erb commented on #638
I ran into the same problem. Sadly `CREATE USER 'newuser'@'localhost' IDENTIFIED WITH mysql_native_password;` did not work. I still got the error "this user requires mysql native password authentication".

I could resolve it by changing the default authentication for all users like this inside /etc/mysql/my.conf:
[code]

[2021-03-08 10:44] tuxpeople opened #644 "Multiarch container images"
Hi,

For us running containers not on amd64 it would be great to have multi arch images. Any chance this is getting on your roadmap? armv7 and arm64 would be awesome!

kind regards
Thomas

[2021-03-10 08:04] c-erb opened #645 "Handle roles and collections better"
Hi everyone, I would have a request for two things about the automated role and collection installation.

1. Use custom role and collection path
2. Option to disable --force for the ansible-galaxy installation.

For the first improvement, please see https://www.jeffgeerling.com/blog/2020/ansible-best-practices-using-project-local-collections-and-roles. It would be great if the environment variable

[2021-03-10 15:16] dR3b opened #646 "fatal: remote branch master not found"
I created a new git repository with the default branch "main".  The branch must be named "master" or you will get this error message:
[code]

[2021-03-10 15:20] dR3b commented on #580
@divxdigit
What you say is true. The permissions are set as follows:
[code]

[2021-03-10 15:23] dR3b opened #647 "Schedule, Cronjob?"
Is there any way to run playbooks automated, like a cronjob?

Thanks.

[2021-03-11 03:31] Weilbyte commented on #646
Can replicate.

[2021-03-11 03:42] Weilbyte commented on #646
Can replicate. As a workaround format your Git URL like this: `git@github.com:User/repo.git#branch`, should work!

[2021-03-11 12:01] dR3b commented on #646
@Weilbyte
Jepp I can confirm that your workaround works.

[2021-03-11 12:43] fiftin commented on #647
Ansible Semaphore has API. Currenlty you can use curl and cron to run playbooks.

https://github.com/ansible-semaphore/semaphore/wiki/API-&-automation

[2021-03-11 12:50] fiftin commented on #646
@dR3b @Weilbyte Sorry for offtop, but how you found this repo? I see a lot of new users today.

I trying to do marketing and it is very important to me.

[2021-03-11 13:03] fiftin commented on #642
It is looks like result of `StrictHostKeyChecking`.

Could you try to connect to one of the server via SSH from server where Semaphore running?

[2021-03-11 13:13] Weilbyte commented on #646
@fiftin I used to have AWX for my homelab but it was too resource intensive so I discovered Semaphore through a Reddit post. Some stuff could certainly be better but so far it is pretty good.

[2021-03-11 13:19] fiftin commented on #646
@Weilbyte Thank you. Feel free to create issue if you need some feature :)

[2021-03-11 13:26] FloThinksPi opened #648 "arm64 RPM does not install on aarch64 (package does not have a compatible architecture)"
When installing the arm64 rpm package on fedora 33 aarch64 on a rpi3 i get folllowing error.

[code]

Isnt aarch64 and arm64 the same arch though ? (https://stackoverflow.com/a/47274698)

[2021-03-11 13:29] FloThinksPi commented on #644
I would also appriciate to see this, as currently i am stuck with the arm64 rpm (#648) and tried to get it working on Docker by building the container myself.
However i wasn't succesfull and gave up. I may try it again to work around #648.

[2021-03-11 13:31] fiftin commented on #648
@FloThinksPi Thank you. I didn't test it on ARM. Will do this ASAP.

[2021-03-11 15:28] FloThinksPi commented on #648
The arm64 binary in the tar.gz works fine so it must be some rpm specifc thing that tells dnf what arch this package is. Its not actually tested by identifying the elf architechture.

[2021-03-11 15:34] dR3b commented on #647
Oh, I totally missed that.  An improvement for the project would be a new and tidy documentation. Maybe with Sphinx or MkDocs.

Thanks

[2021-03-11 15:39] dR3b commented on #646
@fiftin

Keeping AWX up to date is a big effort. Of course, 2-3 things are still missing like:

* Documentation
* User authentication (LDAP, OAUTH)
* Cron

But so far it's really good!

[2021-03-11 17:35] fiftin commented on #648
Looks like problem really in the RPM. DEB package successfully installed on rpi 4.

[2021-03-11 21:00] Weilbyte commented on #646
@dR3b LDAP works fine, no OAUTH though.

[2021-03-12 11:38] fiftin opened #649 "Export / Import all data"

[2021-03-13 02:37] ForrestFeng commented on #642
### No, its not a result of StrictHostKeyChecking.

@bodrys said

Happen to the same issue. The ssh connection to hosts is OK. We can see the playbook is running and a partial stdout displaying in the Task running Window. But, the task is running forever, seems it has trouble to fetch all the playbook output if the output is too long.

I guess, Could it be a database issue, is there any restrictio

[2021-03-13 03:23] ForrestFeng commented on #638
I spend two days killing all the issues I happened to. So, just put the note of my setup and **troubleshooting** here. Hope it helps.

Suggest updating the install instruction.

## Install Semaphore on Debian like Linux
Semaphore is the web GUI for ansible.

**This instructions will install Semaphore v2.6.8 on Ubuntu 20.04 Linux with MySQL 8**

### Install the list of required packages if not alre

[2021-03-14 09:54] ForrestFeng commented on #580
**A workround:**
You can run the semaphore as root user(sudo) or run it as a service.
This way only the root user has the read-write permission for the keys.

This can prevent most users from seeing the keys.

[2021-03-14 10:41] dR3b commented on #580
Running tools like Semaphore as "root" is not very useful for security reasons.

[2021-03-14 14:29] fiftin commented on #580
What behavior should be in your opinion? Should Semaphore delete private key after running playbook? Will that be enough?

[2021-03-14 14:34] fiftin commented on #638
@ForrestFeng I think your guide should be in wiki.

[2021-03-14 14:49] fiftin commented on #642
@ForrestFeng Yes, It can be problem with DB (too many connections), it is known problem. Semaphore is interrupted in this case and you will see error in stdout/stderr.

I marked this issue as a bug.

Problem details: when output of the playbook is very long, Semaphore creates a lot of parallel connections to DB.

Possible solution: create queue of output records.

[2021-03-14 19:55] fiftin opened #650 "Run tasks by schedule"

[2021-03-14 19:55] #650 closed, assigned to fiftin

[2021-03-15 01:40] ForrestFeng commented on #638
@fiftin I'm new to Semaphore, not sure if it is OK to update the installation in the wiki. Can I update the installation in the wiki, or create a new page?

[2021-03-15 07:23] fiftin commented on #638
@ForrestFeng I think current installation guide needs updating.

[2021-03-17 12:33] surak commented on #148
There's an official docker image as of 2021, but I have no idea how to make it run.

[2021-03-17 13:22] fiftin commented on #148
Docker compose example:

[code]

[2021-03-18 09:32] FloThinksPi commented on #648
@fiftin where is the rpm.spec file located ? i cannot find it in this project.

[2021-03-18 11:14] fiftin commented on #648
@FloThinksPi Sorry, I don't know what is it.
NFPM used for creating different packages: https://github.com/goreleaser/nfpm

[2021-03-18 12:06] FloThinksPi commented on #648
Ah interesting thats why. A specfile is a formula to build a rpm package, see https://rpm-packaging-guide.github.io/#what-is-a-spec-file . Similar how a Dockerfile works though a lot more ancient tech there. I suspect NFPM to generate that spec file and execute the rpmbuild command to generate the rpm package. I guess we then need to look there why the generated rpm.spec and the resulting package

[2021-03-18 13:25] caarlos0 commented on #648
not really, it builds the rpm package using go code only. No spec, no rpmbuild :)

nfpm uses this https://github.com/goreleaser/nfpm/blob/master/rpm/rpm.go#L61, so it should be correct...

[2021-03-18 19:17] #648 closed, assigned to nobody

[2021-03-21 08:46] layer7gmbh commented on #638
Hi,

yes, the current guide lacks some informations.

[code]

is showen, if you define a webhost in the config file, it must be empty, otherwise it wont run.

[2021-03-22 19:39] danielskowronski commented on #161
Do you have any started work implementing this, so I could help, or do I just need to fork and create a feature from scratch?

[2021-03-22 23:23] fiftin commented on #161
Hi @danielskowronski, from scratch

[2021-03-24 10:39] danielskowronski commented on #161
OK, thanks. I'll take a look and try to implement this.

For other users who struggle with that - I have a small workaround which suits my needs, maybe you'll find it useful. I've set up crontab on a server with Semaphore that executes dynamic inventory script and saves as file on disk, which Semaphore can access.
It may not work for cloud environments which provision nodes very often but in my ca

[2021-03-25 01:26] bafuka opened #654 "The drop-down menu is too long to scroll"

[2021-03-25 07:37] fiftin commented on #654
@bafuka  Merged your PR, thank you!

[2021-03-25 07:37] #654 closed, assigned to nobody

[2021-03-26 09:10] Dlgde opened #655 "how to build this project"
when I build "main.go"and start this project,just return 404,so I want to know how to build this project,tks

[2021-03-28 21:38] olakunleoladimeji commented on #391
same issue here

[2021-03-29 13:37] kfiresmith commented on #647
Hiya,
Just discovered this project after looking at how needlessly complex Ansible AWX is becoming (Kubernetes as a requirement for example).

One thing that would be quite nice for most users, and in fact was a prior milestone goal (https://github.com/ansible-semaphore/semaphore/milestone/7), would be an integrated scheduler, or anything slightly more approachable than writing RESTful API codes a

[2021-04-05 10:50] Bkbest opened #656 "How do I force kill a task which is running for ever?"
Hi,

I have installed the latest Ansible-Semaphore and have been playing with it for couple of days. Today I have observed an unusual case where large debug messages caused multiple tasks to enter a state of limbo for hours:
![image](https://user-images.githubusercontent.com/16200783/113566539-7de6c280-962a-11eb-9ed3-7ea60560ad7e.png)

Although this is another issue altogether, I would like to kno

[2021-04-06 08:59] fiftin commented on #656
Hi,

yes, it is known bug https://github.com/ansible-semaphore/semaphore/issues/642. It will be fixed in next release.

By the stopping the tasks - currently it is not possible. This feature in the plan.

[2021-04-06 09:38] Bkbest commented on #656
Hi,
thanks for replying, I will look for the next release.
Thanks
Aravind

[2021-04-07 18:26] cptsanifair opened #657 "feature request mysql_socket"
it would be great if there where a way to connect over mysql socket(s)

[2021-04-07 18:29] cptsanifair opened #658 "feature request bitwarden api support for keys & user credentials"
it would be a great way to use bitwarden (https://bitwarden.com/help/article/cli/) to export SSH Keys or passwords directly from bitwarden as a central place.

[2021-04-07 19:51] sirup commented on #647
Hi!
I am also looking for a "GUI" für Ansible. Semaphore I guess would be the best project to support.
The only feature I would miss is the ability to schedule jobs.
Would be great if this would be implemented.
Thanks!

[2021-04-08 15:19] botzill opened #659 "Do you have plans to create a helm chart?"
Would be great to have a helm chart so that we can easily test this one k8s.

thx.

[2021-04-09 11:42] botzill commented on #638
HI, I also have the error:

[code]

While I create the user with `mysql_native_password`:

<img width="398" alt="Screen Shot 2021-04-09 at 14 41 35" src="https://user-images.githubusercontent.com/4686040/114174798-d1665280-9941-11eb-949a-66de3ad142db.png">

Any help on this is really appreciated.

Thx a lot!

[2021-04-09 14:41] vonpelz commented on #647
+1 On this feature! We're also looking for an easy to use GUI for Ansible and Semaphore looks great in all aspects, just missing the scheduling feature.

[2021-04-13 14:53] TrayserCassa commented on #647
I want to give it a try to create this feature (go and vue developer), but never touched go with task and currently the deployment is failing. Maybe @fiftin can give me a small hint why the `task deps` command is failing in the current develop branch.

Also I do not often work on public repos, so please don't expect too much.
When someone is already working on this, I will pass or maybe work toget

[2021-04-13 16:30] fiftin commented on #647
@TrayserCassa Hi, what problem do you have with `task deps`?

What OS?

[2021-04-13 17:07] fiftin commented on #659
How Semaphore can be used for k8s?

[2021-04-13 17:08] fiftin commented on #655
https://github.com/ansible-semaphore/semaphore/blob/develop/CONTRIBUTING.md

[2021-04-13 18:04] botzill commented on #659
Well, we can install it there and execute specific playbooks via UI or eventually API as well. At least this is what I'm looking forward.

[2021-04-14 06:26] TrayserCassa commented on #647
@fiftin
OS is ArchLinux and it seems to be that task is executing `npm audit fix` and this command throws an error:

[code]

[2021-04-14 06:32] fiftin commented on #647
@TrayserCassa Yes, you are right. Got the same error after upgrading NPM to v7.9.0.

[2021-04-14 06:40] fiftin commented on #647
Most actual version of pug cli is vulnerable... It is used for old version of UI. I will remove it right now.

[2021-04-14 06:48] fiftin commented on #647
@TrayserCassa Done.

[2021-04-14 13:26] Red967 opened #660 "Inventory ID in body and URL must be the same"
Error when trying to create ssh key in develop mode - "Inventory ID in body and URL must be the same". Can someone explain why it's happend?

[2021-04-14 13:38] fiftin commented on #660
What version of Semaphore?

UPDATE:  figured out, from develop branch.

Develop branch can contains bugs. it will fix it.

[2021-04-14 13:46] Red967 commented on #660
@fiftin so which branch better to use for stable development?

[2021-04-14 13:51] fiftin commented on #660
2-6-stable

But code in develop branch changed a lot. I refactored it to support multible DBs. But not finished yet.

[2021-04-14 14:02] Red967 commented on #660
@fiftin i'll tried to add postgres support to devepol branch - but getting this error. So now i'm stuck. Any updates about multi db?

[2021-04-14 14:59] TrayserCassa commented on #645
It would also be nice, to document a small example of an dependency like posix.synchronize for example. Currently I am struggling to get this working :/

[2021-04-15 09:48] TrayserCassa commented on #660
This bug happens, because on create environment or keys the code try to get the Object from the empty Table and then the project id is empty.

example ssh (keys.go):

var key db.AccessKey
key.ProjectID is nil

if you want to develop you can uncomment the code which checked the ProjectID
[code]
And you need to set the ProjectID of the AccessKey like this:
[code]

It looks like this is copy pasted f

[2021-04-15 10:11] Red967 commented on #660
@TrayserCassa Thank you so much. Solved

[2021-04-15 10:33] TrayserCassa commented on #660
well this is not closed yet, so please don't close issues while they are not fixed yet in the remote branch :)

[2021-04-15 10:42] Red967 commented on #660
@TrayserCassa Oh sry. My bad

[2021-04-15 10:55] TrayserCassa commented on #645
@Gyilkos91

I want to add your feature, because I think it is a small change. Point 1 is straight clear and easy to check. But Point 2 needs some advise where @fiftin wants to manage Project related things. Also Ansible is version handling very unlikely, see this:

https://github.com/ansible/ansible/issues/6466

So if you want to change the version, we need to make a --force update. Maybe we can a

[2021-04-15 11:27] fiftin commented on #645
@TrayserCassa, @Gyilkos91 I'm not sure by Point 2. `ansible-galaxy install` without `--force` ignores version changes in `requirements.yml`. Right? Should we check changes (for example by md5) and run `ansible-galaxy install --force` if it is changed?

I want Semaphore to be more automated. Checkbox is something manual.

[2021-04-15 11:38] fiftin commented on #660
I hope updates will be soon. I refactored migrations and tested work with postgres via https://github.com/lib/pq driver. It works.

[2021-04-15 11:50] TrayserCassa commented on #645
@fiftin Ok I think this is nice to be more automated, but also more work to do :sweat_smile:
Yes if you change the version in the requirements, then you get a warning:
[code]
1. You want to md5 the requirement.yaml and if this changed after an git change you will use force.
2. check the current git head for changes in any requirements file (I think this is the nicest way, because I use this on a g

[2021-04-15 12:02] fiftin commented on #645
@TrayserCassa at your discretion :)

[2021-04-15 17:04] TrayserCassa commented on #645
@fiftin
Pr is open, I cant link it, so i will mark you here :)

[2021-04-16 12:58] TrayserCassa commented on #659
@botzill
If you using kubernetes maybe you want to use awx, because they updated the standard installation and use minikube as an example. Well it is buggy but more for advanced deployments with k8s clusters. Helm charts are also not complicated if you are not trying to install prometheus for example :smile:

[2021-04-19 09:28] Red967 commented on #660
@TrayserCassa Hi. Can you please help with another problem. In api/tasks/http.go inside GetTaskMiddleware function the value of  taskID always 0. Why it's can happened?

[2021-04-20 06:53] Bkbest opened #662 "Is There a way to save cli arguments in Semaphore?"
Hi team,

I am running the latest Semaphore version, While running the tasks, we provide **CLI Arguments** to the extra CLI Arguments text area as in the image:
![image](https://user-images.githubusercontent.com/16200783/115350273-874b5f80-a1d2-11eb-89ca-093a051ee14c.png)

I would like to know if there is a way to save cli arguments in semaphore itself so that I won't need to copy paste them all t

[2021-04-20 13:48] fiftin commented on #662
Hi @Bkbest

Thank you for the question. You found UI bug 👍 :) Task Template must have textarea for extra args. I will fix it ASAP.

[2021-04-21 12:42] fiftin commented on #662
Fixed in https://github.com/ansible-semaphore/semaphore/releases/tag/v2.6.9.

I will be very grateful if you test the fix :)

![image](https://user-images.githubusercontent.com/914224/115553794-4123f800-a2c7-11eb-8d26-37de51255c0b.png)

[2021-04-21 13:11] Bkbest commented on #662
Hi @fiftin,

Thank you for such a quick response, I will test this for you and get back!!

Aravind

[2021-04-22 01:25] jcollas opened #663 "Any plan to release a docker image with ansible 2.10?"
I'd like to use the ansiblesemaphone/semaphore docker image with ansible 2.10, since i'm using absible-galaxy collections.

[2021-04-22 07:28] fiftin commented on #663
For production image we install ansible via apk. And currently it is v2.8.16.

Do you have any suggestions on how to install a newer version?

@TrayserCassa may be you have ideas? We can install latest version via pip3, right? Or it is bad idea for production?

[2021-04-22 07:58] shunkica commented on #455
+1
As someone coming from AWX I think this would be useful and probably "easy" to implement.

[2021-04-22 08:34] shunkica commented on #580
The private key is also stored plain-text in the database.
Maybe a solution would be to start semaphore with some variable, eg. "secret_key", encrypt the private key using the secret, then decrypt only on-demand in the memory.
This way the private keys are encrypted at rest.

It would also be a good idea do remove display of private keys in the UI.

[2021-04-22 09:39] fiftin commented on #645
Done by @TrayserCassa, merged to `develop` branch https://github.com/ansible-semaphore/semaphore/pull/661

[2021-04-22 09:39] #645 closed, assigned to nobody

[2021-04-22 10:38] fiftin commented on #660
@Red967
Thank you for reporting about the bug. It is UI bug - required field (`project_id`) missed in request body. Fixed in branch `develop`. I will be very grateful if you test it :)

[2021-04-22 10:57] Red967 commented on #660
@fiftin Working as expected.

[2021-04-22 10:57] #660 closed, assigned to fiftin

[2021-04-22 18:47] TrayserCassa commented on #663
we execute all commands in a shell, so I don't see a Problem for Production. But if he want to use the upstream version of Ansible, @jcollas can Build his own image. This is what I would do.

I installed the latest version on my arch with pacman and after googleing I see no difference between pip and system installation. It's up to you @fiftin.

[2021-04-22 18:50] jcollas commented on #663
I'll take a shot at buildin a custom image.  Semaphore looks good, thanks for building it.

[2021-04-22 19:52] fiftin commented on #462
Done

[2021-04-22 19:52] #462 closed

[2021-04-23 07:41] Red967 commented on #639
@fiftin same bug in a develop branch

[2021-04-23 14:24] bpmb82 opened #664 "Ansible prompts not supported?"
It looks like we can't prompt users while running a Playbook, is that correct?

[2021-04-23 14:27] bpmb82 opened #665 "Ansible semaphore and sshpass"
The default docker image doesn't have _sshpass_ installed so it can't handle passing passwords.

I then built my own docker image: https://github.com/bpmb82/ansible-semaphore

This one works fine and I no longer see the message regarding _sshpass_ but it does fail when connecting to certain hosts that require a password. Even when I put the password in the inventory file I cannot connect..

Are ss

[2021-04-23 15:19] fiftin commented on #664
Yes, it is correct.

[2021-04-23 15:23] fiftin commented on #665
You can only specified password as extra argument https://github.com/ansible-semaphore/semaphore/issues/662.

[2021-04-23 15:38] bpmb82 commented on #665
@fiftin Could you show me how? I've tried this:

["-e","ansible_user=myuser ansible_password=mypassword"]

But I still get an error about incorrect username/ password.. Semaphore doesn't support this from the inventory file?

[2021-04-23 16:36] fiftin commented on #665
@bpmb82 It's supports. Semaphore supports all what supports Ansible.

Did you try to use this login/password from command line like: `ansible-playbook ... -e "ansible_user=myuser ansible_password=mypassword"`? Semaphore do similar - it is simply runs ansible-playbook with args.

[2021-04-23 17:43] bpmb82 commented on #665
Yes I did and that works..

[2021-04-24 09:26] fiftin commented on #665
@bpmb82 I will try to reproduce, thank you

[2021-04-25 11:15] nevido opened #666 "about dry-run error and interactive"
i have 2 questions
first is
task dry-run
![image](https://user-images.githubusercontent.com/25813260/115991356-e2ca8280-a602-11eb-81b7-14bbafeec735.png)

but just run is no problem

second

i want to delete my cluster..
so run task
![image](https://user-images.githubusercontent.com/25813260/115991166-46a07b80-a602-11eb-8eb4-964ef136a83b.png)

i run on my terminal
![image](https://user-images.githu

[2021-04-25 11:46] #666 closed, assigned to nobody

[2021-04-26 07:23] bpmb82 commented on #664
Can I turn this into a feature request? Would be awesome if Semaphore could give us an actual prompt for such things..

[2021-04-26 07:25] bpmb82 commented on #665
I will have another look as well, just to be sure, this is what I'm passing:

`["-e","ansible_user=myuser ansible_password=mypassword"]`

[2021-04-26 10:29] flantel opened #667 "Fails loading inventory"
Hi. Trying Sepaphore for the first time.

I have tried both using my existing file inventory (ini format), as well as a static set up as follows:
[code]

I get the following error when I try to run the playbook.

[code]

Is there a specific inventory format I need to use?

[2021-04-26 11:18] fiftin commented on #664
Yes, done

[2021-04-26 11:19] fiftin commented on #667
Thank you, I will try to reproduce it ASAP.

[2021-04-26 11:25] bpmb82 commented on #664
Thanks, this would make Semaphore perfect! 👍

[2021-04-28 12:57] #663 closed, assigned to nobody

[2021-05-10 15:27] odelpech opened #669 "ssh key to ansible host nok"
v2.6.9
A template fail to connect to the host using a ssh key authentification. In the log of the job (running under -vvv) the playbook seems to try to authenticate to the host with a wrong name.
[code]
 The public key name "XXX-cert.pub" may have been used instead as it appear to be the correct file name of the public key in /tmp/semaphore directory

[2021-05-10 22:16] ledufakademy opened #670 "Is it possible to integrate existing Ansible into semaphore ?"
hello,

i mean using Alternatives layout :
https://docs.ansible.com/ansible/latest/user_guide/sample_setup.html#id2

how to integrate this in semaphore ?
we use , vault, ssh custom port, only yaml file, group_vars, host_vars, roles .

Actualy we have one git repository for all , with root : /etc/ansible
and ./playbooks/prod/...yml , ./playbooks/test/...yml.

[2021-05-11 07:15] odelpech commented on #669
It could be a pb of global configuration of ansible in my computer so maybe it's more like a "support request" or "doc. enhancement request" ...

[2021-05-11 20:00] fiftin commented on #670
@ledufakademy Hello,

![image](https://user-images.githubusercontent.com/914224/117876974-6780f600-b2bd-11eb-9123-e80dd0db24d1.png)

[2021-05-12 11:57] ledufakademy commented on #670
Hello fiftin,

it's not working.
please take note that all our SSHD server are running on port 15366.
i click on create, noting happened.
i do not understand why i need sshkey for accessing : /etc/ansible/inventories/test/hosts ?
But anyway , with a good key/pub ... it's not wroking.

i also have an issue with playbook repository : did the solution need ssh access to gitlab server  ? (because our

[2021-05-12 12:19] odelpech commented on #669
It may be related to #547

[2021-05-17 05:34] Bkbest commented on #662
Hi @fiftin,

sorry for the delay, but I have finally tested this.
Both creating the task template from UI as well as from rest endpoint, works like a charm now.

Thanks,
Aravind

[2021-05-17 09:57] fiftin commented on #662
@Bkbest Thank you!

[2021-05-17 09:57] #662 closed, assigned to fiftin

[2021-05-24 07:55] emranbm commented on #309
Thanks a lot. Same problem with **ansible 2.9** docker image on an **ubunut 16.04** host. And it fixed.

[2021-06-03 17:48] johnneman commented on #656
Good day,

Do yoy have any news on the next release? This issue is really bothering us :)

Thank you very much!

Regards,

John

[2021-06-07 13:30] skippybossx opened #672 "Branding allowed/how to"
Is branding even allowed? If yes, how to access web/public html files once semaphore is installed and running?
And if its not so is it possibly to change that? So ppl can edit frontend, add own features etc in their homelabs t ex..

[2021-06-07 18:31] skippybossx commented on #655
i have also tried many methods using many versions of go and nodejs, got just many errors.. i guess the guide is outdated.. which exacly versions of os, nodejs, go shuld we use to get it work? my last error is:
`task@v2.2.0+incompatible/internal/execext/exec.go:44:14: undefined: interp.EnvFromList`

[2021-06-10 11:36] Bkbest commented on #346
Hi team,

Our organization has LDAPS. Does Semaphore support this protocol?

Thanks,
Aravind

[2021-06-10 12:47] Bkbest opened #673 "Not able to get Email alerts"
Hi team,

I am running latest semaphore version as of today: 2.6.9

I have configured email alerts in:
1. config.json
2. enabled alerts in project settings in semaphore UI.

The mail host I am using is valid. (I have tested the mail host from a small shell script to send a sample email)

Can you let me know what I am missing here?

Thanks,
Aravind

[2021-06-23 07:24] code86m opened #674 "Request: Installation with httpd 2.4 reverse proxy (https)"
Hi all can i ask a documentation if someone can to place semaphore behind httpd (v2.4) as a reverse proxy on https (443).

I try again and again with conversion from some instruction in this project for nginx but i can't make it work all.

My configuration (for example purpose only)

Oracle Linux 8
Semaphore 2.6.9 installed.
httpd 2.4.37 (try to https configuration)

If someone can help me i will

[2021-06-24 12:20] fiftin commented on #672
I did not understand the essence of the question. This this feature request or what?
You can add branding by changing UI and compiling Semaphore from source code.

[2021-06-24 12:33] fiftin commented on #346
It is support LDAP, but not sure about LDAPS. I will investigate this.

[2021-06-24 12:34] fiftin commented on #673
@Bkbest I will check it, thank you.

[2021-06-24 13:12] Bkbest commented on #673
Hi @fiftin, I am getting notifications. Are the notifications only on failure?

[2021-06-24 13:13] Bkbest commented on #346
Thanks @fiftin

[2021-06-24 13:18] fiftin commented on #673
Yes, it is. But I agree, success results require notifications too.

[2021-06-24 13:20] Bkbest commented on #673
yeah, also @fiftin , I am receiving email alerts like this:
![image](https://user-images.githubusercontent.com/16200783/123269886-0768ab00-d51d-11eb-88ba-e61a009947be.png)
any Idea what I should do?
we use outlook.

[2021-06-24 13:25] fiftin commented on #673
You can see task log for details.

or did I misunderstand your question?

[2021-06-24 13:37] Bkbest commented on #673
That is how I received the email, there was no clickable link in the email to see the details.
![image](https://user-images.githubusercontent.com/16200783/123272295-413ab100-d51f-11eb-95dd-d4c0fef336e4.png)

Is there a way I can redirect from email to semaphore?

[2021-06-24 13:57] fiftin commented on #673
Looks like it is a bug. Link must have full URL, it contains only path.

[2021-06-25 08:45] Vladozoff opened #675 "Failed to connect to the host via ssh"
I run docker container ansiblesemaphore/semaphore.  When I run playbooks the following error is thrown
 UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh: Host key verification failed.", "unreachanble":true}

[2021-06-25 09:15] fiftin commented on #675
Add `host_key_checking = False` to Ansible config file.

[2021-06-25 09:53] Vladozoff commented on #675
@fiftin , How can I access the config in a docker container? i start the container in the following way: sudo docker run --link mysql -e SEMAPHORE_DB_HOST=mysql -p 3000:3000 ansiblesemaphore/semaphore

[2021-06-25 10:41] fiftin commented on #675
You can try to use Ansible environment variable `ANSIBLE_HOST_KEY_CHECKING`:

[code]

[2021-07-05 01:36] scomcd opened #677 "Upgrade Error 2.7.0"
Hi,
I am running Ansible-Semaphore 2.6.9 on Oracle Linux 8.4.

After installing the semaphore binary from the rpm 'semaphore_2.7.0_linux_amd64.rpm',
then attempting to upgrade it to Semaphore 2.7.0 I receive the following error.

# /usr/bin/semaphore -config /etc/semaphore/config.json -upgrade
Using config file: /etc/semaphore/config.json
current release is vv2.7.0
panic: cannot find binary for yo

[2021-07-05 12:29] fiftin commented on #677
Hi @scomcd,

You don't need to run `-upgrade` after upgrading via rpm.

You can check current version of Semaphore by command:

[code]

Option `-update` is outdated and will be removed. Do you have any problem with running v 2.7.0?

[2021-07-06 04:45] scomcd commented on #677
Hi @fiftin,

Thank you for clarifying the upgrade process.
No problems encountered so far since updating to v 2.7.0.

[2021-07-06 04:45] #677 closed, assigned to nobody

[2021-07-07 06:30] Bkbest commented on #656
Hi team,

A button to kill a running task will be really helpful. Is this planned?

Thanks,
Aravind

[2021-07-08 06:17] keepcleargas opened #678 "after upgrade v2.7.0 , the project Dashboard loading failed"
when i upgrade form v2.6.9 to v2.7.0
i got the error:
<img width="1402" alt="图片" src="https://user-images.githubusercontent.com/1215177/124871633-d8f7cf00-dff6-11eb-8292-a0aa5841a407.png">
And my project Dashboard is loading failed.
<img width="1587" alt="图片" src="https://user-images.githubusercontent.com/1215177/124871743-fb89e800-dff6-11eb-9f9d-c2d6f6710dc6.png">

api `http://192.168.31.175:8000

[2021-07-08 06:42] keepcleargas commented on #678
i just execute sql
[code]
issue fixed

[2021-07-08 07:16] fiftin commented on #678
Hm, it looks like a bug. Thank you, I will check.

[2021-07-09 05:31] scomcd opened #679 "New Installation 2.7.0 Mysql DB error Invalid DSN"
Hi,

When performing a fresh installation of ansible-semaphore 2.7.0 on a new host running Oracle Linux 8.4, Mariadb,
I encountered the following error during the intial semaphore-setup process.

 Running: mkdir -p /etc/semaphore..
 Configuration written to /etc/semaphore/config.json..
 Pinging db..
WARN[0078] invalid DSN: missing the slash separating the database name

 Cannot connect to database

[2021-07-10 15:19] trubacca commented on #675
This behavior makes perfect sense in retrospect, but jeezy petes it took most of a morning to figure out what was going on here, specifically when using the docker image where the known hosts wasn't populated.

This setting can also be applied using ansible.cfg, but my preference is to include it in the inventory as a host var, which might be a preferable solution when managing multiple environmen

[2021-07-12 10:42] fiftin commented on #675
@trubacca Yes, thank you!

[2021-07-13 08:00] feloxx opened #680 "Handle when Playbook Repositories contains gitmodules"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When I tested it in version 2.7.0

I found that when my project contains `gitmodules`, I can't get the code properly.

**Describe the feature you'd like:**

`Cloning repository` or `Updating repository` at the same time update `gitmodules`.

[2021-07-15 21:47] kolbyjack opened #681 "Installation fails with foreign key constraint error"
I'm trying to set up an semaphore docker stack using the docker-compose file from https://github.com/ansible-semaphore/semaphore/issues/148#issuecomment-801076001, but when I run docker-compose up, the container fails with

[code]

[2021-07-16 13:35] kleytonn opened #682 "Ansible Galaxy Collections in Semaphore"
Hi,

I'm trying to use Ansible Galaxy Collections with Semaphore 2.7.0 but it only read requirements.yml for ansible roles. It is possible to download and install  Ansible Galaxy collections on Task Template running?

Thanks

[2021-07-16 15:33] kolbyjack commented on #681
After updating my stack to use `mysql:5.6` instead of `mariadb:10`, it started working.

[2021-07-19 17:49] RockSlice commented on #679
I am also having this issue.  Any idea how to get past this?

[2021-07-19 21:50] scomcd commented on #679
Hi @RockSlice

As a work-around, we created the 'semaphore' db in MariaDB manually via the mysql command line.
eg:
$ mysql -u root -p
MariaDB [(none)]> CREATE DATABASE semaphore;

Then re-ran the semaphore-setup script from the OS command line as per normal.

[2021-07-24 00:41] brimdor opened #683 "2 Factor Authentication"
It currently uses basic auth with its own user management. What about incorporating 2 factor authentication? Building out users and allowing access via their enterprise authentication?

[2021-07-27 18:18] claudio-azevedo opened #684 "Cant login with LDAP"
Hi Guys. I really liked the tool, but I was unable to configure it for login with my Active Directoy account (Microsoft AD). I'm configuring something wrong?

The error:

My LDAP configuration:

In the database (mariadb) I see that only the adm local user exists.
Semaphore should create the user in DB after the authorized log message?

[2021-07-27 19:35] kupe-dono opened #685 "Can't authenticate with openldap"
Hi there ! :)

I tried with a lot of difficulties to configure authentication with openldap.
You can find below my json config file anonymized :

`
{
        "mysql": {
                "host": "127.0.0.1:3306",
                "user": "semaphore",
                "pass": "semaphore",
                "name": "semaphore"
        },
        "bolt": {
                "host": "",
                "user"

[2021-07-28 09:30] kupe-dono opened #686 "Question about Environment module"
Hello!

I just have few questions about the environment module in ansible-semaphore. I don't understand the purpose of this module and how to use it and I found very little information about it on the web or in your wiki documentation.

My questions are as follows:
- Is the module optional? (can I just put the brackets {} and let them empty?)
- Is it possible to provide few use cases with this mod

[2021-08-03 12:26] DLMSweet commented on #684
I ran into the same problem. It looks like the issue is here:
https://github.com/ansible-semaphore/semaphore/blob/19463ddb4f8ed0420823e62eaef244eed277399d/api/login.go#L131
in my testing that statement never evaluated to true:
`Error is wrong:  sql: no rows in result set != no rows in result set
`
It looks like the errors don't match up for some reason.
I don't know enough about Go to fix it  thou

[2021-08-03 15:05] graysonwalker99 commented on #684
In a previous closed issue from a few years ago, I saw someone had successfully set up ldap with the config below.  I'm still trying to get mine to work, but maybe this will help you if it's a config related issue.

"ldap_enable": true,
"ldap_binddn": "uid=binduser,cn=users,cn=accounts,dc=mydomain,dc=it",
"ldap_bindpassword": "supersecurepassword",
"ldap_server": "server.mydomain.it:389",
"ldap_ne

[2021-08-03 18:06] DLMSweet commented on #684
It is not a config issue. If I change the code so that statement evaluates to True, it creates the LDAP user and logs in successfully.

[2021-08-04 13:48] cskutan commented on #565
Hi guys, I've tried to upgrade from semaphore (v2.5.1) to the latest stable version (v2.7.0).
I've downloaded the binary semaphore_2.7.0_linux_amd64.deb and executed the following:

`dpkg -i semaphore_2.7.0_linux_amd64.deb`
(Reading database ... 169789 files and directories currently installed.)
Preparing to unpack semaphore_2.7.0_linux_amd64.deb ...
Unpacking semaphore (2.7.0) over (2.5.1) ...
Se

[2021-08-04 23:57] gaia opened #687 "Passing Passphrase to Server Login SSH Key"
Running 2.7.0 on Ubuntu 20.04, Ansible 2.9.6

In https://github.com/ansible-semaphore/semaphore/issues/85#issuecomment-219842553 it states that one can use a password protected SSH key for logging in to the targets, but I can't find information on the name of the variable to pass containing the SSH key passphrase.

I went as far as logging in as the `semaphore` user (semaphore runs under systemd a

[2021-08-05 04:31] gaia commented on #580
Given the current way Semaphore handles private keys, it seems that the only way to be reasonably secure is to use a very high entropy passphrase for the SSH private key. But I have not figured out [how to pass the passphrase to Semaphore](https://github.com/ansible-semaphore/semaphore/issues/687).

[2021-08-05 04:40] pedroelbanquero commented on #580
deprecate RSA

[2021-08-05 04:50] gaia commented on #580
RSA? all keys we use are ed25519

[2021-08-05 05:00] pedroelbanquero commented on #580
nice haha

On Wed, Aug 4, 2021 at 11:50 PM gaia ***@***.***> wrote:

[2021-08-11 14:26] fiftin commented on #681
Thank you. I think it is a bug. I will try reproduce it.

[2021-08-11 14:34] fiftin commented on #565
Hi @cskutan,

You say about error "cannot find binary for your system", but how `semaphore -version` is work?

Need more details about issue. Thank you

[2021-08-11 14:39] fiftin commented on #686
Hi @kupe-dono,

1) Yes, it can be `{}`
2) You are right, I will add. Environment is passed to `ansible-playbook` via `--extra-vars` argument.

[2021-08-11 14:41] fiftin commented on #684
@DLMSweet could you please create PR?

[2021-08-11 14:52] fiftin commented on #684
@DLMSweet I fould issue source, thank you very mach!

[2021-08-11 14:55] fiftin commented on #684
@claudio-azevedo, @DLMSweet sorry for delay, I testing PRs, after that I will create new release.

[2021-08-11 16:40] kupe-dono commented on #686
Hi @fiftin,
Thank you for your help! Have a nice day :)

[2021-08-11 17:42] fiftin commented on #685
Hi @kupe-dono, please try new release https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.1

[2021-08-11 17:43] fiftin commented on #684
Hi @claudio-azevedo, @graysonwalker99, @DLMSweet  please try new release https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.1

[2021-08-11 17:45] fiftin commented on #683
Hi @brimdor, may be LDAP can help?

[2021-08-11 17:49] fiftin commented on #682
Hi @kleytonn,
Next command run before each Task Template running:
`ansible-galaxy install -r roles/requirements.yml --force`

You can put all you need to `roles/requirements.yml`, what the problem?

[2021-08-11 17:55] kupe-dono commented on #685
Hi (again) @fiftin !

Great that works perfectly :+1:

level=info msg="User test user with email test@test.local authorized via LDAP correctly" <-- made my day ! :)

Thank you !

[2021-08-11 17:57] fiftin commented on #679
Yes, it is a bug, thank you!

[2021-08-11 19:51] claudio-azevedo commented on #684
@fiftin now it works. Thanks a lot! I have tested the membership of the group sucessfully.

A little bug that I found now that on the first login (new user), the log shows .... "authorized via LDAP correctly", the user is created on the database, but semaphore thows a page of 401 to this new user, with the following message:

"Error"
"Request failed with status code 401"

There is a button to call

[2021-08-12 08:48] kaiszy opened #688 "Feature Request: Dynamic templates"
Hi :)

It would be very helpfull if semaphore can handle dynamic templates with variable inputs.

Very simple example Playbook:

[code]

When i start the template sempahore asks me for:

[code]

And when "run" it the above inptfield will be passed as environment Variables.

The template than must be configurable to add "Inputfields" that the user have to fill before run.

What do you think about i

[2021-08-12 08:50] kaiszy opened #689 "Feature Request: Add Documentation to a Template"
Hi,

for my collegues i put some ansible Jobs into semphore (they dont know ansible :). Now it would be very nice if i can add some documentation to a template for them.

Best regards,
  Kai.

[2021-08-12 10:27] fiftin commented on #689
How do you see this feature?

[2021-08-12 10:28] fiftin commented on #688
I understood what you want. Thank you.

[2021-08-12 13:13] kaiszy opened #690 "Bug: Wrong ssh key"
Hi,

i have configured two ssh-keys. There are several templates using ssh-key 1 and one template using ssh-key 2. If i execute the template with ssh-key 2 it will use ssh-key 1. I use bolt-db.

When i look inside the db there is the correct privat/public key.

ls /opt/Semaphore/Playbooks/ after running the second job with ssh-key 2
[code]
Content of access_key_1 ist the ssh-key 1

extra-parameter

[2021-08-12 13:39] DLMSweet commented on #684
@fiftin
That fixes it for me as well. I'm getting the same thing that @claudio-azevedo is seeing, where the first login fails but the second one works. Annoying, but not a deal breaker.

[2021-08-13 09:14] atroxes commented on #681
Experienced the same error when trying to do a regular installation on Rocky Linux 8.4.

Problem appeared when using "MariaDB-server-10.6.4-1.el8.x86_64" from the official MariaDB CentOS repository.

Seeing @kolbyjack had succeeded using MySQL 5.6 I figured it might be a new feature/change/deprecation in MariaDB and I tried going back to "mariadb-server-3:10.3.28-1.module+el8.4.0+427+adf35707.x86_

[2021-08-13 19:07] neilcavendish opened #692 "Collections"
Hey Guys,

New to ansible and semaphore. I have everything working except I have installed some collections, when running from the command line of ansible everything works. However when running in Semaphore it errors saying it cant find the collection.

Listing playbook hosts failed: exit status 4 ERROR! couldn't resolve module/action 'ansible.posix.firewalld'. This often indicates a misspelling,

[2021-08-13 19:23] neilcavendish commented on #692
I also added the following into my requirements.yaml file and this still does not work.

[code]

[2021-08-13 19:27] ahmedsajid commented on #692
Do you see the collection under home directory?
[code]

Also is your Ansible host vs Semaphone host 2 different machines and what Ansible versions are being used on both machines?

[2021-08-13 19:31] ahmedsajid commented on #692
Also not sure if this makes a difference but this is how I have the requirements.yml defined.
[code]

[2021-08-13 19:32] neilcavendish commented on #692
Yes the collection is there.

No they are running on the same machine.

Ansible version is:

ansible 2.9.24
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3.6/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 3.6.8 (d

[2021-08-13 19:36] neilcavendish commented on #692
I fixed it, I installed the collection to /usr/share/ansible/plugins/collections and that works

[2021-08-13 19:38] ahmedsajid commented on #692
I was gonna suggest to check under Ansible user's home directory too. But installing under a global location would also work.

[2021-08-13 19:43] fiftin commented on #692
@neilcavendish do you have this collection in `roles/requirements.yaml`?

[2021-08-17 14:39] kupe-dono opened #693 "Feature request: Local Tar (system directory access) playbook without Git"
(Edit) Hi again :)

Would be great if we could configure a local directory for Playbooks.
Git presents some constraints, the problems concerning the management of SSH keys do not help either.

I don't know if my request is dumb but It would be amazing if we could just map a local system directory where Ansible is already installed without using Git.

Thanks again for semaphore :) !

[2021-08-17 15:28] eherce opened #694 "Ask inventory on run"
Hi all, I've been testing semaphore for a few hours and there's a feature I miss in comparison with AWX/Tower.

In AWX/Tower when you create a template there's an option to specify the inventory file on run stage. This provides high flexibility, as I may have to run the same template over different inventory files without creating the same template over and over.

I'd love this feature to be prese

[2021-08-17 18:54] cskwrd commented on #690
I have just encountered this issue myself.

To me it seems that the issue is (this)[https://github.com/ansible-semaphore/semaphore/blob/8151a5f49db4e62d1e79f4ecb995bb469d87015b/api/tasks/runner.go#L437-L439] `if` statement.

Can a maintainer provide insight here? Should this be using the key associated to the task template or should it be using the key associated to the inventory definition?

[2021-08-19 07:21] fiftin commented on #635
added option -useradd

[2021-08-19 07:21] #635 closed, assigned to nobody

[2021-08-19 07:24] fiftin commented on #565
Option -upgrade removed.
We added snap https://snapcraft.io/semaphore and if you want this feature you should install semaphore via snap.

[2021-08-19 07:24] #565 closed, assigned to fiftin

[2021-08-19 07:25] fiftin commented on #571
Hi, please check release 2.7.2

[2021-08-19 15:47] eherce commented on #694
Sorry to post another request in the same issue.

Would it be possible for the UI to provide a more interactive way of building the inventory?
Instead of only providing the code of the inventory (using JSON or YAML if you finally add this option) it'd be fantastic if you could create an inventory, and then inside the inventory you could add a host or a group.
In every level (whole inventory, host

[2021-08-20 06:57] kupe-dono opened #695 "Feature request: Possibility of SSH password Keys and secure files management"
Hi Team!

I've seen a lot of requests and questions regarding SSH key and password management.
On most forums, it is recommended to do some system side manipulation but it complicates a number of things in terms of operation.
It would be much easier and more interesting to be able to manage files and their passwords directly from ansible-semaphore such as SSH Keys or Vault files.

Thanks for your

[2021-08-20 11:31] arozhentsev opened #696 "Semaphore Failed to authenticate than use network_cli module"
Hello!
Semaphore failed to authenticate than use network_cli module in playbook, but ansible run playbook whith no errors.

**Bad output from semaphore**:
`2:47:34 PM
Task 103 added to queue
2:47:36 PM
Preparing: 103
2:47:36 PM
access key rozhentsev installed
2:47:36 PM
Prepare task with template: cisco ip
2:47:36 PM
Updating repository git@172.16.175.71:administrator/cisco-set-ip-address.git
2:47

[2021-08-20 16:20] brimdor commented on #683
I'm sure LDAP works fine in general, however, I use SAML SSO in my environment that I'm trying to implement this.

[2021-08-23 16:54] rmansillasoto opened #697 "Curl translation to requests..."
Hello, I'm having some problem when trying to translate a Curl command that works perfectly to python requests:

[code]

The issue  is mainly with the Authorization  header.....it always return a 400 error .

The only way I'm getting a 401 with a valid Token is like this:

`headers = { 'Content-Type': 'application/json',
                'Accept': 'application/json',
                'Authorization'

[2021-08-24 06:54] fiftin commented on #697
Hm, what does Semaphore have to do with it?

[2021-08-24 08:11] rmansillasoto commented on #697
Hello, nothing to do with, I know, just looking for a clue as maybe someone here has deal with it before. It's the last step to integrate it with our ci/cd.

Regards.

[2021-08-24 18:20] fiftin commented on #278
Implemented in v2.7.4

https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.4

[2021-08-24 18:20] #278 closed

[2021-08-24 21:33] tiny-pangolin opened #698 "Imporve inventory text box"
editing inventories is currently very difficult using the built in editor. it would be nice if the pop up window was larger and/or resizable. It would also be nice if the text box would use something like [codemirror](https://codemirror.net),[codemirror-vue](https://github.surmon.me/vue-codemirror/), or [tiptap](https://www.tiptap.dev) to get syntax highlighting or a better experience.

also this

[2021-08-25 16:15] fiftin commented on #392
Done in v2.7.5

https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.5

[2021-08-25 16:15] #392 closed

[2021-08-25 16:18] fiftin commented on #145
Implemented in https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.5

[2021-08-25 16:18] #145 closed

[2021-08-25 16:36] fiftin commented on #679
Bug fixed in v2.7.3+

[2021-08-25 16:36] #679 closed, assigned to fiftin

[2021-08-25 16:37] #685 closed, assigned to fiftin

[2021-08-25 17:01] fiftin commented on #656
Please try v2.7.5

https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.5

[2021-08-25 17:01] #656 closed, assigned to nobody

[2021-08-25 17:18] Bkbest commented on #656
Hey @fiftin , thank you very much. I will try it definitely tomorrow.

Thanks,
Aravind

[2021-08-26 04:49] Bkbest commented on #656
Hi, I have just upgraded the server from v2.6.8 to v2.7.5, I see that Dashboard is not loading:
![image](https://user-images.githubusercontent.com/16200783/130903383-52077115-30f3-479c-8cae-bd111950f5e7.png)

However, I am able to run tasks from task templates and able to stop them too.

Let me know how we can debug this @fiftin

Thanks,
Aravind

[2021-08-26 05:07] Bkbest commented on #656
Ran this command to fix it: **update task set project_id = 0 where project_id is null**

However, one observation, before upgrade I had couple of tasks which were running forever. After upgrade unable to stop them with stop Button. Stop button works for any new task that I trigger.

Thanks,
Aravind

[2021-08-26 07:07] fiftin commented on #656
Hi @Bkbest
Thank you very mach, looks like it is migration issue.

[2021-08-26 07:12] fiftin commented on #656
With stop button you can stop only active tasks. Old tasks not active, it only have `running` state in database.

I will add check of running tasks when app started.

[2021-08-27 03:10] POPSuL opened #699 "Add possibility to cancel popups via ESC button"
All of the popup dialogs have persistent vue prop, which prevent close popup by click in outside of dialog and prevent dialog canceling via ESC button.
That is very inconvenient in terms of UX.

[2021-08-27 06:03] fiftin commented on #699
@POPSuL Merged, thank you

[2021-08-27 06:03] #699 closed, assigned to nobody

[2021-08-27 11:32] fiftin commented on #513
Done in v2.7.6

[2021-08-27 11:34] fiftin commented on #697
Not sure it is good place for a question by Python. Semaphore written on Go :)

[2021-08-27 11:34] #697 closed, assigned to nobody

[2021-08-27 11:38] fiftin commented on #696
Can it be problem with python version? What python version do you use?

[2021-08-27 13:49] crackerjam opened #701 "Docker Documentation"
Hi,

I'm trying to run semaphore in a kubernetes environment, but there doesn't seem to be any documentation around what environment variables or config files need to look like to in order to configure the database connection and any other relevant parameters. Could you please update the documentation with better information?

Just having example kubernetes yaml for how to get Semaphore up and run

[2021-08-28 06:13] arozhentsev commented on #696
Hello, fiftin and thank you for reply!
I do not think that the problem is in the python version, since both logs are from the same machine.
I am planning on using a semaphore to configure cisco ios. The problem is that I do not use ssh keys on ios devices. But you cannot create an inventory in a semaphore without an ssh key. So when the semaphore adds arguments to ansible-playbook, it adds --priva

[2021-08-29 19:24] eglipeter opened #702 "Feature request: Callbacks"
I love to use Ansible to also manage my desktops. However, they are not always online. Therefore, it would be great if the client could request the run of job against itself.

Something like https://docs.ansible.com/ansible-tower/latest/html/userguide/job_templates.html#ug-provisioning-callbacks

My usecase would be that the client requests e.g. software updates on shutdown.

[2021-08-29 19:29] eglipeter commented on #647
I would like to propose a slight extension of the cron functionality. It would be awesome if one could also define job runs which are kind of "anacron" runs. I am happy to use Ansible to manage my desktop clients. However, they are not always online. It would be great, if one could setup an Ansible job to run e.g. weekly on every client. Semaphore then looks whether the client is online and runs t

[2021-08-30 05:48] POPSuL opened #703 "BUG: web_host config directive is not working properly"
API and main page are working properly, but the compiled `index.html` contains hardcoded js/css url from the root, e.g.:
[code]
And
[code]
Doesn't override real base path and shouldn't.

[2021-08-30 06:30] #703 closed, assigned to nobody

[2021-08-30 07:58] fiftin commented on #690
Yes, it is a bug.

I think to remove ssh key from template.

[2021-08-30 16:20] fiftin commented on #696
I added Access Key type None. You can use it for this purpose. Available from v2.7.8.

https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.8

[2021-08-30 16:26] fiftin commented on #690
Removed ssh key from template.

https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.8

[2021-08-30 16:26] #690 closed, assigned to fiftin

[2021-08-30 16:27] fiftin commented on #684
@claudio-azevedo, @DLMSweet fixed this bug in v.2.8.

https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.8

[2021-08-30 16:27] #682 closed, assigned to nobody

[2021-08-30 16:33] fiftin commented on #667
Sorry for delay with answer. I can't reproduce the issue.

[2021-08-30 17:28] fiftin commented on #580
ansible-playbook use private key from file system only.

[2021-08-30 17:31] fiftin commented on #494
Fixed

[2021-08-30 17:31] #494 closed

[2021-08-30 19:56] fiftin commented on #670
It can be configured in hosts file

Do you have inventory on the server and roles in GitLab repo? Currently Semaphore can works only with single repo for task (roles and inventory in same git repo)

Development in progress.

[2021-08-30 21:04] #578 closed, assigned to nobody

[2021-08-30 21:46] POPSuL opened #705 "BUG: redirect after auth doesn't consider web_host directive"
Related to #703.

I wanna place my distribution into sub path of domain, e.g. `https://ops.my.ltd/semaphore`, #704 has fixes Not Found for js/css, but after successfully authorization on `https://ops.my.ltd/semaphore` I have redirected to the root of domain.

PR will soon.

[2021-08-30 23:04] fiftin commented on #678
Fixed by migration.

[2021-08-30 23:04] #678 closed, assigned to fiftin

[2021-08-30 23:05] #705 closed, assigned to nobody

[2021-08-30 23:13] fiftin commented on #580
I added encryption for private key (for database only): https://github.com/ansible-semaphore/semaphore/blob/74436710592122cf06d73489eed223f8706df5d3/db/AccessKey.go#L40

What do you think?

[2021-08-31 05:14] fiftin commented on #642
Hi @ForrestFeng
I fixed issue "too many connections" in v2.7.9

https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.9

[2021-08-31 05:27] #639 closed, assigned to fiftin

[2021-08-31 05:31] fiftin commented on #547
Hi @JontiH,

Problem was with template key, it never used. I removed it.

Inventory Key - used to access to servers.
Repo Key - used for clone git repository.

[2021-08-31 05:31] #547 closed, assigned to fiftin

[2021-08-31 05:41] #637 closed, assigned to nobody

[2021-08-31 05:49] fiftin commented on #108
Done in v2.7.10

[2021-08-31 05:49] #108 closed

[2021-08-31 05:51] #624 closed, assigned to fiftin

[2021-08-31 05:56] #604 closed, assigned to nobody

[2021-08-31 05:58] fiftin commented on #444
Migrated to Vue.js

[2021-08-31 05:58] #444 closed

[2021-08-31 05:59] #430 closed

[2021-08-31 06:00] fiftin commented on #391
Hi @olakunleoladimeji Could you provide more details.

[2021-08-31 06:04] fiftin commented on #580
Summary:

* Added encryption of private key in database
* Added removing private key file after task running
* Removed public key from Access Key

[2021-08-31 06:04] #580 closed, assigned to nobody

[2021-08-31 06:46] #672 closed, assigned to nobody

[2021-08-31 06:48] #643 closed, assigned to fiftin

[2021-08-31 06:48] #447 closed

[2021-08-31 07:36] fiftin commented on #417
I think it should be Copy Project feature or Project Templates.

[2021-08-31 07:58] fiftin commented on #107
I added Access Key with type None. It can be used for HTTPS repos.

[2021-08-31 07:58] #107 closed

[2021-09-01 02:17] insanity54 opened #713 ""No roles/requirements.yml file found" Even though the file exists"
I'm confused by the error, "No roles/requirements.yml file found. Skip galaxy install process."

[code]
The git pull result `7:13:23 PM roles/requirements.yml | 2 +-` confirms that the file exists, yet semaphore doesn't seem to be able to find that file.

I'm running semaphore v2.7.11 installed via snap

[2021-09-01 10:05] nbkgroup commented on #681
Same error on Ubuntu 20.04.3 LTS using 10.6.4+maria~focal.

[code]

[2021-09-01 15:33] insanity54 opened #714 "ModuleNotFoundError: No module named 'ansible'"
I had some difficulties with semaphore v2.7.11 installed via snap (#713), so now I'm running I'm running semaphore v2.7.11 installed manually from https://github.com/ansible-semaphore/semaphore/releases

Before installing semaphore, I installed ansible using `python -m pip install --user ansible`. I can run ansible, ansible-playbook, ansible-inventory from my CLI. However, it looks like semaphore'

[2021-09-01 15:46] fiftin commented on #713
I working on this bug, thank you.

[2021-09-01 16:09] fiftin commented on #714
I had same problem with --user too. I don't know why.

Can you try venv instead of --user?

[code]

[2021-09-01 16:13] fiftin commented on #713
I found where the bug. Will be fixed asap.

[2021-09-01 21:08] jbkc85 opened #715 "[QUESTION] GitHub/HTTPS Repositories"
Hi there, I JUST brushed up on this project as I have been looking at Ansible AWX for a while and am completely turned away by their community/decision to run on Kubernetes.  I stumbled upon Semaphore and as an avid Go supporter (not saying im any good at it), decided to get my toes wet!

With that being said, I am also a fan of distributing my code vs having it 'updated' on the fly.  I was curiou

[2021-09-01 21:32] fiftin commented on #715
I have nothing against a static repository. Will be grateful for PR.

[2021-09-01 21:36] fiftin commented on #698
Done, codemirror-vue used.

[2021-09-01 21:36] #698 closed, assigned to fiftin

[2021-09-01 21:37] fiftin commented on #693
Related to https://github.com/ansible-semaphore/semaphore/issues/715

[2021-09-01 21:38] #693 closed, assigned to nobody

[2021-09-01 21:38] #684 closed, assigned to nobody

[2021-09-01 21:46] fiftin commented on #689
Done in v2.7.12.

https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.12

![image](https://user-images.githubusercontent.com/914224/131749583-54fd0aa4-7d35-4bca-b449-3203d02b67ab.png)

[2021-09-01 21:46] #689 closed, assigned to nobody

[2021-09-01 21:50] fiftin commented on #695
Added type of Access Key "Login with password".

It can be used for Vault password file, for connecting to servers and for "become user".

https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.12

[2021-09-01 22:49] insanity54 commented on #714
Ah yep, that did the trick. I didn't even think to use a virtualenv for semaphore.

Many thanks

[2021-09-01 22:49] #714 closed, assigned to nobody

[2021-09-02 12:53] #696 closed, assigned to nobody

[2021-09-02 19:16] fiftin commented on #670
The SSH key required for access to servers described in hosts.

[2021-09-02 19:16] #670 closed, assigned to nobody

[2021-09-02 19:19] #675 closed, assigned to nobody

[2021-09-02 19:22] fiftin commented on #701
I have no experience with Kubernetes. Someone please help who is running Semaphore in kubernetes.

[2021-09-06 02:04] scomcd opened #717 "Text in Template Description Field not Saved rel_2.7.12"
Running ansible-semaphore 2.7.12 (upgraded from 2.7.0 on OS, Oracle Linux 8.x)
In the new Description field for the Task Templates, we have tried adding text then clicking 'save' but when we re-open
 the Template for editing, the description text we added is missing.

[2021-09-06 02:05] saul-jb opened #718 "Listing playbook hosts failed"
I have installed and setup Semaphore on Debian 10 using Snap as per the instructions but whenever I try and run a playbook it fails with the following error:
[code]
The file `/root/snap/semaphore/common/ansible_env/bin/ansible-playbook` does indeed exist and is executable.

Any ideas of what the problem could be?

[2021-09-06 04:08] saul-jb commented on #718
I did a complete reinstall of the server, now I am getting:
[code]
So I installed Ansible, however I still get the same problem but note:
[code]

[2021-09-06 11:08] fiftin commented on #718
Yes, it is known bug, will be fixed soon (it already fixed in source code, but not released).

reinstalled via snap?
Semaphore installed via snap works in restricted mode and uses internal Ansible.

[2021-09-06 11:10] fiftin commented on #718
Hm, I will try to reproduce.

[2021-09-06 11:11] fiftin commented on #718
Semaphore installed via snap works in restricted mode and uses internal Ansible (/root/snap/semaphore/common/ansible_env/bin/ansible-playbook).

[2021-09-06 14:30] fiftin opened #719 "Use go-git with go ssh agent"
Currently external git used.

It is ok, but it creates problem for using private keys with passphrase.

It will be good to use go ssh agent and go-git to baypass this problem.

[2021-09-06 17:11] insanity54 opened #720 ""JSON is not valid" when using curl to trigger task"
I would like to run a task via cron. I am using the wiki guide at https://github.com/ansible-semaphore/semaphore/wiki/API-&-automation#to-run-a-task-template-you-need-its-id

Everything goes swimmingly until I run the following command.

[code]

I see that the task appears in semaphore, but I get an error that the JSON is not valid.

[code]

`Listing playbook hosts failed: invalid character 'u' in

[2021-09-06 18:27] fiftin commented on #720
I think problem in `"environment": "future"`. "environment" must be valid JSON. Use this field if you want to override some fields from Environment assiciated with the task template.

[2021-09-06 18:35] fiftin commented on #713
Hi @insanity54

May you update semaphore via snap command:

[code]
?

I fixed the bug and I will be very grateful if you test new version.

[2021-09-06 18:39] #692 closed, assigned to nobody

[2021-09-06 18:43] fiftin commented on #647
@eglipeter , @dR3b , @TrayserCassa , @sirup , @kfiresmith , @vonpelz ,

I implemented template scheduling, will be very greatful if you test it: https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.13

or via snap: `sudo snap install semaphore --candidate`.

Thank you.

[2021-09-07 04:51] insanity54 commented on #720
Ah! That explains the problem. So it's an override. Ok that explains why I still had access to my ENV variables when I just left `environment` as an empty string like in the example.

[2021-09-07 04:51] #720 closed, assigned to nobody

[2021-09-07 05:21] insanity54 commented on #713
@fiftin I updated to semaphore v2.7.13 installed via snap.

I don't see the "No roles/requirements.yml" error anymore. I see a new error.

`10:17:19 PM Running galaxy failed: fork/exec /root/snap/semaphore/common/ansible_env/bin/ansible-galaxy: no such file or directory`

I checked. The file exists.

[code]

Seems similar to #718

[2021-09-07 06:36] insanity54 commented on #647
Cron feature in v2.7.13 is a wonderful surprise! Now I won't need to use crontab & curl.

I think I found an issue. The cron spec seems to be required in the task creation modal. I get an error when I leave it blank. `Cron: empty spec string`

Intermittently, I'm able to get a task template to be created even though I was still seeing the cron error. The task fired on schedule, which is super nice

[2021-09-07 08:18] MrChausson opened #721 "Cannot create a template without setting cron spec"
*In Pre-release v2.7.13*
There is no way to create a task template without setting up cron. It would be great if it could disable cron when the field is empty.

![image](https://user-images.githubusercontent.com/28267018/132309328-1796fb46-0d66-4fe0-80f8-e5a10fdcc3e4.png)

By the way good work on that, I was waiting for this feature for a long time  :)

[2021-09-07 08:27] MrChausson commented on #721
I just re-tested it and in fact, I can create the template.
But only if I enter something in the cron field first and then I remove everything from it.

[2021-09-07 08:56] fiftin commented on #721
Fixed in v2.7.14

https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.14

[2021-09-07 08:57] fiftin commented on #717
Hi @scomcd ,

I can't reproduce the bug. Please try v2.7.14

Fixed in v2.7.14

https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.14

[2021-09-07 08:59] fiftin commented on #647
@insanity54 ,

Fixed in v2.7.14

https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.14

[2021-09-07 09:00] fiftin commented on #647
Info by cron format: https://pkg.go.dev/github.com/robfig/cron

[2021-09-07 09:01] fiftin commented on #713
very unpleasant bug, I can't reproduce in any way...

[2021-09-07 09:40] fiftin opened #723 "Multi-database Dredd tests"
Currently Dredd can test only MySQL database. it is not good. It should be used for testing Postgres and BoltDB.

[2021-09-07 09:57] #721 closed, assigned to fiftin

[2021-09-07 10:00] MrChausson opened #724 "Cannot remove cron from an already created task template"
*Tested in v2.7.14*
It is not possible to remove cron from a template as it gets an error with status code 500 when clicking on save.

![image](https://user-images.githubusercontent.com/28267018/132325663-3c0bd9e9-a1f9-4626-bc55-c2b3da9e43b4.png)

[2021-09-07 11:00] fiftin commented on #724
Will spend some time for tests :)

[2021-09-07 12:42] MrChausson opened #725 "Cannot remove anything which was used in a deleted task template"
*In version v2.7.14 using official mysql docker image*

When I want to remove an inventory, I get this message:
![image](https://user-images.githubusercontent.com/28267018/132345066-262257d0-d8ea-42bb-86a3-717b1f6db9ec.png)

But I was able to figure out what that errors means. In the database, we cannot remove any row that is linked in another row.
The problem is actually that **no template is rem

[2021-09-07 13:44] fiftin opened #726 "Display repository information"
Analyze source code of the repository.  Display requirements.yml info, list of playbooks, inventories, dependencies, etc.

[2021-09-07 15:28] insanity54 commented on #713
I'll try to see if I can get more data. When I switched to the semaphore installed via snap, I noticed that it had old configuration data. I will try to delete the config and fresh install the snap version.

[2021-09-07 16:51] fiftin opened #727 "Add Terraform task template"

[2021-09-07 17:38] fiftin opened #728 "Project chat and task descussions with notifications by Telegram"

[2021-09-07 23:57] insanity54 commented on #713
I reinstalled semaphore on snap using the following commands

[code]
Then I installed `sudo snap install semaphore --candidate`

Then I added a user `sudo semaphore user add --name chris --login chris@grimtech.net --email chris@grimtech.net --password ****`

That command hung, so I restarted semaphore in a different terminal.

`sudo snap restart semaphore`

The user creation command successfully c

[2021-09-08 10:14] MrChausson opened #729 "Environment variable to use postgresql"
It is not possible to use a postgresql database by setting up an environment variable.  Or at least I don't know it. Which makes it unusable in docker.

Is there an env variable for this ?

[2021-09-08 11:38] fiftin commented on #729
No, currenlty you can setup Postgres only in config file.

I agree it should be configurable via environment variables.

[2021-09-08 11:58] Bkbest commented on #647
Thanks for this feature guys!

[2021-09-09 01:04] scomcd commented on #717
Hi @fiftin
I have upgraded our Semaphore system to v2.7.14 but unfortunately for us the problem remains.
The only way I can add text to the description field is directly via a mysql statement in the Database,
then it is displayed in the browser.

If I enable the general log for MariaDB, I can see where the insert occurrs, but it appears to be missing data for
the 'description' field.

[2021-09-09 19:21] fiftin commented on #724
Fixed in https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.15

[2021-09-09 19:21] fiftin commented on #717
Hi @scomcd ,

Fixed in https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.15

[2021-09-09 20:07] fiftin commented on #713
What OS do you use?

[2021-09-09 20:31] fiftin commented on #725
Agree, it is a bug. Task template can't be deleted from database because it is linked with task logs. I sure we should preserve task logs for audit purpose.

But I not sure the best solution. We can set null inventory_id, repository_id, etc of deleted templates.

Or we can use removed flag for environment and inventories.

Or we can set null template_id for tasks.

[2021-09-09 21:15] insanity54 commented on #713
[code]

[2021-09-09 23:04] scomcd commented on #717
Hi @fiftin,

Thanks very much for the quick response. Confirming the issue is fixed in v2.7.15

[2021-09-09 23:04] #717 closed, assigned to fiftin

[2021-09-10 14:28] MrChausson commented on #725
I feel like it's best to not keep too much unused things in the database, as it can end up taking a lot of storage. I'd not keep those logs for audit purposes, as I don't really see why someone would need it after having deleted the template.

But if we absolutely  must keep those logs, I'd suggest doing this:
**Moving those logs in another table let's say backup__logs and then remove the task tem

[2021-09-10 14:31] MrChausson commented on #724
Indeed, great! Closing the issue

[2021-09-10 14:31] #724 closed, assigned to nobody

[2021-09-10 15:18] MrChausson opened #732 "Problem with private ssh key formating"
*Tested in semaphore v2.7.16*

When I don't put a newline at the end of the key. When I start a task I get a message saying key is not valid.

![image](https://user-images.githubusercontent.com/28267018/132876602-cac363c7-27b8-41a8-a91f-68b33e4acfa0.png)

Which make sense as any Linux files should end with a newline.

Is it possible to **automatically add a newline** if the user forgot ? As it mig

[2021-09-10 16:14] fiftin commented on #732
Hm, thank you, will be done.

[2021-09-10 17:43] fiftin commented on #713
Yahoo, bug fixed in stable version (`sudo snap install/refresh semaphore`).

[2021-09-10 18:06] fiftin commented on #718
Please try new version from Snap, I fixed the bug.

[2021-09-10 20:05] andavas commented on #718
I have the same issue, but when I updated the snap version and run the task again, I faced the following error:

[code]

[2021-09-10 21:56] fiftin commented on #718
@andavas Thank you!

I think we will got a lot of same errors, because Semaphore working in strict mode (I sure it is important) and has no access to file system.

I will fix them one by one.

[2021-09-10 22:21] fiftin commented on #725
It is very interesting how this implemented in AWX.

[2021-09-10 22:26] insanity54 commented on #713
Thank you. I'll go ahead and close this issue now.

[2021-09-10 22:26] #713 closed, assigned to fiftin

[2021-09-10 23:12] fiftin commented on #718
@andavas Fixed. Please update semaphore by command:

[code]

[2021-09-10 23:52] andavas commented on #718
It works! Well, kind of... I'm having some connection issues with SSH keys, but I believe this is somehow my fault. This time the task ran (with https key) before Ansible returning the error code 4 (unreachable).

[2021-09-11 09:46] fiftin commented on #718
@andavas thank you for test. Could you provide more details for the error?

[2021-09-11 18:59] fiftin opened #734 "Add CLI command for changing encryption key"
Currently we have configuration option `access_key_encryption` for encrypting secrets in database.

But if user changed this option old secrets become unavailable.

I think we should add CLI command to fix this problem.

After user changed `access_key_encryption` in config.json, next command should be executed:

[code]

or we should add option `old_access_key_encryption` and use command:

[code]

[2021-09-11 20:11] andavas commented on #718
@fiftin
This is the error that I got when I connect via HTTPS:

[code]

----

And this is the error that I got when I connect via SSH:
(I already added the public key to github)

[code]

[2021-09-11 20:50] fiftin commented on #667
Looks like you entered incorrect template or task args.

Validation of the args required. Will be added.

[2021-09-13 02:33] saul-jb commented on #718
@fiftin Thanks for your work in resolving this.
This problem appears to be resolved but Ansible is still outputting some warnings:
[code]

It still appears to work fine but it does output those warnings.

[2021-09-13 05:13] danielband opened #735 "Reverse Proxy Auth"
Hi, would it be possible to authenticate via reverse proxy by using an HTTP Header? I would like to integrate semaphore with Pomerium. Gitea has a [feature](https://github.com/go-gitea/gitea/issues/8561#issuecomment-543180689) like this. I could try to implement it, if you could tell me how to build the app.

[2021-09-13 10:05] fiftin commented on #735
Hi @danielband,

Please try this instruction: https://github.com/ansible-semaphore/semaphore/blob/develop/CONTRIBUTING.md

[2021-09-14 09:57] HuTaeh commented on #681
Same error on Debian 11.0 using 10.5.11-MariaDB
[code]

[2021-09-14 10:33] kupe-dono commented on #695
Thank you ! It works great for SSH authentication with private Key.
But I get an error with vault password in version 2.7.16.
The key store entry is created and selected in the task template. But when I run it, it seems that he can't find it :
"ERROR! Attempting to decrypt but no vault secrets found".

If I re-edit the task template, seems that the vault password field does't keep the configuratio

[2021-09-14 11:59] fiftin commented on #681
Thank you. I will check MariaDB

[2021-09-14 12:45] kaiszy commented on #689
Sorry....back from long holidays :) Great...thanks a lot!

[2021-09-15 17:44] ziptx commented on #681
Troubleshooting detail:

Environment:  NAME="AlmaLinux" / VERSION="8.4 (Electric Cheetah)" / ID="almalinux" / ID\_LIKE="rhel centos fedora" / VERSION\_ID="8.4"

What Works:
semaphore 2.7.16 setup with MariaDB 10.4

Completed a mysqldump of 10.4.21-MariaDB after a fresh setup from semaphore\_2.7.16\_linux\_amd64.rpm.  \[Dump script below\]
Applied the sqldump to a fresh install of 10.6.4-MariaDB ..

[2021-09-15 17:46] ziptx commented on #148
Try specifying a database version _below_ MariaDB 10.6.   There seems to be a breaking bug in 10.6.  See bug #681

[2021-09-15 21:01] sabertail opened #736 "Update task fails when using PostgreSQL database"
I installed semaphore 2.7.11 and configured it to use a PostgreSQL 12 database.  When running a task it always fails with the error  "Failed to update task status".  There is also a panic level log with the message:

    pq: syntax error at or near \"end\"" error="Failed to update task status"

This appears to occur in the UpdateTask() function which runs the query

   update task set status=?, st

[2021-09-16 13:58] ziptx opened #738 "New Template > Vault Password selection is not saving"
Apologies for not knowing git process and reporting an error.   I see this feature in the code of the v2.7.16 release.   The "New Template" in the GUI has the "Vault Password" dropdown.   The GUI is not currently saving the "vault\_pass\_id" into the "project\_\_template" table.   \[Fails on both a creating a new template and updating a template\].   If the correct "id" from the "access\_key" tabl

[2021-09-16 14:55] realmcuser opened #739 "API?"
t's probably just me being stupid, (i'm absolutely no coder), but since version v2.6.9 I have not been able to use the API with curl and  launch a task as per instructions here: https://github.com/ansible-semaphore/semaphore/wiki/API-&-automation

Just tested v2.7.17. "Log in" works, "create new  token" works, "get user tokens again" works, but i'm not just able to launch a task!(?). I know, it's

[2021-09-16 22:28] fiftin commented on #736
Thank you @sabertail !

Will rename column in next release.

[2021-09-16 22:30] fiftin commented on #738
Thank you @ziptx ! Fix will be in v2.7.20.

[2021-09-16 22:38] fiftin commented on #738
https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.20

[2021-09-16 22:38] fiftin commented on #736
https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.20

[2021-09-16 22:38] fiftin commented on #732
Fixed here: https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.20

[2021-09-16 22:40] #414 closed

[2021-09-16 22:41] fiftin commented on #414
Available in v2.7.20.
https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.20

[2021-09-16 22:42] #647 closed, assigned to fiftin

[2021-09-16 22:42] fiftin commented on #313
Available in https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.20.

[2021-09-16 22:42] #313 closed

[2021-09-16 22:46] fiftin commented on #113
![image](https://user-images.githubusercontent.com/914224/133695053-41983d96-518a-449e-bd87-80e628c8733e.png)

Not prompt but use stored password can be used. Available in v2.7.20

[2021-09-16 22:46] #113 closed

[2021-09-16 22:47] fiftin commented on #285
Vault password can be configured in Template settings. Available in v2.7.20.

https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.20

[2021-09-16 22:47] #285 closed

[2021-09-16 22:50] fiftin commented on #379
![image](https://user-images.githubusercontent.com/914224/133695409-ab069a6f-eaab-4731-a974-94c0c142119c.png)

Sudo password can be configured in the Inventory settings. Available in v2.7.20.

https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.20

[2021-09-16 22:51] #379 closed

[2021-09-16 22:53] fiftin commented on #642
Now we use channel for storing logs to database. It is use single connection. I closing the issue.

[2021-09-16 22:53] #642 closed, assigned to nobody

[2021-09-16 22:56] #306 closed

[2021-09-17 09:58] kupe-dono commented on #695
Seems that the "Become User Access Key" field doesn't keep the configuration too in Inventory table.

[2021-09-17 10:08] fiftin commented on #695
Oh, yes... Thank you!

[2021-09-17 12:02] fiftin commented on #695
Fixed here: https://github.com/ansible-semaphore/semaphore/releases/tag/v2.7.22 and snap candidate.

[2021-09-17 12:22] fiftin commented on #665
Hi @bpmb82

This feature implemented in v2.7.22.

Create new Access Key with type `Login with password`

![image](https://user-images.githubusercontent.com/914224/133782005-571c8fc8-a6fa-44f7-bd3c-181ae7cd8d35.png)

User it in Inventory settings:

![image](https://user-images.githubusercontent.com/914224/133781848-869c5a38-6197-4ad4-b017-899f07db6b31.png)

Available here: https://github.com/ansibl

[2021-09-17 14:38] kupe-dono commented on #695
Great that works fine ! :)
I'm not sure if it's related but now I get an error with the SSH key.
I assume that the command below works fine if I run it from shell:
ssh -vvv -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o Port=50022 -o 'IdentityFile="/root/.ssh/ansible-key"' -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hos

[2021-09-17 14:58] kupe-dono commented on #695
Full error message log:

[code]

[2021-09-17 15:37] ziptx commented on #738
@fiftin  👍 confirmed working.   Fantastic piece of software, btw!

[2021-09-17 15:37] #738 closed, assigned to fiftin

[2021-09-17 15:43] fiftin commented on #695
[code]

Looks like no suiteable key was found.

May this can help:

https://askubuntu.com/questions/343060/no-more-authentication-methods-to-try-permission-denied-publickey

https://serverfault.com/questions/251876/debug1-read-passphrase-cant-open-dev-tty-no-such-device-or-address-when-t

[2021-09-17 16:43] kupe-dono commented on #695
Yes I found it :)
This line "debug1: read_passphrase: can\'t open /dev/tty: No such device or address" means that the terminal is asking me for something to enter (passphrase in this case).
But I thought that using Key Store (SSH private key + passphrase used in Semaphore Inventory) should solve that :(
I guess my only solution here is to use SSH Key without passphrase.

[2021-09-17 17:11] fiftin commented on #695
Got it. Yes, it is not works. I will start this feature, but not implemented (it require a lot of time). I will remove passphrase input.

[2021-09-17 17:14] fiftin commented on #695
To support passphrase Semaphore should use ssh-agent. I found go implementation of the ssh-agent https://pkg.go.dev/golang.org/x/crypto/ssh/agent and tried to use it, but not complete.

[2021-09-17 17:20] kupe-dono commented on #695
That's fine I can wait :) thanks again for your great work !

[2021-09-17 19:33] #736 closed, assigned to fiftin

[2021-09-17 19:33] #732 closed, assigned to nobody

[2021-09-21 16:19] kupe-dono opened #742 "Become User Key failed"
Hi again !

I've tried to configure User Access Key and Become User Access Key.
But it seems it is not used after all when I run it.
I get the following error:

[code]

My playbook is the following:

[code]

The role that I call:

[code]

Maybe I do it wrong ?

I assume that the exactly same playbook works fine in command line.

[2021-09-22 10:26] BlogofraisFR opened #744 "Translate"
Hi !

I need to translate this project in French ?

It's possible ?

Thanks !

[2021-09-22 10:59] fiftin commented on #744
Currently project doesn't support localization but it can be done: https://vuetifyjs.com/en/features/internationalization/#vue-i18n

[2021-09-22 12:32] fiftin commented on #742
What version of Semaphore you use?

I tried for v2.7.22, it works (both User Access Key and Become User Access Key).

[2021-09-22 12:33] fiftin commented on #742
Can you remove
[code]
and try to use login from Access Key?

[2021-09-22 17:10] kupe-dono commented on #742
Thanks for your feedback!
I'm on v2.7.22 too and already use Access Key (wich is SSH private key without password now) and the Become User wich is a login:password account with sudo privileges.
After removing the two lines above I still can't make it working.
Do I have to use specific extra-vars ?

Edit: I also use Python3 for all my playbooks for information as inventory variables :

[code]

[2021-09-22 18:47] kupe-dono commented on #742
Ok my bad.. I found my error.
When I set up the Key Store "Become User" I have to let the login field empty because that's the same account used by the Access Key...

[2021-09-22 19:30] #742 closed, assigned to nobody

[2021-09-23 08:11] emollusion opened #745 "Can not connect to postgres panic: parse "postgres://semaphore:)": invalid port ":)" after host"
Hi!

I have just tried to set up sempahore and I run in to this issue:
[code]

This is my config:
[code]
This is the config derived from semaphore --setup

Any ideas of what the problem could be?

Thanks!

[2021-09-23 08:41] fiftin commented on #745
Hm, interesting...

Looks like problem in password :)

[2021-09-23 08:45] fiftin commented on #745
https://stackoverflow.com/a/23361849/1035334

I will fix the bug ASAP, but currently you can only use password without special characters.

[2021-09-23 13:16] BlogofraisFR opened #746 "Encryption mysql password in config.json"
Hello,

It's possible to encrypt password mysql ?

Thank a lot

Blogofrais

[2021-09-23 13:33] fiftin commented on #746
Hi @BlogofraisFR,

I have no idea how to do this. Do you have any idea?

[2021-09-23 13:56] BlogofraisFR commented on #746
Hi @fiftin,

For example : https://gobyexample.com/base64-encoding

In semaphore setup to encrypt a lot of password

Just for little security

[2021-09-23 14:03] fiftin commented on #746
base64 is not encryption.

MySQL password stored on file system. Encryption key should stored in other place to make it make sense.

I didn't find any solutions.

[2021-09-23 14:07] BlogofraisFR commented on #746
it's always better than clear ;)

[2021-09-23 14:34] emollusion opened #747 "integrating with ldap - level=info msg="User does not exist or too many entries returned""
Hi!

I am trying to integrate with ldap, before Semaphore is accessed, user is passed through an nginx auth module wich connects to the ldap server and is successfull.
But when trying to login using an ldap account I get this error:
level=info msg="User does not exist or too many entries returned"

So it searched but can not find.
Is there an upper limit, if so what?
If not, I probably have a mapp

[2021-09-23 15:17] fiftin commented on #746
May be some practices exist. Wait for advice from the community.

[2021-09-23 15:30] fiftin commented on #747
Bad error message... I will split it to "LDAP user does not exist" and "more than one LDAP user found".

[2021-09-23 15:35] fiftin commented on #747
I never use LDAP, but I found following exmaple of LDAP configuration: https://github.com/ansible-semaphore/semaphore/issues/684#issuecomment-891924145

Search must return only 1 user. May you need more specific filter?

[2021-09-24 05:00] ogomaemmanuel opened #748 "Template Api Documentation"
Add documentation on how to launch a template and the required params to launch a template

[2021-09-24 07:02] fiftin commented on #748
Hi @ogomaemmanuel
Do you mean docs for API?

[2021-09-24 07:25] emollusion commented on #747
Thank you for your quick response and help.

It was indeed a filter issue, and also a bit of mapping. Who was I to think that Active Directory followed ldap standards without quirks.

I found [#684 (comment)](https://github.com/ansible-semaphore/semaphore/issues/684#issuecomment-891924145) and [#404](https://github.com/ansible-semaphore/semaphore/issues/404) to be of help.

I ended up with this co

[2021-09-24 07:25] #747 closed, assigned to nobody

[2021-09-24 09:17] ogomaemmanuel commented on #748
@fiftin No, I would love no know how to invoke a template via rest call. Currently I cannot find it anywhere. Also include the authentication methods allowed, eg Basic, Tokens etc

[2021-09-25 08:45] kupe-dono opened #749 "Feature: Self-signed certificates for ldaps"
Edit: auto-signed = self-signed.. bad english

Hey Guys,

Just wanna know if semaphore supports self-signed certificates for LDAPS and if it does, which path location semaphore check for the ca certificate ?
Is it possible to add some conf lines in the json config file ? like "verify_tls_ca: false" for example ?

Have a great day!

[2021-09-25 08:57] kupe-dono opened #750 "Email_alerts: Config options for config.json files"
Edit: auto-signed = self-signed.. bad english

Hey guys!

I'd like to propose 2 little options for email alerts if they don't already exist.
I actually use (temporary) TLS self-signed certificate for smtp usage.
It would be great if we could have options to get the CA not verified.
For example, with php I usually use something like this:

[code]

And the second one will be the possibility to add a

[2021-09-25 10:59] fiftin commented on #748
You can find it in API docs: https://ansible-semaphore.github.io/semaphore/

![image](https://user-images.githubusercontent.com/914224/134769050-afacb099-ec0b-4dc6-94b7-c95171c3a07f.png)

[2021-09-25 10:59] fiftin commented on #748
I will add link to README

[2021-09-25 11:16] #748 closed, assigned to nobody

[2021-09-25 14:47] fiftin opened #751 "Add option "Archive" for all Semaphore entities"

[2021-09-26 00:43] nlvw commented on #682
@fiftin Collections are defined at `collections/requirements.yml`.  And the command for galaxy is `ansible-galaxy collection install -r collections/requirements.yml --force-with-deps`

You want to add `--force-with-deps` to both collections and role installs to ensure you grab and update dependencies.

[2021-09-26 00:57] nlvw commented on #682
Looks like galaxy does support putting roles and collections in the same requirements.yml file.  I was unaware of that change so please ignore my first comment.

[2021-09-26 12:25] dyipon commented on #701
you can find the env. variables here: https://github.com/ansible-semaphore/semaphore/blob/develop/deployment/docker/common/semaphore-wrapper

[2021-09-27 22:02] nlvw commented on #683
SAML or OIDC (OpenID Connect) would be amazing.  Really convenient as the SSO provided will handle 2FA instead of have to code that into this App.

[2021-09-29 06:45] mwxp06 commented on #729
Very big workaround is run docker with mysql db and in created config switch db to Postgres...
But you need to have both db run, because semaphore is checking connection on starts - why?
Why not after read data from config file?

[2021-09-30 11:58] genesis42 opened #752 "ModuleNotFoundError: No module named 'pyvcloud'"
Hi!
I'm using:
- Semaphore v2.7.22
- ansible-module-vcloud-director
- Python 3.9.2

Playbook that deploys VM in vCloud run correctly from console.
But when I run it from Semaphore, I get error "ModuleNotFoundError: No module named 'pyvcloud'" :

`"module_stderr": "Traceback (most recent call last):\n File \"/root/.ansible/tmp/ansible-tmp-1633002485.3107715-36526-51228640537232/AnsiballZ_vcd_vapp_v