[2021-09-30 13:01] kupe-dono commented on #749
Maybe that can help:
- https://zhimin-wen.medium.com/ldaps-integration-in-golang-3b7ea8d0c9be
Seems they found a solution too with skipping verify tls certificate :
- https://github.com/gogs/gogs/issues/3372

[2021-09-30 13:25] fiftin commented on #752
How you installed the modules (with --user or not)?

[2021-09-30 13:28] genesis42 commented on #752
both:
pip3 install --user pyvcloud
pip3 install pyvcloud
pip install --user pyvcloud
pip install pyvcloud

[2021-09-30 13:38] fiftin commented on #752
https://docs.ansible.com/ansible/latest/collections/community/vmware/vca_vapp_module.html

The below requirements are needed on the host that executes this module.

pyvcloud <= 18.2.2

[2021-09-30 15:11] genesis42 commented on #752
In the link you sent it says that the module is deprecated:
![image](https://user-images.githubusercontent.com/91604575/135479501-a1ef5d57-5d8f-4d28-a016-029c7a681f9f.png)
That's what i'm using - https://github.com/vmware/ansible-module-vcloud-director
In their requirements.txt no version of pyvcloud:
![image](https://user-images.githubusercontent.com/91604575/135482269-bd592fd1-f29c-4f59-9cca-b7b

[2021-10-01 08:09] radarsugarcrm commented on #424
Hi,
seems that I currently facing the same issue.
Even if I use "--user=username" under "extra CLI Arguments" for the template.
Playbook will not be executed wit above username.

If I use the same "extra CLI Arguments" on command line it is working like expected.
Or did I miss something?
running semaphore_2.7.22_linux_amd64.deb

[2021-10-01 09:25] fiftin commented on #424
You can add following field to your environment:
[code]

or you can create Access Key with type `Login with password` and use it in Inventory.

[2021-10-01 09:49] radarsugarcrm commented on #424
thx a lot :+1:
works like charm

[2021-10-01 14:16] #424 closed

[2021-10-03 16:42] kupe-dono opened #754 "Bug: Cron job still in DB after removing a task template"
Hi guys!

Something unusual that I found lastly.

To reproduce:
- Create a task template in a project
- Configure cron in this task and save it
- Let the scheduled task run at least one time
- Delete the template task without disabling the cron
- The cron still try to run in the project page

After investigating, the cron entry is still present in project__schedule table.

[2021-10-03 18:15] fiftin commented on #754
Hi @kupe-dono,

yes, you are right. It is known problem, I will start solving it soon. I think fix will be in v2.8.0.

[2021-10-05 07:04] radarsugarcrm opened #755 "Enhancement: Allow Run Template within "Task Template""
Hello,
from my perspective the "Run" button in "Task Template" view beside delete, copy and edit would make sense.
Since you can see also the Description, where I like to add info about extra variables which may be used for running this task/playbook.

I've also some other ideas e.g.:
- a "Task Template" Search would be nice, because we are using quite a high number on Task Templates.
- notificati

[2021-10-08 19:33] mwxp06 commented on #729
@fiftin Please are you working on this issue in docker instance?
Thank you so much

[2021-10-09 09:41] KenK73 opened #756 "So does this support LDAPS or not?"
I see there is an "ldap_needtls" boolean in the config, but I cant find any mention of how to make it work.  My Semaphore works fine under normal LDAP, but where I want to use it, straight LDAP is not permitted and LDAPS must be used.

If I add the "needtls: true" and change the port to 636, I get this error in the log when attempting to log in:

`Checking DB migrations`
`MySQL root@172.17.0.2:330

[2021-10-10 22:26] fkuep opened #757 "cli --help for `user get` shows info for `user delete`"
* look at the output for
  * --login
  * --email

[code]
I beleive the this concerns this code:

https://github.com/ansible-semaphore/semaphore/blob/22e422e15a90344e74453f19787d979b487c96a9/cli/cmd/user_get.go#L10-L11

[2021-10-11 08:29] fiftin commented on #757
@fkuep Thank you! Will be fixed in next release. It is only description issue :)

[2021-10-11 09:06] fiftin commented on #729
@mwxp06 I'm not specialist in Docker, I need help :-)

[2021-10-11 11:44] emollusion opened #758 "SSH known_hosts read_passphrase: can\'t open /dev/tty: No such device or address\r\nHost key verification failed"
Hi!

Not sure if this is a bug or if my config is wrong, but I have tried to both google it and different configurations so here goes:
[code]
The user on the server which is running semaphore, is named semaphore, hence the directory.

As I understand the error, the remote host is not in the known_hosts directory, and the ssh-agent is expecting input wether it should approve this remote host or not

[2021-10-11 16:12] fiftin commented on #758
Hi @emollusion,

What Semaphore installation do you use (snap or binary) ?

[2021-10-11 17:49] fiftin commented on #756
I adding support LDAPS but I need help with testing.
I will create pre-release soon.

[2021-10-11 19:58] #158 closed

[2021-10-11 19:58] #571 closed, assigned to fiftin

[2021-10-11 20:00] fiftin commented on #735
Hi @danielband,

Any updates by feature? Or I can close this issue?

[2021-10-11 20:02] fiftin commented on #715
Hi @jbkc85,

Any updates by feature?

[2021-10-11 21:04] emollusion commented on #758
Hi!

I am using Semaphore 2.7.22 and run it as a binary.

[2021-10-12 02:09] KenK73 commented on #756
Thanks!  I will assist in the testing as best I can.

[2021-10-12 09:38] danielband commented on #735
Hi, I didnt have the time to look into it. You may close the issue. If I find the time I will make a pull request.

[2021-10-12 10:07] fiftin commented on #735
Ok, thank you @danielband

[2021-10-12 10:07] #735 closed, assigned to danielband

[2021-10-12 13:41] fkuep commented on #757
Yes - just a typo, which makes me think that this would be an enough low hanging fruit for me to be a first contribution.

Would You mind me creating a pull request ?
I would:
*  change it like this:
[code]
* run it through the steps in `contributing`  *for practise sake*
* make a pull request out it.

[2021-10-12 21:35] fiftin commented on #291
https://docs.ansible-semaphore.com/

[2021-10-12 21:35] #291 closed

[2021-10-12 21:37] fiftin commented on #346
Related to https://github.com/ansible-semaphore/semaphore/issues/756.

[2021-10-12 21:38] #349 closed

[2021-10-12 21:40] fiftin commented on #512
https://docs.ansible-semaphore.com/

[2021-10-12 21:42] fiftin commented on #550
Done, use Access key with type `Login with password`.

[2021-10-12 21:42] #550 closed, assigned to nobody

[2021-10-12 21:45] #636 closed, assigned to twhiston

[2021-10-13 04:18] Bkbest commented on #756
Hi @fiftin, I will also test this.

[2021-10-13 14:38] jbkc85 commented on #715
@fiftin I apologize about no updates.  I had a bit to work on this but had some personal things come up that threw off my progress.  Where I ended up was very few real 'changes' to the code, but unfortunately I am not able to run this through the testing process as `gypsie` is unable to install itself on my Mac via `task deps`.  I am opening a PR anyway to see, and here is the output of my `task d

[2021-10-13 14:38] jbkc85 commented on #715
https://github.com/ansible-semaphore/semaphore/pull/760/files

[2021-10-13 19:52] laoshaw opened #761 "sudo does not work"
the playbook works fine else where, and if no sudo permission is need it works fine with semaphore, however whenever I need sudo to modify the system, it always reports 'permission denied'

below is the way I'm debugging to pass the password via extra-vars, which can never work.

[code]
semphore reports:

[code]

failed to find related docs.

[2021-10-13 20:06] fiftin commented on #761
You can use field `Become User Access Key` in Inventory settings.

Access Key must be `Login with password`

[2021-10-13 20:15] laoshaw commented on #761
I create a ssh login key using the same ssh password for my host, then used it with inventory, it worked when no sudo power is needed.

I also added -K to the playbook extra CLI args, it did not prompt a password on the semaphore terminal either.

[2021-10-13 20:17] laoshaw commented on #761
my inventory file

[code]

[2021-10-14 07:43] latermonk opened #762 "How to build the semaphore v2.7.22 version on ubuntu 20.04"
After download the source  from https://github.com/ansible-semaphore/semaphore/archive/refs/tags/v2.7.22.tar.gz,

the frontend is in the directory  web2 , which can build by npm
but ,

How can i build the  semaphore background write by golang ?

IS there any instruction about how ?

Thanks!

[2021-10-14 09:47] mwxp06 commented on #729
@fiftin If I am not wrong, there is a little bit changes:
File: docker-compose.yml - add new variable to environment, because you are using for mysql 1, so default is one
`environment:
      SEMAPHORE_DB_DIALECT_ID: 1
`

File: semaphore-wrapper - change mysqladmin ping and add new variable
(renamed to txt to possibility upload here)
[semaphore-wrapper.txt](https://github.com/ansible-semaphore/sema

[2021-10-14 18:36] uwardlaw opened #763 "API call to create an environment fails with none empty json data"
I am trying to use the Semaphore API to set up an environment with an API key as one of the entries. Assume `str(managementProjectID)` is a valid project ID. My first test used an environment with empty json.

[code]

However when I insert key value pairs, I get a 400 response, bad request.

[code]
The only difference is between ` '"json": "{}" '` and ` '"json": "{"key":"value"}" '`. If I have for

[2021-10-14 19:19] uwardlaw commented on #763
I created an example of what I wanted from the GUI and made a GET request for the environment. I noted the quotes are escaped. For anyone with this future questio,

`'"json": "{"key":"value"}" '` needed to be `'"json": "{\\"key\\": \\"value\\"}"}'`.

[2021-10-14 19:20] #763 closed, assigned to nobody

[2021-10-15 01:10] #762 closed, assigned to nobody

[2021-10-15 21:43] KenK73 commented on #683
Or... since this project recommends nginx for SSL support anyway, why not support passing user creds from nginx? I am running an nginx proxy as a docker container in front of the semaphore container.  I have nginx prompting for username/pass and on some of my other containers that support web auth it just passes that through (phpIPAM and mediawiki for example). Currently the nginx does the authent

[2021-10-17 02:10] robinlennox commented on #148
Docker Compose Example to get around bug #681

Note: Need to use 10.4 until the bug is fixed.

[code]

[2021-10-17 08:15] fiftin commented on #756
Hi @KenK73, @Bkbest
Please try v2.8.0: https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.0

You need to set flag `ldap_needtls: true` in config file before.

[2021-10-17 15:18] wdsff1 opened #767 "extra-vars via api ?"
Hi,

is there an option to run a task template via API and extra vars about this.

curl -v -XPOST \-H 'Content-Type: application/json' \-H 'Accept: application/json' \-H 'Authorization: Bearer xxxxxxx' \-d '{"template_id": 2, "enviroment": ??}' \http://myip:3000/api/project/1/tasks

example:
{
 "ansible_limit": "loadbalancer",
 "ipa_check": false
}

[2021-10-17 21:35] #752 closed, assigned to nobody

[2021-10-18 00:51] KenK73 commented on #756
I am getting this error now:

Semaphore v2.8.0
Interface
Port :3000
Server is running
INFO[0023] LDAP Result Code 200 "Network Error": ldap: already encrypted
INFO[0973] LDAP Result Code 200 "Network Error": ldap: already encrypted

Here are my ldaps settings:

        "ldap_needtls": true,
        "ldap_binddn": "cn=svc.bind.semaphore,ou=service,ou=users,ou=test,dc=test,dc=lab",
        "ldap_bin

[2021-10-19 10:27] jobtijhuis commented on #719
I can confirm that at least in the Docker version a private key with a password does not want to work with git.
Adding a SSH key without password seemed to fix it.

[2021-10-21 09:39] emollusion commented on #756
Hi!

I have tried to configure LDAPS and run in to this problem.

From semaphore, running both against a LDAP Proxy and against an AD server, are logs:
[code]

From the LDAP Proxy, I get this error:
[code]

The config is altered to use port 636 instead of 389, and ldap_needtls is set to true.

Hope this is a step forward in testing this :)

[2021-10-22 17:25] jdhayes commented on #739
I am new to semaphore and I am having a similar issue.
I am not able to launch a task using a token (or authenticate at all via token, for that matter).
I am able to login and create a session cookie. With this cookie I can also launch a task.
Have you tried launching a task with a session cookie?

[2021-10-22 17:38] jdhayes commented on #161
I use a Python script for the `hosts` file within my Ansible project, works fine with Semaphore.
The script itself access my Cobbler database via an API and returns a list of systems and groups.
This could be modified (heavily) to collect from any source (Google, AWS, etc).

Here is a Cobbler example:
    https://raw.githubusercontent.com/ansible-community/contrib-scripts/main/inventory/cobbler.py

[2021-10-22 20:01] hydrosIII opened #768 "Cannot install Semaphore with Mariadb in docker"
I cannot iinstall semaphore with Mariadb  10.5.12-MariaDB, when trying to initiate it  I got:

[code]

My docker compose file is the following:

[code]

It also happens using the latest tag.

[2021-10-23 00:21] jdhayes commented on #161
Even more examples:
https://github.com/alibaba/ansible-provider-docs/tree/master/contrib/inventory

[2021-10-23 12:16] phantomlord127 commented on #768
I had the same problem today and was able to fix it.
Currently i am running version 2.7.22 with mariadb 10.6, both in docker.
The reason for this problem is the definition of the foreign keys.
Example for migration 1.0.0:
[original update](https://github.com/ansible-semaphore/semaphore/blob/develop/db/sql/migrations/v1.0.0.sql)
[code]

Working with mariadb:
[code]
After a manual fix and an entry i

[2021-10-25 12:14] gaby commented on #644
This would be super easy todo if semaphore were using Github Workflows instead of Circle CI 😁

[2021-10-26 00:16] hydrosIII commented on #768
Thank you. I hope someone can update semaphore with your patch.

[2021-10-26 08:52] mwxp06 commented on #729
@fiftin Created pull request:
https://github.com/ansible-semaphore/semaphore/pull/773

Please merge

[2021-10-26 17:14] fiftin commented on #768
Thank you @phantomlord127, @hydrosIII will be available in next release. Already available in branch `develop`: https://github.com/ansible-semaphore/semaphore/commit/852e06f1f7ece95ae19ebfdb6da734cd949dcbb5

[2021-10-26 17:15] #757 closed, assigned to fiftin

[2021-10-26 19:40] phantomlord127 commented on #768
Thank you very much for the fast fix.

[2021-10-27 21:19] pbreah commented on #718
The issue I have falls in the same category as the title of this issue, but it is due to the "--list-hosts" option that is appended by default on the runner. I am working with dynamic hosts coming from a group variable. This option makes it fail because I am running a playbook that imports other playbooks and hosts get added as it runs imported playbooks at the top of the list.

I am also running

[2021-10-27 22:12] 1024jon commented on #758
Hi, I am experiencing this issue as well.  I was running docker version 2.7.22.  However I am trying older versions now

Update:  I didn't experience the issue on the snap version which is 2.7.22.  I have the issue when running in docker containers.  I've tried 2.8.5, 2.7.22, 2.6.9 and they all have the same issue.

Running with emollusion's environment file does not fix the issue for me.

[2021-10-28 14:25] pbreah commented on #718
@fiftin should I create a new issue or keep the issue I'm reporting here?

[2021-10-29 10:52] Vitexus opened #776 "pq: duplicate key value violates unique constraint "user_email_key""
In case of use one of emails presented in LDAP for administrator:

[code]

After changing this email in database LDAP login pass well.

[2021-10-29 20:22] fiftin commented on #776
Hi @Vitexus,

Please provide more details.

As I understood, you have account registered via Semaphore. It conflicts with LDAP account. It is right?

[2021-10-29 20:23] fiftin commented on #768
Hi @phantomlord127 could you check the fix in latest version of Semaphore?

[2021-10-29 20:25] fiftin commented on #767
Hi @wdsff1 ,

`"enviroment": "{\"ansible_limit\":\"loadbalancer\",\"ipa_check\":false}"`

[2021-10-29 22:20] fiftin commented on #575
Done

[2021-10-29 22:20] #575 closed, assigned to fiftin

[2021-10-29 22:20] fiftin commented on #613
Done

[2021-10-29 22:20] #613 closed, assigned to fiftin

[2021-10-29 22:22] fiftin commented on #263
Done

[2021-10-29 22:22] #263 closed

[2021-10-30 13:33] esfateev commented on #665
Hi @fiftin,
Unfortunately, docker image still don't include package sshpass. Is it possible to add? As I righly understand, it's impossible to use new feature (Access Key with type Login with password) without this package inside docker image.

Thanks!

[2021-10-31 10:49] phantomlord127 commented on #768
now the hole migration script runs without an error.
Thank you very much for the fast fix @fiftin.
Here is the output from the first startup:

[code]

[2021-11-01 07:08] mgukov opened #778 "Increase build dialog"
Build dialog is too small, long task names do not fit.

![image](https://user-images.githubusercontent.com/1714144/139634332-e6a3861a-42b8-42ce-8a60-5f10dd577ae1.png)

[2021-11-01 09:16] #768 closed, assigned to nobody

[2021-11-01 09:19] fiftin commented on #776
Hm, interesting issue... Looks like a bug. Could you provide mode details?

[2021-11-01 09:24] fiftin commented on #776
@Vitexus May be two LDAP users (with different usernames) have the same email?

Username and email must be unique in Semaphore.

[2021-11-01 09:27] #767 closed, assigned to nobody

[2021-11-01 09:42] fiftin commented on #665
Thank you @esfateev , I will fix it ASAP.

[2021-11-01 12:40] Vitexus commented on #776
I use my email address in installation script but username was "admin"

[2021-11-01 12:42] Vitexus commented on #776
Correct. I did use my email address in installation script but username was "admin"

[2021-11-01 12:46] #776 closed, assigned to fiftin

[2021-11-01 12:56] fiftin commented on #665
@esfateev please try latest version of Semaphore image.

[2021-11-01 16:02] #746 closed, assigned to nobody

[2021-11-01 16:37] esfateev commented on #665
@fiftin Checked with latest version of docker container, fixed. Thanks a lot!

[2021-11-01 16:56] #665 closed, assigned to fiftin

[2021-11-01 19:23] lennart commented on #463
I had been using the api to start a job in v2.6.8 with exactly the mentioned functionality:

with new_task.json being:

[code]

then ran:

[code]

and this functionality (`"arguments": "[\"--extra-vars\" ...]"`) is now missing in 2.8.9 and I could not find any note of breaking (api) changes.
What was the reason this was removed and more importantly, how can we get it back?

I'll read the code and

[2021-11-01 19:43] ryan-morris commented on #729
Just to confirm, `SEMAPHORE_DB_DIALECT: postgres` now works when set in docker-compose for me with latest version. Thanks!

[2021-11-01 21:00] lennart commented on #463
ok, as far as I understand, this now goes into the `environment` key, see: https://github.com/ansible-semaphore/semaphore/issues/767

[2021-11-01 22:14] lennart commented on #463
however, with the former usage via `arguments` I could still use a defined environment in the task template and have the `arguments` be merged with this. the _new_ version completely overrides any configure environment of the task template, i.e. I have to pass in all variables on task invocation, whereas before I only had to pass in those that need to be overriden/vary between job runs.

Is there

[2021-11-01 22:36] fiftin commented on #463
Hi @lennart ,

Yes, you are right, environments must be merged. It will be implemented ASAP.

[2021-11-02 07:10] lennart commented on #463
Hi @fiftin,

great, thanks!

[2021-11-02 11:56] mwxp06 opened #780 "Colorize output"
Hallo,
is any possibility colorize output (like in terminal on OS)?
Green - success
Red - error ....

I tried to add to ansible.cfg:
[code]

But without success :(
Can be possible to turn if on/off in GUI?

[2021-11-02 18:48] fiftin commented on #739
@realmcuser, @jdhayes, sorry for delay. Please provide example of query. Many users use API without issues.

[2021-11-02 18:49] fiftin commented on #681
Fixed, Meriadb supported.

[2021-11-02 18:49] #681 closed, assigned to fiftin

[2021-11-02 19:44] fiftin commented on #667
Validation added (start from v2.8.17)

[2021-11-02 19:44] #667 closed, assigned to nobody

[2021-11-02 19:44] fiftin commented on #745
Fixed in https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.16

[2021-11-02 19:44] #745 closed, assigned to fiftin

[2021-11-02 19:47] #391 closed

[2021-11-02 19:48] fiftin commented on #560
Removed

[2021-11-02 19:48] #560 closed, assigned to nobody

[2021-11-02 19:53] #170 closed

[2021-11-02 19:55] fiftin commented on #432
UI totally rewritten, closing issue.

[2021-11-02 19:55] #432 closed

[2021-11-02 20:00] fiftin commented on #296
Fixed

[2021-11-02 20:00] #296 closed

[2021-11-02 20:09] fiftin commented on #521
Added checking of directory state before trying to create it.

[2021-11-02 20:09] #521 closed

[2021-11-02 20:16] fiftin commented on #673
To get full URL in email/telegram message you should specify `web_host` in config file.

Also I added Telegram notifications for success tasks.

[2021-11-02 20:16] #673 closed, assigned to fiftin

[2021-11-02 20:23] fiftin opened #783 "Access key file not found"
Looks like problem with deletion of access file after task finished.

We should use access key filename like `access_key_<template_id>` instead of `access_key_<access_key_id>` to preserve this issue.

[2021-11-02 21:05] realmcuser commented on #739
@fiftin I have just (yesterday) reinstalled my test Semaphore server from scratch with version 2.8.0, and now it **works**!! After login with curl and generating new tokens (as per instructions, link first post) I now can launch a task again. Happiness!  in my opinion, this issue can be closed.

(But for real,  I didn't get this to work in version 2.7.17 at all. I wonder if it depends on my "one b

[2021-11-02 21:11] fiftin commented on #739
@realmcuser Thank you :)

[2021-11-02 21:11] #739 closed, assigned to nobody

[2021-11-03 09:25] #744 closed, assigned to nobody

[2021-11-03 12:52] #783 closed, assigned to fiftin

[2021-11-03 13:24] #729 closed, assigned to nobody

[2021-11-03 19:07] uwardlaw opened #785 "`Status Code 400` Returned when using API at `api/project/#/keys`"
We are using the Docker (`v2.7.22`) deployment of Ansible-Semaphore and use the Semaphore API to build additional projects and templates from Ansible playbooks.

I would really appreciate help understanding how to read Semaphore's understanding or logs of requests it receives to the API, a way to view the raw data being received (besides taking a packet capture, which I could also do), or some sug

[2021-11-04 00:10] 1nerdyguy opened #786 "Provide extra variables at runtime?"
Is there a way to provide extra variables at task runtime? One of the features I love so much about AWX/Tower is the "Survey" tool allowing my end users to provide at run time info, to better serve their uses. This lets us have dynamic playbooks that do multiple tasks, and they can drive it.

[2021-11-04 10:36] ogomaemmanuel commented on #748
Great

On Sat, 25 Sep 2021, 14:16 Denis Gukov, ***@***.***> wrote:

[2021-11-06 11:20] neo1908 commented on #525
Hi,
Is there any plans to look at this in the near future? I've just got started using semaphore and ran head first into issues with git submodules.

I'd be interested in helping out with porting to go-git if that is still the plan

[2021-11-06 14:36] jbunner commented on #745
Edited: Was able to resolve the issue, but documenting in case others encounter the same error.
The resolution was to append "?sslmode=disable" to the database name in the environment variable.
SEMAPHORE_DB: semaphore?sslmode=disable

I'll share the complete docker-compose.yml file that worked for me.

--
#semaphore template
version: '3.5'
services:

    semaphore:
        image: ansiblesemaphore/

[2021-11-07 22:30] luismsousa commented on #758
@emollusion @1024jon  Just came across the same issue. Were you able to overcome it?

[2021-11-08 06:35] fiftin commented on #745
Thank you @jbunner ,

It is a bug in docker image, variable `SEMAPHORE_DB_OPTIONS` missed.

[2021-11-08 06:39] fiftin commented on #745
I'm not a specialist in Docker, is it possible to set environment variable in following manner?

[code]

[2021-11-08 14:56] sagebrushIT commented on #758
No, I'm running the snap version for now which doesn't have the issue.

[2021-11-09 00:11] trschilke opened #787 "MySQL Error w/ Docker Image, InnoDB Cluster"
Hi,

I am trying to use the Docker image to run a new installation of semaphore. As the application runs through the database migrations, the docker container terminates with "Error 3098: The table does not comply with the requirements by an external plugin."

It would appear that the task__output table (and possibly others) don't have a primary key assigned, causing the table creation to fail --

[2021-11-09 06:50] fiftin commented on #787
Hi @trschilke,

Table `task__output` has primary key.

Problem with copying data from one table to another. Did you try do this manually? May be columns must be specified explicitly...

[code]

What version of MySQL do you use?

[2021-11-09 09:21] fiftin commented on #758
Hi @emollusion

I can't reproduce the issue.

Did you try to add `host_key_checking = False` to your `ansible.cfg` ?

or

[code]

[2021-11-09 09:21] fiftin commented on #758
@luismsousa do you use binary or docker?

[2021-11-09 11:37] luismsousa commented on #758
I was trying to use the docker images. @fiftin

[2021-11-09 15:04] trschilke commented on #787
Hi @fiftin ,

I am using MySQL  Ver 8.0.26 for Linux on x86_64 (MySQL Community Server - GPL).  There is no data to copy, as this is a fresh install.

When I look in the migration, I don't see a primary key assigned -- just a foreign key?

[code]

My MySQL log also reports:
[code]

[2021-11-09 18:45] shizzgar opened #788 "Git repo custom ssh port"
Hello, team!)
First of all, thank you for your awesome work!)

The second thing,  I have a problem with my private gitlab instance. I want to use ansible playbooks from closed repo with own key. But my gitlab instance has ssh at 2222 port. How can i ask semaphore to use this specific port?

The third thing, as I already sad, I have a private gitlab instance with ssl certificate. I have successfull

[2021-11-10 06:43] fiftin commented on #787
@trschilke ,

ah, yes, primary key (`id`) was added in migration 2.2.1, you got error in 1.0.0.

But it is bad idea to modify old migrations.

[2021-11-10 06:50] fiftin commented on #787
Looks like I found solution. Migration 1.0.0 removes unique index from `task__output` for unknown reasons. I will remove this action.

[2021-11-10 06:53] fiftin commented on #787
We have another table without primary key and unique index... And it can't be solved so easy.

[2021-11-10 08:44] fiftin commented on #787
@trschilke ,

Please try this version: https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.20

[2021-11-10 08:46] fiftin commented on #758
Unfortunately I can't reproduce the issue, I need help from Docker specialist.

[2021-11-10 22:48] shizzgar commented on #758
@luismsousa, try to add this to your inventory file
It can be set for whole inventory, not only for one host as in this example

[code]

[2021-11-11 02:52] trschilke commented on #787
@fiftin

I made it a lot farther without any errors this time, but still encountered one in migration v2.8.20.

[code]
[code]

So close!

Thank you so much for your help with this!

[2021-11-11 08:38] fiftin commented on #787
Table `event_backup_7534878` has unique index, according to docs it should be enough... It worked for `task__output`.

Did you apply migrations for empty database?

[2021-11-11 10:48] fiftin commented on #788
Hi @shizzgar ,

Did you try `ssh://git@mydomain.com:2222/xxx` ?

[2021-11-11 15:13] trschilke commented on #787
I started from a blank database again, yes.

When `task__output` is created in v2.2.1, it is created with a primary key.
[code]

When the `event` table is created in v1.4.0, it's not created with a primary key at that time.  The table is then renamed to  `event_backup_7534878` in v2.8.20 (so the backup table is now the one without the primary key) and the `event` table is recreated in v2.8.20 with

[2021-11-11 17:26] fiftin commented on #787
Initially `task__output` created in migation v0.0.0 without primary key:

[code]

in v2.2.1 data from old `task__output` copied to new table with primary kay. Similar like for `event`. But for unknown reason it doesn't work for `event`.

[2021-11-11 18:01] fiftin commented on #787
Ok, I will try another way.

[2021-11-11 19:32] luismsousa commented on #758
yep, that did it @shizzgar I suspected it was hanging on accepting the key for the servers since the container doesn't have knowledge of your servers `known_hosts` file. Many thanks for confirming the theory!

[2021-11-12 18:29] tiny-pangolin commented on #756
I am experiencing similar issues. Monday I had a tech not able to login using FreeIPA as the source for auth. previously we wereable to have TLS enabled on port 389. We have tested both of our serves on port 389 and 686 and are receiving the following errors in our error logs. everything works fine if I set

port 686: LDAP Result Code 200 \"Network Error\": dial tcp 192.168.XXX.XXX:686: connect: n

[2021-11-12 21:38] guigui43 opened #792 "Available/compatible with Raspberry PI"

[2021-11-13 00:26] trschilke commented on #787
@fiftin
I'm just grasping at straws, but could it be that `task__output` defines the columns as `not null`, whereas the `event` table defines them as `DEFAULT null`?  The default values in the `event` table would break a primary key / would not be unique?

[2021-11-13 03:33] KenK73 commented on #756
I just tested again with v2.8.21 and I am still unable to use LDAPS.  The standard LDAP works fine.

INFO[0121] LDAP Result Code 49 "Invalid Credentials": 80090308: LdapErr: DSID-0C090447, comment: AcceptSecurityContext error, data 52e, v3839

Same servers and same bind account that works for LDAP, so this is TLS related.  DC's certs are signed by a custom CA, so maybe I need to put root/intermedi

[2021-11-13 06:20] fiftin commented on #792
Semaphore available for RPI. You can try it using snap: https://snapcraft.io/semaphore

[2021-11-13 06:20] #792 closed, assigned to nobody

[2021-11-13 10:29] fiftin commented on #787
@trschilke ,
Please try https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.22

[2021-11-13 13:16] guigui43 commented on #792
It's not available for ARM 32bits
standard Raspberry PI OS image  = 32 bits

[2021-11-13 22:17] trschilke commented on #787
I made it through all the migrations and the application started!  I will start running through some use of the program and will let you know if I run into any other issues.

Thank you!!

[2021-11-13 22:17] #787 closed, assigned to nobody

[2021-11-14 12:14] #788 closed, assigned to nobody

[2021-11-14 17:38] #761 closed, assigned to nobody

[2021-11-15 06:09] ghost opened #793 "Looking for help finishing setup"
Hello!

Thank you for the time and effort put into this project. I am not a big git user so I'm not sure what to do on this error.

Task 2147483623 added to queue
Prepare task with template: ping
access key gitlab installed
Cloning repository git@gitlab.com:kozodev/ansible-repository.git
Cloning into 'repository_5_6'...
Warning: Permanently added 'gitlab.com,172.65.251.78' (ECDSA) to the list of k

[2021-11-15 07:13] fiftin commented on #793
Hi @Zavoka ,

https://docs.ansible-semaphore.com/user-guide/faq#how-do-i-use-a-specific-branch-or-tag

[2021-11-15 07:13] #793 closed, assigned to nobody

[2021-11-16 02:42] coolhusker opened #796 "running semaphore migration fails with the ERR! Query insert into event"
Specifically with the following error:

Checking DB migrations
Executing migration v2.8.20 (at 2021-11-15 19:40:43.804159502 -0700 MST m=+0.180279465)...
 [3/162]WARN[0000]
 ERR! Query:
insert into "event"(project_id, object_id, description, created, user_id) select project_id, object_id, description, created, user_id from "event_backup_7534878"

I've tried to run 2.8.21 as well, but get the same

[2021-11-16 04:06] coolhusker commented on #796
I was able to truncate the event table in the database and the migration ran without error.

For specifics:

Ansible-Semaphore: source 2.8.19 with the target of 2.8.20
Database: PostgreSQL
Operating System: Ubuntu 20.04.3 LTS
Package Install: (non docker/snap installation) via dpkg -i semaphore_2.8.20_linux_amd64.deb

D

[2021-11-16 21:24] KenK73 commented on #796
I just upgraded from v2.8.0 to v2.8.22 with a minor issue involving an event_backup_* table that existed for some reason. I was able to go into the msql server and drop the table. All seems good now.

[2021-11-17 10:07] loranger opened #797 "Cannot run using docker"
Hello,

I try to run semaphore using the [docker-compose template](https://docs.ansible-semaphore.com/administration-guide/installation#docker) (copy/paste feature does not work with firefox, btw) but it fails to launch :

[code]

[2021-11-17 10:13] loranger commented on #797
I try to add

`platform: linux/x86_64`
or
`platform: linux/amd64`

But none works

[code]

[2021-11-17 10:40] loranger commented on #797
semaphore was not responsible of this, [mysql was](https://onexlab-io.medium.com/apple-m1-chip-no-matching-manifest-for-linux-arm64-v8-docker-mysql-5142060a9309).

[2021-11-17 10:40] #797 closed, assigned to nobody

[2021-11-18 09:09] KasperSkytte commented on #758
Had this issue too. Was due to my `ansible.cfg` was placed in a subfolder of the git repo alongside the playbook. So it didn't read the config at all and setting `host_key_checking = False` there didn't have any effect. Moved everything to repo root and it all worked fine.

So I guess this is down to non-interactive sessions still thinking that they are interactive and prompting for a user input?

[2021-11-20 00:01] mvdkleijn commented on #644
Honestly, I was a little surprised that the Docker image wasn't already multi arch since the project *is* already building the code for multiple architectures. Any chance of this happening @fiftin ?

[2021-11-21 23:35] finzzz commented on #754
Hello, is there any follow up? I encounter the same issue.

[2021-11-22 14:32] wmandra commented on #644
I'd like to see this happen also. Too much of a pain to build arm64 docker image from scratch.

[2021-11-24 10:04] kupe-dono commented on #750
Hi Guys! Any follow up for this case :) ?

[2021-11-25 12:23] kupe-dono commented on #749
Hi Guys! Any follow up on this one :) ?

[2021-11-25 17:24] pbreah opened #798 "Feature Request: Ability to retry executing a playbook on failure"
First off, thanks for sharing this great tool.

I wanted to share this idea that I am sure would benefit multiple common use cases:

- When running a playbook there might be some temp connectivity (or any other) problem and the playbook execution fails. (I know ansible has a way to recover from errors, but this is for semaphore-level retries). It would be helpful to have an optional parameter I co

[2021-11-26 15:58] bioinfornatics commented on #118
it is a nice to have +1

[2021-11-27 17:34] kupe-dono commented on #750
Hello! You can close the case, it seems that email works fine even if the smtp server uses a self-signed certificate.

[2021-11-29 10:22] fiftin commented on #750
Thank you

[2021-11-29 10:22] #750 closed, assigned to fiftin

[2021-12-07 01:07] ilikejam opened #800 "Repository pulls after git history re-writes fail"
Hello!

The pull args in:
https://github.com/ansible-semaphore/semaphore/blob/5d89a766f49066034867fe694b5d89e15330ac64/api/tasks/runner.go#L530
don't handle instances where git history has been re-written since the last pull (e.g. with a force-pushed amend commit - something we do a lot on development branches).

Adding '--rebase' to the pull args, e.g.:
    cmd.Args = append(cmd.Args, "pull", "--

[2021-12-07 05:02] acherla opened #801 "Login with LDAP twice results in 'duplicate key value violates unique constraint "user_username_key"'"
1. When logging into ansible semaphore with a LDAP account it properly logs in with the correct user.
2. Log out
3. Attempt to login again and it results in a unique constraint violation for user_username_key

Conclusion:  Seems like ansible semaphore is trying to re-register the same user login through ldap every time a ldap user logs in.  Ansible semaphore should check if the user is already reg

[2021-12-07 22:57] timelsass opened #802 "dashboard links 404"
In the Dashboard UI under the History section via the URL http://api.trial.test/semaphore/project/1/history I see links to the templates running the tasks:
![image](https://user-images.githubusercontent.com/11907254/145117959-35c4d5b5-855f-40a7-945d-e7eb4a4c2688.png)

The URL here points to:  http://api.trial.test/project/1/templates/7  and gives a 404.
Instead it should point to http://api.trial.

[2021-12-07 23:19] timelsass opened #803 "copy template dialog width incorrect"
When I select "New Template" from Task Templates and the button in the top right corner - I am presented with a dialog like this:
![image](https://user-images.githubusercontent.com/11907254/145120598-dacf564f-ed43-45b0-b8ec-c08ff2bc2659.png)

However when I click on a task template and then click on the copy task template icon in the top right - I am presented with a dialog like this:
![image](htt

[2021-12-10 19:58] chasain opened #805 "Dockerized Semaphore does not work with encrypted ssh keys"
Using an encrypted ssh key in a ssh url for playbook repository gives the error:
[code]
But if I run the key through `openssl rsa -in ~/.ssh/id_rsa` and copy the decrypted key into the keystore it seems to work fine
[code]

[2021-12-14 15:18] #803 closed, assigned to nobody

[2021-12-14 18:10] fiftin commented on #803
Thank you @timelsass for fix.

[2021-12-15 07:59] fiftin commented on #800
Not sure. I think right way is delete repo and clone again. But how to detect this situation?

[2021-12-15 10:40] fiftin commented on #801
Duplicate https://github.com/ansible-semaphore/semaphore/issues/776

[2021-12-15 16:57] ilikejam commented on #800
'git fetch; git merge-base --is-ancestor HEAD origin/\<branch\>' will tell if the local branch can be fastforwarded. If that succeeds - merge, if not - delete-and-clone.

It's not a show-stopper - we've added 'HOME=/tmp/semaphore git config --global pull.rebase true' in our container set up, and that's working for us.

[2021-12-16 08:40] fiftin commented on #802
Please try prerelease 2.8.23

[2021-12-16 15:36] #801 closed, assigned to nobody

[2021-12-23 20:02] bpmb82 commented on #786
I would love to have this!

[2021-12-24 07:21] 0xbentang opened #806 "Task template is not pulling the repo correctly"
# Issue

After adding a git repo with a branch, when I push a commit, and then execute the task template, it will return the error `error: Your local changes to the following files would be overwritten by merge:`

My questions are:

1. Why would there be local changes?
2. The git pull should at least clear all local changes before pulling

# Expected result

checkout all local changes, pull the la

[2021-12-24 08:19] 0xbentang commented on #806
More information:

When I first create the template run it, it always fails with a bunch of

`error: unable to create file XXX No such file or directory`

Ending with

`Failed updating repository: exit status 128`

the second run is fine

[2021-12-26 03:52] 10n01 opened #807 "Listing playbook hosts failed"
Hello everyone,

I cannot find a solution to my problem.
why my system returns the result: Cloning into 'repository_2_1' ...
While the people's results have not '_1' at tail as 'repository_2'
This makes my task running Listing playbook hosts failed: chdir /tmp/semaphore/repository_2: no such file or directory

<img width="643" alt="image" src="https://user-images.githubusercontent.com/23330554/147

[2021-12-27 10:36] RyanLin1995 opened #808 "LDAP fail to login second time"
Hi,

I set up the LDAP for the semaphore and it can log in the first time. But the second time when I login the Semaphore via LDAP, it showed "Duplicate entry '' for key 'username'". I tried to drop the database and re-create it, it still shows this error. Below is the error log:

Server is running
INFO[0004] user does not exist or too many entries returned
INFO[0012] User  with email  authorized

[2021-12-30 08:36] kupe-dono opened #809 "Extra CLI format"
Hi team,

I would like to try something like this :
ansible-playbook -i inventory.yml playbook.yml -e '{"vm_names":[test-vm]}'

Where vm_names is a role's variable entry. But the format seems to be wrong as I get "template arguments must be valid JSON".

Edit:
This format is correct :
[
"-e",
{"vm_names":"[test-vm]"}
]

But I get the following errors :
5:05:45 PM Could not unmarshal arguments to [

[2022-01-05 16:15] david-steg opened #810 "Crash: Docker Volume"
Hello, I would like to mount the `/etc/semaphore/config.json` or the directory `/etc/semaphore` with a Docker Volume.
Doing so could I Edit some config which don't habe any Variable, like Telegram token, port etc...

But if I create the container with:
[code]
The Container will always crash.

[2022-01-10 10:41] stribehou commented on #810
it can certainly work, i do  mount it although i'm mounting the whole /etc/semaphore directory because it is a kubernetes persistent volume

[2022-01-11 14:46] fiftin commented on #809
Looks like you missed quotes for `test-vm`:
[code]

[2022-01-11 15:22] hferreira23 commented on #805
I noticed the same behavior on v2.8.23

[2022-01-11 16:48] kupe-dono commented on #809
Thank you for you reply !

I get same error message :(

[code]

[code]

Variable is set like /etc/ansible/roles/some-role/vars/vm-names.yml
[code]

Edit: (The playbook for info)

[code]

[2022-01-11 18:32] jdhayes commented on #786
I have been looking into something similar.
I actually needed to add the limit arg to ansible at runtime (https://github.com/ansible-semaphore/semaphore/pull/811)
Once my pull request is approved, I can add extra-vars as well.

[2022-01-11 19:18] rmfirth opened #812 "`Status Code 400` returned by API for `GET /project/{project_id}/tasks/{task_id}` for non-existent task ID"
It looks like the API returns a `400` status code in response to `GET /project/{project_id}/tasks/{task_id}` when the `{task_id}` does not exist. It seems like this is a semantics error because if the task does not exist I would expect a `404 Not Found` response instead of a malformed request.

Steps to reproduce:
1. Create a project in Semaphore
2. Login to API
3. Run the following request `GET <

[2022-01-11 20:58] CorvetteCole opened #813 "Last administrator can remove themselves from a team"
Looks like this might be related to #185. It should not be possible for a project to have 0 administrators

![Screenshot from 2022-01-11 15-52-22](https://user-images.githubusercontent.com/19213965/149020499-3f5633d8-d51f-4e96-9d2c-650e38cd3593.png)
![Screenshot from 2022-01-11 15-52-34](https://user-images.githubusercontent.com/19213965/149020538-2359b72c-aba7-4931-b2c0-5e29b69b1240.png)

[2022-01-13 23:52] hmoffatt commented on #683
@KenK73 indeed just trusting the remote user name in REMOTE_USER would be good. I use Apache with mod_auth_openidc to handle authentication with OpenID Connect here.

[2022-01-14 08:08] fiftin commented on #683
Hi @KenK73, @hmoffatt How it can be implemented?

[2022-01-14 08:33] hmoffatt commented on #683
Apache will handle the authentication and provide the username in an HTTP header.

The admin will need to configure Apache to pass the username in a header. See https://renaudmarti.net/posts/make-apache-proxy-remote-user-to-backend/ for example.

Then the app would skip the login page and use the username from the header.

[2022-01-15 14:31] roshansingh opened #814 "Browser is not caching js/css files"
Semaphore should respond with appropriate cache control headers for sempahore.

I am using nginx to proxy sempahore. This is the response:

[code]

If it returns cache control headers then it would load faster on slower internet connections.

[2022-01-16 13:43] #802 closed, assigned to fiftin

[2022-01-16 19:20] fiftin commented on #807
Sorry for delay, it is looks like a bug.

[2022-01-16 19:21] fiftin commented on #786
Will be implemented soon.

[2022-01-16 20:23] fiftin commented on #807
Looks like it is old version of Semaphore

[2022-01-18 20:49] schadom opened #815 "Git - Pulling without specifying how to reconcile divergent branches is discouraged"
From the job logs:

    6:00:01 AM Updating repository ssh://git@git.xxx.com:22/xxx/ansible.git
    6:00:01 AM hint: Pulling without specifying how to reconcile divergent branches is
    6:00:01 AM hint: discouraged. You can squelch this message by running one of the following
    6:00:01 AM hint: commands sometime before your next pull:
    6:00:01 AM hint:
    6:00:01 AM hint: git config pull.re

[2022-01-18 21:04] schadom opened #816 "Ansible - python 2.x deprecation warning"
From the job logs:

    ...
    9:48:03 PM TASK [Gathering Facts] *********************************************************
    9:48:05 PM ok: [webserver1]
    9:48:05 PM [DEPRECATION WARNING]: Distribution debian 11 on host webserver1 should
    9:48:05 PM should use /usr/bin/python3, but is using /usr/bin/python for backward
    9:48:05 PM compatibility with prior Ansible releases. A future Ansi

[2022-01-18 23:07] fiftin commented on #816
Hm, I think we should update python )

[2022-01-19 13:01] fiftin commented on #786
Available in v2.8.25

https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.25

![image](https://user-images.githubusercontent.com/914224/150135648-99a4bc06-770e-4f2c-84bd-6e4a56ebf94e.png)

[2022-01-20 04:28] gaby opened #818 "util.CheckUpdate causes semaphore to stop working in air-gaped systems"
### Problem:
I was testing the semaphore latest docker image in an air-gap system. I think the current router.go code is doing a check against a new release on Github, the check will fail in non-connected instances and will not allow anyone to login.

Lucky for us, we tested this in a staging environment.

### Cause:
I think the culprit is this line: https://github.com/ansible-semaphore/semaphore/

[2022-01-20 06:06] zapalotta commented on #818
I just noticed the same behaviour when evaluating semaphore. Any workarond?

[2022-01-20 07:03] mag1kan1n opened #819 "Starts a job with arguments"
Hi team,
We like your product, tell us how to run Job with arguments via API. To execute playbook with host limit? I didn't find it in the API documentation. Here is the expected example - `ansible-playbook configuration.yml -i inventory.ini --diff --limit=test.server`

[2022-01-20 12:36] gaby commented on #818
@zapalotta None so far, I had to rollback to `v2.8.21`

[2022-01-20 14:52] fiftin commented on #818
@gaby, @zapalotta got it, will be fixed soon, thank you

[2022-01-20 17:53] webdev4u opened #820 "Can't start job via API"
Trying start new job via API.
Send data via POST request to  api/project/{project_id}/tasks

curl --location --request POST 'http://127.0.0.1:3000/api/project/3/tasks' \
--header 'Content-Type: application/json' --header 'Accept:application/json' \
--header 'Cookie: semaphore=MTY0MjI4ODQyM3x5Yml5b3FCeVM0cXVwdldZVjhRQ28wLTNHamF0bm1ubVJrR1JvR2NRUWpqNzc0V1FPN21fTDNiSDQ1MEhqTDZ2N1lyczBCVW5DV1U1bGlqeHp

[2022-01-20 19:07] rmfirth commented on #820
Looks like your `environment` value is not a valid JSON converted to a string. The task is expecting `environment` to be a JSON object that has been serialized into a string, and you have provided the value `barium`, which is not a serialized JSON object (hence the message `invalid character 'b' looking for beginning of value`). Perhaps this is an indication that the API docs could be a little mor

[2022-01-20 21:11] webdev4u commented on #820
Yes, @rmfirth, you are right. This solved my problem. I thought that in the `environment` parameter it is necessary to specify the name of the environment saved in the GUI. Thank you for your help.

[2022-01-20 21:11] #820 closed, assigned to nobody

[2022-01-21 07:39] patilrs opened #821 "Gitlab located behind the proxy- Unable to clone repo"
Hi guys ,
I need to use the http_proxy,https_proxy to clone the repo. Unable to run the template task .
Please let me know how to use/configure proxy for https repo clone

[2022-01-22 10:13] kennethso168 opened #822 "Extra CLI Arguments for task template missing in v2.8.25"
In latest docker image with semaphore v2.8.25, I can't see the "Enter extra CLI arguments" box when creating a task template

![image](https://user-images.githubusercontent.com/5262487/150634309-b59671e5-9120-4e61-a797-d3f8bda3fd18.png)

There is a "Enter extra CLI arguments" box on the screenshot in user guide. I can also see this box when I try with v2.8.21

![image](https://user-images.githubus

[2022-01-22 10:24] kennethso168 opened #823 "Docker: please keep the "latest" tag for stable releases, or at least have another tag pointing for latest stable releases"
The release page on GitHub shows v2.8.21 as the latest release.

However, when I pulled the docker image with latest tag, the image with v2.8.25 was pulled, which was unexpected to me.

In my opinion, the latest tag should point to latest stable release. Better to use some other tags (e.g. "dev") for pre-releases (c.f. [the tags used by home assistant for example](https://hub.docker.com/r/homeassi

[2022-01-22 18:35] OPSTime opened #824 "bug: environment variable configuration does not take effect when rerunning"
**run task**
$ curl -X POST --header 'Content-Type: application/json' --header 'Accept: application/json' -H 'Authorization: Bearer XXXXXXXXXXXXXXXXXXXXX' -d '{
  "template_id": 1,
  "environment": "{\"env_a\":\"tttttt\"}"
 }' 'http://172.168.1.11:3000/api/project/1/tasks'
{"id":62,"template_id":1,"project_id":1,"status":"waiting","debug":false,"dry_run":false,"playbook":"","environment":"{\"env_a

[2022-01-23 14:17] fiftin commented on #824
@OPSTime Thank you, will fix soon.

[2022-01-23 20:55] fiftin commented on #824
Fixed in https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.30

[2022-01-23 21:55] fiftin commented on #818
Fixed, please try latest pre-release.

[2022-01-23 21:55] #818 closed, assigned to nobody

[2022-01-23 21:56] fiftin commented on #806
Please try https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.31

[2022-01-23 21:56] fiftin commented on #800
Fixed, please try https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.31

[2022-01-23 21:56] #800 closed, assigned to nobody

[2022-01-23 21:57] #786 closed, assigned to nobody

[2022-01-23 22:38] fiftin commented on #823
Creating of docker image is automated process, but approving releases in GitHub is manual process. I can't create different tags for release and pre-release. But I'll think how to do this.

We already have dev tag for builds without version.

[2022-01-23 22:41] fiftin commented on #821
Hi, need more details. Did you try do this via `/etc/environment`?

[2022-01-23 22:42] fiftin commented on #822
Will fix asap.

[2022-01-23 23:34] fiftin commented on #808
What is `UID` and `Mail` of your LDAP user?

[2022-01-23 23:42] #807 closed, assigned to nobody

[2022-01-23 23:44] fiftin commented on #808
Perhaps we need to remove authentication via email and unique index for it.

[2022-01-24 00:31] mvdkleijn opened #826 "Request: Docker release for ARM arch"
Please provide an arm architecture release for the Docker container. Since this is a Golang app, that should be fairly easy? :crossed_fingers:  :smile:

[2022-01-24 09:52] fiftin commented on #826
Yes, it is easy, but I don't know how to do this using Circle CI 😀

[2022-01-24 09:53] #824 closed, assigned to fiftin

[2022-01-24 09:57] mvdkleijn commented on #826
Then I'll see if I can make some time to figure that out for you. :smile:

[2022-01-24 10:22] eisemakr opened #827 "Possibility to increase the log level"
As I had problems with the initial setup of semaphore on my Ansible environment, it would have been super helpful if semaphore could log to the console or to the logs the exact ansible command which it is submitting.

The debug mode from semaphore only does show advanced ansible output, but if that does not fit the output of ansible cli debugging of the setup is hard.

Maybe the possibility to inc

[2022-01-24 11:06] OPSTime opened #828 "unable to delete token"
$ curl -v -b /tmp/semaphore-cookie -H 'Content-Type: application/json' -H 'Accept: application/json'
 http://172.168.1.2:3000/api/user/tokens
[code]

$ curl  -b /tmp/semaphore-cookie -X DELETE -v  --header 'Accept: application/json' --header 'Authorization: Bearer nhguyoywnn1stpcewxzk4lhnhtru8z4tdqwlrcmchom=' 'http://172.168.1.2:3000/api/user/tokens/yrxgzmh_gc5b6kwre6c-yk0iigsa83ovvvf6llkhe6i%3D'

[2022-01-24 11:25] OPSTime commented on #824
Thank you.

[2022-01-24 11:30] OPSTime commented on #828
bug?

[2022-01-24 11:33] ilikejam opened #829 "Version 2.8.31 can't be started"
Hi!

Looks like release 2.8.31 doesn't want to start with 'semaphore --config /path/to/json':

-----
semaphore@b5d37cb5364e:~$ /usr/bin/semaphore --config /etc/semaphore.json
Ansible Semaphore is a beautiful web UI for Ansible.
Source code is available at https://github.com/ansible-semaphore/semaphore.
Complete documentation is available at https://ansible-semaphore.com.

Usage:
  semaphore [flags

[2022-01-24 11:40] fiftin commented on #829
Please use `semaphore service --config /path/to/json`.

[2022-01-24 11:41] fiftin commented on #829
Docs not updated, that's my fault.

[2022-01-24 11:57] fiftin commented on #829
Perhaps the command `semaphore server` would be more understandable... I will add alias.

[2022-01-24 13:53] bbc-davidstark commented on #829
Awesome. Working now!

Did the task template command-line options configuration box move as well? We run with '--tags' and '-l' set for some runs, but I can't see anywhere to specify those any more.

[2022-01-24 16:05] OPSTime commented on #829
@fiftin v2.8.31, v2.8.30 image
When using docker image to start the service, the following error is reported:

[code]

[2022-01-24 16:32] OPSTime commented on #829
After using the old image to start the container, 'task template' and 'playbook repositories' cannot be accessed, and the following error is reported:

[code]

[2022-01-24 19:50] fiftin commented on #828
@OPSTime What database do you use?

I found the bug in BoltDB implementation, but looks like it is should works with MySQL/Postgres.

[2022-01-24 20:36] nlvw opened #830 "Cannot migrate from version 2.7.22 to 2.8.31"
Hi,  I'm trying to update from veresion 2.7.22 to the latest (2.8.31) release.  However, I keep running into a migration error.  The database is a mariadb database installed on the same host and both are running on RHEL 8.

<img width="854" alt="image" src="https://user-images.githubusercontent.com/5723368/150860557-302873eb-246a-428e-b324-9777127b81fe.png">

[2022-01-24 20:48] fiftin commented on #830
Can it be this bug https://github.com/ansible-semaphore/semaphore/issues/796 ?

[2022-01-24 20:49] fiftin commented on #830
Did you run the migration twice?

[2022-01-24 20:50] nlvw commented on #830
First migration was done by systemd service and failed.  Trying to run it manually produced the screenshotted error.

[2022-01-24 20:54] nlvw commented on #830
Here was the initial attempt.

[code]

The problem seems to have been:
[code]

Note sure what I need to do to cleanup.

[2022-01-24 21:17] fiftin commented on #830
Yes, you are right. This migration adding foreign key constraint for project_id.
Looks like table contains reference to inexistent project...
I will think how to fix this.

Simplest solution if you no need old event records:

* connect to database `semaphore`
* drop table event_backup_7534878 with old event records: `drop table event_backup_7534878`
* delete column id from event table: `alter tabl

[2022-01-24 21:27] fiftin commented on #830
Looks like I found solution. Fix will in next release. I will be very grateful if you wait for it.

[2022-01-24 21:37] fiftin commented on #830
Please try this pre-release https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.33.

[2022-01-24 21:48] fiftin commented on #829
Unfortunately, it is correct behaviour. New version added column `git_branch` to Repository table. Old version of Semaphore can't work with this table anymore.

[2022-01-24 21:49] fiftin commented on #828
Fix available in https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.33.

[2022-01-24 21:49] #828 closed, assigned to fiftin

[2022-01-24 21:51] #806 closed, assigned to nobody

[2022-01-24 21:53] #796 closed, assigned to fiftin

[2022-01-24 21:54] nlvw commented on #830
I tried the new release and the migration finished sucessfully.
<img width="852" alt="image" src="https://user-images.githubusercontent.com/5723368/150870994-c4de70ed-9cfc-4a68-9c33-6d77f8c42061.png">

I was able to login to the Web UI and it looks like all my data and history is still there.  Thank you for the quick response!

[2022-01-24 21:54] #830 closed, assigned to fiftin

[2022-01-25 01:48] OPSTime commented on #829
@fiftin

**1、CMD in dockerfile should be updated, otherwise it cannot be started**
v2.8.33 image, docker-compose.yml add configuration：
command: [ "/usr/local/bin/semaphore-wrapper", "/usr/local/bin/semaphore", "server", "--config", "/etc/semaphore/config.json" ]

$ docker history ansiblesemaphore/semaphore:v2.8.30 --no-trunc
[code]

$ docker history ansiblesemaphore/semaphore:v2.8.31 --no-trunc
[

[2022-01-25 01:51] OPSTime commented on #828
@fiftin MySQL 5.7

I found that the token is set to expire rather than deleted, which may be due to my wrong understanding

[2022-01-25 02:47] OPSTime commented on #829
3、After upgrading to 'V2 8.33', task failed to run.Restore to normal after updating the key

10:18:56 AM
Task 6 added to queue
10:19:00 AM
Prepare task with template: dev_ansible-test
10:19:00 AM
Failed installing ssh key for repository access: cannot decrypt access key, perhaps encryption key was changed

[2022-01-25 07:03] OPSTime opened #831 "Request：the "/api/project/{project_id}/tasks" interface add the "inventory_id" parameter to specify other inventory to run"
Can the /api/project/{project_id}/tasks interface add the inventory_id parameter to specify other inventory to run?
The template may be fixed, but I want to run task on different machines by api.

[2022-01-25 07:07] fiftin commented on #829
1. @OPSTime thank you very much, I missed this in Dockerfile!
2. We use ORM Gorp. This is how Gorp works: https://github.com/go-gorp/gorp/blob/80a2f4b08eacc7bb0951e062b66380d0a5a1e750/gorp.go#L301. I can't change this.  Perhaps I will add command like `semaphore rollback 2.8.25` to rollback migrations.
3. By the "Failed installing ssh key". It can be if you changed config.json (for example by runn

[2022-01-25 07:10] OPSTime commented on #829
3.I didn't change config JSON, I just changed a different image.

[2022-01-25 07:29] fiftin commented on #829
Different image generates new `config.json`. Surely this is wrong behavior.
I see 2 solutions:
* disable encryption
* passing encryption key via environment variable

I will add the environment variable.

[2022-01-25 10:03] OPSTime opened #832 "How to run tasks in playbook according to the specified tag?"
How to run tasks in playbook according to the specified tag?

The command line can specify tags through -- tags.

**$ cat  roles/get_host_info/tasks/main.yml**
[code]

[2022-01-25 14:09] mambon2 commented on #829
Can you please fix the docker image.  It also doesn't startup after v2.8.33

[2022-01-25 14:50] fiftin commented on #829
@mambon2 is progress.

[2022-01-25 22:29] mambon2 opened #833 "Not able to clone github repo using PAT"
How can I setup a github repository with personal access token?
I've tried every combination offered by the semaphore UI

[2022-01-26 07:58] fiftin commented on #829
Done.

@OPSTime, @mambon2 Please check v2.8.34.

@OPSTime You need to update your Docker image and add env variable `SEMAPHORE_ACCESS_KEY_ENCRYPTION`  with value generated by command:
[code]

After that you should resave your access keys:

<img width="300px" src="https://user-images.githubusercontent.com/914224/151123221-f8b1ff6d-33f6-4b7a-a6ed-c80074f190a9.png" />

[2022-01-26 08:15] fiftin commented on #822
Fixed in https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.34

Available in Advanced options:

<img width="300px" src="https://user-images.githubusercontent.com/914224/151122210-a8c9dedb-da73-4067-885c-f9c71cd7978f.png" />

[2022-01-26 08:15] #822 closed, assigned to nobody

[2022-01-26 09:54] fiftin commented on #832
Currently you can specify it in Template settings only.

<img width="300px" src="https://user-images.githubusercontent.com/914224/151141429-27256eca-c7b3-44b1-8193-48df4a9a68d7.png" />
<img width="300px" src="https://user-images.githubusercontent.com/914224/151141477-b00135d3-3344-4ee0-bfde-66f47fe87af5.png" />

[2022-01-26 09:56] fiftin commented on #829
@bbc-davidstark

Please go to https://github.com/ansible-semaphore/semaphore/issues/832. We can discuss this functionality.

[2022-01-26 09:59] fiftin commented on #819
Hi @mag1kan1n ,

Currently you can do it only via Template settings, but we can discuss ability to this via Task.

Let's continue it in this thread: https://github.com/ansible-semaphore/semaphore/issues/832

[2022-01-26 10:01] #819 closed, assigned to nobody

[2022-01-26 10:01] #829 closed, assigned to fiftin

[2022-01-26 10:02] #821 closed, assigned to nobody

[2022-01-26 10:04] #90 closed

[2022-01-26 10:05] #115 closed

[2022-01-26 10:05] patilrs commented on #821
Hi guys,

I tried adding proxy in /etc/environment. Still there is issue in cloning
the repo using https

Thanks and regards
Rudragouda patil

On Mon, 24 Jan, 2022, 4:11 am Denis Gukov, ***@***.***> wrote:

[2022-01-27 06:17] morganchester commented on #713
Getting the same error in 2.8.33 and 2.8.35.

Jan 27 08:14:53 * semaphore.semaphored[17025]: mkdir: cannot create directory '/root/snap/semaphore': Not a directory
Jan 27 08:14:53 * semaphore.semaphored[17025]:                  "host": "/root/snap/semaphore/common/database.boltdb"
Jan 27 08:14:53 * semaphore.semaphored[17025]:          "tmp_path":                         "/root/snap/semaphore/comm

[2022-01-27 06:45] morganchester opened #834 "Error "cannot create directory" in snap semaphore trying to start"
Getting the error trying to start snap semaphore in 2.8.33 and 2.8.35.

Jan 27 08:14:52 * systemd[1]: Started Service for snap application semaphore.semaphored.
Jan 27 08:14:53 * semaphore.semaphored[17025]: mkdir: cannot create directory '/root/snap/semaphore': Not a directory
Jan 27 08:14:53 * semaphore.semaphored[17025]: "host": "/root/snap/semaphore/common/database.boltdb"
Jan 27 08:14:53 * se

[2022-01-27 08:38] fiftin commented on #834
Hm, did you try install anything else with using Snap?

[2022-01-27 08:44] morganchester commented on #834
Didn't need anything else on snap

Semaphore worked several weeks before it failed to start today. Think it's 2.8.33 that failed. Previous version was 2.8.9 and it was fine

[2022-01-27 08:49] fiftin commented on #834
It is looks like Snap issue. Semaphore doesn't create /root/snap/semaphore directory. It's do Snap.

[2022-01-27 08:51] fiftin commented on #834
I made fresh install of Semaphore on CentOS using Snap. It's works. I will try reproduce your scenario.

[2022-01-27 09:06] Commifreak opened #835 "[Playbook Repositories] fatal: could not read Username for xxx: No such device or address"
Hi,

I set up a new template with Playbook repo. After execute the template I get:

[code]

I dont see whats wrong.

The repo and a key (user password) is configured and set.

![grafik](https://user-images.githubusercontent.com/87267/151326986-ab85b9b2-9327-42c0-a595-406ebcc2e879.png)

[2022-01-27 09:11] fiftin commented on #834
Can't reproduce.

I need your help.

I see only one line which can lead to this error: `mkdir -p ${SNAP_USER_COMMON}/repositories`.

Looks like, for unknown reason, this command returns error.

[2022-01-27 09:12] fiftin commented on #834
Semaphore directory should looks like:
[code]

[2022-01-27 09:14] fiftin commented on #835
Hi @Commifreak ,

What version do you use (number and how installed)?

[2022-01-27 09:15] fiftin commented on #835
I will try to reproduce.

[2022-01-27 09:31] Commifreak commented on #835
2.8.34 via snap

[2022-01-27 09:34] Commifreak opened #836 "[feat request] Workflow Templates and better inventory management"
I hope I can leave two feature requets right here, if not, please delete the issue.

* What about Worklow Templates like AWX have?
* It would be great to manage the inventory like AWX allows to: Set IP / Alias and groups via the webUI instead of the direct yml editor

Regards,

[2022-01-27 10:13] morganchester commented on #834
Yes, it looks just like this.
The dir /root/snap/semaphore/common/repositories also exists and it's not empty (I'm active semaphore user)

[2022-01-27 10:14] TheNerdyHamster opened #837 "Disable cronjobs for redudent setup"
Hi,

I am currently working on setting up a secondary instance of semaphore (a copy of main instance, that updates once a day) which is just a backup in case of the main instance goes down.

This is resulting in that all cronjobs from the main instance is also running on the secondary instace, which might result in changed playbooks being runned etc.

Is there any recommended solution for disablin

[2022-01-27 11:11] fiftin commented on #834
Ok,

1) Does restarting the service help?
 `sudo snap restart semaphore`

2) Please try execute command?
`
sudo semaphore user list
`
This command uses same directory structure.

[2022-01-27 13:06] fiftin commented on #833
It is impossible now. Will be implemented soon.

[2022-01-27 14:39] fiftin commented on #837
Why not to stop semaphore on the second instance? I don't know how to do this another way.

[2022-01-27 14:45] #837 closed, assigned to nobody

[2022-01-27 15:51] fiftin commented on #833
Implemented in v2.8.35 https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.35

[2022-01-27 15:51] #833 closed, assigned to fiftin

[2022-01-27 16:03] fiftin commented on #835
Fixed in v2.8.35, currently in beta on Snapcraft, you can install it by command:
[code]
Release details: https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.35

[2022-01-27 16:12] fiftin commented on #815
Fixed

[2022-01-27 16:12] #815 closed, assigned to nobody

[2022-01-27 16:17] fiftin commented on #809
sorry for delay.

My example is incorrect. Correct example in docs: https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#json-string-format

[code]

[2022-01-27 16:17] #809 closed, assigned to nobody

[2022-01-27 16:46] #686 closed, assigned to fiftin

[2022-01-27 16:47] #646 closed, assigned to nobody

[2022-01-27 16:49] fiftin commented on #463
All done.

[2022-01-27 16:49] #463 closed

[2022-01-27 16:51] fiftin commented on #354
Done. You can use CLI:

[code]

More info by command:

[code]

[2022-01-27 16:51] #354 closed

[2022-01-27 16:55] fiftin commented on #218
You can add new account using command:

[code]

Fore more info use command or [docs](https://docs.ansible-semaphore.com):

[code]

[2022-01-27 16:55] #218 closed

[2022-01-27 16:58] fiftin commented on #832
Available in v2.8.35 https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.35

<img src="https://user-images.githubusercontent.com/914224/151388520-9b885364-97d1-49bb-a3e1-c1d1d6cecfa0.gif" />

[2022-01-27 17:00] #96 closed

[2022-01-27 17:01] fiftin commented on #340
Yes, now it happens automatically, more details here: https://docs.ansible-semaphore.com/administration-guide/build-and-deploy

[2022-01-27 17:01] #340 closed

[2022-01-27 17:04] fiftin commented on #274
This feature available since v2.8.31.

<img width="300px" src="https://user-images.githubusercontent.com/914224/150744646-57af39a5-930a-4eba-81d2-691e7d03ac6c.png" />

[2022-01-27 17:04] #274 closed

[2022-01-27 17:05] fiftin commented on #311
This feature available since v2.8.31.

<img width="300px" src="https://user-images.githubusercontent.com/914224/150744646-57af39a5-930a-4eba-81d2-691e7d03ac6c.png" />

[2022-01-27 17:05] #311 closed

[2022-01-27 17:06] #727 closed, assigned to nobody

[2022-01-27 21:15] srinathman commented on #756
Does it support LDAPS (port 636) or LDAP+StartTLS (port 389) ?

I'm trying LDAPS and I get
`time="2022-01-27T21:14:57Z" level=info msg="LDAP Result Code 200 \"Network Error\": ldap: already encrypted"
`

[2022-01-28 06:00] morganchester commented on #834
1. No, restarting not helps
2. user list response:
[code]

[2022-01-28 11:32] fiftin commented on #834
Fixed in 3.8.36. Available in Snap.

[2022-01-28 11:34] morganchester commented on #834
Got it working! Thanks!

[2022-01-28 11:34] #834 closed, assigned to fiftin

[2022-01-28 14:44] srinathman opened #843 "[feature request] Show next runs date and time when a cron is set"
Showing next few runs date and time will allow the user to confirm that a cron string is correctly set and to check when the next run will happen.

AWX shows the "next run" like:
![image](https://user-images.githubusercontent.com/2333250/151566605-0c88f598-757e-40f3-970f-6b27b99adff5.png)

Jenkins does this by showing a text like:
`Would last have run at Friday, January 28, 2022 at 2:33:51 PM Coor

[2022-01-28 14:59] OPSTime commented on #832
The function was tested and found to be ineffective.
version: 2.8.36

![run_playbook](https://user-images.githubusercontent.com/5848331/151567842-04dfc9b3-ccbe-4d4e-ba4c-950e428338a3.png)

[2022-01-29 06:06] tonywtrd commented on #638
1 year later and still no fix.

[2022-01-29 07:46] fiftin commented on #638
@tonywtrd Are you mean support MySQL 8?

[2022-01-29 08:39] tonywtrd commented on #638
No, but a update in docs as i didn't see any notice about that. And the native_password are not related to this.

[2022-01-29 20:20] ball6847 opened #844 "Telegram chat id could be VARCHAR(14)"
I tried setting my project telegram chat id to receive notification but semaphore didn't allow me to do that, due to column definition  of `project.alert_chat` which is current defined as `VARCHAR(10)` but my channel id is 14 characters long (`-1009999999999`) and cannot be fit in 10 chars.

After I changed it to `VARCHAR(14)`,  the notification worked fine.

If I'm doing something wrong, please l

[2022-01-31 09:09] Korhm opened #845 "use ssh private key from KeyStore"
Hello,

I would like use an ssh key to connect to remote hosts, that is stored is the Key Store of Sempahore (like to one to connect to git).
Is it something possible ?

[2022-01-31 10:31] M-Ahall opened #846 "Limit per task"
Hi,

In an earlier version, I could add JSON for limiting a single run of a task template, like ["--limit", "foo.example"], but this seems to be gone. Is there another way to easily limit a single run?

Thanks!

[2022-01-31 19:31] #835 closed, assigned to fiftin

[2022-01-31 19:32] fiftin commented on #808
Hi @RyanLin1995, can you help me with this bug?

[2022-01-31 22:20] #751 closed, assigned to fiftin

[2022-01-31 22:40] #845 closed, assigned to nobody

[2022-01-31 22:41] #846 closed, assigned to nobody

[2022-01-31 22:45] fiftin commented on #754
Fixed, please try release https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.39

[2022-01-31 22:45] fiftin commented on #725
Fixed, please try release https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.39

[2022-02-01 12:28] lemonka opened #849 "Windows management"
Im not sure if this software is capable to run playbooks on Windows machines...

Im getting such error:

[code]

My inventory is defined as plain text:

[code]

[2022-02-01 20:02] #849 closed, assigned to nobody

[2022-02-02 08:14] RyanLin1995 commented on #808
Hi Denis,

Sorry for reply late because I am in the Spring Festival holiday. Let me
know what can I help for you. I will reply you at Feb 7.

Thanks and Happy Year of the Tiger！
恭喜发财！

Denis Gukov ***@***.***> 于 2022年2月1日周二 上午3:32写道：

[2022-02-03 11:44] salgua opened #852 "Paramiko error using community.routeros.command in playbook"
Hi,
I'm trying to use `community.routeros.command` in a playbook using **semaphore** on last stable version on **Ubuntu 18.04**. I always obtain this error:

    12:32:27 PM
    TASK [community.routeros.command] **********************************************
    12:32:30 PM
    fatal: [routeros-03]: FAILED! => changed=false
    12:32:30 PM
    msg: 'paramiko is not installed: No module named ''par

[2022-02-03 12:27] fiftin commented on #852
Yes, it is true, snap uses internal version of Python and Ansible. I will try to reproduce and answer soon.

[2022-02-03 17:24] adriansev opened #853 "mariadb 10.5.13 variable error"
Hi! After creating a new project on a newly started ansible-semaphore v2.8.40
and after checking alerts checkbox i get this:
`ERRO[0004] sql: Scan error on column index 4, name "alert_chat": converting NULL to string is unsupported`
and i'm no longer able to use the installation.

[2022-02-03 21:00] fiftin commented on #853
Fixed in 2.8.41 https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.41

[2022-02-03 21:00] fiftin commented on #844
Fixed in 2.8.41 https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.41

[2022-02-03 21:05] #754 closed, assigned to fiftin

[2022-02-03 21:05] #725 closed, assigned to nobody

[2022-02-03 21:06] #778 closed, assigned to mgukov

[2022-02-03 21:07] #844 closed, assigned to fiftin

[2022-02-03 21:07] #853 closed, assigned to fiftin

[2022-02-03 21:44] fiftin commented on #832
@OPSTime, please try this (https://github.com/ansible-semaphore/semaphore/discussions/848):

<img width=500 src="https://user-images.githubusercontent.com/914224/152433414-c2424df2-230f-411e-9d42-fa5d0ddf1c88.gif">

[2022-02-03 22:45] fiftin commented on #832
Checked, it works. UI fix will be in next release.

[2022-02-03 22:45] #832 closed, assigned to nobody

[2022-02-03 22:50] fiftin commented on #756
Hi @srinathman,

I have no experience with LDAP. I need help with it.

Theoretically it should works if config flag `ldap_needtls` is raised.

But I can't check it.

I found similar issue https://github.com/shaj13/go-guardian/issues/97

[2022-02-03 23:29] KenK73 commented on #756
I have no problem getting LDAP working, LDAPS on the other hand, I was getting the "already encrypted" error.  I have not tried anything recently.

[2022-02-04 01:04] srinathman commented on #756
Hi @fiftin ,
I'm not fluent in go, but checking the go-ldap code I belive that you need to use the recommended  "DialURL" function instead of Dial or DialTLS. It looks like DialURL will take care of using the correct protocol according to the url prefix and opts (ldap, ldaps, ldap+tls, etc).

Ref: https://github.com/go-ldap/ldap/blob/13008e4c5260d08625b65eb1f172ae909152b751/conn.go#L205

I can hel

[2022-02-04 09:24] fiftin commented on #756
@srinathman, you are right, I will changed it. Old variant deprecated, but it should works.

[2022-02-04 11:38] fiftin commented on #808
@RyanLin1995 , please try https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.43

[2022-02-04 11:41] fiftin commented on #756
I updated ldap library, may it fix issue.

https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.43

[2022-02-04 19:44] KenK73 commented on #756
Running 2.8.43 now and still having LDAPS issues. I setup for port 389/no TLS and it works fine. If I setup on port 636 with TLS I get "LDAP Result Code 200 Network Error LDAP already encrypted" and if I try port 636 without TLS I get "connection reset by peer".

I am using a private CA and I am not sure where I would need to add the PEM file for that on the Semaphore container if that might be my

[2022-02-04 22:29] srinathman commented on #756
@fiftin  please check the following pull request:  https://github.com/ansible-semaphore/semaphore/pull/854
I believe it fixes most of the ldap related issues discussed here.

[2022-02-05 14:28] mikkel1156 opened #855 "Thinks access key type is not SSH"
I'm running version v2.8.44 and it crashes (panics) thinking the access key type isn't SSH. I tried creating a new one, and even checked MySQL to see if the data was different somehow - it of course wasn't.

Here is the error I'm getting:
[code]

I'm suspecting it's somehow not getting the right data from the database, since the [code](https://github.com/ansible-semaphore/semaphore/blob/develop/db

[2022-02-05 19:28] fiftin commented on #855
Fixed in [v2.8.45](https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.45)

[2022-02-05 19:54] mikkel1156 commented on #855
Can confirm. Thanks for the prompt response!

[2022-02-05 19:54] #855 closed, assigned to fiftin

[2022-02-05 21:49] avalitan opened #856 "pq: relation "task__output" already exists"
and the table mentioned in the error:
[code]
I'm using postgres (or rather cockroachdb) as the database.

[2022-02-06 00:34] nlvw opened #857 "Migration Error From 2.8.33 to 2.8.45"
Hi, when testing the new pre-release/release I hit a migration error.  This is using a mariadb database (same host) on RHEL 8.

[code]

[2022-02-06 09:09] lemonka opened #858 "[Feature Request] Accessing Facts with API"
I believe there is no such possibility but I might be wrong  https://ansible-semaphore.com/api/

[2022-02-06 09:17] fiftin commented on #858
What facts do you mean?

[2022-02-06 09:32] lemonka commented on #858
https://docs.ansible.com/ansible/latest/user_guide/playbooks_vars_facts.html#ansible-facts

I was wondering would it be possible to get JSON with something similar

API/project/{project_id}/facts/{hostname}/ will return {{ ansible_facts }}

API/project/{project_id}/facts/{hostname}/branch1/branch2 will return {{ ansible_facts[branch1][branch2] }}

[2022-02-06 09:59] fiftin commented on #857
Fixed in [v2.8.46](https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.46).

[2022-02-06 10:02] fiftin commented on #856
Can't reproduce. What version of Semaphore do you use?

[2022-02-06 11:13] fiftin commented on #852
Hi @salgua ,

Try next:

[code]

[2022-02-06 12:08] avalitan commented on #856
semaphore_2.8.45_linux_amd64.deb from https://github.com/ansible-semaphore/semaphore/releases/download/v2.8.45/semaphore_2.8.45_linux_amd64.deb
but I get the same error with 2.8.36:

[2022-02-06 12:30] fiftin commented on #856
Do you upgraded from older version or installed from scratch?

[2022-02-06 12:44] avalitan commented on #856
here is the full database if you need it:
[code]
and the migrations table, as it is the only tabla containing data:

[2022-02-06 12:44] avalitan commented on #856
a new install

[2022-02-06 22:11] nlvw commented on #857
Awesome I need to deploy a new dev VM to test the upgrade and I'll verify the fix (could take a few days).

[2022-02-07 11:29] radarsugarcrm opened #859 "Issues after upgrade to latest release 2.8.49"
Today I upgraded from 2.7.22 to the latest release 2.8.49.
New release works fine but I have some issues:
1.) time stamp on web-gui still wrong for me.
     web-gui shows e.g. 2:00:00 pm but current time on OS 1:00:00 pm
2.) I do not receive any emails for alarms, even with proper setup, because in release 2.7.22 it was working (at least for a time)
3.) because of above issue 2. I configured syste

[2022-02-08 08:57] feloxx opened #860 "vault_key_id missing error"
v2.8.35

[code]

[2022-02-08 11:00] fiftin commented on #860
Do you use BoltDB as database?

[2022-02-08 14:29] feloxx commented on #860
Use MySQL, all table constraints are removed.

[2022-02-09 06:55] feloxx opened #861 "Login verification code"
hi~

Even though it's running on an Intranet, but for security.

Whether to add the verification code login. mandatory.

[2022-02-09 10:01] backtooth opened #862 "user adding issue 2.8.49"
Issue has been noticed when installing new semaphore via snap (with default configurations)

adding second user (admin) wont see any projects

[2022-02-09 10:48] Driaan commented on #756
Same issue hopefully this gets merged and released quickly..

[2022-02-09 18:59] l3system commented on #807
Im having the same issue when running the binary standalone or from systemd.
Running a docker container w. same repo/inventory works fine (Im using the same db).
Static inventory or from file gives same result.

I tried running the binary as root with same result, no luck.
Cheked out files are in place in /tmp/semaphore/, same goes for the inventory_xx files.
Im suspecting that the binary cant fin

[2022-02-09 20:04] fiftin commented on #860
Please update Semaphore to latest version, this bug fixed. But you should update/remove broken template.

[2022-02-09 20:06] fiftin commented on #862
It is correct. Admin user should add him/her to a project.

[2022-02-09 20:07] fiftin commented on #861
I didn't understand the question.

[2022-02-09 20:11] fiftin commented on #859
Hi @radarsugarcrm ,

I will check email sending.

By the messages for all tasks. It is correct behaviour now. I will add flag to project settings to setup what message should be send.

[2022-02-09 20:27] fiftin commented on #807
@l3system  it is looks like different issue...

[2022-02-09 20:37] l3system commented on #807
Let me know if you want me to open a new issue or do some more troublehooting.

[2022-02-09 21:22] fiftin commented on #807
I need some more troublehooting, but I don't know how to get it :)

[2022-02-09 21:26] fiftin commented on #807
Looks like some checks required before running ansible-playbook.

[2022-02-10 05:22] RyanLin1995 commented on #808
Hi Denis,

Sorry for the late reply.
Seems the 2.8.43 doesn't work.
Below is the error message
[image: error.png]
and config file settings.
[image: config file.png]

Thanks!

Denis Gukov ***@***.***> 于2022年2月4日周五 19:38写道：

[2022-02-10 10:42] l3system commented on #807
Actually its not a big deal.
The reason I was trying out the standalone binary was that I needed to include the python module "pywinrm" in the docker image, to be able to run ansible against windows hosts.

In case you would like to include it in the official Semaphore image this is the command (as per ansible docs):
`pip install "pywinrm>=0.3.0"`

Official docs Ansible Windows Remote Management:

[2022-02-10 14:35] fiftin commented on #756
Please try this version: https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.50

[2022-02-10 15:07] Driaan commented on #756
Thanks @fiftin this seems to be working!

Using these settings
`"ldap_enable": true`
`"ldap_needtls": true`

[2022-02-10 18:41] fiftin commented on #756
@KenK73 , can you confirm LDAPS works?

[2022-02-10 20:23] tiny-pangolin commented on #756
I changed to using port 636, set ```ldap_needtls: true``` and was able to sign in on both of my semaphore instances run 2.8.50

[2022-02-10 21:25] KenK73 commented on #756
Two thumbs up!  The log message still says LDAP and not LDAPS, but it did work with TLS true and on port 636 with v2.8.50.

[2022-02-12 08:11] #860 closed, assigned to nobody

[2022-02-12 08:12] fiftin commented on #808
Hi @RyanLin1995,

I can't see the image.

[2022-02-12 08:12] #756 closed, assigned to fiftin

[2022-02-12 09:00] #862 closed, assigned to nobody

[2022-02-13 14:29] pgnd commented on #657
has there been any branched work on this?
i'm not finding it (yet), and there's no milestone set ...

[2022-02-13 15:52] fiftin commented on #657
@pgnd, no

[2022-02-15 14:59] venkatasankhya commented on #857
when we try to upgrade from v2.7.22 to v2.8.49 . we see following errors and semaphore getting failed. right now, it working for v2.8.21 and all above versions getting same error. please help me on this.

Error: unknown command "/etc/semaphore/config.json" for "semaphore"
semaphore.service: main process exited, code=exited, status=1/FAILURE
Unit semaphore.service entered failed state.
semaphore.se

[2022-02-15 15:24] fiftin commented on #857
Yes, you should change you service's `ExecStart` field to:
[code]

[2022-02-15 17:08] venkatasankhya commented on #857
Thank you for your help. it worked great after changing ExecStart and upgraded to v2.8.49.

[2022-02-15 18:19] nlvw commented on #857
@fiftin this has fixed our issue.  Thanks for the quick response!!

[2022-02-15 18:19] #857 closed, assigned to nobody

[2022-02-15 19:57] Vitexus commented on #718
The same issue with fresh v2.8.50 and static inventory

![obrazek](https://user-images.githubusercontent.com/2621130/154138005-e28fcaa1-3ca1-4ea6-a8f7-882a7a9b8eac.png)

[code]
Playbook:

[code]

On debian 10
[code]

How to debug ?

[2022-02-16 02:25] 0x0034 opened #863 "can use a local playbook?"
hi~
can i use a local playbook?
i have some very big file , so i can't push them to github or ourself git.
i want to use a local palybook.
maybe i need your help~

[2022-02-16 08:50] #863 closed, assigned to nobody

[2022-02-16 10:31] venkatasankhya commented on #756
I have tested LDAPS using v2.8.50 and still see LDAP Results Code 200 error.

Request failed with status code 500 on Semaphore UI

Logs:
Starting Semaphore Ansible UI...
MySQL root@127.0.0.1:3306 semaphore
Tmp Path (projects home) /mnt/xvda/semaphore
Semaphore v2.8.50
Interface
Port :3000
Server is running
time="2022-02-16T10:15:51Z" level=info msg="LDAP Result Code 200 \"Network Error\": dial tcp

[2022-02-16 15:17] feloxx commented on #861
When logging into semaphore, need `Login Captcha`.

[2022-02-16 15:21] fiftin commented on #861
@feloxx, Yes, you are right, it is good idea. It is not implemented yet.

[2022-02-16 16:09] KenK73 commented on #756
Don't put the ldaps:// on the server, just use IP/FQDN:port

[2022-02-17 09:04] feloxx opened #865 "Lot of Host same time work can get stuck"
600 hosts at the same time to work on ansible `-f 20`.

Semaphore web stuck, only closed page then open page to restore.

Only web stuck.

---

Or the page gets stuck when the output reaches a certain amount.

For example, the operational output of 600 hosts.

[2022-02-17 09:17] fiftin commented on #865
I have no ability to reproduce this issue. It may be result of the huge output. Do you have any errors in Semaphore logs?

[2022-02-17 10:49] venkatasankhya commented on #756
that fixed the issue. Thank you for your help.

[2022-02-17 12:52] feloxx commented on #865
600 hosts run results

log file

[code]

---

I think we can simulate a task with Ansible, print a lot of output, and see how many orders of magnitude Semaphore can handle

[2022-02-17 14:59] CorvetteCole commented on #718
I have exactly the same problem as @Vitexus ... I suspect this is somehow an Ansible error, but I don't know how to debug that

[2022-02-17 15:14] l3system commented on #718
I had the same issue.
Actually it was a missing playbook that triggered that error.

[2022-02-17 15:29] CorvetteCole commented on #718
Actually, this playbook works fine if ran via the command line Ansible. It just fails using semaphore.

`ansible-playbook -i inventory_2147483572 --step -e "ansible_user=pi ansible_ssh_pass=<password>" repository_2_7/setup-ssh-tunneling.yml`

This command works perfectly in the root/snap/semaphore/common/repositories directoy... so what is the deal with semaphore?

same exact playbook, same exact

[2022-02-17 15:41] CorvetteCole commented on #718
it even works with the bundled version of Ansible.. just not in the web ui

`/root/snap/semaphore/common/ansible_env/bin/ansible-playbook -i inventory_2147483572 --step -e "ansible_user=pi ansible_ssh_pass=<password>" repository_2_7/setup-ssh-tunneling.yml`

[2022-02-17 21:42] 1024jon opened #867 "Galaxy Collection Install Error"
Im running semaphore on ubuntu 20.04, snap version 2.8.49.
While trying to install community.general collection I get this error.

[code]

[2022-02-18 17:53] 1024jon commented on #867
I setup a docker install with the latest version(2.8.53) and it seems to function correctly

[2022-02-18 18:26] fiftin commented on #867
@1024jon , this issue only for snap installations.

[2022-02-18 20:34] ocafebabe commented on #642
I'm facing the same issue with Semaphore 2.8.49: with a large output the web console gets stuck forever!

Is there a way to debug this?

[2022-02-19 11:51] pavkamlc commented on #833
I cannot sync with PAT:

`11:28:03 AM
Task 4 added to queue
11:28:06 AM
Prepare TaskRunner with template: updates
11:28:06 AM
Updating Repository https://github.com/pavkamlc/ansible.git
11:28:06 AM
warning: Pulling without specifying how to reconcile divergent branches is
11:28:06 AM
discouraged. You can squelch this message by running one of the following
11:28:06 AM
commands sometime before your

[2022-02-19 19:55] fiftin commented on #833
It is not looks like PAT issue.

[2022-02-19 19:55] fiftin commented on #833
It is not looks like PAT issue.

[2022-02-19 20:13] fiftin commented on #833
It is not looks like PAT issue.

[2022-02-21 13:23] jsinic opened #868 "Upgrade Semaphore"
Hi

I have troubles with upgrading Semaphore from version 2.5.1 to latest stable 2.8.53. Update over GUI can not process, I got prompt : Upgrade seems to be taking a long time. Check server logs!

I do not know where to find these logs. Or what could be wrong, why update failed?

Thanks

[2022-02-21 13:43] Vitexus commented on #868
there is few differencies:

1. make database migrate fist: ```semaphore migrate --config /etc/semaphore/config.json```
2. application is now started by: ```semaphore server --config /etc/semaphore/config.json``` - so update your /etc/systemd/system/semaphore.service to:

[code]

[2022-02-21 21:37] jsinic commented on #868
Ok in which directory I have to run these commands. I had attached CLI logs with errors.

[Semaphore_commands.txt](https://github.com/ansible-semaphore/semaphore/files/8112199/Semaphore_commands.txt)

[2022-02-22 08:36] fiftin commented on #868
@jsinic
[code]
Someone else uses port 3000. You should stop it or change Semaphore port.

[2022-02-22 13:34] jsinic commented on #868
I have changed the port but update still failes, so I made new install with snap. I can access web GUI login page, I follow instalation guide, but I am unable to add new user after install

[root@ansible ~]# sudo semaphore user add --admin --name ******* --login ansible --email ********** --password  *********
sudo: semaphore: command not found

Do you have any advice how to solve these?

My siste

[2022-02-22 18:12] i-kit opened #869 "SSH key protected by phrase can't access git repo"
Seems there is issue with password protected SSH key:
- without protection - can clone playbook repo
- with protected key - permission denied.
-
![image](https://user-images.githubusercontent.com/59962283/155200686-02b93bf4-05f6-4a75-b860-fd304dae5c43.png)
same key without passphrase works like charm

[2022-02-22 18:16] ocafebabe opened #870 "Console is stuck in "Running" state"
I'm experiencing an issue with Semaphore where the console is stuck in "_Running_" state indefinitely even though the playbook has failed (exit code 1):
![Screenshot from 2022-02-22 13-05-06](https://user-images.githubusercontent.com/3409735/155193404-b1fe530f-bdfc-4578-865f-1958ada374be.png)

This is happening only when the playbook is generating a lot of output (+1000 lines) on an error and it s

[2022-02-22 20:31] ocafebabe commented on #870
I did another test with the same playbook to reproduce the same behaviour and I discovered something interesting, while the console is still showing a "**Running**" state, the task is correctly shown with a "**Failed**" status under _Task Templates:
![Screenshot from 2022-02-22 13-41-50](https://user-images.githubusercontent.com/3409735/155214101-205add6d-e351-4f29-89bb-27f4b6cb2e7a.png)

[2022-02-23 01:28] vknetlab opened #871 "fatal: bad numeric config value '0"
Used docker to install semaphore latest version and i got this error "fatal: bad numeric config value '0"
Not sure if it bug or some config issue. Thanks
[code]

[2022-02-23 10:21] Driaan commented on #718
i have the same issue with exit status 1 no further description.. standalone install using static or file host no difference

installing static inventory
12:17:25 PM
No roles/requirements.yml file found. Skip galaxy install process.
12:17:26 PM
Listing playbook hosts failed: exit status 1

Any ideas?

[2022-02-23 12:28] i-kit commented on #869
Update:
![image](https://user-images.githubusercontent.com/59962283/155319435-336f9550-e7ce-4d29-8f44-ec4dbafa2900.png)
any way to bypass this ?

[2022-02-23 13:18] CorvetteCole commented on #718
@Driaan I switched to using rundeck. it has an Ansible plugin and runs great. Using your system Ansible install etc and I just love it. would recommend

[2022-02-23 13:22] Driaan opened #873 "panic: type must be ssh"
Executing docker semaphore latest. Tried with setting user/password or ssh key in key store against the static inventory.

semaphore_1  | Tmp Path (projects home) /tmp/semaphore
semaphore_1  | Semaphore v2.8.43
semaphore_1  | Interface
semaphore_1  | Port :3000
semaphore_1  | Server is running
semaphore_1  | time="2022-02-23T13:14:38Z" level=info msg="Task 8 added to queue"
semaphore_1  | time="20

[2022-02-23 13:24] #873 closed, assigned to nobody

[2022-02-23 14:34] sweisgerber-dev commented on #758
@fiftin
I've got this bug as well, when running semaphore in docker.
`host_key_checking = False` solves the issue and connects and stores the host key in `/home/semaphore/.ssh/known_hosts`, also when adding the flags in  the inventory file: `ansible_ssh_common_args: '-o StrictHostKeyChecking=no'`

There are multiple solutions and workarounds and I would advocate against the general use of `host_ke

[2022-02-24 08:08] KasperSkytte commented on #758
@sweisgerber-dev thanks. Just went through possibly everything in the ssh man pages and seems there is just no way to "turn off" the interactiveness, at least for the host key checking part. I agree that disabling host key checking is not ideal, it's a security risk. The only way would be to manually add the host keys to `~/.ssh/known_hosts` beforehand or as you suggest mount it from the host mach

[2022-02-24 10:37] ckieser commented on #871
I had the exact same issue using a https://gitlab repository.
I think there's an issue with https:// and username/password/token.

Using ssh keys and git URL instead of https helped me to get it working.

[2022-02-24 19:26] 1024jon commented on #758
FWIW, I'm running the newest version in docker(2.8.53) and I haven't run into this issue anymore...I just have "ANSIBLE_HOST_KEY_CHECKING: "false"" included in my docker-compose.

[2022-02-25 05:11] Driaan opened #874 "Support for playbooks within folders?"
Currently using a structure where playbooks are categorized into different folders but cant seem to run any when passing the path into the playbook name for the task. Are playbooks within folders supported?

[2022-02-25 17:35] shawnweeks commented on #871
Also encountering this issue and my GitLab Repo is HTTPS only so I don't have the option to use SSH.

[2022-02-26 19:44] shawnweeks opened #875 "Don't Require Environment in Task Templates"
From what I can tell "Environments" are just being passed to the playbooks as extra vars so requiring an empty environment be created for every task seems unneeded. All of the back end code appears to check if the environment ID is null and then skip it if it is so it's just a UI limitation. We also don't document what Environments are in the Wiki so for a while I thought it was talking these envi

[2022-02-28 15:25] pao-pirka opened #876 "LDAP login via webinterface not possible"
Hello there!

LDAP is configured correctly, yet no user can login via the web interface. We tried "domain\user" + Password and "user" + Password, sadly neither worked.

Web-Interface address http://xxx.xxx.xxx.xxx:3000/auth/login

**CLI output:**
sudo semaphore service --config=./config.json
MySQL abc@127.0.0.1:3306 semaphore
Tmp Path (projects home) /tmp/semaphore
Semaphore v2.8.53
Interface
Port

[2022-02-28 21:13] #868 closed, assigned to nobody

[2022-02-28 21:23] jsinic opened #877 "winrm or requests is not installed: No module named ''winrm"
Hi

I have problems with running task template  in Semaphore GUI.

fatal: [IP_ADRESS]: FAILED! =>
msg: 'winrm or requests is not installed: No module named ''winrm'''

If i run same playbook and same host in the CLI mode it works.

My specs are:
ansible 2.7.0
python version = 3.6.8 (default, Nov  9 2021, 14:44:26) [GCC 8.5.0 20210514 (Red Hat 8.5.0-3)]
Semaphore version 2.8.53

Do you have any adv

[2022-03-01 07:22] sweisgerber-dev commented on #758
@1024jon Keep in mind that this disables a core security feature of SSH. It's the same as if your browser wouldn't check any authenticity of a website's TLS certificate and accepts all certificates (self-signed, wrong domains, etc).

[2022-03-01 13:17] Vitexus commented on #718
Upgrade to latest package fix my problem https://github.com/ansible-semaphore/semaphore/issues/718#issuecomment-1040731187

[2022-03-02 02:00] atika commented on #692
Semaphore define the `HOME` to the `config.TmpPath`, and when playbooks are run, ansible create the directory `.ansible` in this directory. It's the reason why user defined modules, collections, roles installed in the user home directory are not found.
By adding to the task the argument `["-vvv"]` you should see when the playbook are run the location of the config file and the directories where an

[2022-03-02 18:25] bioinfornatics opened #878 "How to use ansible-semaphore with terraform"
Dear,

Thanks for your amazing tools you have done a nice works.

After read documentation and test the demo it is unclear to me how to use terraform and ansible together through semaphore.
Indeed most of time the inventory will be generated by terraform output which will be use by the ansible playbook to set vars and inventory.

Thanks for your highlights

Have a nice day

[2022-03-04 03:54] tiny-pangolin opened #879 "missing docs"
I was trying to find the repo for documentation so I could submit a pull request but couldn't I find it. I was wondering if the repo for docs.ansible-semaphore.com could be made public for pull requests.

[2022-03-06 07:03] fiftin commented on #879
It is public,

https://github.com/fiftin/ansible-semaphore-docs

I will update README to reference this repo.

[2022-03-06 07:31] fiftin commented on #878
Hi @bioinfornatics,

Semaphore works only with Ansible. Please provide more details about your use case.

[2022-03-06 07:37] fiftin commented on #877
What Semaphore installation do you use (snap, docker or binary)?

[2022-03-06 07:38] fiftin commented on #870
Thank you, I will try to reproduce the issue.

[2022-03-06 07:40] fiftin commented on #868
Problem solved?

[2022-03-06 07:43] fiftin commented on #873
Problem solved?

[2022-03-06 07:47] fiftin commented on #718
Sorry for delay.

@Vitexus , problem solved?

[2022-03-06 07:48] jsinic commented on #877
I use snap.

[2022-03-06 11:57] Driaan commented on #873
No but its probably environmental.. when I ran the docker equivalent it was fine so I'm just doing that

[2022-03-06 12:19] Vitexus commented on #868
@fiftin in my case yes :)

[2022-03-07 15:54] ocafebabe commented on #870
Thanks a lot and please let me know if you need additional details or testing from my part.

[2022-03-08 08:14] RhoAndB opened #880 "Sending mail gives me "Can't send email!" (504 5.7.4)"
I try to setup Exchange-Online SMTP for sending mail through it. Therefor i've set following settings in config.json:
- email_sender: email@domain.com
- email_host: smtp.office365.com
- email_port: 587
- email_username: email@domain.com
- email_password: xxxx
- email_secure: true

When an email is sent, following error is shown in semaphore:
<img width="394" alt="image" src="https://user-images.gi

[2022-03-08 13:11] janilahti opened #881 "Wrong online help when creating new repository"
v2.8.53. When clicking _Branch_ field help link you get the same help text as for _URL_ field.

![semaphore-fail-220308](https://user-images.githubusercontent.com/3872914/157243913-688f2c42-7bbb-4b5a-8027-56b00e3f781a.png)

[2022-03-08 15:27] Br4v3St4rr commented on #877
Same issue using Snap installer.

[2022-03-08 18:50] jdhayes commented on #878
@bioinfornatics you can create an inventory script that Semephore can parse to gather a list of hosts.
I use Foreman to house my inventory and I have a Python inventory script to gather the hosts from Forman and present them to Semaphore, which is stored in my Ansible playbook as `inventories/production/hosts`.

The general Ansible documentation is here:
https://docs.ansible.com/ansible/latest/use

[2022-03-09 02:07] dewongway commented on #807
Hi, I believe I'm hitting the same error as well. Wondering if you have fixed it?  I'm using the semaphore_2.8.49_linux_amd64.rpm

My semaphore setup:
[code]

[code]

[2022-03-09 10:47] muzzol commented on #876
I'm facing same problem.

is there a way to debug conversation between semaphore and LDAP server?

I'm using 389DS, a pure LDAP v3 , not AD.

[2022-03-09 13:42] Vitexus commented on #718
Thank you for asking :)

**For me yes.**

But the exact reason is still unknown.

[2022-03-09 22:39] wdsff1 commented on #870
Unfortunately I have the same problem. When it happens, the console output is "Enter passphrase for key '/ansible/semaphore/access_key_..'

[2022-03-11 17:24] dewongway opened #885 "Boltdb instructions"
Hi, I want to try out using the boltdb for semaphore but not sure what I need to do with it.  Is there any documentation on what needs to be done? I noticed that after running semaphore setup, it would create the boltdb datafile but semaphore cannot connect to the database.

I'm using semaphore rpm version 2.8.53.

Thanks

[2022-03-11 17:53] dewongway opened #886 "Task console output not format properly"
I use registers a lot and when showing the contents in the registers, the spaces and indentations are stripped out and make it very hard to read.

semaphore rpm version 2.8.53

[2022-03-12 15:08] fiftin commented on #886
Hi @dewongway,

Could you provide example?

[2022-03-12 15:11] fiftin commented on #885
BoltDB is a embedded database. BoltDB is a single file like SQLite. The file is created automatically. You can read it by tool https://github.com/br0xen/boltbrowser.

[2022-03-13 10:48] bakito commented on #780
@fiftin If you added the env var `cmd.Env = append(cmd.Env, "ANSIBLE_FORCE_COLOR=True")` here, you would have colorized output.
https://github.com/ansible-semaphore/semaphore/blob/develop/lib/AnsiblePlaybook.go#L27

If you have the color coded output, you perhaps could render it in the web ui accordingly.

[2022-03-13 15:26] bakito commented on #780
I created a PR with a possible implementation: https://github.com/ansible-semaphore/semaphore/pull/887

[2022-03-14 15:37] nook24 commented on #879
Would be good to move this under the ansible-semaphore orga on GitHub. I had to search for the docs as well.

[2022-03-14 19:25] fiftin commented on #879
I have no access to ansible-semaphore organisation. I have access only to semaphore repo.

[2022-03-15 08:20] steadfasterX commented on #879
my main prob is that the docs are simply empty, e.g. "environment", inventory, repositories are all empty. currently was trying to find out what the meaning of environment is..

[2022-03-15 09:39] steadfasterX commented on #827
yea that would be great to have.. see #890

[2022-03-15 09:42] steadfasterX commented on #718
did you solved it? having the exact same issue and also using no snap but "normal" installation of semaphore.. its really hard to debug as I cannot find any useful logs or output anywhere..

EDIT:
found the actual reason for my issue and created a ticket at #890 as the above is really just a generic hint which can't be fixed without using the CLI to see the real error.

[2022-03-15 10:53] danielo515 commented on #874
I am also interested on this, because almost all my repositories have the playbook files nested

[2022-03-15 20:11] danielo515 commented on #874
I can confirm that it's possible to target nested folders. For example, I just put `NAS/playbook.yml` and it ran properly. Will be awesome if semaphore analizes the folders and also offers you a drop down to select an existing one, but without loosing the ability to put some arbitrary string too

[2022-03-15 20:11] #878 closed, assigned to nobody

[2022-03-15 20:15] danielo515 commented on #875
so this is not for setting variables? How is that done then?

[2022-03-15 23:05] shawnweeks commented on #875
What Semaphore calls environment is just the json passed to the extra-var parameter in ansible-playbook. Ansible itself has something called environment that's used to set the state of the shell for the remote task aka the environment. For this enhancement I'm just saying we should require you to pick an environment in the UI since many times it will just be empty anyway. The backend code looks li

[2022-03-16 08:10] steadfasterX opened #890 ""fix" the debug mode"
## background

I just started with semaphore a day ago and struggled over 2 major issues: the debug is not what I expect to get and there is no role concept for accessing and using semaphore.

The most important thing is I didn't understood first what exactly semaphore expects to run a playbook. In my naive first tries I didn't used git - I simply pointed to a local path to a playbook on my system

[2022-03-16 08:53] steadfasterX opened #891 "proposal: role based authorization"
## background

usually you have at least 4 groups of persons accessing a tool like that:

1. global admins (full access to everything, everywhere)
2. project admins (full access to a project - only)
3. project users (specific action permissions in a project, e.g ability to click the build button but not modding an inventory etc)
4. readonly users (no action permissions, never)

what I currently se

[2022-03-16 16:59] steadfasterX commented on #786
my assumption of Survey Variables was that I can set them and so override a variable defined in "Environment". Is it intended that Environment has precedence over survey variables? Imho I would expect that survey vars should be able to overwrite them but thats not the case currently and I am not sure if thats a bug or wanted behavior?! @fiftin

[2022-03-16 18:57] unclegaara opened #893 "Unable to add ssh key"
Hello guys! I got an error when trying to add ssh-private key into semaphore:
![Screenshot 2022-03-16 at 21 44 41](https://user-images.githubusercontent.com/4003953/158664549-6417756b-44ba-4881-afd7-00c8baeb8850.png)
Here is log message:
[code]

App running in docker with postgresql database.

[2022-03-17 15:54] ziouf commented on #682
Hello @fiftin, I think this issue can be re-open because I'm facing the same issue.

# Exec env

[code]

# Context

I have a `collections/requirements.yml` file in my template git repository with the following content :
[code]

# Expected behaviour

At job startup, Semaphore checks that all requierments are installed and up to date for each 'collections/requierments.yml' and 'roles/requierments.ym

[2022-03-17 16:02] ziouf commented on #682
After a quick check in source code, it seems that semaphore ONLY check for role requierments, ignoring collections.

https://github.com/ansible-semaphore/semaphore/blob/5f707bae4b0955b61784a86589162f7d9be59ebd/services/tasks/runner.go#L486-L512

We need to add the same feature for collections.

It is very concerning because collections are the new distribution standard for ansible content.
https:/

[2022-03-18 08:35] steffenfritz opened #895 "Webserver returns 404 Not Found"
I installed semaphore on FreeBSD 13, version 2.8.53 and configured it using `semaphore setup`. The database is Postgres, schema and tables are created.

When I start sempahore by `semaphore server --config ./config.json` the server is listening on 3000/tcp and no errors are shown. There is no reverseproxy between, the server binds to 0.0.0.0 (btw, this is not correct in the documentation).

Proble

[2022-03-18 10:53] pao-pirka commented on #876
The weird thing is, that semaphore states "INFO[0059] User abc with email [abc@cbd.com](mailto:abc@cbd.com) authorized via LDAP correctly" into the console, but the web interface says otherwise. If LDAP uses e.g. sssd, maybe the e.g. sssd error logs can show some additional information?

[2022-03-18 17:12] CptMauli opened #896 "Change of user password fails when using postgres"
That's what I can see in the log:

pq: syntax error at or near \"user\"

I guess the field user has to be quoted somehow

[2022-03-19 01:49] AndrewPaglusch opened #897 "Specify SSH Key for Private Ansible Galaxy Role"
I am running the `latest` tag (as of March 18, 2022) of Semaphore in Docker.

My repository contains a `requirements.yml` file so that Ansible Galaxy can pull in roles and collections from Galaxy and GitHub. One of the roles listed in that file can only be accessed via a SSH key, as it's a private GitHub repository.

**requirements.yml**
[code]

Here's the portion of the task logs that shows the G

[2022-03-20 20:32] Vitexus commented on #111
The ANSIBLE_FORCE_COLOR[](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#ansible-force-color) = True environment setting still not work and output is black/white :(

[2022-03-21 13:48] sohailasghar688 commented on #808
@fiftin I am getting the same issue with Semaphore v2.8.53
LDAP is integrated, on first login user is getting logged-in successfully. After log-out it cannot. with following error:

_INFO[0033] User  with email  authorized via LDAP correctly
2022/03/21 14:25:23 http: panic serving 10.128.194.237:56434: Error 1062: Duplicate entry '' for key 'user.username'
goroutine 50 [running]:_

In admin consol

[2022-03-21 16:44] ElvisATF opened #898 "LDAP duplicate entry issue Semaphore v2.8.53"
I am getting an issue with Semaphore v2.8.53
LDAP is integrated, on first login user is getting logged-in successfully. After log-out it cannot login anymore. It gives me the  following error:
INFO[0033] User with email authorized via LDAP correctly
2022/03/21 14:25:23 http: panic serving 10.128.194.237:56434: Error 1062: Duplicate entry " '' for key 'user.username'
goroutine 50 [running]:

Can so

[2022-03-23 11:21] fiftin commented on #898
I can try to help

[2022-03-23 11:24] sohailasghar688 commented on #898
Issue is resolved by using following LDAP mappings:

       "ldap_mappings": {
                "dn": "dn",
                "mail": "mail",
                "uid": "uid",
                "cn": "cn"
        },

[2022-03-23 11:27] sohailasghar688 commented on #808
In my case, Issue is resolved by using following LDAP mappings with Semaphore v2.8.53:

       "ldap_mappings": {
                "dn": "dn",
                "mail": "mail",
                "uid": "uid",
                "cn": "cn"
        },

[2022-03-23 11:27] #898 closed, assigned to nobody

[2022-03-26 21:56] fiftin commented on #896
@CptMauli Thank you! Fixed in develop branch, will be in next release.

[2022-03-26 22:13] fiftin commented on #893
Hi @unclegaara,

What Semaphore installation do you use?

[2022-03-26 22:15] fiftin commented on #893
@unclegaara,

Looks like config option `access_key_encryption` has incorrect value.

Please read this https://docs.ansible-semaphore.com/administration-guide/security#database-encryption

[2022-03-26 22:20] fiftin commented on #895
Hi @steffenfritz ,

I never use FreeBSD, I will try to install and reproduce.

[2022-03-26 22:38] fiftin commented on #869
Hi @i-kit ,

currently no way

[2022-03-28 17:53] jhaesselbacher opened #899 "J+2 function ?"
do you plan to integrate a j + 2 function for deployment projects ?

[2022-03-28 18:36] fiftin commented on #876
Hi @pao-pirka ,

I can't reproduce the issue. I use following setup https://gist.github.com/fiftin/a697b2a88722ebd4ef1293bd5d7bbc88 and it is works without issues. I need more details to reproduce.

[2022-03-28 18:45] fiftin commented on #876
@pao-pirka, @muzzol

Please read this answer: https://github.com/ansible-semaphore/semaphore/issues/898#issuecomment-1076257198

[2022-03-28 19:16] fiftin commented on #876
@muzzol,

I never used 389DS,  I would appreciate for instruction how to setup it via Docker.

[2022-03-28 19:39] muzzol commented on #876
You can try this one: https://hub.docker.com/r/389ds/dirsrv

is not mine, but is done by official mantainers so it should be ok.

besides docker,I want to point out that 389DS is a standard LDAPv3 server, so is compliant with any LDAP query without any kind of customizations or additional schemas.

searching typical attributes like cn, mail or uid should be completely transparent from the client s

[2022-03-29 10:43] radarsugarcrm commented on #859
any update regarding the mail issue above?
I found those lines in error.log:
`time="2022-03-29T12:35:03+02:00" level=warning msg="read |0: file already closed" error="Failed to read TaskRunner output"`
`time="2022-03-29T12:35:03+02:00" level=warning msg="read |0: file already closed" error="Failed to read TaskRunner output"`
I don't know if this is related.

btw thx a lot for adding the **Suppress

[2022-03-29 12:02] pao-pirka commented on #898
I configured my config.json like this, sadly did not help. Any further ideas on this?

[2022-03-29 12:09] sohailasghar688 commented on #898
@pao-pirka can you share your other ldap configuration fields as well to have a look?

[2022-03-29 12:20] pao-pirka commented on #898
I hope that helps, if not please give me a heads up!

[...]
       },[...]
	"ldap_binddn": "CN=yyy,OU=yxy,OU=xxyy,OU=yxy,OU=xxyyx,OU=yyyy,DC=yxyxy,DC=xyxyxy,DC=xr",
        "ldap_bindpassword": "password",
        "ldap_server": "abc:389",
        "ldap_searchdn": "OU=xx,OU=xy,DC=xyx,DC=xyx,DC=xr",
        "ldap_searchfilter": "(uid=%s)",
        "ldap_mappings": {
                "dn": "dn",

[2022-03-29 13:21] sohailasghar688 commented on #898
@pao-pirka I dont find anything odd in configurations, just a confirmation that you are not using tls with ldap?

What was the default admin user you had at Semaphore configurations? Make sure to have a complete email ID as admin user not something e.g. admin

[2022-03-29 18:32] unclegaara commented on #893
@fiftin Yeah, that was the problem! Thank you so much!

[2022-03-29 18:34] #893 closed, assigned to fiftin

[2022-03-29 19:28] fiftin commented on #899
Hi @jhaesselbacher,

What is J+2?

[2022-03-30 07:47] stuartmaxwell commented on #745
This just caught me out. I'm unable to connect to Postgres from Docker with sslmode disabled. It appears this issue was closed without being fixed?

[2022-03-30 08:19] Cronick opened #900 "Posibility for more survey types in task templates"
Hi.

Is there a posibility to add more survey types like Ansible AWX?

[2022-03-30 09:13] topical commented on #895
Hi,

I wanted to use the FreeBSD package as well and got the same error messages.

The port's Makefile seems to be rather incomplete: it compiles the backend but completely misses out the frontend. So, the 404 is correct: there are no HTML, JS or CSS files in the port!

This isn't visible in the first place as all static content is compiled into the binary. The binary is just rather small and give

[2022-03-30 10:04] fiftin commented on #745
@stuartmaxwell ,

The issue was closed because it was fixed.

Perhaps you have another issue, please provide more details.

[2022-03-30 10:58] stuartmaxwell commented on #745
Hi again - sorry for the lack of details. I am following the docs and trying to use docker-compose with a Postgres database. I got stuck with the same issue reported above, that there appears to be no way to disable sslmode when using docker compose. I searched the GitHub repo for the `SEMAPHORE_DB_OPTIONS` string mentioned above but couldn't find it in the source code so assumed that it was never

[2022-03-30 11:30] fiftin opened #901 "Unable to connect to Postgres from Docker with sslmode disabled."
No env var `SEMAPHORE_DB_OPTIONS` for Docker image to disable `sslmode` for Postgres.

https://github.com/ansible-semaphore/semaphore/issues/745#issuecomment-1082980602

[2022-03-30 11:30] fiftin commented on #745
@emollusion Thank you,

Got it, you are right, currently it is not supported. But it is another issue (not  `panic: parse "postgres://semaphore:)": invalid port ":)"`). Created it.

[2022-03-30 21:23] stuartmaxwell commented on #901
Hi there - thanks for raising this issue. I believe the main change will be in this file: [deployment/docker/common/semaphore-wrapper](https://github.com/ansible-semaphore/semaphore/blob/develop/deployment/docker/common/semaphore-wrapper)

Perhaps we could do something like this:

Provide an env var called `SEMAPHORE_DB_OPTIONS_SSLMODE` with an empty default value.

[code]

And then some code in t

[2022-03-31 07:03] radarsugarcrm commented on #859
any update regarding:
1.) time stamp on web-gui still wrong for me.
web-gui shows e.g. 2:00:00 pm but current time on OS and in database 1:00:00 pm

[2022-03-31 07:13] ziouf opened #902 "[feature request] Add git repository as inventory type"
This may allow to manage source code of dynamic inventory scripts

This feature would require to set spécific fields in the UI :
- git repository (choice among project's repositories)
- file path (free text to set the path of the inventory file from git repository root)

Every job using this inventory will trigger git pull as first runtime step.

Does it make sens for you ?
Thank you

[2022-03-31 09:26] lfreist opened #903 "LDAP authentication issues"
Hi,

I am facing some issues setting up LDAP authentication in semaphore.
**Version:** v2.8.49
**LDAP settings:**
[code]

If I enter "username" as username, I just get "Incorrect login or password" in the web gui and nothing in the console.
If I enter "domain\username" as username, I get "Request failed with status code 500" in the web gui and
`
INFO[0105] LDAP Result Code 201 "Filter Compile Erro

[2022-03-31 16:32] ziouf commented on #902
Another need, which is linked to this one would be:

- allow usage of dynamic inventory scripts

I tryied to setup python script as "file" type, but it's not invoked and produces the following error :

[code]

But locally this invocation works

[code]

[2022-03-31 19:39] jhaesselbacher commented on #899
Example : squest with awx allows you to expose the automation present in your instance of Ansible Tower/AWX as a service. Allows you for exemple to perform additional actions after initial deployement from ansible.

[2022-04-01 20:12] fawqsir commented on #901
I am able to bypass the ssl with postgres using the environment variable
SEMAPHORE_DB: ${POSTGRES_DB:-semaphore}?sslmode=disable

[2022-04-02 01:00] AndrewPaglusch commented on #897
Is there any more information I can provide to assist someone in helping me find a solution to this problem?

[2022-04-05 11:35] jhaesselbacher opened #904 "Survey Variables"
For Survey Variables when editing a template, it is possible to provide a Type multiple choice list for string or integer ?
Multiple choice options with a single selection  for the variable ?
it is also possible to provide a minimum and maximum number of characters when user entering the string ?
it is also possible to provide for entering a password type variable for which the characters will be

[2022-04-05 20:13] tonyyu85 opened #906 "Issue with LDAP"
Hi,

I am running to issue when config the following LDAP setting and getting the Invalid Credentials error.  It will be great if someone can help with this error? Current Semaphore version is 2.7.22.

       "ldap_binddn": "CN=svc-ldapuser,OU=Service Accounts,OU=Servers,OU=User Groups,DC=pc,DC=factset,DC=com",
        "ldap_bindpassword": "password",
        "ldap_server": "ldap.com:389",

[2022-04-06 02:45] magichome opened #907 "Local Repository "Failed to checkout repository""
I have a cloned git playbook repository defined in Semaphore with a file:// URL.  The repository resides locally on the Semaphore server.

When I try to run a playbook I get the error below...

[code]

The '/tmp/semaphore/repository_1_1' directory does not in fact exist but since it gets deleted when I do create it (for debugging), I presume Semaphore is managing it.

Any help appreciated.

[2022-04-06 08:53] fiftin commented on #906
Hi @tonyyu85 ,

1) try to use newer version of Semaphore
2) Example of LDAP setup: https://gist.github.com/fiftin/a697b2a88722ebd4ef1293bd5d7bbc88

[2022-04-06 09:16] fiftin commented on #907
Hi @magichome ,

It is known issue. It was fixed in `develop` branch. It will be in next release soon.

[2022-04-06 15:11] magichome commented on #907
Thanks

[2022-04-06 15:11] #907 closed, assigned to fiftin

[2022-04-08 03:50] vast0906 opened #908 "localhost unarchive error"
Make sure the required command to extract the file is installed. Command \"/bin/tar\" detected as tar type None. GNU tar required. Command \"/usr/bin/unzip\" could not handle archive

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/18095287/162358789-4db70336-287e-45a7-a566-bdcfa64db65c.png">

docker image: **ansiblesemaphore/semaphore@sha256:03d1f8684027fa8c262935df5d

[2022-04-08 12:32] jhaesselbacher opened #909 "[request] default environment variables semaphore ?"
Is it possible to have a list of default environment variables under semaphore ? In particular, is there a variable corresponding to the current user connected to semaphore, such as {{ current_user }}?

[2022-04-10 04:03] bbarman4u commented on #901
I am using the binary file mode of the semaphore, how do I bypass the ssl mode for postgres, do I need a different environment variable ?

[2022-04-11 14:07] alokispandey opened #910 "Semaphore |Failed updating repository: exit status 128"
Hi,

I am getting error while accessing git-repo over https from semaphore gui. (on cmd , git clone is working fine)
My git global configuration:
[code]
Semaphore Task logs:
[code]

I can clone repo from command line:
[code]

Any suggestion how to fix this, please?

[2022-04-12 12:49] alokispandey commented on #910
Any update, please?

[2022-04-12 15:46] tonyyu85 opened #911 "How to clean up task templates in Semaphore GUI"
Is there way to clean up multiple Semaphore template from the GUI instead of delete one by one?

[2022-04-13 15:18] tonyyu85 opened #912 "Is there anyway to manually kill the running semaphore task"
Is there anyway to manually kill the running semaphore task when running lower version of Semaphore?

Semaphore v2.6.9

[2022-04-14 12:28] fiftin commented on #912
kill ansible process.

[2022-04-15 22:18] dusatvoj opened #913 "LDAP problem No Such object"
[code]
... I'm using openldap with a lot of applications connected without a problem. The problem here is `time="2022-04-16T00:08:29+02:00" level=info msg="LDAP Result Code 32 \"No Such Object\": "` but the exact same query in apache directory studio (`searchdn` and `searchfilter` same) works and returning me my user.

My LDAP record is:
[code]
(truncated)

Any hint?
Thank you

[2022-04-19 15:10] jlebleu opened #915 "Unable to log twice using LDAP"
Seems to be duplicate of #801 but it may not :)

1 When logging into ansible semaphore with a LDAP account it properly logs in with the correct user.
2 Log out
3 Attempt to login again and it results in a unique constraint violation for user_username_key

2022/04/19 16:54:53 http: panic serving 10.169.112.151:51501: pq: duplicate key value violates unique constraint "user_username_key"

All my use

[2022-04-20 06:48] feloxx opened #916 "Task info has color"
Currently Task Info is black and white.

Such as, console execute `Ansible` color is displayed by default.

[2022-04-20 06:55] alokispandey opened #917 "how to run semaphore in debug mode"
Hi,

Could you suggest how to enable debug mode for Semaphore, please?
Also, how to check change the ownership of semaphore process.

[2022-04-20 07:56] alokispandey opened #918 "bug in "please allow overriding CLI argument in Task template Settings" opens spam viedoes""
<img width="252" alt="image" src="https://user-images.githubusercontent.com/19645013/164178811-519b64c1-2b83-47fc-8f50-c72e2e166370.png">

Clicking on "advance >>"please allow overriding CLI argument in Task template Settings" opens spam viedoes.

[2022-04-21 08:49] steadfasterX opened #919 "how to create a vault password so it can be selected in templates?"
well maybe its me being stupid again but how to fill the vault selection dropdown in a template?

I ref to this:
![](https://user-images.githubusercontent.com/914224/133695053-41983d96-518a-449e-bd87-80e628c8733e.png) (mentioned [here](https://github.com/ansible-semaphore/semaphore/issues/113#issuecomment-921310222))

I saw ppl writing db entries manually but that can't be the right process.. or?

[2022-04-21 14:49] steadfasterX commented on #890
workaround:

add `log_path=...` to your ansible.cfg and use `-vvv` as extra CLI arguments. this is really just a workaround only but it might help others until we have a proper solution for this

[2022-04-21 17:10] bakito commented on #916
this was fixed in https://github.com/ansible-semaphore/semaphore/pull/887

[2022-04-22 08:07] #916 closed, assigned to nobody

[2022-04-26 15:12] ndragon798 opened #920 "Inventory doc page has broken links"
https://docs.ansible-semaphore.com/user-guide/inventory
has a broken link https://docs.ansible.com/Ansible/latest/user_guide/intro_inventory.html
this should probably be https://docs.ansible.com/ansible/latest/user_guide/intro_inventory.html

The capital A in ansible is breaking the link.

[2022-04-29 06:54] jsinic opened #921 "Semaphore GUI error"
Hi

I have errors with running Semaphore GUI. Issue is present after update of Linux server. Running Ansible playbooks  over CLI works.

semaphore version
v2.8.53
ansible 2.9.27
python version = 3.6.8

Do you have any advice how to solve this issue.

Error logs.

8:33:46 AM
Run TaskRunner with template: Windows_host_PING
8:33:46 AM
Unhandled error:
8:33:46 AM
Traceback (most recent call last):
8:3

[2022-04-29 15:23] heatwebs22 commented on #877
I use the docker install and getting the same issue.

[2022-05-02 11:03] AndrewSav commented on #885
@fiftin Does BoltDB have performance limitations? If yes, is there a rule of thumb, when BoldDB is adequate and when Postgres/MySql is a better choice?

[2022-05-03 03:17] AndrewSav commented on #885
@fiftin and another related question, is there a way to migrate data between different dialects, e.g. if I want to move from BoltDB to Posgres/MySql?

[2022-05-03 18:16] edineicolli commented on #877
I also encountered the same situation using docker. As I understand it, openshift uses the docker image too, it should probably have the same return.

Probably when trying to connect using **psrp** you will get a message similar to “Failed to connect to the host via PSRP”, because it is necessary to include pypsrp.

**WinRM** and **PSRP** are part of ansible-core and are included with all Ansible

[2022-05-04 09:12] VigneshAjay98 commented on #309
![Screenshot 2022-05-04 143722](https://user-images.githubusercontent.com/30954802/166652725-dc143034-53a6-4e59-8db5-8abe8fccff8b.png)

I faced this issue and i did this as mentioned by @alfchee and its solved.
![Screenshot 2022-05-04 144153](https://user-images.githubusercontent.com/30954802/166653346-8d0aff7a-41bd-4d13-a1c2-0c556d2deb3b.png)

[2022-05-04 09:19] spurin commented on #309
Hi @VigneshAjay98

Whilst this will fix it, it will involve manipulating the Ansible configuration file related to your setup each time (if you’re using specific Ansible configuration files for different playbooks/areas).

In my course, Dive Into Ansible, I provide container based images for Ansible and the approach I take instead is to update Ansible in the container image so it’s using the corre

[2022-05-04 19:27] no-good-usernames-left opened #922 "No dashboard on fresh Snap install of Semaphore"
Brand new Ubuntu 22

Installed Semaphore via Snap and all the thing does is prompt to make a new project, there's no dashboard, no inventory, no environment, no team, nothing!

What causes this and how to fix?

[2022-05-05 15:56] asifbadkarma opened #923 "Systemd scripts not included in .deb or .rpm packages"
Would be helpful if the systemd scripts were included in .deb and .rpm packages.

[2022-05-05 16:34] #922 closed, assigned to nobody

[2022-05-05 16:37] fiftin commented on #917
What do you mean by "debug mode"?

[2022-05-05 16:39] fiftin commented on #915
Hi @jlebleu,

Thank you! Could you create PR? I will merge it immediately.

[2022-05-07 15:49] wdsff1 commented on #919
hi,

use keystore > new key > type="login with password"
![save](https://user-images.githubusercontent.com/92681375/167261784-fa2c2c81-f26c-4f3f-b61d-da978f63ccc7.jpg)

[2022-05-07 15:59] wdsff1 commented on #911
you have two options.

1. go in to database and clear the task__output, task table
2. via API

Example - Snippet:

    declare -A taskManage
    data=$(curl -k -s -G -H "Authorization: Bearer ${authToken}" 'Content-Type: application/json' -H 'Accept: application/json' ${http}://${HOST}/api/project/${projectID}/tasks) ||exit $?
    taskManage[tasks]=$(jq -r -e '.[].id' <<< "${data}") || exit $?

[2022-05-07 17:36] steadfasterX commented on #919
Thx! Would be great having that in the documentation..

[2022-05-07 17:36] #919 closed, assigned to nobody

[2022-05-09 04:56] alokispandey commented on #917
All i was trying to get more logs to indentify the:
user/owner of process
logs which can help me identifying where exactly the process is  faling as http error logs shows no clue..

[2022-05-09 07:14] wdsff1 commented on #917
hi,

run semaphore in detach mode with screen  - its my workaround for debuging.

example:

screen -S semaphore -d -m bash -c "semaphore  service  --config config.json.

so you can switch into screen session with "screen -r semaphore" and detach with "strg+a d"

[2022-05-09 08:02] alokispandey commented on #917
Hi,

I tried your suggestion but as you can see (in SS ) all its reporting is
"INFO" messages only which is not sufficient for troubleshooting.

Is it possible to configure the service  to generate more details?

[image: image.png]

On Mon, May 9, 2022 at 12:44 PM wdsff1 ***@***.***> wrote:

--
THANKS
ALOK PANDEY

[2022-05-09 16:49] jlebleu commented on #915
@fiftin Hello did the merge request, took a bit of time as I had to setup a go dev environment to be able to test my patch :)
Thanks for your help

[2022-05-11 15:40] tonyyu85 opened #927 "Extra Variable in Semaphore GUI"
Hi,

I have the following command which I can execute from the command line, do you know how I can translate the same to the Semaphore GUI? I try to do ["--extra-vars",'{"action":"restart"}'] but it does not work for me.

Ansible from the command line:

ansible-playbook -i environments/dev/inventory pmc_restart.yml --e '{"action":"restart"}'

Semaphore version: semaphore-2.8.53-1.x86_64

[2022-05-11 18:19] wdsff1 commented on #927
Hi,

You can use an "environment".
![env_extra](https://user-images.githubusercontent.com/92681375/167918959-bff9ef82-d44b-486c-afab-454e0ae2c7f0.jpg)

[2022-05-12 08:33] zeten30 opened #928 "Cron definition is ignored"
I have a task with defined cron '0 0 * * 0' but it's not started based on this schedule. I'm not able to find any related logs.

[code]

Can you please suggest where to look / start debug?

[2022-05-13 05:57] dberardo-com opened #929 "How to access the demo?"
What are the credentials for accessing the demo instance? I really didnt manage to find them, is it on purpose?

[2022-05-13 06:14] dberardo-com opened #930 "Feature request | possibily of visualizing host state (facts)"
Have you ever thought of using Semaphroe to also convey information about the state of the single hosts in the inventory?

I can imagine having a dropdown panel with the current Facts on all nodes in the inventory, which is stored in the DB and updated on demand by the user (so it does not need to be a scheduled job).

Also saving the facts in the different task run would be helpful so one knows w

[2022-05-13 07:11] jlebleu commented on #915
I have rebuilded the docker image and tested, seems to be ok, you may  close this issue i think

[2022-05-13 07:55] alokispandey opened #931 "how to access playbook.yaml on localhost in semaphore using file://"
I am struggling with setting up pilot deployment run with semaphore. Semaphore is failing to access repository hosted on same system.
I am trying to acess it using file:// protocal.
root@localhost ~]# snap --version
snap       2.55.3-1.el8
snapd      2.55.3-1.el8
series     16
almalinux  8.5
kernel     4.18.0-348.20.1.el8_5.x86_64
[root@localhost ~]#
Semaphore: (v2.8.53)
OS:  redhat release 8.5

T

[2022-05-13 08:14] Ex0Cate commented on #871
use a personal access Token instead of ssh key. This helped me out!

[2022-05-15 12:59] colossus-digital opened #932 "db data does not survive to 'docker-compose down'"
i'm tried to run semaphore with `docker-compose up -d` instead of `docker-compose up` but every time i stop it using the `docker-compose down` command, all data are lost.

instead, there is no problem using `docker-compose up`  and stopping it

am i missing something or doing something wrong ?

tnks for your help

[2022-05-16 14:04] jcmdln opened #933 "Document customizing the Semaphore container(s)"
For my use of Semaphore, I need netaddr installed for several playbooks but it's missing in the official container images. Looking around I saw some building totally new images, though should Semaphore briefly document how to easily customize the official image? I'd like to discuss the value and framing of providing something like the following example of adding py3-netaddr:

[code]

[2022-05-17 23:48] jcmdln commented on #929
Visiting https://demo.ansible-semaphore.com implicitly treats you as a test user with read-only access, though you can explore the UI and run tasks. If you're looking to test Semaphore beyond these limitations I think you may need to consider deploying it yourself.

[2022-05-17 23:54] jcmdln commented on #931
Based on the output, you need to remove the trailing `.git` so that you use `file:///opt/git-server/webserver`, as `file:///opt/git-server/webserver.git` isn't the name of the directory you're asking Semaphore to copy into your execution environment.

[2022-05-17 23:58] jcmdln commented on #932
In the docker-compose.yml, you will need to setup a volume to store the data somewhere persistent as the comment indicates: https://github.com/ansible-semaphore/semaphore/blob/develop/deployment/docker/ci/docker-compose.yml#L11-L13=

[2022-05-18 06:36] dberardo-com commented on #929
when i access the demo site the page asked me to log in but i have no credentials for it.

Now it seems to work again, so probably there was a bug a couple of days ago?

[2022-05-18 06:41] #929 closed, assigned to nobody

[2022-05-18 08:49] alokispandey commented on #931
@jcmdln
what to supply for "Branch" when option "URL file//" is used as we cannot left branch blank?

<img width="252" alt="image" src="https://user-images.githubusercontent.com/19645013/168996258-29053a81-fac9-4216-b557-ef4e9b7abdce.png">

Besides:

1. I have chaanged  the URL as you suggested to file:///opt/RosettaGitLab/AwxPoc
[code]

2. Absolute Path to Ansible  .yaml file
[code]
3. My repo di

[2022-05-19 10:13] alokispandey opened #937 "semaphore UI| git-submodule: can't cd to .git"
Hi,
I am getting below error while accessing ansible playbook over SSH.

[code]
Details:

1. Repository definition:

<img width="230" alt="image" src="https://user-images.githubusercontent.com/19645013/169268780-67692b85-f0bc-4b9f-af11-27e008525bb1.png">

2. Task Logs on First run:
[code]
4.Task logs on 2nd attemp: ( without any change to configuration)
[code]

It seem bug..Anyone?

[2022-05-20 15:43] JD-ISWT opened #939 "How to start task"
Hello
I'm a bit disappointed when starting playing with semaphore. I can't manage to start tasks.

I got this error message:
![image](https://user-images.githubusercontent.com/57483715/169563703-827ff970-d573-4e16-9f6b-d048f1767710.png)

I don't know what to check in configuration

The path to the playbook is relative to repo root, path to inventory to. I also tried with static inventory

The repo

[2022-05-21 02:21] PeterFalken opened #941 "Trying to login after login out fails in Safari"
After login out of a semaphore session on the web using Safari - shows an error page (401 Unauthorized)
- User is not redirected to the login page.
- Quitting the browser and trying to login again within a short period also redirects to the error page.
![semaphore](https://user-images.githubusercontent.com/2557898/169630729-618b9b3a-34c6-426b-b0b4-1f3ce1441ab5.png)

[2022-05-21 16:53] tux3l opened #942 "Upgrade/Installation fails SQL at migration v2.8.39"
Hello,

tried to update today to the latest version (2.8.53) from 2.8.21, while the database is running on a percona mysql cluster.
To verify the issue i also recreated a new and fresh database, but got same error.

Using `semaphore setup` i get the following error:
See attached file [setup_clustermysql.txt](https://github.com/ansible-semaphore/semaphore/files/8747988/setup_clustermysql.txt)

When

[2022-05-22 23:41] #879 closed, assigned to fiftin

[2022-05-23 12:11] jojoob opened #943 "'could not find job' on async_status with delegate_to localhost"
I've a playbook where I execute an async task (by using `async` and `poll: 0`) and later on wait for it with `async_status`. Both tasks are delegated to localhost.
When executing the playbook on command line everything works as expected. But when executing it via ansible-semaphore I get a 'could not find job' error message from the async_status task. Debug output shows that the first task safes th

[2022-05-23 14:57] JD-ISWT commented on #890
I totally agree with you

Unfortunately the workaround is not always sufficient and I'm still stuck...

[2022-05-24 00:02] jdhayes commented on #943
Perhaps there is a difference between your semaphore config (ie `config.json`) and your ansible config (ie. `ansible.cfg`).
For example the `tmp_path` semaphore option and the `local_tmp` ansible option?

[2022-05-24 00:14] jojoob commented on #943
I was able to reproduce the error just now on command line by setting the HOME environment variable `HOME=/tmp/semaphore ansible-playbook -i foo, async-delegate-test.yml`. Maybe this is a bug within the ansible async_status module.

[2022-05-24 14:33] jcmdln commented on #785
I ran into a similar issue when creating a `default` access key of type `none`, but was able to work around it by avoiding the dict->json conversion and instead writing the body like this:

[code]

Hope this helps!

Edit: Remove reference to loop

[2022-05-26 17:09] dberardo-com opened #945 "documentation on how to configure semaphore via env vars"
on this page i can see that env_variables such as SEMAPHORE_PLAYBOOK_PATH can be used to configure semaphore (docker): https://docs.ansible-semaphore.com/administration-guide/installation#docker

however in this page i dont see this option: https://docs.ansible-semaphore.com/administration-guide/configuration

are those envs documented somewhere?

and specifically on the SEMAPHORE_PLAYBOOK_PATH  e

[2022-05-26 18:08] dberardo-com opened #946 "Failed to install inventory: access key type not supported for ansible user"
2 problems/dbouts here:

first - I am trying to use ansible_user and password as plain authentication credentials from the inventory, however this error is returned when the task runs:

Failed to install inventory: access key type not supported for ansible user

--> i have even added a sudo password, although not needed

second - is the ansible.cfg file in my git repo being read by semaphore?

[2022-05-27 09:54] luca-motterle-ICE opened #947 "Ldap: already encrypted"
First of all thanks for the nice tool.
I'm trying to integrate the interface with AD however when I log in I can see the error:

INFO[0011] LDAP Result Code 200 "Network Error": ldap: already encrypted

The config file look like:
        "ldap_binddn": "cn=svcLinuxServers,ou=ServiceAccounts,ou=ICE,dc=ice,dc=loc",
        "ldap_bindpassword": "password",
        "ldap_server": "FQDN:636",
        "

[2022-05-27 18:47] cerberek commented on #349
@fiftin is there done general notification interface? I would like to send notifications to slack

[2022-05-29 15:32] tiny-pangolin opened #948 "Update docker compose file to show all options"
There are two parts to this issue

1. update docker file to respect SEMAPORE_DB_DIALECT_ID
2. update the docker compose file to expose all available options such as LDAP but leave them commented out

[2022-05-30 10:33] bahamut657 opened #949 "become sudo does not works"
[code]

Seems to run the update without becoming root (using sudo)
Inventory configuration already set the "sudo credentials"

How to make it works?
I'm trying to update an RPI where sudo su (with user pi), get root with no password

Regards and well done for the nice work

[2022-05-30 15:57] cerberek opened #950 "API call to list actual schedules"
I miss API call which gives me a list with all configured schedules. Ideally that template json will have schedule_id related with it.

[2022-05-31 03:25] odmin4eg commented on #949
I have a similar problem, "become: yes" does not work
below is my configuration

[code]
[code]

Inventory:

[code]

[2022-05-31 03:26] tiny-pangolin commented on #901
@bbarman4u you need to edit your config.json and add ?sslmode=disable to the database name here is the postgres section of my config.json that was generated by docker compose
[code]

[2022-05-31 17:41] YoSiJo opened #951 "Workaround for missing shll enviroment variables?"
I want to use the [nb_inventory_inventory](https://docs.ansible.com/ansible/latest/collections/netbox/netbox/nb_inventory_inventory.html) and therefore need to pass in the API endpoint and token as "shell enviroments". What currently probably does not work with semaphore.

AWX/TOWER has the same problem and the following solution:

[code]

I couldn't find a suitable equivalent for this on your end

[2022-06-01 11:28] dberardo-com opened #953 "AWX vs semaphore"
What are advantages of Semaphore when compared against AWX?

[2022-06-02 07:55] Twim4 commented on #904
Would be interested in that too. To have more types of surveys

[2022-06-02 21:04] AndrewSav commented on #904
Yep, I would also like to indicate that this is the top feature on my list missing. Static surveys would be an improvement, but dynamic surveys, a-la rundeck would be ideal.

[2022-06-06 07:02] feloxx commented on #953
semaphore have the following advantages :

- lightweight
- contracted
- low learning cost

[2022-06-06 07:11] dberardo-com commented on #953
alright, is there an official roadmap of which features are planned next?

[2022-06-07 14:47] kristophercrawford commented on #950
@cerberek - I think I was able to find what you are looking for using curl.

[code]

For me, this returned:

[code]

[2022-06-07 14:49] cerberek commented on #950
Great, that call i didn't find in documentation. Thanks

[2022-06-07 14:49] #950 closed, assigned to nobody

[2022-06-07 14:51] kristophercrawford commented on #950
I didn't either, I used inspect element in my browser and navigated to the schedule section of a task to find the url being called.

[2022-06-07 18:47] anvme opened #955 "NGINX config update"
Hello!
https://docs.ansible-semaphore.com/administration-guide/security
Update NGINX config, please
It doesn't work

Also a useful tool for Nginx config https://www.digitalocean.com/community/tools/nginx

[2022-06-08 03:38] thanakiat-h opened #957 "how to use repository https://"
i can't select https// path of respository
![image](https://user-images.githubusercontent.com/105916470/172526375-df40090f-5925-4bb2-9db3-63f28fc090dd.png)

[2022-06-08 17:35] anvme commented on #957
What's your version of ansible-semaphore?

[2022-06-08 17:48] anvme commented on #869
Any updates?

[2022-06-09 16:48] tiny-pangolin opened #958 "add support for ansible-core in docker container"
Please allow using either ansible or ansible-core in the docker container. my playbooks are currently using ansible-core and it is causing issues since I already ported all my roles to ansible-core and it is causing issues since I am writing and testing them on ansible core on my local machine then trying to run them in ansible in semaphore.

[2022-06-10 03:09] thanakiat-h commented on #957
I clone repository from [contribute version](https://github.com/ansible-semaphore/semaphore/blob/develop/CONTRIBUTING.md),
 branch develop. I think it is lastest version.

[2022-06-10 09:35] guo3561101 opened #959 "Request failed with status code 500 and Template Inventory not found!"
Mysql data didn't delete, and after the reconstruction of a semaphore container through the API to perform the original task error ,Request failed with status code 500,But it's fine when it's not triggered by an API

[2022-06-10 09:43] guo3561101 commented on #959
https://xxxx.com/api/project/1/inventory/1
And I can't open my screen, it says 404
You can see it on the Web page

[2022-06-10 09:46] guo3561101 commented on #959
As for why I rebuilt my Docker-Semaphore, I want to make my Semaphore data persistent

[2022-06-10 12:24] fiftin commented on #959
Need more details for error, what prints semaphore to stdout?

[2022-06-10 12:31] fiftin commented on #904
What is dynamic surveys? I didn't use Rundeck.

[2022-06-10 12:35] fiftin commented on #947
What version of Semaphore do you use?

[2022-06-10 12:50] luca-motterle-ICE commented on #947
Hi Denis,
                I have version v2.8.49.

***@***.*** semaphore]# ./semaphore version
v2.8.49

Luca

From: Denis Gukov ***@***.***>
Date: Friday, 10. June 2022 at 14:35
To: ansible-semaphore/semaphore ***@***.***>
Cc: Luca Motterle ***@***.***>, Author ***@***.***>
Subject: Re: [ansible-semaphore/semaphore] Ldap: already encrypted (Issue #947)
CAUTION: This email originated from outside o

[2022-06-10 14:01] fiftin commented on #947
Please try to update to v2.8.53

[2022-06-10 14:02] fiftin commented on #955
Hi @anvme,

Why not? Need details.

[2022-06-10 14:09] luca-motterle-ICE commented on #947
Hi,
                I updated the binary. Now I see more information in the console when I try to log in:

INFO[0089] User Luca Motterle with email ***@***.*** authorized via LDAP correctly
2022/06/10 16:07:37 http: panic serving 10.10.9.145:55021: Error 1062: Duplicate entry ***@***.***' for key 'user.email'
goroutine 137 [running]:
net/http.(*conn).serve.func1(0xc0000b4d20)
                /usr/

[2022-06-10 14:11] fiftin commented on #939
Hi @JD-ISWT,

Agree, unuseful error message...

[2022-06-10 14:24] fiftin commented on #957
Hi @thanakiat-h ,

Yes, I missed this. Will fix asap.

[2022-06-10 14:27] fiftin commented on #921
Hi @jsinic ,

Semaphore (installed via Snap) uses its own ansible and python. It is looks like a bug...

[2022-06-10 14:31] #915 closed, assigned to nobody

[2022-06-10 14:32] fiftin commented on #918
It is not a spam) But if it is looks like a spam, it is my UX issue :)

[2022-06-10 14:33] #912 closed, assigned to nobody

[2022-06-10 14:37] fiftin commented on #947
May it helps: https://github.com/ansible-semaphore/semaphore/issues/808#issuecomment-1076260460

[2022-06-10 14:39] #953 closed, assigned to nobody

[2022-06-10 22:59] AndrewSav commented on #904
@fiftin Something like [this](https://docs.rundeck.com/docs/manual/job-options.html#remote-option-values) and [this](https://docs.rundeck.com/docs/manual/job-options.html#option-model-provider) The entire page is actually relevant as a primer what a more advanced survey interface can achieve. Also "Cascading Remote Options" section a bit further down is of a particular interest to me.

In short, y

[2022-06-11 03:01] guo3561101 commented on #959
This error occurred while executing my task

[2022-06-11 03:25] guo3561101 commented on #959
course：
    1.docker-compose down  （I keep mysql data files）
    2.docker-compose up -d
    3.The above data is still there. This error occurred when I re-executed the task
The container has been rebuilt. Sorry, the log can't be found.

[2022-06-12 08:33] luca-motterle-ICE commented on #947
Hi Denis,
                It seems to work no.

INFO[0116] User Luca Motterle with email ***@***.*** authorized via LDAP correctly.

It was not clear to me how to handle users. I created a local user matching the login name of LDAP.

Thanks

Luca

From: Denis Gukov ***@***.***>
Date: Friday, 10. June 2022 at 16:38
To: ansible-semaphore/semaphore ***@***.***>
Cc: Luca Motterle ***@***.***>, Author

[2022-06-13 06:14] luca-motterle-ICE commented on #947
I think version v2.8.53 solved the issue. Thanks

[2022-06-13 06:14] #947 closed, assigned to nobody

[2022-06-13 07:14] dpskvn commented on #951
You could pass the ENV variable through the Semaphore unit file, although that's problematic, especially if you have several inventories that need different keys (which is the case that I have).

To be honest, we keep recommending Semaphore to our clients as a lightweight Ansible GUI and almost every time we have to abandon it because it lacks the support for environment variables.

I'm currently

[2022-06-14 05:47] nroach44 opened #961 "Status breakdown"
Currently, the task templates overview page shows if a task has succeeded or failed. Would it be possible to treat an "unreachable" differently to a failure? This could be a simple option to "ignore" unreachable hosts, or to differentiate the results in the status display:

[code]

✓= Success, green
! = Changed, yellow/amber etc.
⨯ = Failure, red
? = Unreachable, grey

In my case this would help d

[2022-06-14 10:00] YoungjuWang commented on #762
Did you find the way to build source?

[2022-06-14 10:07] fiftin commented on #762
You can find how to build in `CONTRIBUTION.md`

[2022-06-14 10:30] YoungjuWang commented on #762
@fiftin Thanks! Can I ask which npm version is needed? I got fail with messages.

test@server # go version
go version go1.18.3 linux/amd64

test@server # npm --version
3.5.2

test@server # cat /etc/os-release
NAME="Ubuntu"
VERSION="18.04.6 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.6 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.u

[2022-06-14 20:51] pfrancks commented on #702
Any news on this item? I think this is a really nice idea and would be a perfect fit also for what I use semaphore for.

Ideally, a client should be able to initiate to run a specified playbook against itself by a simple http(s) request. I think this should be very possible to implement. For security reasons, it would be awesome if the port for those callbacks is configurable such that it can be d

[2022-06-15 05:41] YoungjuWang opened #964 "Email alert for success task & update for email alert in semaphore-wrapper"
Email alert for success task & update for email alert in semaphore-wrapper

Please confirm that is required. I'm ready to PR now.

@fiftin

[2022-06-15 10:05] YoungjuWang commented on #964
I opend PR https://github.com/ansible-semaphore/semaphore/pull/965

[2022-06-15 10:48] mark4409 commented on #928
I'm also having an issue where cron is ignored. If for example I apply a cron to run every 15 mins, it'll run the first time in 15 minutes but then never run again after that.

[2022-06-15 11:06] zeten30 commented on #928
Yes, I observe the same. I did change the pattern from 'monthly' to 'weekly on Sundays'. It was executed only for the first time.

[2022-06-15 18:53] fivaldi opened #966 "Enhancement: Various override/merge strategies of the environment JSON for API call POST /project/{project_id}/tasks"
I tried passing additional environment variables (override(s)) via
[code]

The task is created, appears correctly in the database with the environment passed in the POST request. All looks good. BUT: The value wasn't reflected in the running task. I would expect this to work as an override (recursive merge of the JSONs) of the pre-set environment.

((( Maybe other strategies (other than recursive

[2022-06-15 23:34] jamesalbert commented on #419
I'm still experiencing this. Was there a resolution?

[2022-06-16 01:48] jamesalbert commented on #419
seems to be expected behavior for [fmt.Sscanln](https://github.com/ansible-semaphore/semaphore/blob/e9e78adf97696acb951a07ccd2e728e66fa286b5/cli/setup/setup.go#L172)

[2022-06-16 06:27] fivaldi commented on #966
UPDATE: I checked a bit deeper against the code of `services/tasks/runner.go` that it actually overrides the environment from the API request. If the variable is not defined in the task's environment, it gets loaded from the API request. I agree that this is a secure solution for untrusted API requests..

So, I am modifying this "bug" issue to a feature request for what I described in the first co

[2022-06-16 09:19] afeefghannam89 opened #967 "Semaphore does not pull git repositories with its name"
Hello,

semaphore does not pull the git repository with its name, that is why the task in UI complaints about not founding the role.

I am using v2.8.53
![semaphore](https://user-images.githubusercontent.com/39904920/174036141-b753b380-079c-4a6a-a26f-f340615e1ca0.png)

[code]

[code]
[code]

[2022-06-16 10:09] afeefghannam89 opened #968 "Problem with using local repository"
Hello,

I am still testing semaphore before deciding to use it in production or not. I am using the latest version v2.8.53. I want to use a local repository on my server, but faced to problems:

01- semaphore does not create the target path to whom he wants to check out the source/local repository.
![Screenshot 2022-06-16 at 11 52 23](https://user-images.githubusercontent.com/39904920/174046093-ea

[2022-06-16 13:30] luca-motterle-ICE commented on #880
I have the same behavior. Did you manage to find a workaround?

[2022-06-16 13:40] luca-motterle-ICE commented on #919
How do I refer to that password in the playbook?

[2022-06-16 15:50] afeefghannam89 opened #969 "Semaphore does not recognize the ssh key while cloning a GitHub repo"
Hi,

I am still testing semaphore with the newest version, v2.8.53. I want to clone my GitHub repository using a valid ssh key. Semaphore says there is permission to clone the repository
![Screenshot 2022-06-16 at 17 40 25](https://user-images.githubusercontent.com/39904920/174109495-71781457-3274-4b76-a23f-4e8bfacd38e6.png)

But when I load the same ssh key in ssh-agent then start the semaphore,

[2022-06-17 13:44] lucmot commented on #947
I said it too early. Even if the info log is positive the interface seems to care only about the local users. Is there some specific configuration to change?

[2022-06-17 19:19] dmtinklenb commented on #969
I'm experiencing a similar issue.   I can successfully authenticate to my Git repository with that SSH key from the command line, but when running a semaphore template, it tells me the public key is "invalid format."

![image](https://user-images.githubusercontent.com/80288651/174388563-abeb5533-d058-4d3a-8ecb-20a6c9f06092.png)

[2022-06-18 05:09] AndrewSav commented on #967
To me it looks like you are trying to reference a role (`ansible_test`) which your playbook does not have access to. The `roles` directory needs to be on the same level as the playbook you are running in the directory structure, and it needs to contain individual roles directories inside, see [here](https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html#role-directory-struct

[2022-06-18 09:16] mark4409 opened #972 "Accessing vault passwords from playbook"
Not an issue as such - just clarification needed as I can't find anything in the documentation. Does the key store use ansible vault in the background? And can I reference the keys directly from playbooks?

[2022-06-18 10:59] AndrewSav commented on #958
what issues?

[2022-06-18 18:35] tiny-pangolin commented on #958
I was having issues with when: ansible_facts['os_family'] not working with ansible inside the semaphore contain but worked fine using almalinux in an lxc container and fedora on my laptop

[2022-06-18 21:54] AndrewSav commented on #958
`ansible_facts['os_family']` (and many other things) works on both ansible and ansible-core. There must be some different reason why they are "not working". Just FWIW "not working" is not a good description of an issue, as people usually cannot read minds and know what's not working. A good issue report contains 1) steps to reproduce 2) what you expected to see 3) what you saw instead. As far as I

[2022-06-19 16:13] wdsff1 commented on #972
Hi,

https://github.com/ansible-semaphore/semaphore/issues/919

[2022-06-22 13:18] luca-motterle-ICE commented on #972
#919 explain how to store it in the UI but not how to use it in a playbook. Should be referenced as a variable? Thanks Luca

[2022-06-22 15:48] Sohn123 commented on #904
A static multiple choice option would be really great.

[2022-06-23 00:32] #964 closed, assigned to nobody

[2022-06-23 15:52] fiftin commented on #419
Hi @jamesalbert
I'm not familiar with LDAP in depth, what does that mean? Should I reopen the issue?

[2022-06-23 16:33] fiftin commented on #891
Hi @steadfasterX

Thank you very much for your feedback!

[2022-06-23 20:22] fiftin commented on #919
@lucmot

You can't, it used in `ansible-playbook` with flag `--vault-password-file`.

What purpose to use it in playbook? Please provide use cases, perhaps we will implement it. Thank you.

[2022-06-23 20:38] fiftin commented on #969
hi @afeefghannam89 , @dmtinklenb

What database do you use? Do you filled option `access_key_encryption` in config file (it is optional, but if it is filled private key was encrypted with it)?

[2022-06-24 09:51] AngelFreak commented on #949
I have the exact same issue as described above. The role I'm trying to deploy works just fine on another Ansible install, but not in semaphore.

[2022-06-24 10:01] afeefghannam89 commented on #969
Hi @fiftin

[code]
**access_key_encryption** has a default value, which I did no touch it. I think this value will be created during the setup step. No, I did not encrypt my private key with it.

[2022-06-24 11:21] afeefghannam89 commented on #967
@AndrewSav  @fiftin  That is why I opened this Issue here. This is a bug, Semaphore does not build the individual role directory. He should clone the GitHub repository or Ansible role in a directory, which has the same repository name, exactly like what git clone command makes.  See please the output of my tree command.

[2022-06-24 11:22] afeefghannam89 commented on #968
@fiftin do you have any idea please?

[2022-06-24 12:18] ccuz opened #973 "oAuth2 / OpenID connect authentication using oauth2-proxy"
*Idea*
I was digging into semaphore code, but see that user management is either local or LDAP.
What about supporting a oauth2-proxy https://oauth2-proxy.github.io/oauth2-proxy/docs/ instance in front of semaphore instance and then extracting the authenticated username (and role) out of the HTTP-header JWT-token coming from oauth2-proxy.
As the JWT-token has to be signed by the IdP-privatekey, Sem

[2022-06-24 14:14] dmtinklenb commented on #969
mysql  Ver 15.1 Distrib 10.3.28-MariaDB, for Linux (x86_64) using readline 5.1

Doug Tinklenberg
Senior Systems Engineer
Wells' Enterprises, Inc.
(712) 523-5411
________________________________

The information contained in this message and/or attachments is intended only for the person or entity to which it is addressed and may contain confidential, proprietary, and/or privileged material. Any re

[2022-06-24 14:42] kevindurb opened #974 "All times are offset by my timezone offset"
Just got semaphore setup, im using postgres for my database and i just noticed that every time i run a task it gives me a "last run" of 6 hours ago... im in the `America/Denver` TZ which is -6:00UTC. I took a look at the api calls the client is making and the times coming back from the server are the same hour as my current TZ but marked as UTC (`Z`), i would expect to see times that are 6 hours "

[2022-06-24 20:20] AndrewSav commented on #967
@afeefghannam89 I do not think it is supposed to work this way. You should follow the documented directory structure that I linked. If your "bug" is that the directory named "repository_1_1" - this is by design and worked as expected. You should have the correct structure inside your repo in the first place.

[2022-06-25 17:10] xq1xq1xq1 opened #976 "ERROR! the playbook: --vault-password-file /xx/xx/xx/vault.yml could not be found"
This is similar to [https://github.com/ansible-semaphore/semaphore/issues/212](url)

I am running Semaphore Docker on ansiblesemaphore/semaphore:latest under Debian GNU/Linux 11

My Advanced Extra CLI Arguments for the Task are:
[code]
I also tried the path on the host with the file not found error:
[code]
inside the docker I have:
[code]
outside the docker on the host I have:
[code]

When I run t

[2022-06-27 08:17] RhoAndB commented on #880
i haven't heard anything until now from the developer. i'm using this tool just for test-cases but because of this problem/missing mailfeature i'm searching for another alternative solution.

[2022-06-29 07:51] battlecook opened #978 "Can I limit task history count in the web ui?"
Hi I am a beginner in ansible semaphores.
I tried using the ansible semaphore function.
The "task" count limit is not show in the web ui.
I would like to be able to limit the number of tasks due to issues such as disk space.
For example, to keep only the history of the last 10 "tasks".
I confirmed that task is removed in the web ui, when I delete the row of the "task" table from the database.
I as

[2022-06-29 09:15] fiftin commented on #978
Hi @battlecook
Currently it is not possible. But it can be implemented in future. I mark this issue as feature request.

[2022-06-29 16:36] fiftin commented on #880
Hi @RhoAndB, @lucmot

Working on it, will be fixed soon. Stay with us ;)

[2022-06-29 17:02] #976 closed, assigned to nobody

[2022-06-29 17:05] fiftin commented on #969
Sorry for delay, I trying to reproduce.

[2022-06-29 21:24] ghost opened #980 "fix db migration"
I've built [2.8.65](https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.65) version, and got

to fix it, I've changed [db/sql/migrations/v2.8.57.sql](https://github.com/ansible-semaphore/semaphore/blob/v2.8.65/db/sql/migrations/v2.8.57.sql):
[code]

[2022-06-29 22:47] fiftin commented on #980
@sm-edr thank you! Will fix asap

[2022-06-30 06:33] fiftin commented on #974
Hi @kevindurb
Reproduced, thank you!

[2022-06-30 06:40] ghost commented on #980
Thanks! Tested. It works fine.

There is `hosts_limit`, it is used to limit on which host(s) it will be run?
It is currently possible only via API, and via CLI args in task, i.e.
[code]

There is currently no dedicated option in web UI? as I couldn't find.

[2022-06-30 07:27] fiftin commented on #980
@sm-edr
Yes, for API only. Will add to UI soon.

[2022-06-30 07:31] fiftin commented on #974
Hi @kevindurb

I totally misunderstand how Postgres timezones work.

You can add timezone to semaphore's config.json:
[code]

But it doesn't work to me, as well as `PGTZ` environment variable for Postgres container.

Documentation says:

But it doesn't work to me, I see local time in database, not UTC.

[2022-06-30 08:27] #980 closed, assigned to nobody

[2022-06-30 22:19] magicdrums commented on #931
Hi,
I have a same problem.

Regards

[2022-07-01 12:31] cf-sewe commented on #973
Great request! Pomerium is also one of the well known authentication proxies.
https://www.pomerium.com/docs/production/security#user-identity-and-context

[2022-07-01 15:58] alokispandey commented on #931
So far I know, this is a bug without any tentative fix date.

Considering the delay in support, I switched to "rundeck" now.

On Fri, Jul 1, 2022 at 3:49 AM Victor Pereira Barahona <
***@***.***> wrote:

--
THANKS
ALOK PANDEY

[2022-07-03 17:13] erioshi opened #982 "Cloning Repository http:// ... Cloning into repository ... fatal: bad numeric config value '0' ' for 'GIT_TERMINAL_PROMPT': invalid unit"
I recently set up a new docker host with new gitbucket, mariadb and ansible-semaphore containers.

Unfortunately while gitbucket and mariadb seem to be working as expected, ansible-semaphore is giving me issues.

The GUI seems to be unable to successfully authenticate and create a clone of my git repository.

When I manually log into the ansible-semaphore container and run a git clone command, eve

[2022-07-04 00:35] sissieadmin opened #983 "Use of Inventory File for Dynamic Inventory with Semaphore Docker Compose Installation"
I am convinced this is a simple task that I dont know how to do since I dont know Docker very well.

I would like to use a Dynamic Inventory with the official Docker build of Semaphore installed using Docker-Compose. The Docker container cannot see files on the operating system, so I need to provide the inventory file in the Docker Compose configuration file, although I am clueless on the best way

[2022-07-04 10:12] ccuz commented on #973
After reading the existing login code, it may already work as HTTP Header 'Authorization bearer' is already extracted https://github.com/ansible-semaphore/semaphore/blob/f674738f54258b976265f53fe228d45f8ba7efc5/api/auth.go#L21 into a userID: "userID = token.UserID".
Basically Semaphore has the concept of local and remote user.
Local user are only existing within the DB and are managed by their pas

[2022-07-04 11:42] erioshi commented on #982
It looks like my issue may be related to a prior issue already tagged as a bug:
https://github.com/ansible-semaphore/semaphore/issues/871

Someone there mentioned using a PAT as a work-around, but that also fails for me with semaphore running from a docker hub image using http.

[2022-07-04 11:51] erioshi commented on #871
As noted above I linked the issue I reported to this one as it looks to be related.

Unfortunately in my case, using http along with a PAT also returned the same failure.

I have not set up SSH access into the GitBucket container yet, but would prefer to avoid this as I already use ansible / ssh to manage the underlying docker host and containers.

[2022-07-04 11:58] erioshi commented on #982
This issue also looks to be related:
https://github.com/ansible-semaphore/semaphore/issues/910

[2022-07-04 17:44] erioshi commented on #982
As part of testing I built a fresh container using gitea instead of GiBucket as a git repository.

With gitea as the repo I was able to complete the clone repo portion of running a playbook only once before all subsequent runs failed at the clone setep with the same errors listed above.

[2022-07-05 01:03] Weilbyte commented on #683
@fiftin  I could give it a try at implementing 2FA (TOTP) for non-LDAP users.

[2022-07-05 03:18] KenK73 commented on #683
If it were closer to Christmas, I would be asking for SAML support instead, so someone could use their chosen IDP (like Ping Federate) to bring SSO and 2FA support to this app.

-Ken K

[2022-07-05 07:38] LostInTheWoods opened #984 "Task execution not always linear"
Hi,

We run a playbook where after copying files to a server we need to flush the file cache using a URI call. We loop through all the files copied and when this is complete, flush a different separate cache file from the file cache, then delete it. In other words we have a PHP cache file in the file cache

The tasks in the playbook look like this, the ansible command in brackets:

[code]

We had

[2022-07-06 00:04] Weilbyte commented on #683
@KenK73 what SAML provider do you use?

[2022-07-06 07:33] KenK73 commented on #683
Are you asking about the IDP? Ping Federate is what we've started rolling out. Maybe I dont understand what you are asking. I am not well versed in SAML just yet, I just see it working pretty well on our other apps that support it.

[2022-07-06 11:19] Seltiix commented on #928
Also having this issue, for example cron: * * * * * (task that should run every minute) runs the next minute and then never runs again. Any progress on this?

[2022-07-07 08:32] LennertMertens opened #986 "Support for dropdown in survey fields"
Hi all,

I was wondering if you guys are working on support for dropdown fields in the survey variables. Would need this for a customer, would be willing to help with this if someone is interested in this as well.

[2022-07-07 10:29] mancubus77 opened #987 "Typo on landing"
There is a typo on the landing page:
![image](https://user-images.githubusercontent.com/16170560/177752980-408eaad3-600c-4972-848a-f93ed15cbe13.png)

[2022-07-07 12:55] radarsugarcrm commented on #859
Hi,
was investigating again regarding 2.) no mail sent/received
btw I'm running a postgres database

User A can receive emails out of his own project.
If user A runs a template from a assigned project of user B (send alert is enabled for user A and in project of user B) he doesn't receive a mail.
User B doesn't receive any mail out of his own project, with send alert enabled for him and in his pro

[2022-07-10 20:44] chaddyc opened #988 "target unreachable"
I set up everything all my ssh keys and tested everything manually and have been running ansible for a while now. However, when I do the same with Ansible Semaphore I get a "target unreachable" error but all ssh keys etc are set up? Any advice?

[2022-07-10 21:19] SeTcbPrivilege opened #989 "Error when cloning Github SSH repository using default URL"
I am trying to add my (private) GitHub repository using a SSH URL. The clone URL provided by GitHub is
`ssh://git@github.com:krisi0903/infra.git`
However, it seems like the colon separator is internally considered as part of the hostname, since I get the following error when trying to run a playbook:

[code]

If i replace the colon by a forward slash / , the issue seems to be gone:

[code]

This h

[2022-07-12 09:41] spconsulting-git opened #990 "404 on activity tab only in /project/1/activity"
Project 1 return a 404 in activity tab and a blank page, other projects works

![image](https://user-images.githubusercontent.com/109141759/178459578-0c1171c7-1908-4ef2-b977-d889d516c6d5.png)

same problem with v2.8.49 and v2.8.53

[2022-07-12 12:39] luca-motterle-ICE commented on #808
Hello, I'm running the version v2.8.53. With LDAP active I have the same behavior described. In my opinion, it's because the LDAP user doesn't have username value inserted in the user table. So, the first-time login is OK because it creates the record and continues. But the second time the key in 'username' doesn't want an empty value and that stops the login process. Did you notice this behavior?

[2022-07-12 12:40] luca-motterle-ICE opened #991 "Second login doesn't work. LDAP"
Hello, I'm running the version v2.8.53. With LDAP active I have the same behavior described. In my opinion, it's because the LDAP user doesn't have username value inserted in the user table. So, the first-time login is OK because it creates the record and continues. But the second time the key in 'username' doesn't want an empty value and that stops the login process. Did you notice this behavior?

[2022-07-13 21:46] brileyd commented on #758
I had the same issue and not in docker.  I found that if I added the "StrictHostKeyChecking no" entry to the ssh_config file and ran the play, I could then remove the same entry from the ssh_config file and the play still works.  It is like it is running off a different known_hosts file than the OS user I created to run this under.  After further research, I found that it is actually running under

[2022-07-15 10:46] drumbsd opened #993 "access_key not found"
Semaphore version: 2.8.53
OS: MacOSX

Description:

Once run my first template task, I got this error:

[code]

I was not able to find any help doing some research on google. The credentials are ok because my template is able to correctly fetch code from an external repository. So i'm guessing what "access_key" is referred to.

[2022-07-15 11:26] #993 closed, assigned to nobody

[2022-07-15 13:33] thingnl opened #994 "Change user password fails with syntax error on Postgres 14"
Good day.

I am getting my feet wet with semaphore so we hopefully can provide some ansible playbooks to our non-tech-savy users.
I'm running:
 - image: ansiblesemaphore/semaphore:v2.8.53
 - image: postgres:14.4-alpine
On Docker version 20.10.16, build aa7e414

If I try to change a user passwod, the gui gives me a: Request failed with status code 400
and on docker show me:

Creating new and deleti

[2022-07-15 16:34] ccuz commented on #991
We had the same issue with Bolt. Switched using MariaDB and it got fixed. Relates to https://github.com/ansible-semaphore/semaphore/blob/develop/api/login.go#L165 and implementation of https://github.com/ansible-semaphore/semaphore/blob/develop/api/login.go#L170.
It seems LDAP user get added into the database after first login as 'external' user (i.e. not using username/password stored in the data

[2022-07-18 13:56] spconsulting-git commented on #990
problem solved i dont know how but it rework

[2022-07-18 13:56] #990 closed, assigned to nobody

[2022-07-18 21:24] RphCos commented on #949
I faced the same problem.

The work around for me was to clean the "Sudo Credentials" form from the related inventory, then i added ansible_become_password="{{ sudo_password_defined_in_a_vaulted_var }}" to the host vars in said inventory.

Hope this bug will be solved soon enough !

[2022-07-19 07:33] mark4409 commented on #972
I'm happy if you can close this - it was down to a lack of knowledge on my part with regards to how Ansible vault works.

[2022-07-19 08:19] lucmot commented on #972
Of course. thanks

[2022-07-19 08:33] luca-motterle-ICE commented on #991
I tried to use MariaDB instead of Mysql but the issue is the same. This happen only for one user and I'm not able to identify what is different from the others

[2022-07-19 11:53] scmmmh commented on #994
I can confirm this.

[2022-07-22 06:43] manuel-held commented on #871
Same here,

i've also tried to workaround with setting GIT_TERMINAL_PROMPT: 0 in the docker-compose environment - but this does not helped.

[2022-07-22 10:08] ccuz opened #998 "Execute task-template within python-virtual environment or container"
The task-template are run by https://github.com/ansible-semaphore/semaphore/blob/develop/services/tasks/runner.go that calls https://github.com/ansible-semaphore/semaphore/blob/develop/lib/AnsiblePlaybook.go which starts the ansible-playbook command into a sub-process.

We have some shortcomings with this simple effective execution:
- Using '-vvv' while execution the ansible script displays the en

[2022-07-22 12:40] SzZoli opened #999 "Ansible Galaxy Collections behind Proxy"
Hi all,

I am trying to run a Semaphore task that requires ansible galaxy module.
Similar to this: https://github.com/ansible-semaphore/semaphore/issues/682#issuecomment-1071008705

The issue is I am behind a proxy. How could I configure my proxy settings for a Semaphore task run?

Background:
I am running Semaphore on a VM, Ubuntu 20.04.
I created requirements.yml that contains the module I need.

[2022-07-22 16:13] ccuz commented on #998
I ended up creating a `hooks/post-checkout` and `hooks/post-merge` within the ansible git project:
[code]

In the dockerfile where semaphore is installed, I added:
`RUN git config --global core.hooksPath hooks`
Thus any ansible project getting checked-out by semaphore has the possibility to correctly setup the requirements and have clean dependencies not conflicting with other projects.

But the a

[2022-07-22 20:55] yoanloulchev commented on #968
Hello!

Local repository means local git repository (git is one of the prerequisites for installing Ansible Semaphore).

[2022-07-25 08:34] flover97 commented on #994
same error
debian 11
postgresql 13.7
Semaphore v2.8.53 deb

[2022-07-25 11:26] ccuz commented on #998
For the container runtime integration with podman:
- Without podman local socket: https://github.com/containers/podman/discussions/9076
- Podman RestAPI (with local socket to podman deamon, requires podman to be installed on the system): https://docs.podman.io/en/latest/_static/api.html and howto start a container from golang: https://github.com/containers/podman/tree/main/pkg/bindings (the origin

[2022-07-28 08:13] ccuz opened #1002 "Improvement: Support multiple Ansible vault-id instead of just one"
Given a ansible.cfg having
`vault_identity_list = dev@.dev-vault-file, database@.database-vault-file`
and according to https://docs.ansible.com/ansible/latest/user_guide/vault.html#passing-multiple-vault-passwords,
it should be possible to use `ansible-playbook --vault-id dev@.dev-vault-file --vault-id database@.database-vault-file theplaybook.yml` instead of just `ansible-playbook --vault-passwor

[2022-07-28 12:50] MudraMartin opened #1003 "Missing Release for a long time"
Hi @fiftin thank you for a good job on semaphore. Would it be possible to release the next version? Some core functionality is missing and a lot has been already implemented / merged pull requests into this repository (for an example collection support from ansible galaxy). But a lot has not been released in the current version 2.8.53. Would it be possible to release these features into built vers

[2022-07-29 09:11] luca-motterle-ICE commented on #991
@ccuz  do you have any suggestion on how to work around that? I created the user in advance also with the same LDAP password, but I have still access denied at login. The stranger part is other users work fine, so I'm not able to recognize what is different. AD user seems equal to the other ones

[2022-08-01 09:20] SvenC56 commented on #1003
If you are looking for a docker image the repo has moved:

[code]

See https://github.com/ansible-semaphore/semaphore/commit/fe8cc8cc4cdabc4f202f44468e9f28fc985e9b1e

[2022-08-01 10:55] MudraMartin commented on #1003
@SvenC56  Thank you, but we are using the package manager version of the Semaphore. We really miss support for collections and since it was successfully implemented and merged a long time ago we really miss newer version of these packages.

Good to know that docker version might be more ahead than PackageManager releases - thank you.

[2022-08-01 11:21] boredomwontgetus opened #1004 "Any way to force update (pull) of role specified in requirements.yaml?"
Hello Guys!

I struggle a bit with an issue regarding roles and requirements.yaml.

So i write a role and put it in a new git-repo. I add it to requirements.yaml and my semaphore-task fetches the role before the playbook is executed. Later on, i do some changes to the role (a little fix e.g.), commit the change to git. I do not tag it and do not use versions in my requirements for most of these ro

[2022-08-01 17:07] kwanlowe opened #1005 "Adding additional pip modules to Docker container?"
Good afternoon.
I have just started testing with Ansible-Semaphore. Apologies in advance if this is covered elsewhere.

I am testing some existing playbooks that access Hashicorp Vault for secrets. As part of our non-Semaphore process, we install the ansible and the "hvac" modules to support Hashicorp Vault. Is there a way to install these additional local Python modules in the Docker container sh

[2022-08-02 08:37] AngelFreak commented on #1004
This is also a major issue for me, as I am using git as a scm for roles.

Every time I update a role, i have to put a release, or hash tag in the requirements file. It's a really annoying process.

An option to force pull requirements, not cache roles, or even better check if it is the most recent version, would be great!
The default behavior could be keept as is, and a checkbox for overriding it

[2022-08-03 14:22] kwanlowe commented on #1005
Maybe I can rephrase this a little differently. :)
Are there any guides to rebuilding the Semaphore container so that I can inject some additional tools needed for my playbooks?  These include the hvac module, rsync, and some other utilities. I saw the docs on the Taskfile.yml but didn't make much headway. I tried using it as a task, building through deploy, etc.. but have a feeling I'm on the wro

[2022-08-04 06:51] Ganzabahl commented on #1004
I understand why you might want to fix the hash in production env. However I fully agree with you both, when developing on semaphore environment. Changing hash every time there is a change, destroys the workflow completely.
I'm currently looking into, if there is an easy way of adding a button or variable, to override the hash-check when deploying.
Since I'm not part of the semaphore-team, any hin

[2022-08-04 13:11] ccuz commented on #991
Log into Semaphore as Admin and delete any existing 'local' user with the same username/userid as you would expect from LDAP, as the code doesn't work with both a local and a external user with the same userid.
Also take care to have a correct mapping between LDAP uid and userid, such that external user (i.e. LDAP) can be created automatically
[code]

[2022-08-05 03:20] getvasanth commented on #931
@magicdrums @alokispandey
Refer this, able to get the local git repo working.

https://jhdatabase.tistory.com/71

[2022-08-05 08:11] ICE-Sysadmin commented on #991
The ldap mappings is identical. I just used "(&(objectCategory=Person)(sAMAccountName=%s))" as ldap_searchfilter.

[2022-08-05 08:12] luca-motterle-ICE commented on #991
The ldap mappings is identical. I just used "(&(objectCategory=Person)(sAMAccountName=%s))" as ldap_searchfilter.

[2022-08-05 08:51] PhotoTeeborChoka commented on #1005
Hi, you don't need to rebuild the semaphore container, just build the container with the desired functionality by creating a mini `Dockerfile` on top of the base semaphore image you want to use (`FROM` directive) and add all the utilities you need specifically for your use case. Then tag the newly created image as <YOUR_NAME>:<THE_SEMAPHORE_TAG_U_USE> and you are good to use that image instead of

[2022-08-07 13:11] jm4rc05 commented on #994
Same error

Docker container `image: ansiblesemaphore/semaphore:latest` created this week

But as a workaround it's possible to remove and `semaphore user add` after

[2022-08-10 12:09] bendem commented on #973
Generally, applications create a user in db when they first see them so they can manipulated by admins (added to teams, linked to builds...).

[2022-08-10 12:15] bendem commented on #891
This makes a lot of sense. Currently, we cannot give access to semaphore to developers or analysts because that would give them too much permissions (easy to break something by mistake).
The roles mentioned make sense, devs would be project users, analysts readonly users.

As for the LDAP, I would differentiate user role and project assignment. For project assignment, I would suggest adding an ext

[2022-08-10 13:48] radarsugarcrm commented on #859
Hi @fiftin,
regarding mail issue:
I created a project which is shared with multiple users.
I figured out that I have to enable mail notification for all users within the project to receive a mail.
Would be great if only user with mail notification enabled receive mails.

thx in advance
kr

[2022-08-10 13:50] MudraMartin commented on #1003
@SvenC56 I tried this mentioned docker version and it is deffinitely newer than the packagemanager released version. But... in this current docker version... you cannot clone git repositories with HTTPS... because of this bug:
https://github.com/ansible-semaphore/semaphore/issues/957

[2022-08-10 14:38] bendem commented on #903
`uid` contains the unqualified username (without the domain). `\` is a query will probably cause an error (as you've seen). What happens if you try to run that query yourself?

[code]

Can you inspect server logs? They might contain more information.

[2022-08-12 21:32] mgjaggers commented on #928
I can add that I also am seeing this issue on v2.8.49. I've tried different cron values and I see the following behavior:
 - It repeats once at the time specified by cron.
 - After that repeat, it never launches again.
 - If I hit run or rerun on the task, it will do a repeat of the above pattern.

The syslog file that I found doesn't show any difference between the first job that I run and the on

[2022-08-13 09:59] alokispandey commented on #931
I already moved to rundeck..but this seems to be a fix.  Precisely  the
URL..
Thanks for sharing..!
[image: image.png]

On Fri, Aug 5, 2022 at 8:50 AM getvasanth ***@***.***> wrote:

--
THANKS
ALOK PANDEY

[2022-08-17 04:37] mwallraf commented on #928
I'm having the same behaviour with v2.8.53: cron is working for the first time but then it stops without error message, there is no event that shows if the cron job is trying to start. I'm running semaphore in docker. Running the jobs manually always works.

[2022-08-17 10:36] bendem commented on #1003
I'm wondering what's wrong, there is a github action that's supposed to release to github, it ran, but attached artifacts to a dummy release:
https://github.com/ansible-semaphore/semaphore/runs/7119270720?check_suite_focus=true#step:10:98

[2022-08-17 13:26] MudraMartin commented on #1003
@bendem So i digged into the source code and it turns out that in goreleaser config file (.goreleaser.yml) there is in default

[code]

So... maybe autorelease is turned of with the draft true...

[2022-08-17 14:33] MudraMartin commented on #957
I created pullrequest for this:  #1007
It is locally tested and it works OK, since backend for HTTPS git pull was already there and only thing missing was the VUE UI elements
![image](https://user-images.githubusercontent.com/5605432/185163529-21e16784-4e50-45b5-830f-91e911c6edf0.png)

[2022-08-17 14:45] Hi-Res-Cam opened #1008 "Email alerts not working"
Hi,
I have some troubles to get the email alerts working.

Semaphore v2.8.53

config.json:

Enabled "Allow Alerts for this project"
Enabled "Send Alerts" for the specific user

Created an ansible script to raise an error:

Started semaphore from CLI to get output:

Getting back only INFO logs, no error, no warnings:

Tested different SMTP ports, added wrong credentials, changed email-host to force

[2022-08-18 06:52] bendem commented on #1003
Proposed to remove it, we'll see

[2022-08-19 11:05] steadfasterX commented on #870
My issue is not 100% the same but the browser hangs up especially when checking "Debug" checkbox and/or using -vvv / -vvvv as arg. This is not an issue when not using Debug or not using -vvv args. it just happens when a LOT of output is coming in.
when I am able to stop the task (it keeps running forever here) it stays in "stopping" state forever, blocking any other tasks ofc (no parallel runs all

[2022-08-21 12:57] C0rn3j opened #1013 "Demo page is broken"
https://demo.ansible-semaphore.com/
Throws a 401

[2022-08-21 13:36] C0rn3j opened #1014 "Cannot add repository as Access Key field has 'no data available'"
![image](https://user-images.githubusercontent.com/1641362/185793516-535b63ee-2b07-47be-9ae9-301e86733516.png)

![image](https://user-images.githubusercontent.com/1641362/185793520-426acb54-616e-42bb-9a60-7bc159dc199d.png)

This is on a fresh installation from Snap

EDIT: Apparently one has to add a None key to the Key Store... why is this not in there by default or even required to be there in a

[2022-08-21 19:54] C0rn3j opened #1015 "Build requires tools that are dead upstream"
Namely Packr and goverage.

Goverage was made to solve an issue in core Go, as per https://github.com/haya14busa/goverage#goverage---go-test--coverprofile-for-multiple-packages

Go has this issue fixed a long time ago. https://github.com/golang/go/commit/283558e42b88a6afa39da6ad4ae87558dc053776

Packr was also created to fix an issue with core Go, but Go has since gained the featureset needed - ht

[2022-08-21 20:32] C0rn3j commented on #1003
I needed an up to date version too so I at least packaged the git version on AUR

https://aur.archlinux.org/packages/semaphore-git

[2022-08-21 23:08] C0rn3j opened #1017 "Collections/Roles requirements should support both .yaml and .yml"
Currently only .yml is checked.

[2022-08-22 07:34] gitwittidbit commented on #982
Same issue here, except I have only been using gitea (and nothing else) and I wasn't able to clone even once (other than manually).

Any solution in sight? I am just starting out with Semaphore but I don't know how I can use it at all, if I can't clone the repo...

[2022-08-22 07:41] gitwittidbit commented on #875
I second Shawn's proposal.

I am new with Ansible and Semaphore and it took me a while to figure out a) what the template wants from me and b) that this actually unnecessary.

And BTW: c) The example for a valid JSON that the UI shows in that dialogue does not actually seem to be valid. I just copied it (for lack of anything better as I didn't need any vars) but it wouldn't let me save. The final

[2022-08-22 08:40] MudraMartin commented on #1003
@C0rn3j Yeah thank you. I managed to build my own DEB package. Also I added support for HTTPS GIT repositories. If anyone needed I can provide the deb package.

[2022-08-22 17:35] erioshi commented on #982
I'm thinking I may build a VM and see if the VM has the same issue as the container.  No reason to expect different behavior, but it is probably worth the effort of a test.

[2022-08-22 18:06] erioshi commented on #982
I did just re-try all of this with a pull of the development container, and that failed as well.  I also turned on the debug flag and that added a line to the error message:

` 12:54:48 PM ' for 'GIT_TERMINAL_PROMPT': invalid unit`

Otherwise all of the output was essentially the same.

[2022-08-23 19:36] gitwittidbit commented on #982
You can probably save yourself the effort: I am running gitea and ansible/semaphore in VMs.

[2022-08-24 13:21] Rocking80 commented on #1013
same. Does it need username and password to login?

[2022-08-24 14:00] michaelortnersanube commented on #1013
Yes, but if you use the default login credentials there is coming a 401 Error.

[2022-08-25 15:21] erioshi commented on #982
Thank you for that info.  I also tried the "develop" tagged version of the container and had the same failure.

[2022-08-25 19:23] gitwittidbit commented on #982
I tried with a personal access token and with a public repository. In both cases the same failure as well.

I have no idea what the problem might be.

The only solution I can think of atm is to install awx or rundeck or some other alternative. Or use ansible from the command line.

[2022-08-26 14:32] nfsprodriver opened #1019 "Trim survey variable names"
As survey variables are applied as they are, we get "undefined" errors, e.g. when there are accidental spaces (in the beginning or the end). In general, variable names should never contain spaces at all so we might need a field validation for this in web2/src/components)/SurveyVars.vue
This affects at least version develop-c2c4344-1658241081. I don't know, if it's also present in latest official v

[2022-08-29 13:55] karol-gro opened #1020 "Semaphore API returns empty project list"
I have a problem with setting up new installation of the Semaphore. I've installed version 2.8.53 with snap, added test admin account. The webpage works and allows log-in, but after I add the project I go back to adding a new project again. The API connection flow from browser lookg like this:
[code]
I tried from admin and non-admin user, via default HTTP (VPN or SSH tunnel) and nginx-based HTTPS

[2022-08-29 13:58] karol-gro commented on #1020
OK, full clean-up and reinstall helped, no idea what was the problem...

[2022-08-29 13:58] #1020 closed, assigned to nobody

[2022-08-30 23:07] xbc1 opened #1021 "Question: Docker Volumes"
Hi,
I want to run Semaphore with Docker and I am wondering if there is a Dockerfile available, I can't find one.
Wich Directories are used and why?
When I run Semaphore with the given compose file there is no Volume specified in the compose file but one is created anyway.
I can't seem to find the Files like "project__repository.ibd" wich are present in the Volume Directory on the Host Machine insi

[2022-08-31 14:37] RKonstantinR commented on #969
I have same error, db - postgres:
![image](https://user-images.githubusercontent.com/38781076/187705364-5adbf281-3952-4f3b-8708-25a1c67efaa2.png)

Config:
![image](https://user-images.githubusercontent.com/38781076/187705547-e31181ec-cf4a-4f3b-b54f-048b38282781.png)

My docker-compose.yml:
[code]

[2022-08-31 22:12] dusatvoj opened #1022 "Missing releases"
There were releases ; there's no release for more than half a year but new tags are created.

[2022-09-02 09:41] eriCCsan opened #1023 "Update/Upgrade ansible in semaphore"
Hi guys i don't know if this was already ask because i can't managed to find any answer here.
I tried to update ansible in the semaphore docker container.
It works. I've these both cli commands:
[code]
Ansible is now 2.13.
[code]
But for any reason semaphore and the TaskRunner takes the default version 2.10 and everything failed in my playbooks.
[code]
I haven't set any specific versions and doesn

[2022-09-02 13:06] tovoro commented on #880
Any news here? This is a showstopper for me too..

[2022-09-02 13:11] tovoro commented on #880
For me, the error message is:
`PANI[0021] 451 5.7.3 STARTTLS is required to send mail [ZR0P278CA0062.CHEP278.PROD.OUTLOOK.COM]  error="Can't send email!"`

[2022-09-02 13:38] luca-motterle-ICE commented on #880
@tovoro  it doesn't work for me too, but you can handle it at the playbook level with a task
- name: sending detailed report to sysadmin@iceservices.com
mail:
  host: "smtp"
  port: 587
  username: ""
  password: ""
  from: ""
  to: ""
  subject: ""
  body: ""
  secure: starttls

[2022-09-02 13:56] tovoro commented on #880
Yeah, thats a workaround but not really a good one. I now use our smtp relay with port 25 and no starttls which works but not a long term solution.
I checked and it seems that theres a fix in the latest tag, but no release for it? I have no idea how to compile the latest tag to a binary to use this one and check if it works... whats going on with the releases?

[2022-09-02 23:35] mac-lucky commented on #1021
+1

[2022-09-02 23:37] mac-lucky commented on #988
Same problem

[2022-09-02 23:40] mac-lucky commented on #969
I have exactly same issue

[2022-09-05 10:33] colossus-digital opened #1024 "Projects export or backup/restore"
Is there a way to export (or backup and restore) all projects from a working machine to another ?

thank you very much

[2022-09-05 10:43] DesireWithin opened #1025 "How to define Repositories"
I deploy semaphore in K8s, version is `v2.8.53`.
I try to run my first task. First I need define a workable ansible-playbook Repository.

Here are some screenshot:
![repo1](https://user-images.githubusercontent.com/23254001/188430146-87c62733-1acd-42fc-810e-d155683767bb.png)
The qustion mark of `Access Key` filed told me I should use `None` type.(I don't know how to pass the gitlab verification)
I

[2022-09-06 01:21] DesireWithin commented on #1025
Today I test with `Login with Password` Https gitlab Repository, it's successful

[2022-09-06 14:06] erioshi commented on #982
Interestingly DesireWithin had success connecting to an HTTPs GitLab repository.  He provided that update in the issue reference above.  He did not specify if the GitLab instance was the public web instance or a private repository.

My use case for Ansible-Semaphore is for managing playbooks before a Kubernetes cluster has been fully provisioned.  Once Kubernetes is fully provisioned I can bring A

[2022-09-08 11:02] Richardswe commented on #1024
@colossus-digital the only thing i can come up with is to do a "dump" of the database, i know the users and tasks are stored there.

[2022-09-08 14:55] flybyray opened #1026 "panic 'runtime error: index out of range [0] with length 0' while prepare db record from LDAP search query when trying ldap login"
I got `2022/09/08 16:14:43 http: panic serving 127.0.0.1:37156: runtime error: index out of range [0] with length 0`
when logging in with LDAP credentials.
Semaphore is running as backend with a haproxy frontend

semaphore version: `v2.8.65`

`bin/semaphore server --config /home/flybyray/git/github.com/ansible-semaphore/semaphore/.config/config.json`
[code]

It looks like `sr.Entries[0]` has no En

[2022-09-08 15:18] flybyray commented on #1026
Further investigation reveals that the current implementation assumes that the login user has additional LDAP permissions.

https://github.com/ansible-semaphore/semaphore/blob/v2.8.65/api/login.go#L67-L71

With JumpCloud there is a additional flag with the description `Allows user to bind to and search the JumpCloud LDAP service.`
![image](https://user-images.githubusercontent.com/804661/189158601

[2022-09-08 17:49] fiftin commented on #1013
Hi, fixed.

[2022-09-08 17:49] #1013 closed, assigned to nobody

[2022-09-09 11:14] cf-sewe commented on #1023
I am not sure, but under what user are you executing the pip update? According to the output, I assume `root`:

Semaphore is running with user `semaphore` so you'd need to run the pip3 install under that user.
But anyhow, I am also waiting for Semaphore to support Ansible updates, as we develop our roles with later versions.

[2022-09-09 14:00] MudraMartin commented on #1022
........ https://github.com/ansible-semaphore/semaphore/issues/1003

[2022-09-09 17:54] fiftin commented on #991
I need help with LDAP issues.

[2022-09-09 19:26] fiftin commented on #1024
@colossus-digital
I agree it is useful feature.

[2022-09-09 19:49] fiftin commented on #1025
Hi @DesireWithin

What do you think about Semaphore? What features is missing? )

[2022-09-09 20:08] flybyray commented on #991
This sounds like PR #1027 could help you. I guess the second bind call works for some users because they have a special privilege to bind&search ldap. The PR #1027 is using only a ldap whoami operation for the user authenitcation check which does not require bind&search privilege. After successfull operation the original read-only ldap user uses bind again and searches for the ldap user.

[2022-09-09 20:22] fiftin commented on #1019
@nfsprodriver Thank you.

[2022-09-09 20:25] fiftin commented on #1015
So, we should migrate from packr to https://pkg.go.dev/embed. Thank you @C0rn3j .

[2022-09-09 20:26] flybyray commented on #903
This looks like incorrect `DN` for `ldap_binddn`.
Can you ensure `ldapwhoami` works?

[code]
It will ask interactively for the password for the proposed `DN`. Supply `password` as configured in `ldap_bindpassword`.

If it is a correct DN it will echo the `DN` again and error code should be `0`.

[2022-09-09 20:32] flybyray commented on #906
Please use `ldapwhoami` tool and check if your binddn works.

[code]

It will ask interactively for the password and should return error code `0` and echo out the `DN` as specified.