[2022-09-09 20:38] flybyray commented on #913
This could also be fixed with PR #1027 .
@dusatvoj  could you provide the version and additional log info if there is a “panic” and some stacktrace with source lines printed.

[2022-09-10 09:12] jhaesselbacher commented on #1025
Web forms to enter variables like those of awx, with comboboxes, listboxes.... Before execution of the playbook? :)

[2022-09-10 10:29] dusatvoj commented on #913
It was fixed by
[code]
... bcs you are not using bind user for everything but you are using authenticated user for search.

[2022-09-10 11:11] flybyray commented on #913
I am not sure what that sentence should mean.

But yes most of the time there is a distinction between authenticated user ( not able to search ) and read-only bind user ( able to do queries). Hence LDAP access needs at least 2 requests to properly authenticate a user.

[2022-09-10 11:19] dusatvoj commented on #913
Authenticated user was meant as personal user I'm logging in with.

Bind user: user, used for read LDAP, defined in config file.

[2022-09-10 11:32] flybyray commented on #913
With a provider like JumpCloud i cannot manage to change ldap AccessControls like `olcAccess`.
JumpCloudConsole would allow only bind&search for a bind user. For normal authenticated users it is not recommended to enable it, because [“As the directory gets populated with more and more data of varying sensitivity, controlling the kinds of access granted to the directory becomes more and more critic

[2022-09-10 12:32] dusatvoj commented on #913
Yes, it's more like a workaround than solution.

[2022-09-13 10:23] cf-sewe opened #1028 "API does not implement GET for schedules"
- I am automating Semaphore configuration via the API
- I want to be able, to determine the schedules for a certain task.

Currently it is not possible to:
- either list all the schedules (`GET /projects/<id>/schedules` returns HTTP 405)
- or get the schedule id from the tasks (`GET /projects/<id>/templates/<tid>` does not return the schedule id.

Can you please confirm my analysis is correct, and

[2022-09-13 13:11] fiftin commented on #1028
Yes, you are right. Yes, we will implement this.

[2022-09-14 13:50] ghost commented on #867
Is there a resolution to this? We area also using snap for installation and have this exact error

[2022-09-16 07:50] RyanGannon commented on #897
I don't suppose you found a solution to this?

[2022-09-16 13:39] AndrewPaglusch commented on #897
Unfortunately, no. I still have not been able to find a solution to this.

[2022-09-16 21:37] emdepl commented on #955
Hi,

Working config

In `config.json` set `web_host` to `/semaphore`

In nginx config

[code]

[2022-09-17 08:02] huangjian80s commented on #1025
I looked at the previous issues and found that the docker version is faulty. If you use Package manager install, you can use file://

At the same time, I also tried the http:// method of self-built gogs, but found that it still does not work, SSH :// is too difficult for me to understand

[2022-09-19 08:51] fiftin opened #1032 "Configuration as a code"
Ability to setup template/inventory/environment via separate YAML-file.

[2022-09-19 09:41] fiftin commented on #1025
We have working demo. There are repo examples: https://demo.ansible-semaphore.com/project/1/repositories

[2022-09-19 09:44] fiftin commented on #955
Is that configuration not working?

I think you can use:
[code]

[2022-09-19 09:50] fiftin commented on #1025
By the @DesireWithin issue, it is authentication problem.

`None` should be used for `https://` protocol without authentication.

I tested `Personal Access Token` it is works to me. I will try to reproduce the issue again.

[2022-09-19 09:57] emdepl commented on #955
This configuration works

[2022-09-19 11:02] #955 closed, assigned to nobody

[2022-09-19 12:32] fiftin commented on #1025
Hi @DesireWithin ,
I don't remember how I missed this but PAT working as login/password, just password is your PAT. Use  `Login with password` instead of `Personal access token`.

[2022-09-19 16:49] fiftin commented on #982
`'GIT_TERMINAL_PROMPT': invalid unit` is useless message but it is mean - you need authentication. You should provide login/password if you use https protocol.

[2022-09-19 16:50] fiftin commented on #982
Continue here: https://github.com/ansible-semaphore/semaphore/issues/1025

[2022-09-19 16:50] #982 closed, assigned to nobody

[2022-09-19 16:51] fiftin commented on #871
Duplicate https://github.com/ansible-semaphore/semaphore/issues/1025

[2022-09-19 16:51] #871 closed, assigned to fiftin

[2022-09-20 07:11] cf-sewe commented on #1032
That is really a nice idea and great enhancement for supporting deployment of multiple environments 👍
In Grafana this is called [Provisioning](https://grafana.com/docs/grafana/latest/administration/provisioning/), that may be a good reference.

[2022-09-20 09:06] fiftin commented on #1025
How to fix: https://docs.ansible-semaphore.com/administration-guide/troubleshooting#fatal-bad-numeric-config-value-0-for-git_terminal_prompt-invalid-unit

[2022-09-20 09:06] #1025 closed, assigned to nobody

[2022-09-20 10:49] colossus-digital commented on #1024
i'm trying right now, there are 2 DBs:

[code]

Should i export both or just the semaphore ?

[2022-09-20 12:48] fiftin commented on #1024
Just semaphore

[2022-09-21 07:24] YoungjuWang commented on #1008
+1

[2022-09-21 09:38] YoungjuWang commented on #1008
@Hi-Res-Cam Did you solved the problem?? I have same issue

[2022-09-21 09:48] Hi-Res-Cam commented on #1008
no, the problem still persists

[2022-09-21 13:55] ySp-chld opened #1033 "Use playbook inside repo subfolder"
Hello,
is it expected that all playbooks should be at the root of a git repo.
I have a file hierachy with several playbooks :
[code]
can use relative path inside template to select a specific playbook inside my git project ?
Thank you for your help.

ps: the only time we had a template working was when putting a playbook at the root of our repo, github connectivity seems OK.
here are the execusion

[2022-09-21 14:15] dmitrygribenchuk commented on #901
Also work for me add ?sslmode=disable to host

[2022-09-21 14:59] ySp-chld commented on #1033
it was a typo. `.yml` and `.yaml` are not the same

[2022-09-21 14:59] #1033 closed, assigned to nobody

[2022-09-21 15:29] fiftin commented on #901
Hi, please use following config:
[code]

[2022-09-21 22:45] jake-vukelich opened #1034 "Listing playbook hosts failed: exit status 4"
Red Hat Enterprise Linux release 8.6 (Ootpa) - installed with package manager (yum) using a mysql database. Semaphore user has root access to its database.

I had an Ubuntu server setup with Ansible Semaphore but need to switch to RHEL. Everything was working fine with Ubuntu.
Playbook runs when using Ansible CLI. Permissions look the same on both servers in the semaphore directory. Inventory and

[2022-09-22 01:38] YoungjuWang commented on #1008
@fiftin I use semaphore from 'master' branch. and I have same issue. Can you check this issue??

[2022-09-22 12:08] wKollendorf opened #1035 "Force download roles/collections (requiremnts.yml) on change"
Hi,

I am using requirements.yml to download roles from a git directory. This is working fine until, I change/modify the role. When running a task, the role won't be updated/redownloaded. An upgrade is only triggered when the role directory is deleted, or the requirements.yml file ist modified (hash).

https://github.com/ansible-semaphore/semaphore/blob/c2c4344cab863d451a91f9d52e72358c9e89988b/ser

[2022-09-22 20:03] erioshi commented on #1025
After your comments above I took another look at the situation.  The problem is specifically the HTTPS connection attempt.  When I set up my test container, I set it up without an HTTPS reverse proxy (just for testing).  To successfully connect to the container an HTTP connection is be required.

When I have time I'll put a reverse proxy in place and see if that resolves the issue.  While it is a

[2022-09-23 12:38] Vitexus commented on #886
![obrazek](https://user-images.githubusercontent.com/2621130/191961770-e8767060-de89-4e79-8549-9d2aa952889a.png)

Ugly Tux is Sad Tux :(

[2022-09-26 19:31] Apkahym opened #1036 "ansible.cfg is ignored"
I have created the ansible.cfg file in the main directory of the repository and set the variables and values that I want the ansible cli to use. But when running the playbooks, it is ignored, so those configurations are not loaded and the execution fails.

Anyone else has happened? any ideas?

[2022-09-29 20:35] bverkron opened #1037 "Running in Docker container "nc: bad address""
Attempting to run Semaphore via a docker-compose file and can't seem to get it to work. The examples in the doc are focused on mysql and postgres and it's unclear to me how to get boltdb to work.

This is the docker-compose file. I tried with both bind mounts and volumes. Same issue. I wrote it based on a combination of [the doc](https://docs.ansible-semaphore.com/administration-guide/installation

[2022-09-29 20:43] bverkron commented on #1037
Just attempted to run the docker-compose exactly as it is in the official doc and I get the same error. Perhaps there's something more broadly wrong here with the docker image?

[code]

[2022-09-30 07:41] Richardswe opened #1038 "Wishlist for extra features"
Hi i just wanted to say thanks for the work you guys put on Semaphore, i really like it.
I'd though have some extra features that would be really nice. I don't know how much work it is to add them
but again it would be appreciated :).
Wish list:
1. Be able to move template tasks between the different tasks views.
2. Add a static playbook instead of only relying on a GIT repository (a suggestion is

[2022-10-01 07:12] bverkron commented on #1032
Would love this feature. One of the first things I thought when I started using Semaphore was "How come I can't define inventories in a repository like I can with playbooks?"

[2022-10-01 07:19] bverkron commented on #1037
Got something working but it was from some online article on another site. Haven't compared to the official doc but something was obviously different. The is what I have working now. Would be nice if the official doc example worked "out of the box".

Note I had to change some ports around because I had other stuff (or other experimental instances of semaphore) running on the default ports. I also

[2022-10-01 08:36] eriCCsan commented on #1023
Thanks for the reply. Indeed i use root. This solves my problem. Thank you.

[2022-10-01 09:08] fiftin commented on #1038
2 and 4 already available in develop branch and will be released soon.

[2022-10-01 12:57] fiftin commented on #111
Done in https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.66

[2022-10-01 12:57] #111 closed

[2022-10-02 17:29] fiftin commented on #1021
Hi @xbc1

Dockerfile in directory: `deployment/docker/prod`.

[2022-10-02 18:33] fiftin commented on #1008
Fixed in v2.8.67: https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.67

[2022-10-02 18:34] fiftin commented on #880
Fixed in v2.8.57: https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.67

[2022-10-02 18:40] fiftin commented on #1022
New release available: https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.67

[2022-10-02 18:40] #1022 closed, assigned to nobody

[2022-10-02 18:40] fiftin commented on #1003
New release available: https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.67

[2022-10-02 18:40] #1003 closed, assigned to nobody

[2022-10-02 18:41] fiftin commented on #991
Any updates? :)

[2022-10-02 19:27] fiftin commented on #1014
Hi @C0rn3j ,

I agree with you, `None` should be available by default, but it is not so easy to add without harming current users.

[2022-10-02 19:30] fiftin commented on #957
Please try v2.8.57. It should work.

[2022-10-02 21:09] fiftin commented on #928
Thank you very much for your work. I will try to fix ASAP.

[2022-10-02 22:13] bverkron commented on #1008
Just got this working (was a bit of a run-around when using docker, which I will try to submit a discussion or bug or PR about, TBD).

However, I'm only getting failed alerts, not success alerts. Got a failed email from the bottom job but nothing from the top one run right after it.

![image](https://user-images.githubusercontent.com/19174503/193478558-4554e8d0-bd68-446d-bb25-4a7f49f41806.png)

Su

[2022-10-03 01:01] YoungjuWang commented on #1008
@bverkron
Semaphore only send Email when task failed.
It's working correctly.

telegram, slack alert only support success alerting.

[2022-10-03 01:13] bverkron commented on #1008
Any specific reason for that? Seems inconsistent and not sure I understand why email doesn't follow the same pattern as telegram and slack.

[2022-10-03 01:15] bverkron commented on #1008
Also, is this documented anywhere? I don't see anything about that difference in the doc or the interface.

[2022-10-03 01:18] bverkron commented on #1037
Closing for now in favour of this discussion since this isn't necessarily a bug and the "nc: bad address" error is probably due to misconfiguration.
https://github.com/ansible-semaphore/semaphore/discussions/1040

[2022-10-03 01:18] #1037 closed, assigned to nobody

[2022-10-03 06:51] Richardswe commented on #1038
@fiftin great!

[2022-10-03 08:10] DerDummePunkt commented on #1021
Afaik, the semaphore backend currently doesn't write anything to disk that needs to be persisted.

There is the tmp folder, into which the execution environments for tastks get placed, that one you can configure and could create a host mounted volume for, but I dont thnik that would yield any benefit.

Are you confusing docker with docker compose here?
The image produced by the Dockerfile can be p

[2022-10-03 09:46] ySp-chld commented on #900
#904 and #986  are referencing the same thing, I think that would be a very nice feature to have indeed.

[2022-10-04 11:38] iFFgen commented on #877
It would be nice to add **pywinrm** to docker container. Because now it is needed to build my own image before usage.
Thanks in advance.

[2022-10-04 14:40] fiftin commented on #877
Could you try to install via ansible role?

Example
Role: https://github.com/fiftin/ansible-semaphore-deploy-test/blob/master/roles/deps/tasks/main.yml
Playbook: https://github.com/fiftin/ansible-semaphore-deploy-test/blob/master/deps.yml

[2022-10-04 18:06] iFFgen commented on #877
I'm using this image in K8s cluster. That's why I need this package in Semaphore container.

[2022-10-04 18:22] fiftin commented on #994
How you did this?
Correct way:

[code]

[2022-10-04 18:40] fiftin commented on #994
Looks like issue was fixed. Please try v2.8.66

[2022-10-04 18:40] #994 closed, assigned to fiftin

[2022-10-04 18:40] fiftin commented on #968
Please try latest version of Semaphore.

[2022-10-04 18:40] #968 closed, assigned to nobody

[2022-10-04 18:41] #972 closed, assigned to nobody

[2022-10-05 05:17] bverkron opened #1041 "semaphore-wrapper does not handle boltdb"
I believe I found the root cause of https://github.com/ansible-semaphore/semaphore/discussions/1040

Basically I've been trying unsuccessfully to get boltdb working in a container using the official image. No matter what environment variables I set in the docker-compose file I always get messages smiler to:
`"Attempting to connect to database semaphore on 0.0.0.0:3306 with user semaphore ..."`

It

[2022-10-05 11:52] fiftin commented on #1041
I will try to reproduce. Thank you

[2022-10-05 12:45] oriolrius commented on #1041
I'm using blotdb and docker-compose and it works for me, here there are my files:

I'm using this docker-compose.yml:

[code]

and this config.json file:

[code]

[2022-10-05 12:56] bverkron commented on #1041
It works because you are overriding the CMD in the original image an bypassing the wrapper, similar to my workaround. I guess this can work if you’re providing your own config.json as you are (and as I attempted to do for my troubleshooting / work around) but it’s not documented anywhere as far as I can tell and has downsides. This may work but should not be required and is not by design.

How are

[2022-10-05 14:07] fiftin commented on #1041
I reproduced issue. Thank you.

[2022-10-05 14:34] oriolrius commented on #1041
Yes, I overwrite the CMD.

For creating the password is this:

[code]

I hope it was useful for you.

Regards.
Oriol

[2022-10-05 15:07] fiftin commented on #1041
Fixing in progress. Thank you @bverkron

[2022-10-05 15:10] fiftin commented on #1036
How you installed Semaphore?

Is `ansible.cfg` located in repository root?

[2022-10-05 15:17] fiftin commented on #1034
Could you try latest version of Semaphore?

[2022-10-05 15:22] fiftin commented on #1008
Hi @bverkron ,
1. It can seems inconsistent, but Semaphore works so initially. Email used for critical alerts.
2. Telegram and Slack used for all alerts, but you can disable success alerts for templates.

[2022-10-05 23:33] don-rumata commented on #376
I encountered the same problem:

`ansible v2.12.9`

`semaphore v2.8.67`

[code]

If you start in manual mode, everything is fine: [![asciicast](https://asciinema.org/a/n1du5vkA84AUrTWJYI88nqfyq.svg)](https://asciinema.org/a/n1du5vkA84AUrTWJYI88nqfyq)

But through semaphore - it asks for a password:

[code]

`install-jq.yml`:

[code]

[2022-10-06 00:48] bverkron commented on #1041
Awesome thank you! Let me know if I can help with testing or anything.

[2022-10-06 01:00] bverkron commented on #1041
Interesting approach. Not sure I can implement it quite like this being that I run from Portainer, at least not as part of the container spin up process via Portainer. But it might give me some ideas as a workaround until there's a fix. Though I'll probably just wait.

[2022-10-06 01:34] bverkron opened #1042 "Cron at UTC time instead of local time"
I have a cron for a task setup as follows (should be 1am local time) and it's running at 6pm local time, which seems to indicate it's running at 1am UTC

<img width="952" alt="image" src="https://user-images.githubusercontent.com/19174503/194193938-2d5d3d83-b77f-4423-86a7-c322ab347d44.png">

![image](https://user-images.githubusercontent.com/19174503/194194115-8ccc72ba-ed09-4271-83ae-0eb2660e6a0c.

[2022-10-06 01:40] bverkron commented on #1042
Possibly related to https://github.com/ansible-semaphore/semaphore/issues/974 ? Not sure if it's the same root cause (looks like DB timezone maybe?) or if it's something else.

[2022-10-06 01:57] bverkron commented on #1042
I would consider this a really low priority issue (not even sure if it's considered a "bug" or not) being that once you know this you can just account for it in the cron schedules by bumping them by the offset.

[2022-10-06 09:10] fiftin commented on #1041
Fixed in [v2.8.68](https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.68).

[2022-10-06 09:10] #1041 closed, assigned to nobody

[2022-10-06 09:21] #957 closed, assigned to nobody

[2022-10-06 09:22] #880 closed, assigned to nobody

[2022-10-06 10:02] dmitrygribenchuk opened #1043 "Run task via API with enviroment variable get 500"
Hello. I try to run a task via API. Without an environment variable all work fine. And with a specified environment (found it in API docs). I created unbound environment in UI. I'm get a 500 error.

Endpoint: http://localhost:3000api/project/1/tasks

body:

{
	"template_id": 2,
	"status": "running",
        "environment": "unbound"
}

In logs:
time="2022-10-06T09:30:25Z" level=error msg="invalid c

[2022-10-06 10:36] fiftin commented on #1043
Hi @dmitrygribenchuk ,

`environment` must be JSON, it is not name of existing environment.

I agree error message must be more informative.

[2022-10-06 10:50] fiftin commented on #900
Duplicate https://github.com/ansible-semaphore/semaphore/issues/904

[2022-10-06 10:50] #900 closed, assigned to nobody

[2022-10-06 10:50] fiftin commented on #986
Duplicate https://github.com/ansible-semaphore/semaphore/issues/904

[2022-10-06 10:50] #986 closed, assigned to nobody

[2022-10-06 11:12] dmitrygribenchuk commented on #1043
Thanks for your answer, on a docs environment must be string
https://www.ansible-semaphore.com/api-docs/#/project/post_project__project_id__tasks

{
  "template_id": 0,
  "debug": true,
  "dry_run": true,
  "playbook": "string",
  "environment": "string"
}

[2022-10-06 11:14] fiftin commented on #1043
Yes, it should be stringified JSON.
[code]

[2022-10-06 11:18] dmitrygribenchuk commented on #1043
Thanks for your reply! It's works.

[2022-10-06 11:23] #1043 closed, assigned to nobody

[2022-10-06 11:39] #983 closed, assigned to nobody

[2022-10-06 13:03] Yukics commented on #928
Could be related to this package specification: https://pkg.go.dev/github.com/robfig/cron and the required cron format from semaphore ?
![image](https://user-images.githubusercontent.com/34201397/194319593-dd433ece-98ac-4ae1-b6fa-ac3151929218.png)
go package uses 6 arguments, semaphore just 5

[2022-10-06 14:12] zapfdk opened #1046 "Mail alerts are sent only to admin"
Hi,
I am running the newest version with the docker-compose installation.
I am trying to get mail alerts to work, but they only get sent to the admin mail address.

It's working in my local installation, but not on the server.
I can't find a configuration difference between the two.
For both mail alerts activated in the config file and the project settings. Alerts are activated for several users.

[2022-10-06 14:47] fiftin commented on #1046
Local installation is docker too?
Please check task output lines which looks like `Sending email to ...` (at the end of output)

[2022-10-06 18:48] bverkron opened #1047 "Pressing enter in Task -> Run -> Message field refreshes the page"
If focus is in the Message field in the Task -> Run dialog and [Enter] is pressed the page will refresh. I would expect it to activate the Run action or do nothing, not refresh the page and lose the work (message) that was entered.

Example:
You can't see my cursor in the screenshot but it was at the end of the line I entered in the Message field. From there I just press enter and the entire page

[2022-10-06 19:06] bverkron opened #1048 "BoltDB instance starts task numbers at 2147483645"
Just migrated to the new image [2.8.68](https://hub.docker.com/layers/semaphoreui/semaphore/v2.8.68/images/sha256-621895e3c3a67038831152583f6a728b50a29d38c845807fb0ca223d51d9ad44?context=explore) (I believe) to use BoltDB and my very first task has an ID of 2147483645 instead of 1.

Here is my old setup on the previous image with mysql (dark) vs 2.8.68 with BoltDB (light). I assume this is due to

[2022-10-07 07:23] zapfdk commented on #1046
Yes, local installation was also done with docker. Both are on v2.8.68.

Task output only states the admin mail in the output on the server. So it doesn't even try to send the email, not a mailserver issue.
On my local installation it correctly lists the mail addresses.

[2022-10-07 08:07] fiftin commented on #1046
What task prints at the end? You should see lines `Sending email to <your email>`.

[2022-10-07 08:52] zapfdk commented on #1046
Yes I see those lines, but only for one mail on the server, but for all users on my local installation.

[2022-10-07 18:18] fiftin commented on #1046
Please check following checkboxes on Users page:

<img width="396" alt="image" src="https://user-images.githubusercontent.com/914224/194623820-ba58d53e-5925-4008-bfa8-7ca9bf01f6a2.png">

[2022-10-08 14:44] fiftin commented on #376
Hi @don-rumata

What type of Inventory do you use (`static` or `file`)?

[2022-10-08 14:47] don-rumata commented on #376
File: `inventory/ubuntu.ini`

https://imgur.com/a/iV0i8oN

[2022-10-08 14:48] fiftin commented on #1048
It is ok for BoltDB.
I don't remember details why I choose this behaviour, but it is motivated by the sorting way in BoltDB.

[2022-10-08 14:49] #1048 closed, assigned to nobody

[2022-10-08 14:52] fiftin commented on #376
Do you have correct Inventory? See following screenshot?

![image](https://user-images.githubusercontent.com/914224/194713444-1a40d4d7-607c-4425-94ab-62e4e273b8ae.png)

You should specify path to your `inventory/ubuntu.ini`.

[2022-10-08 14:53] don-rumata commented on #376
I added a screenshot to the post above

[2022-10-08 15:06] fiftin commented on #376
@don-rumata ,

Hm, strange why it is works locally... I didn't find official documentation only following stackoverflow answer:

https://stackoverflow.com/a/64907099/1035334

So, your `group_vars` should be in `inventory` directory.

[2022-10-08 15:10] fiftin commented on #376
Found: https://docs.ansible.com/ansible/latest/user_guide/intro_inventory.html

![image](https://user-images.githubusercontent.com/914224/194714281-a869b4b6-52c3-47ac-8c85-9cdf61acd3df.png)

Example:

![image](https://user-images.githubusercontent.com/914224/194714415-86f682fd-837e-4fe4-b413-f2072f63c3d5.png)

[2022-10-08 15:16] don-rumata commented on #376
`cd /tmp/semaphore/ && cp ./inventory/ubuntu.ini ./`

`run`

The error remains.

It's the same with `rsync -a ./group_vars /inventory/`.

[2022-10-08 15:22] fiftin commented on #376
Structure should be:
[code]

[2022-10-08 15:23] don-rumata commented on #376
Yes, that's right (`rsync`).

[2022-10-08 17:10] thunderstorm99 commented on #826
@fiftin @mvdkleijn has there been any progress in the meantime? Thanks for your great app!

[2022-10-09 00:22] don-rumata commented on #376
@fiftin , can you try running my playbook (`install-jq.yml`) on your machine?

[2022-10-09 10:20] fiftin commented on #989
Sorry for so long delay.

Please read Git docs: https://git-scm.com/book/en/v2/Git-on-the-Server-The-Protocols#_the_ssh_protocol

![image](https://user-images.githubusercontent.com/914224/194751286-fb751b3d-73af-469d-b3d0-de3897c4626d.png)

[2022-10-09 10:20] #989 closed, assigned to nobody

[2022-10-10 06:37] jp1337 opened #1051 "Feature Request - Show Cron Information in List"
Thanks first of all for the great work with this project!
We use semaphores in a business environment and often use the cron feature. Currently there are still about 20 playbooks that are executed automatically. It is still possible to keep track of them without additional documentation. For a better overview it would be useful to see in the planning view when the execution was planned.
Would it b

[2022-10-10 07:41] zapfdk commented on #1046
Yes, those are checked, too.

[2022-10-10 19:54] jake-vukelich commented on #1034
Updating to the latest version of Semaphore resolved the issue. Thanks very much!

[2022-10-10 19:54] #1034 closed, assigned to nobody

[2022-10-11 08:39] dmtinklenb commented on #969
I'm using mariadb.

Doug Tinklenberg
Senior Systems Engineer
Wells' Enterprises, Inc.
(712) 523-5411
________________________________

The information contained in this message and/or attachments is intended only for the person or entity to which it is addressed and may contain confidential, proprietary, and/or privileged material. Any review, retransmission, dissemination or other use, or taking

[2022-10-12 08:30] impishian commented on #928
v1.2 uses 6 args
v3.0 uses 5 args  (https://github.com/robfig/cron ,  see the last paragraph)

[2022-10-12 08:30] impishian commented on #928
v1.2 uses 6 args
v3.0 uses 5 args (https://github.com/robfig/cron , see the last paragraph)

[2022-10-12 09:36] fiftin commented on #928
Hi @mwallraf , @Yukics , @impishian

I can't reproduce issue. I use `@daily` value of Cron for task.

<img width="918" alt="image" src="https://user-images.githubusercontent.com/914224/195307510-fd89b52f-8518-4a9b-95f7-073bce9d48ef.png">

[2022-10-12 13:38] impishian commented on #928
`$ cat /etc/lsb-release`

DISTRIB_RELEASE=20.04
DISTRIB_CODENAME=focal
DISTRIB_DESCRIPTION="Ubuntu 20.04.5 LTS"

`$ ansible --version`

  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3/dist-packages/ansible
  ansible collection location = /root/.ans

[2022-10-12 15:21] mgjaggers commented on #928
Maybe it's related to the setup of the server? I have the issue on the Turnkey Linux image:
https://www.turnkeylinux.org/ansible

Perhaps you can replicate it on there?

[2022-10-12 17:15] mvdkleijn commented on #826
My apologies. I took a look at the time and the docs aren't very clear about how to do this in CircleCI. I also seem to remember that arm support was sketchy. After that I kinda got sidetracked by life and forgot about this. :-) No excuse, I know but still.

[2022-10-12 18:45] fiftin commented on #826
We moved to GitHub Actions.

[2022-10-13 09:52] radarsugarcrm commented on #859
Hi,
short update:
I updated our system to 2.8.67
Unfortunately mail notification still the same.
Mail notification for projects with multiple users assigned still not working in case I want to notify only defined users.
Notification works until system reaches the first user which shouldn't receive a mail.

regarding time stamp:
database shows the correct time stamp but on web interface there is a

[2022-10-13 11:44] impishian commented on #928
https://github.com/ansible-semaphore/semaphore/issues/928#issuecomment-1276188882

to log source file name and line number, i upgrade logrus to v1.9.0, and add "log.SetReportCaller(true)" to some go files.

the output like this:

`$ semaphore_new server --config /root/semaphore/config.json 2>&1`

<img width="2531" alt="image" src="https://user-images.githubusercontent.com/5836594/195585409-ed72fd0

[2022-10-13 12:40] nmcc1212 commented on #826
has moving to github actions changed whether you can do it?

[2022-10-13 17:56] mmospanenko opened #1053 "Access to Variable values from Extra CLI field"
Will be great to have ability to read values from UI Vars inside predefined Extra CLI Arguments template. For example, I want to ask a user what hosts he wants to deploy. We have all hosts inside inventory, but we should limit them for each run (-l arg).

How I see this implementation:
just add ability to use `jinja2` template for this (`Extra CLI`) text field and access to variables.

1. we add H

[2022-10-13 21:59] yodatak opened #1054 "Add the ability to specify the differents verbose level and the diff mode"
It could be interensting tio make the interface have the possibility to have the diff mode and specify the verbose level

[2022-10-14 07:50] lanbugs opened #1055 "Delete of User leads to problems viewing Task overview"
Hi,

i have created a testuser did some task runs and delete it afterwards.
After deleting the user the task list is empty and hanging in loading state.

Other projects are not affected of the problem only the project were i executed some tasks.

I use the last stable version with boltdb.

Regards,

Max

[2022-10-14 21:09] harahauk commented on #309
I'm working in WSL1 on AlmaLinux on a Insider Beta Build of Win 11 (22H2, 22623.746) and I suddenly started getting these errors. @slikk66 's posted solution did the trick and saved me from madness

[2022-10-17 19:01] mytlogos commented on #644
For people just wanting to use semaphore in docker, without waiting for an offical/supported image, i created a Dockerfile (for now the download itself needs to be modified to work on other archs than arm64) which up to now works:

[code]

It is quite ugly, and the image takes ~700 mb (currently without any optimizations, if at all possible), but for now i do not care.

I tried to build the image

[2022-10-18 09:30] TheAnachronism opened #1057 "[Question] How would one integrate gravitational teleport?"
I am currently using gravitational teleport as an SSH proxy to connect to all my servers. I'd love to use semaphore to make specific tasks automatic for all the different environments, but to be honest, I have no idea how I can integrate semaphore with teleport. Especially as I have semaphore deployed in a k8s cluster.

Teleport supports Machine ID for automations and has a guide how to integrate

[2022-10-18 13:05] colossus-digital commented on #1024
just fyi

db backup (sql):

`mysqldump  -h localhost -P 3306 --protocol=tcp -u semaphore --password --databases semaphore --column-statistics=0 --no-tablespaces > ./semaphore_db_backup.sql`

db restore (sql):

`mysql  -h localhost -P 3306 --protocol=tcp --password -p semaphore < ./semaphore_db_backup.sql`

[2022-10-18 15:43] nlvw commented on #897
@AndrewPaglusch As long as you run semaphore as a non-root user you can setup `~/.ssh` with custom passwordless ssh keys.  Setup the `~/.ssh/config` to use your key when talking to the git server specified in your requirements.yml file and register the keys under a read-only service account on your git server.

That's the workaround we used.

[2022-10-18 15:51] AndrewPaglusch commented on #897
@nlvw Great idea! I hadn't considered that approach. I will give that a shot and report back. Thank you very much.

[2022-10-19 09:16] dmitrygribenchuk opened #1059 "Invalid format of the template extra arguments"
Hello. Have a strange issue (?) with CLI args in the template. I try to specify a variable in each template.

When I use invalid JSON - the internal validator solves it:
![image](https://user-images.githubusercontent.com/15670247/196650033-d6400df1-a6c9-4239-b33d-3ef230e67d51.png)

When I use stringified JSON I can save data and have an error when running a task:

![image](https://user-images.gith

[2022-10-19 12:29] Richardswe commented on #1059
It's just the wrong format?
You should use brackets [ ] , example:
`[
  "-u",
 "admin"
]`
with the ]  bracket on the last row.

[2022-10-20 05:42] cf-sewe commented on #1057
I didn't know that tool. Teleport looks really nice!
You can try to mount the custom ssh_config into the container, but it may be that Semaphore overwrites it.

For docker it would be with volume mount:
[code]
For kubernetes not sure. As you mentioned, you probably need a sidecar container with the Teleport agent, and then somehow get the ssh_config from that sidecar into the semaphore container.

[2022-10-20 11:08] TheAnachronism commented on #1057
Mhh alright
I'll have a further look into sidecars, etc. maybe I can really specify that the teleport bot container updates that ssh config periodically and semaphore can then just use it or something.
If I find anything, I'll report it here.

[2022-10-20 16:22] jp1337 opened #1060 "Output in random order"
I ran a playbook in debug mode and closed the console while the playbook was running. After the playbook was done, I opened the console output again. The lines were roughly following the flow, but a few lines were in random order.
The playbook generates a large amount of output lines because some local variables are created. The variables contain over 50 elements.

In the screenshot you can see th

[2022-10-20 20:26] mmospanenko commented on #501
any ideas how to use different branches per run? For example we have source code and playbooks in one repo, I want to run build or deploy particular version with identical config and sources (like BitBucket does - runs CI from commit). This is wrong way to hardcode/predefine pranch

[2022-10-21 17:51] fiftin commented on #928
Hi @impishian ,

Perhaps the issue related to BoltDB... I will try to reproduce. Thank you

[2022-10-21 17:55] fiftin commented on #928
Ubuntu: 20.04.2
Semaphore: 2.8.67
Cron: * * * * *

Working as expected:

![image](https://user-images.githubusercontent.com/914224/197258890-b0f1057b-0cfc-4567-ba28-cae90d51e80e.png)

Log for single task:
[code]

[2022-10-21 18:03] fiftin commented on #928
@impishian ,

Perhaps I know why it runs only once.

![image](https://user-images.githubusercontent.com/914224/197260288-4d292be8-8a22-4859-bc56-f6b77f9f4b1d.png)

The cron will check this repo once a minute but execute task only if new commits appears.

[2022-10-21 18:05] fiftin commented on #928
I know the field's title is not clear. But I don't know how to call it another. Please suggest your options.

[2022-10-21 18:09] mwallraf commented on #928
@fiftin, that could be the reason in my case!  This field is indeed filled in.
It says "optional" but actually I'm unable to clear it once something is selected ..  I will try to do some more tests later

[2022-10-21 19:24] fiftin commented on #928
@mwallraf it is a bug. Will be fixed in next release. Thank you!

[2022-10-21 19:33] fiftin commented on #1054
Hi @yodatak,

Please provide more details. What diffs do you mean?

[2022-10-21 20:01] #1059 closed, assigned to nobody

[2022-10-21 21:37] #896 closed, assigned to fiftin

[2022-10-21 21:51] fiftin commented on #644
Hi @gaby
Currently Semaphore uses GitHub actions, but I don't know how to build multiarch image. Can you help please? :)

[2022-10-21 22:21] fiftin commented on #928
Fixed in [v2.8.69](https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.69).

[2022-10-21 22:21] #928 closed, assigned to fiftin

[2022-10-21 22:21] fiftin commented on #1055
Fixed in [v2.8.69](https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.69).

[2022-10-21 22:21] #1055 closed, assigned to fiftin

[2022-10-22 16:36] lanbugs opened #1064 "Current docker-compose Version broken"
Hi developers,

after installation of semaphore on my RPi it loops "exec /sbin/tini: exec format error".

Platform: Ubuntu 20.04.5 LTS aarch64
Docker: Docker version 20.10.20, build 9fdeb9c
Docker-compose: Docker Compose version v2.11.2

Images:
Container               Repository              Tag                 Image Id            Size
semaphore-mysql-1       mysql                   8.0

[2022-10-22 22:12] AndrewPaglusch commented on #897
@nlvw Thank you again for your help. That solved my problem. Here's a small write-up with more details on how I did this for others who are struggling with the same problem:

I generated a public/private SSH keypair for Semaphore to use when accessing my private GitHub repo:
[code]

I mapped in the SSH private key and a SSH config file into the correct locations inside the Semaphore container:
[co

[2022-10-23 16:14] yodatak commented on #1054
Hi i want to have a combo list to select
The verbose level

-  no verbose
-  -v
-  -vv
-  -vvv
-  -vvvv
- vvvv

And to have a check box
- no diff mode
-  diff mode ( --diff)

And the check mode with a check box
- no check mode
-  check mode ( --check)

[2022-10-23 16:17] yodatak commented on #1054
like this https://www.ansiblepilot.com/articles/ansible-playbook-dry-run-check-and-diff-mode/
https://docs.ansible.com/ansible/devel/playbook_guide/playbooks_checkmode.html#check-mode-dry
exemple :
ansible-playbook -i inventory all --diff
ansible-playbook -i inventory all --diff --check
ansible-playbook -i inventory all --diff -vvv

[2022-10-23 19:31] nlvw commented on #897
This shouldn't be closed as the above is a work around and not native support for the full capability of Ansible Galaxy (private git repo support).

[2022-10-23 23:57] AndrewPaglusch commented on #897
Agreed. I'll open this back up.

[2022-10-24 21:20] thunderstorm99 commented on #1064
Hi @lanbugs, this is due to the fact, that for now the semaphore docker image is x86_64 only. @fiftin linked the project that wants to bring arm cpu support to the docker image.

[2022-10-26 10:04] impishian commented on #928
🆒  👍

[2022-10-26 20:47] fiftin commented on #1064
Hi @thunderstorm99 , @lanbugs
I working on it.

[2022-10-26 21:40] fiftin commented on #1064
@lanbugs, @thunderstorm99

Please try v2.8.73 (latest) on ARM64 (https://hub.docker.com/r/semaphoreui/semaphore/).

![image](https://user-images.githubusercontent.com/914224/198143610-299cb3d5-ce57-4bcd-9ced-64eeb75cd8e9.png)

It works on my RPI.

[2022-10-26 21:48] fiftin commented on #826
Available in v2.8.73 (https://hub.docker.com/r/semaphoreui/semaphore).

![image](https://user-images.githubusercontent.com/914224/198143610-299cb3d5-ce57-4bcd-9ced-64eeb75cd8e9.png)

[2022-10-26 21:49] fiftin commented on #826
Duplicate https://github.com/ansible-semaphore/semaphore/issues/1064

[2022-10-26 21:49] #826 closed, assigned to nobody

[2022-10-27 06:13] #1064 closed, assigned to nobody

[2022-10-28 03:07] yodatak commented on #1054
A try ( i'm not developer) #1066

[2022-10-28 15:17] VladoPortos opened #1067 "Unable to clone repo."
Hi,

I have set my access token for gitlab (private instance, I have used that token many time without issue)
I have set repository and assigned that token...

but the job won't start, I always get:

[code]

Connecting to https git, I have tried many combinations nothing works :(

I'm using the docker-compose version.

[2022-10-28 15:50] VladoPortos commented on #1067
Solved... for some reason I though personal access token variable is used for gitlab access... but no, user/password where user is your used and password is the token... works now.

[2022-10-28 15:50] #1067 closed, assigned to nobody

[2022-10-28 16:37] VladoPortos opened #1068 "No collections/requirements.yml file found."
This is quite confusing.

I have the folder and file in the git next to the yaml file that is called.

collections/requirements.yml

[code]

[code]

Why is semaphore not seeing it ?  Its the last thing that I need to figure out before I can use semaphore.

[2022-10-28 16:56] yodatak opened #1069 "Feature request"
I want to be able to take the inventory from the git repository , to have a single repository with my inventory and my playbooks is it something interesting to semaphore ?

[2022-10-28 18:06] VladoPortos opened #1070 "No new docker version ?"
Docker latest image is v2.8.53 however release is v2.8.73 did the ci/cd broke ? :)

[2022-10-28 18:34] VladoPortos commented on #1068
Well unless I'm doing something wrong this just don't work... I tried in docker version and the latest .deb on dedicated VM... same result... collections are ignored roles are detected

[2022-10-28 20:39] VladoPortos commented on #1068
Another interesting stuff:
 Just for lolz I moved the collection folder into /playbook directory . This one is defined here:
[code]

And then it finally found the file... it is looking one folder off. Although checking the code it should see it in the git folder...

[code]

Maybe this change is not present in v2.8.73 ?

[2022-10-28 20:46] VladoPortos commented on #1068
Checked the release code of v2.8.73 and its there... I do not know go well enough to debug this... I tried one last thing and thats to use default path "/tmp/semaphore/" but that does not help either.... this is beyon me :-/

[2022-10-29 04:57] fiftin commented on #1070
New Docker Hub account: https://hub.docker.com/r/semaphoreui/semaphore

[2022-10-29 04:58] #1070 closed, assigned to nobody

[2022-10-29 05:50] fiftin commented on #1069
Hi @yodatak
You can do this. Create/Open inventory, select Type **File** and specify path to you inventory file.

![image](https://user-images.githubusercontent.com/914224/198816092-e5830e5f-03b3-4a5e-a57c-62c549c18391.png)

[2022-10-29 05:50] #1069 closed, assigned to nobody

[2022-10-29 09:45] fiftin commented on #1068
Hi @VladoPortos
Thank you very much, it is regression! Will be fixed ASAP.

[2022-10-30 11:21] VladoPortos commented on #1068
Looks to be working in the latest release, thanks ! Enjoy the coffee :)

[2022-10-30 11:49] fiftin commented on #1068
@VladoPortos Thank you :) Fixed in [v2.8.74](https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.74).

[2022-10-30 11:49] #1068 closed, assigned to fiftin

[2022-10-30 12:05] VladoPortos opened #1073 "How do you handle connection through Bastion server?"
I'm curious, how would one go about setup Inventory that needs to be reached via Bastion/Jump server ?

I assume I can set up something like this in inventory:

[code]

But how do I set up key or credentials ?

[2022-10-30 13:07] VladoPortos commented on #1073
After some digging, if the semaphore is used as binary then ssh key with user that its running the binary, and it should connect....
With docker-compose (my preferred option) seems to be bit more involved :)

I have created in my home a folder called priv_kyes, and added my private key there.
Changed permissions chmod 700 priv_keys and chmod 600 priv_keys/key1
Also changed owner to 1001 UID (semap

[2022-10-30 16:49] #1026 closed, assigned to nobody

[2022-10-30 17:12] fiftin commented on #913
Hi @flybyray , I merged your PR, can it fix this issue?

[2022-10-31 02:33] bverkron opened #1074 "Duplicating / copying Task Template overwrites original template instead of creating new one"
When I try to duplicate / copy button on an existing task template it overwrite the original template when I click [Create] instead of creating a new one with the defined values.

To reproduce:

* Open an existing Task Template and click the copy button in the top right.
![image](https://user-images.githubusercontent.com/19174503/198916594-aeaf7b93-d9df-4584-a26c-f54f73e7b108.png)

* Modify the va

[2022-10-31 13:06] soda-pop-ice-cream opened #1075 "semaphore + ansible without venv"
Hi there!
Looks like i having same issue like this one  [ModuleNotFoundError: No module named 'ansible' #714](https://github.com/ansible-semaphore/semaphore/issues/714).
I tried installing .deb + `python3 -m pip install --user ansible` on clean debian 10,11,12, different python, pip and ansible versions and always had same result in semaphore:

[code]

Yes, i can create `venv`, start semaphore wit

[2022-10-31 22:42] bverkron commented on #1068
I seem to be getting the same issue using the latest docker image (2.8.74, I see the new template UI changes)

I'm attempting to load a docker collection so I can execute to docker maintenance tasks on a host. This is my requirements file which gets pulled down by the Ansible Task as expected.

[code]

But the task shows `No collections/requirements.yml file found. Skip galaxy install process.` an

[2022-11-01 15:04] thom-bartlett opened #1076 "Update Python in Snap"
I installed Semaphore using Snap and everything is working great except I get an error about my version of Python:
`[DEPRECATION WARNING]: Ansible will require Python 3.8 or newer on the
10:56:52 AM
controller starting with Ansible 2.12. Current version: 3.6.9 (default, Jun 29
10:56:52 AM
2022, 11:45:57) [GCC 8.4.0]. This feature will be removed from ansible-core in
10:56:52 AM
version 2.12. Depre

[2022-11-02 08:48] ksrdl commented on #988
Hello, same problem for me, Is it solved for you?

[2022-11-02 10:04] ksrdl opened #1077 "target unreachable"
Hello,

i have this error when i try to launch my playbook

![image](https://user-images.githubusercontent.com/38161967/199460842-c67e30a1-efe4-41a9-8984-a54448ff16cb.png)

i can ping the target from the semaphore container :

![image](https://user-images.githubusercontent.com/38161967/199461156-fc063ed7-98ad-4646-8763-8631f20a1001.png)

i can connect to the target with the specify ssh key

![imag

[2022-11-02 14:18] cf-sewe commented on #1077
Did you configure the SSH key in Semaphore (Under Keystore -> Add Key with type `ssh`)?
If the SSH key is configured, Semaphore [uses](https://github.com/ansible-semaphore/semaphore/blob/4559b52c4ad9d401646ad4845f007ccbb72c99de/lib/GitRepository.go#L30) the SSH option `StrictHostKeyChecking=no` which ignores the host key.

[2022-11-02 14:25] ksrdl commented on #1077
Hello, i have put my ssh key in the keystore of semaphore

for the option `StrictHostKeyChecking=no` where i can put this pls ?

thank

[2022-11-02 14:33] cf-sewe commented on #1077
As mentioned the option is automatically added if you configured it in the repository (in the Inventory refer to the configured SSH key).

[2022-11-02 14:36] ksrdl commented on #1077
ok sorry, but that doesn't work for me...

[2022-11-02 14:37] cf-sewe commented on #1077
What is your key format?
Please also login to the semaphore container and call `ssh -v root@<target>` manually, to check if there is a more detailed error explanation.

[2022-11-02 14:39] ksrdl commented on #1077
it's rsa key

[2022-11-02 14:42] ksrdl commented on #1077
ssh -v tell me nothing because the connection work fine

from the container with the specified ssh key that work fine

![image](https://user-images.githubusercontent.com/38161967/199519466-89edbbee-47d2-46cf-80aa-3e7f3f7de3f5.png)

EDIT : for information it's an docker install

[2022-11-02 15:42] ksrdl commented on #1077
when i run the playbook manually from the semaphore container with the same ssh key that's work fine

![image](https://user-images.githubusercontent.com/38161967/199534451-d85d17ab-4495-4b59-8a00-ca955ed85b2c.png)

but from the web app always unreachable

Kelian

[2022-11-03 09:09] ksrdl commented on #1077
adding `ANSIBLE_HOST_KEY_CHECKING: "False"` in the docker compose file and that's work now from the web UI

[2022-11-03 09:09] #1077 closed, assigned to nobody

[2022-11-03 12:01] RobertKosten opened #1080 "error `snap set semaphore ldap-searchfilter=...`"
Using the snap I cannot set the `ldap_searchfilter` value, I get `Cannot parse set option 'ldap-searchfilter='`.

[code]

[2022-11-03 17:37] nlvw commented on #1075
I've deployed Semaphore with both a VENV and using a container.  The trick is for your systemd unit file use a shell script to launch semaphore.  In that shell script you can source your VENV activate script.  Super simple.

[2022-11-03 17:42] nlvw opened #1081 "Survey Variables Don't Seem To Do Anything"
As stated in the title survey variables don't seem to actually do anything.

Consider the following Playbook:

[code]

The default is to target 'all' hosts but is overridable if the 'cplay_hosts' variable is set.  This works fine on the command line but in semaphore if I set this with a survey variable it doesn't work and will target 'all' regardless. It looks like the survey variable is not setti

[2022-11-03 18:21] nlvw commented on #1081
NVM I was pointing it to the wrong playbook.  Sorry about this.

[2022-11-03 18:21] #1081 closed, assigned to nobody

[2022-11-03 18:29] nlvw opened #1082 "Enhancement: Add run button to task template overview page"
When you select a task template you get a nice overview of the template with a history and buttons to delete, clone, or edit.  It would be nice to be able to also run the task from this page as well.

<img width="858" alt="image" src="https://user-images.githubusercontent.com/5723368/199804500-02a23d0c-18e4-409c-8ebf-303064fa5bf5.png">

Right now you have to go back a page and do a ton of verticle

[2022-11-04 06:51] flaudisio commented on #1068
@bverkron it seems the `collections/requirements.yml` path is relative to the playbook file's directory.

So, this layout works:

[code]

But not this one:

[code]

In this case, you need to move `collections/` to the `playbooks/` directory:

[code]

@fiftin first of all, thanks for such a great project! Semaphore is awesome!

I see the `roles/requirements.yml` [path logic](https://github.com/ansi

[2022-11-04 07:06] soda-pop-ice-cream commented on #1075
That's cool, but still doesn't explains why it can't work without venv.

[2022-11-04 09:48] ksrdl commented on #1082
Hello,

You have to update to the latest version, we have this button in the latest
![image](https://user-images.githubusercontent.com/38161967/199943269-eb9460ff-42dc-4498-8f52-6dbb9a74d37b.png)

[2022-11-04 15:14] nlvw commented on #1075
Post a copy of your systems unit file that is not working. VENV is not a requirement, it is just the most convenient method. Usually errors like this are due to systemd stripping environment variables or forgetting to set the correct user in the unit file.

[2022-11-04 15:33] nlvw commented on #1082
Nice! I guess I missed the announcement.

[2022-11-04 15:33] #1082 closed, assigned to nobody

[2022-11-06 02:32] patrickblackjr opened #1083 "Migration to Vue & Vuetify 3"
I'd love to start helping with a transition to the newly released [Vuetify 3 with full Vue 3 and TypeScript support](https://github.com/vuetifyjs/vuetify/releases/tag/v3.0.0).

Before I start working on a PR are there any considerations or active discussions around this topic?

[2022-11-06 13:29] fiftin commented on #1083
Looks like they are have outdated docs: https://next.vuetifyjs.com/en/getting-started/installation/

And I didn't find any info about `Data Table` which we use on each page.

![image](https://user-images.githubusercontent.com/914224/200173484-d80b2e37-f694-437b-842a-f608056cad21.png)

[2022-11-06 13:36] fiftin commented on #1080
Hi @RobertKosten ,
I released v2.8.74. Please try new version, this command works to me.

[2022-11-06 14:21] fiftin commented on #906
Hi @tonyyu85 ,

Have you solved your issue?

[2022-11-06 14:23] fiftin commented on #991
Hi @lucmot , I merged PR of @flybyray which should solve your issue. Could you check it?

[2022-11-06 14:23] fiftin commented on #948
Hi @tiny6996 ,
Do you mean docs?

[2022-11-06 14:41] #384 closed

[2022-11-06 15:32] fiftin commented on #913
Hi @dusatvoj ,
Could you test latest version of Semaphore?

[2022-11-06 16:05] patrickblackjr commented on #1083
Ah yep, I see I have jumped the gun a bit @fiftin .

https://github.com/vuetifyjs/vuetify/issues/13479

It looks like the datatable component is slated for v3.1. Not sure if you want to leave this open for tracking or close and reevaluate at a later date.

[2022-11-06 16:21] fiftin commented on #1083
Will wait 3.1 :) Do not close the issue, it is actual, thank you.

[2022-11-07 02:47] tiny6996 commented on #948
I believe so and the issue has been fixed. thanks for following up

[2022-11-07 02:50] tiny-pangolin commented on #948
I believe this is the issue a created to deal with [this PR](https://github.com/ansible-semaphore/semaphore/pull/954) I see there are conflicts and I will resolve them quick

[2022-11-07 06:15] krescent opened #1084 "README API link incorrect"
The provided api-docs link in README is:
https://ansible-semaphore.com/api/
But the actual link should be:
https://www.ansible-semaphore.com/api-docs/

[2022-11-07 07:22] fiftin commented on #1084
Thank you! Fixed.

[2022-11-07 07:22] #1084 closed, assigned to fiftin

[2022-11-07 13:59] luca-motterle-ICE commented on #991
Thanks, now it works.

[2022-11-07 13:59] #991 closed, assigned to nobody

[2022-11-07 19:50] John-Limb opened #1085 "400 on telegram alerts"
Hello,
I couldn't find anywhere else to post issues, nor find any similar online.

I'm getting 400 error when sending telegram message, I've created a bot,
Copied number:auth token and put it into the 'telegram-token' parameter on the snap, and chat/group number into the telegram chat parameter. Also enabled alerts in both UI and snap settings.

Is there any more documentation to look at? I can't

[2022-11-07 20:42] John-Limb commented on #1085
Please close the issue, this is now working.

[2022-11-08 15:30] jehon commented on #1076
Same message and same expectation :-)

Are you responsible of the "snap" packaging ?

[2022-11-08 16:05] 8ear opened #1086 "Feature: Integrate OAuth Authentication for O365 / Exchange Online"
Microsoft disabled legacy authentication  and push a lot the modern authentication via OAuth.
At the moment with semaphore it is only possible to connect via username/password but not with an OAuth flow.
Therefore I ask for the implementation of OAuth flow as alternative mail send authentication.

This is also related to #880

Guide from Microsoft:
https://learn.microsoft.com/en-us/exchange/client

[2022-11-09 14:15] dusatvoj commented on #913
I've installed ansible-semaphore 2.8.74 from releases and I still can't login into semaphore without:
[code]

The main problem was when I've deleted `by self read`

[2022-11-09 15:19] mmospanenko commented on #73
I can't understand how local package affects on semaphore runtime inside container. Could you explain please. I have running semaphoreui/semaphore:v2.8.74, how to solve issue with absent package inside?

[code]

[2022-11-10 01:09] flybyray commented on #913
This `by self read` might be required for the whoami operation to complete.
@fiftin maybe we remove the whoami call. it is not required but also not bad. Currently only return code is validated but not the data itself.

[2022-11-10 01:10] dusatvoj commented on #913
`by self read` is also pretty ok to have it in LDAP :) , I agree

[2022-11-10 09:29] fiftin commented on #913
Hi @flybyray
I am not an expert in LDAP, let's do as you see fit :)

[2022-11-10 13:22] #913 closed, assigned to nobody

[2022-11-12 13:27] don-rumata commented on #376
I see what the problem is. I should have left "Sudo Credentials" blank.

[2022-11-12 13:48] don-rumata opened #1091 "Feature: Rocket.Chat notifications"
Hi, can you add notification support to `Rocket.Chat`?

Ansible doc: https://docs.ansible.com/ansible/latest/collections/community/general/rocketchat_module.html

`curl` example:
[code]

`JSON_FILE`:

[code]
`ROCKETCHAT_TOKEN`: `qqqqqqqqqqqqqqqwwwwwwwwwwwwwweeeeeeeeeeeeee`

[2022-11-14 14:34] TimUx commented on #1008
Hi all,
I'm using Version v2.8.74 and have exact the same issue.

On Playbook fails, no mails will be send.
No erros or something else, no info, that an email will be send.

We are using an smtp relay host, without authentication.
Our Config looks like this.

        "email_sender": "ansible@********.dom",
        "email_host": "mail.********.dom",
        "email_port": "25",
        "email_userna

[2022-11-15 13:05] VladoPortos commented on #1073
Tested and its working :)

Just one note: ~/.ssh/key1 would refer to /tmp/semaphore... so its better to set the path fully in environment to /home/semaphore/.ssh/key1

[2022-11-15 19:25] VladoPortos commented on #1073
Well further testing found one issue, become: yes does not seem to work this way, I cant seems to manage switching to root no matter what I try.

[code]

This should by all account return root, but it returns the user I'm logging in with.

[2022-11-18 09:27] ySp-chld opened #1092 "Help with Snapcraft Semaphore"
Hello,
I am using an ansible playbooks that needs to write files in /etc/ansible so it can do stuff.
However running Semaphore using snapcraft as recommanded I can only see that this is not working.
What could be my option on such issue (rewriting this huge playbook provided by an editor is not really my safest option) ?
Is there a writable path inside the snapcraft ?
Could I add connections at ru

[2022-11-19 21:48] Sinitronics opened #1095 "Semaphore service crashing after update to v2.8.75"
After upgrading to v2.8.75 the semaphore service crashes when trying to run any jobs.

System:
debian_version: 11.5
uname: Linux ansible.eli.int 5.10.0-19-amd64 #1 SMP Debian 5.10.149-2 (2022-10-21) x86_64 GNU/Linux

Package used for upgrade: semaphore_2.8.75_linux_amd64.deb

Journal output:

[code]

Downgraded back to v2.8.74 and all is working ok.

[2022-11-20 08:16] fiftin commented on #1095
Hi @Sinitronics
Fixing in progress, will be released today. Thank you!

[2022-11-20 08:55] fiftin commented on #1095
@Sinitronics Please test pre-release https://github.com/ansible-semaphore/semaphore/releases/tag/v2.8.77

[2022-11-20 09:15] #1085 closed, assigned to nobody

[2022-11-20 09:16] #1092 closed, assigned to nobody

[2022-11-20 09:19] fiftin commented on #1076
Hi @thom-bartlett you can't update, it should be updated in snap package.
I marked this issue as feature request. Thank you.

[2022-11-21 01:42] Sinitronics commented on #1095
@fiftin confirmed all working, thank you for the quick fix

[2022-11-21 05:01] #1095 closed, assigned to fiftin

[2022-11-21 13:33] fivaldi commented on #659
@fiftin

For deploying helm charts using playbooks (**one-click configurable deployments**: create namespace(s), set labels, installation of charts from Git (for devs), wait for resources, patch deployments, keep secrets outside of values files in Ansible vaults, possibility to trigger deployment using Semaphore API from a CI/CD pipeline and many more....)

Infinite possibilities of customization

[2022-11-21 13:57] fivaldi opened #1097 "Feature: Re-run build with the original Environment variables"
Expected behavior: Re-running a build should re-use the Environment variables used when the build's version started to exist / appeared for the first time.

TL;DR

If I run a **1.0.0** Build (let's say with some variable in Environment `{"somevar": "originalvalue"}`), then I modify the environment with `{"somevar": "NEWVALUE"}` and run a new (fresh) **2.0.0** Build, then this build will obviously

[2022-11-21 19:37] remkolems commented on #1024
FWIW I'm running semaphore in a docker(-compose) container (PostgreSQL).

I'm going to use [Minio ](https://min.io) and https://github.com/offen/docker-volume-backup as a separate backup solution. If I figure the latter one correctly out, including battle testing, I'll report back here.

See also https://github.com/offen/docker-volume-backup#run-custom-commands-during-the-backup-lifecycle

[2022-11-22 03:15] DesireWithin opened #1098 "Task will failed when task delegate_to localhost with sudo"
**Environment:** Semaphore v2.8.53 , running in k8s.

I try to run such task like this:
[code]
The output will show:
[code]
The reason is there is no `sudo` command in Semaphore docker image.

__________________________________________________________________________________

So I build my own docker image:
Dockfile:
[code]
The output will show:
[code]
I think the reason is there is no `localhost`

[2022-11-22 09:27] fivaldi opened #1099 "Bug: Environment variables are not used as expected"
Affected component: **Environment**

After migration/upgrade from previous Semaphore version to version v2.8.74, the Environment variables appeared in the top box  **Extra variables** and everything worked fine after the upgrade. What was a bit surprising, that the original variables appeared as _extra_, as I would expect that they would be _normal_, but OK.

The major issue is if i move some/all

[2022-11-22 15:06] ySp-chld opened #1100 "snap semaphore fails in certain condition"
Playbooks:
[code]

./crypted-var.yml:
[code]

I've put hte password of vault in my vault key.
When starting this I have this error on any node I'm working on :

[code]
Is it because I'm using a vault ? it works perfectly in local if I call it like that :
`ansible-playbook -e @./crypted-var.yml --vault-password-file ./afilewithpassword ./vault-test.yml`

I think this should work properly as it is v

[2022-11-22 20:12] remkolems commented on #1024
## **Create a backup of Ansible-Semaphore with (offen) docker-volume-backup on a S3 storage platform (MinIO)**

- Notice the labels (mandatory for correct functioning of the docker-volume-backup container)

### Example given: docker-compose.yml
[code]

### Result in MinIO
![image](https://user-images.githubusercontent.com/45675902/203410924-b86115c4-a76f-4017-a1f1-94b109c733f1.png)

### Contents o

[2022-11-23 08:51] ySp-chld commented on #1100
If you wonder my original non encrypted vault contains :
[code]

[2022-11-23 09:05] jhaesselbacher opened #1101 "Delete tasks history for a task template"
Is it possible to add in the graphical interface the possibility of removing (purge) Tasks ID History for each Task Templates ?
![image](https://user-images.githubusercontent.com/38748454/203507418-b9bfc5dc-58cd-4b3e-9fe2-0c37a3b979e8.png)

Have a good day :)

[2022-11-23 12:22] ySp-chld commented on #1100
OK after more digging the error comes from fact_gathering in correlation with  `connection: local`
If I remove `connection: local`  or disable fact_gathering then it works properly.
I suppose there's a bug with `connection: local` and certain module that will try to use /usr/bin/ip to get default route of the snap installation. and it will fails.
I think I came with a similar issue in this discuss

[2022-11-27 17:21] mpromonet opened #1102 "Is there a way to create a project at startup ?"
I may missed this, but it seems the UI is always initialized empty.
I means starting from docker like
[code]

This allow to login, but I would like to have a project with a playbook ready to run.

Is there a way to give a config file to create this ?

[2022-11-29 16:40] Dragnell87 opened #1104 "Slack alert documentation"
Hi, i was poking around the documentation looking for Slack notification, but beyond slack_alert : yes. I could not find anything else.
Running on docker-compose, image  v2.8.77

   environment:
      ....................................................................
      SEMAPHORE_SLACK_ALERT: 'true'
      ....................................................................

Did i miss somethi

[2022-11-30 06:36] wowi42 commented on #1104
You also need the slack_url, which should be the hook (like https://hooks.slack.com/XXXXXX/YYYYYYYYYYYYYYYYYYYY)

[2022-11-30 11:25] ethrgeist commented on #969
I have run into this issue as well and did some testing.

I was unable to get Ed25519 keys to work, got the `invalid format` every time.
But when i switched to a test key in the RSA 4096 bit format everything worked fine.

Maybe that narrows it down.

[2022-11-30 11:53] ethrgeist opened #1107 "SSH key in Ed25519 format seem broken"
Related: https://github.com/ansible-semaphore/semaphore/issues/969

Semaphore can not connect to hosts when the inventory has a key that is in Ed25519 format, RSA works fine. (Same as the Github issue linked)
The same scripts and inventorys work just fine when called by CLI Ansible.

Setup is the latest docker image with Postgres.

[code]